.article-header {

}

.article-header-search {
	margin: 10px 0;

	.btn-group,
	.btn-group,
	.form-control {
		margin-right: 10px;
	}

	select {
		min-width: 100px;
	}

	// hidden left border radius
	.input-group {
		> select {
			min-width: inherit;
		}
	}
}

.article-header-filter,
.article-header-operate {
	.form-control {
		margin-right: 10px;
	}

	margin-bottom: 10px;
}

.article-header-operate {
	.btn + .btn {
		margin-left: 4px;
	}
}
