.article-header {

}

.article-search-form,
.article-header-search {
	margin: 10px 0;
	display: none;

	.btn-group,
	.input-group,
	.form-control {
		margin-right: 10px;
	}

	select {
		min-width: 100px;
	}

	// hidden left border radius
	.input-group {
		> select {
			min-width: inherit;
		}
	}
}

.article-search-form {
	.form-group {
		margin-left: 0;
		margin-right: 0;
	}

	display: block;
}

.action-bar {
	a:focus {
		outline: none;
	}
}

.article-header-filter {
	display: inline-block;
	+ & {
		margin-left: 10px;
	}
}

.article-header-filter,
.article-header-operate {
	.btn-group,
	.input-group,
	.form-control {
		margin-right: 10px;
	}

	margin-bottom: 10px;
}

.article-header-operate {
	.btn + .btn {
		margin-left: 4px;
	}
}
