@charset "UTF-8";

/**
* Chart
* ----------------------------------------------------------------------------
*/

.title-label {
	font-size: 13px;
	font-weight: bold;
}

.line-path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

line {
	stroke: black;
}

text {
	font-family: Arial;
	font-size: 9pt;
}

path {
	transition: 500ms;
}

.bar {
	fill: steelblue;
}

.bar:hover {
	fill: brown;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}
