@charset "UTF-8";

/**
 * Page Info
 * ----------------------------------------------------------------------------
 */

.pg-info {
	background: #00bcd4;
	border: none;
	color: #fff;
	box-shadow: 0 1px 5px #ccc;

	> .container {
		margin: 0 auto;
		padding: 10px 0 8px 0;
	}

	hr {
		margin: 0 14px 3px 8px;
	}

	ul > li {
		width: 170px;
		padding-left: 14px;
		line-height: 2;
	}

	ul.gb-actions {
		@extend .list-inline;
	    position: absolute;
	    right: 0;
	    > li {
	    	width: auto;
	    }
	}

	.table {
		margin: 0;
		> tbody {
			td {
				border: none;
			}
		}
	}

	/* left side */

	.leftside {
		padding-left: 0;
		padding: 0 34px 0 0;

		> a {
			&:hover {
				text-decoration: none;
				color: #111;
			}
		}
	}

	.brand {
		margin: 6px auto;
		display: block;
	}

	.des {
		font-size: 1.1em;
		text-align: center;
		padding-top: 6px;
		font-weight: bold;
		color: #fff;
	}

	.glyphicon {
		color: #fff;
	}


	/* right side */

	.logo {
		padding: 3px;
	}

	.profile {
		display: inline-block;
		margin: 9px 0;
		> ul {
			margin-left: 25px;
			> li {
				padding-right: 10px;
			}
		}
	}

}

