
/**
 * Left side bar
 * ----------------------------------------------------------------------------
 */


.sidebar {
	border-right: 1px solid #EEE;
	height: 500px;
	background-color: #FFF;
}

.nav-sidebar {
	border: 1px solid #EFEFEF;
	border-bottom: none;
	> li > a {
		color: #333;
	}
	.active > a,
	li > a:hover,
	li > a:focus {
		background-color: #A52A2A;
		color: #fff;
	}
}
