@charset "UTF-8";

/**
 * Left side bar
 * ----------------------------------------------------------------------------
 */



.sidebar {
	border-right: 1px solid #EEE;
	height: 500px;
	background-color: #FFF;
}

.nav-sidebar {
	border: 1px solid #EFEFEF;
	border-bottom: none;
	> li > a {
		color: #333;
	}
	.active > a,
	li > a:hover,
	li > a:focus {
		background-color: #A52A2A;
		color: #fff;
	}
}


$nav-active-bg: gray;
$nav-glyphicon: gray;

.left-sidebar {
	border: 2px solid #ccc;
	border-color: transparent #ccc transparent transparent;

	li {
		cursor: pointer;
		list-style: none;
		// text-align: center;
	}

	.section-item > a {
		font-weight: bold;
		font-size: 1.2em;
		border-bottom: 2px solid #ccc;
		// color: #eee;
		// border-radius: 3px;
		// margin: 1px 0;
		// background-color: steelblue;
		// &:hover {
		// 	background-color: steelblue;
		// }
	}

	.nav-navs {
		> li > a {
			padding-left: 10px;
			&:before {
				position: relative;
				top: 1px;
				left: -3px;
				display: inline-block;
				font-family: 'Glyphicons Halflings';
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				color: $nav-glyphicon;
				content: "\e080";
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
		> li a {
			&.active,
			&:hover {
				background-color: transparent;
				// background-color: #328AC5;
				color: #328AC5;
			}
			&.active {
				font-weight: bold;
			}
		}
	}

	.nav-navs > .open {
		> .nav-menu {
			display: block;
		}
		> a {
			&:before {
				position: relative;
				top: 1px;
				left: -3px;
				display: inline-block;
				font-family: 'Glyphicons Halflings';
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				color: $nav-glyphicon;
				content: "\e114";
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			background: none;
		}
	}

	.nav-menu {
		display: none;

		> li > a {
			padding-left: 30px;
		}
	}
}
