.batch-btn-group {line-height: 32px}
.batch-btn-group > li {font-size: initial;}

/**
 * Form
 * ----------------------------------------------------------------------------
 */

.form {overflow: hidden; }
.form-static {padding: 20px 0; }
.form-static-tinypadding {padding: 5px 0;}
.form-small .form-group {margin: 0 -25px 9px -15px; }
.form-small label {font-weight: normal;}
.form-small .control-label {padding-top: 6px; }
.form-control.edit-filed {height: 26px; width: auto;}
.static-area {background: url('../img/body-bg.png');overflow: hidden; padding: 7px 0; border-radius: 5px; border: 1px solid #EFEFEF;}

.addon-tweak {padding-left: 26px; font-size: 0.9em;line-height: 1em;}
.non-right {border-right: none;}
.non-left {border-left: none;}
.suffix {font-size: 0.8em; float: right; padding-top: 3px; }
.submit-btns {margin-top: 25px;}
.submit-btns > .btn {margin: 0 5px;}

.order-info {padding-left: 24px; }
.order-info > ul > li {padding: 0 40px; }
.dot-split-line {border-bottom-color: #A52A2A; border-bottom-style: dashed; margin: 0;}
.empty-legend {border: none;}
.select-inline {padding: 0 6px 0 0;}
.pane-field {margin-top: 20px;}
.modal-lg {width: 700px}
.list-group-item {overflow: hidden;}


/**
 * Search
 * ----------------------------------------------------------------------------
 */
.search-form {display: block; width: 100%;overflow: hidden;margin: 35px 0 16px -17px;}
.search-box {width: 80%; margin-right: 10px; float: left; }
.pagination {margin: 20px auto; display: table;}

/**
 * Info Panel
 * ----------------------------------------------------------------------------
 */

.info-panel {margin: 18px 0; }
.info-panel.header {margin: 4px 0; }
.info-panel-title {font-size: 1.3em; font-weight: bold; margin-right: 10px; clear: both; width: 100%; padding-bottom: 10px; border-bottom: 1px solid #EEE;}
.info-panel-title, .info-panel-content {display: inline-block;}
.info-panel .val {width: 79px; display: inline-block; padding-left: 3px; color: #000; /* font-size: 13px; */}
.info-panel .val-m {width: 23px; display: inline-block; padding-left: 3px; color: #000; }
.time-indicator {width: 17px; height: 17px; background-color: #F03558; border: 2px solid #E6E6E6; display: inline-block; position: relative; top: 3px; left: 2px; }

/**
 * Panel
 * ----------------------------------------------------------------------------
 */

.panel {margin-top: 30px;}
.panel-heading {background: url('../img/bg.png'); padding: 5px 10px; position: relative; }
.side-info {position: absolute; right: 20px; top: 4px; }
.side-info > li {padding: 0 35px;}
.panel-body {overflow-y: scroll; height: 130px}


/**
 * Home
 * ----------------------------------------------------------------------------
 */

.home-statics li {margin: 3px 0;padding-left: 2px;}

/**
 * Service
 * ----------------------------------------------------------------------------
 */

.weekday {padding: 0 13px; margin: 22px 0;}
.weekday-header {color: #A52A2A;}


/**
 * Finacial
 * ----------------------------------------------------------------------------
 */

#recorded-panel {margin: 0px 50px 50px 50px; }
.recorded-details {border: 1px solid #DDDDDD; border-top: none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; padding: 10px 20px 10px 20px; }




/**
 * Print
 * ----------------------------------------------------------------------------
 */

@media print {
	body * {
		visibility: hidden;
	}
	.printable, .printable * {
		visibility: visible;
	}

	.printable {
		position: absolute;
		top: 0;
		left: 5%;
		width: 90%;
	}
}