@charset "UTF-8";

/**
 * Print
 * ----------------------------------------------------------------------------
 */

@media print {
	body * {
		visibility: hidden;
	}

	.printable, .printable * {
		visibility: visible;
	}

	.printable {
		position: absolute;
		top: 0;
		left: 5%;
		width: 90%;
	}
}
