@charset "UTF-8";

/**
 * Print
 * ----------------------------------------------------------------------------
 */


@media print {

	body * {
		visibility: hidden;
	}

	.printable-modal {
		width: 100% !important;
		margin: 0 auto !important;
	}

	.col-xs-10.main {
		width: 100%;
		padding: 50px;
		position: absolute;
		top: 5%;
	}

	.printable {
		margin-left: auto;
		margin-right: auto;
	}

	.printable, .printable * {
		visibility: visible;
	}

	.noprint,
	.noprint *,
	.tooltip {
		visibility: hidden !important;
	}

	.printable {
		position: absolute;
		top: 0;
		width: 90%;
		margin: 10px;
	}
}
