@charset "UTF-8";

//
// Tables
// --------------------------------------------------


table {
	background-color: $table-bg;
}

th {
	text-align: left;
}


// Baseline styles

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: $line-height-computed;
	// Cells
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				padding: $table-cell-padding - 2;
				line-height: $line-height-base;
				vertical-align: middle;
				border-top: 1px solid $table-border-color;
			}
		}
	}
	// Bottom align for column headings
	> thead > tr > th {
		vertical-align: middle;
		border-bottom: 2px solid $table-border-color;
		position: relative;

		// th filter
		> a {
			color: #999;

			&:focus,
			&.active {
				outline: none;
				border: none;
			}
		}

		&.opration {
			min-width: 60px;
		}

		&.sort {
			position: relative;
			padding-right: 20px;
			cursor: pointer;
			white-space: nowrap;

			&:before,
			&:after {
				position: absolute;
				right: 6px;
				content: ' ';
				width: 5px;
				height: 5px;
				border: 5px solid transparent;
			}

			&:before {
				border-bottom-color: #999;
				top: 4px;
			}

			&:after {
				top: 16px;
				border-top-color: #999;
			}

			&.sort-desc {
				&:before {
					border-bottom-color: #ddd;
				}
			}
			&.sort-asc {
				&:after {
					border-top-color: #ddd;
				}
			}
		}
	}
	// Remove top border from thead by default
	> caption + thead,
	> colgroup + thead,
	> thead:first-child {
		> tr:first-child {
			> th,
			> td {
				border-top: 0;
			}
		}
	}
	// Account for multiple tbody instances
	> tbody + tbody {
		border-top: 2px solid $table-border-color;
	}

	// Nesting
	.table {
		background-color: $body-bg;
	}
}

.table-nowrap {
	white-space: nowrap;
}


// Bordered version
//
// Add borders all around the table and between all the columns.

.table-bordered {
	border: 1px solid $table-border-color;
	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th,
			> td {
				border: 1px solid $table-border-color;
			}
		}
	}
	> thead > tr {
		> th,
		> td {
			border-bottom-width: 2px;
		}
	}
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
	> tbody > tr:nth-child(odd) {
		> td,
		> th {
			background-color: $table-bg-accent;
		}
	}
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
	> tbody > tr:hover {
		> td,
		> th {
			background-color: $table-bg-hover;
		}
	}
}

.table-center {
	> thead > tr,
	> tbody > tr {
		> td,
		> th {
			text-align: center;
		}
	}
}


// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
	position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
	float: none;
	display: table-column;
}
table {
	td,
	th {
		&[class*="col-"] {
			position: static; // Prevent border hiding in Firefox and IE9/10 (see https://github.com/twbs/bootstrap/issues/11623)
			float: none;
			display: table-cell;
		}
	}
}


// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants
@include table-row-variant('active', $table-bg-active);
@include table-row-variant('success', $state-success-bg);
@include table-row-variant('info', $state-info-bg);
@include table-row-variant('warning', $state-warning-bg);
@include table-row-variant('danger', $state-danger-bg);

.uu-table {
	@extend .table;
	@extend .table-bordered;
	@extend .table-hover;
	@extend .table-center;

	.checkbox {
		margin: 0;

		input[type="checkbox"] {
			top: -1px;
		}
	}
}

.result {
	table {
		th, td {
			text-align: center;
		}
		th {
			vertical-align: top;
		}
	}
}
