<div uu-action-item label="添加根结点" ng-click="createNode(true)"></div>

<ul id="priv-tree" class="ztree"></ul>

<div class="modal fade" id="uumodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<form action="" class="form form-horizontal form-small">
					<fieldset>
						<div uu-input label="名称" l-col="3" r-col="5" name="name" model="model.name"></div>
						<div uu-input label="url" l-col="3" r-col="5" name="url" model="model.url"></div>
						<div uu-input label="其它" l-col="3" r-col="5" name="other" model="model.other"></div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" ng-if="modalType=='add'" ng-click="add(model)" class="btn btn-primary">添加</button>
				<button type="button" ng-if="modalType=='edit'" ng-click="save(model)" class="btn btn-primary">保存</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
