include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('新建', 'top')
			+glyphicon('plus')
		ul.dropdown-menu(role="menu")
			li
				+jslink('globalNewOrder()', '新建订单')
			li
				+jslink('globalNewTicket()', '新建工单')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')
	li
		+tooltip('过滤条件', 'top')(class='dropdown-toggle')
			+glyphicon('filter')
		ul.dropdown-menu(role="menu")
			each filter in ['本月处理订单', '当日处理订单', '当日未处理订单', '当日完结订单', '预约客户订单']
				li
					a(href='')=filter

+pagetitle('群发信息')

div(uu-tab)
	div(uu-pane, title='发短信', action='msg.sendType=1;')
		form.form-horizontal.col-xs-7
			.form-group
				+short-input('收件人手机号码', 'target-1')(ng-model='msg.target')
					button.btn.uu-btn 选择用户

			.form-group
				+textarea('信息内容', 'content-1')(ng-model='msg.template')

			.form-group
				//- label 发送时间
				//- uu-plain-datetime(ng-model='msg')
				+short-input('发送时间', 'send-time-1')(ng-model='msg.sendTime', uu-date-picker, min-view='0', format='yyyy-mm-dd hh:ii')

			.form-group
				+submit
					button.btn.uu-btn.btn-primary(ng-click='sendMsg()') 发送
					button.btn.uu-btn 取消

	div(uu-pane, title='发邮件', action='msg.sendType=2;')
		form.form-horizontal.col-xs-7
			.form-group
				+short-input('收件人邮箱地址', 'target-2')(ng-model='msg.target')
					button.btn.uu-btn 选择用户

			.form-group
				+textarea('邮件内容', 'content-2')(ng-model='msg.template')

			.form-group
				+short-input('发送时间', 'send-time-2')(ng-model='msg.sendTime', uu-date-picker, min-view='0', format='yyyy-mm-dd hh:ii')

			.form-group
				+submit
					button.btn.uu-btn.btn-primary(ng-click='sendMsg()') 发送
					button.btn.uu-btn 取消
