include ../../modules/mixins.jade

+pagetitle('站内提醒')

//- 订单列表过滤条件
- var filterBy = {key: 'isAssigned', filter: []}
- filterBy.filter.push({label: '所有', value: '""'})
- filterBy.filter.push({label: '收件箱', value: 0})
- filterBy.filter.push({label: '发件箱', value: 1})

+article-header-filter('isAssigned', filterBy)
	.form-group
		input.form-control.input-sm(ng-model='subfilter')
	.btn.uu-btn
		+tooltip('查询', 'top')
			+glyphicon('search')

.article-header-operate
	btn.btn.uu-btn.btn-success 未读
	btn.btn.uu-btn.btn-primary(ng-click='sendMessage()') 发送短消息
	btn.btn.uu-btn.btn-warning 删除
	btn.btn.uu-btn.btn-danger 一键清零


//- 订单列表
table.uu-table
	+theadplus('messages')
	tbody
		tr(ng-repeat='msg in messages')
			td
				input(type='checkbox', ng-model="msg.isChecked", ng-click='checkIsAllChecked("isAllChecked", messages, msg)')
			td(ng-bind='msg.content')
			td(ng-bind='msg.reciever')
			td(ng-bind='msg.sendTime')


uu-pagination(records='102', page='currentPage', model='searchModel', action='getOrders()')

//- 发送短消息Modal
+modal('send-message')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 修改负责人
	.modal-body
		form.form-horizontal
			.form-group
				label.control-label.col-xs-3(for='form-reciever') 接收人
				.col-xs-7.message-multi
					input.form-control.input-sm(id='form-reciever', ng-model='msg.reciever')
					button.btn.uu-btn 查找

				//- +input('接收人', 'responsor')(ng-model='msg.reciever')
			.form-group
				+textarea('内容', 'responsor')(ng-model='msg.reciever')

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveMsg()') 保存
		button.btn.uu-btn.btn-success(ng-click='sendMsg()') 发送
		button.btn.uu-btn(data-dismiss='modal') 关闭
