include ../../modules/mixins.jade

+pagetitle('新建来电工单')

form.form-horizontal
	fieldset
		.form-group.col-xs-6
			+input('客户姓名', 'name')(ng-model='globalNewOrder.name')
		.form-group.col-xs-6
			+select('工单状态', 'order-status')(ng-model='globalNewOrder.orderStatus')
				+option('已完成', 0)
				+option('处理中', 0)
				+option('待处理', 0)
		.form-group.col-xs-6
			+static-input('来电时间')(ng-bind='globalNewOrder.callTime')
		.form-group.col-xs-6
			+input('负责人', 'responser')(ng-model='globalNewOrder.responser')
		.form-group.col-xs-6
			+select('查询类型', 'query-type')(ng-model='globalNewOrder.queryType')
				+option('产品', 0)
				+option('售后服务', 0)
				+option('订购', 0)
				+option('支付', 0)
				+option('物流', 0)
		.form-group.col-xs-6
			+input('联系电话', 'telphone')(ng-model='globalNewOrder.telphone')
		.form-group.col-xs-12.order-content
			+plain-textarea('内容', 'content')(ng-model='globalNewOrder.content')

		.form-group.col-xs-12.group-center-block
			button.btn.uu-btn.btn-primary(ng-click='confirmAndShare()') 保存
			button.btn.uu-btn(data-dismiss='modal') 取消
