include ../../modules/mixins.jade

+pagetitle('站内提醒')

//- 订单列表过滤条件
- var filterBy = {key: 'mailbox', filter: []}
- filterBy.filter.push({label: '收件箱', value: 'inBox'})
- filterBy.filter.push({label: '发件箱', value: 'outBox'})

+article-header-filter('mailbox', filterBy)
	.form-group
		input.form-control.input-sm(ng-model='subfilter')
	.btn.uu-btn(ng-click='keywordSearch()')
		+tooltip('查询', 'top')
			+glyphicon('search')

.article-header-operate
	btn.btn.uu-btn.btn-success 未读
	btn.btn.uu-btn.btn-primary(ng-click='openMessageBox()') 发送短消息
	btn.btn.uu-btn.btn-warning(ng-click='deleteMessage()') 删除
	btn.btn.uu-btn.btn-danger(ng-click='clearAllMessage()') 一键清零


//- 订单列表
table.uu-table
	+theadplus('messages')
	tbody
		tr(ng-repeat='msg in messages')
			td
				input(type='checkbox', ng-model="msg.isChecked", ng-click='checkIsAllChecked("isAllChecked", messages, msg)')
			td(ng-bind='msg.content')
			td(ng-bind='msg.receiver')
			td(ng-bind='msg.sendTime')

uu-pagination(records='recordsCount', page='currentPage', model='searchModel', action='paginationFn()')

//- 发送短消息Modal
+modal('send-message')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 发送短消息
	.modal-body
		form.form-horizontal
			.form-group
				label.control-label.col-xs-3(for='form-reciever') 接收人
				.col-xs-7.message-multi
					input.form-control.input-sm(id='form-reciever', ng-model='msg.reciever')
					button.btn.uu-btn 查找
				//- +input('接收人', 'responsor')(ng-model='msg.reciever')
			.form-group
				+textarea('内容', 'template')(ng-model='msg.content')

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveNote()') 保存
		button.btn.uu-btn.btn-success(ng-click='sendNote()') 发送
		button.btn.uu-btn(data-dismiss='modal') 关闭
