
<h2>员工管理</h2>
<hr/>
<div class="info-panel">
  <ul class="list-inline">
    <li class="info-panel-header">电话客服</li>
    <li><span class="info">当前进线量:</span><span ng-bind="" class="val"></span></li>
    <li><span class="info">接起量:</span><span ng-bind="" class="val"></span></li>
    <li><span class="info">外呼量:</span><span ng-bind="" class="val"></span></li>
    <li><span class="info">等待量:</span><span ng-bind="" class="val"></span></li>
  </ul>
  <ul class="list-inline">
    <li class="info-panel-header">网络客服</li>
    <li><span class="info">当前在线咨询人数:</span><span ng-bind="" class="val"></span></li>
    <li><span class="info">已接待人数:</span><span ng-bind="" class="val"></span></li>
    <li><span class="info">等待人数:</span><span ng-bind="" class="val"></span></li>
  </ul>
  <ul class="list-inline">
    <li class="info-panel-header">时间</li>
    <li><span to-full-week="date"></span></li>
    <li>
      <form class="form-inline">
        <div class="form-group">
          <label for="customer-scope">检索</label>
          <select id="customer-scope" name="customerScope" class="form-control input-sm">
            <option value="0">所有客户</option>
            <option value="0">我的客户</option>
            <option value="0">我共享的客户</option>
            <option value="0">共享给我的客户</option>
            <option value="0">下属的客户</option>
          </select>
        </div>
      </form>
    </li>
  </ul>
</div>
<table class="uu-table">
  <thead>
    <tr>
      <th>工号</th>
      <th>姓名</th>
      <th>处理订单量</th>
      <th>总通话时间</th>
      <th>平均通话时长</th>
      <th>总在线时间</th>
      <th>外呼量</th>
      <th>成单率</th>
      <th>呼入量</th>
      <th>平均后处理时间</th>
      <th>平均通话时长</th>
      <th>平均排队时间</th>
      <th>出勤率</th>
      <th>呼叫转接率</th>
      <th>利用率</th>
      <th class="opration">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="employee in employees | filter:filterPay">
      <td ng-bind="employee.SN"></td>
      <td ng-bind="employee.name"></td>
      <td ng-bind="employee.dealedOrderNum"></td>
      <td ng-bind="employee.contactPeriod"></td>
      <td ng-bind="employee.avgContactPeriod"></td>
      <td ng-bind="employee.totalOnlineTime"></td>
      <td ng-bind="employee.outPhoneNum"></td>
      <td ng-bind="employee.succRate"></td>
      <td ng-bind="employee.inPhoneNum"></td>
      <td ng-bind="employee.avgDealTime"></td>
      <td ng-bind="employee.avgContactTime"></td>
      <td ng-bind="employee.avgQueueTime"></td>
      <td ng-bind="employee.onelineRate"></td>
      <td ng-bind="employee.phoneExchangeRate"></td>
      <td ng-bind="employee.useRate"></td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="update(employee)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="导出" ng-click="export()"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<div id="order-details" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">核实订单</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <legend>基本信息</legend>
            <div class="form-group col-xs-6">
              <label for="form-name" class="control-label col-xs-3">客户姓名</label>
              <div class="col-xs-7">
                <input id="form-name" ng-model="user.name" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-order" class="control-label col-xs-3">订单编号</label>
              <div class="col-xs-7">
                <input id="form-order" ng-model="user.order" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-sex" class="control-label col-xs-3">客户性别</label>
              <div class="col-xs-7">
                <input id="form-sex" ng-model="user.gender" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-good" class="control-label col-xs-3">订购产品</label>
              <div class="col-xs-7">
                <input id="form-good" ng-model="user.good" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-telphone" class="control-label col-xs-3">联系电话</label>
              <div class="col-xs-7">
                <input id="form-telphone" ng-model="user.telphone" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-startDate" class="control-label col-xs-3">起订日期</label>
              <div class="col-xs-7">
                <input id="form-startDate" ng-model="user.startDate" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-child-name" class="control-label col-xs-3">儿童姓名</label>
              <div class="col-xs-7">
                <input id="form-child-name" ng-model="user.childName" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-enddate" class="control-label col-xs-3">结束日期</label>
              <div class="col-xs-7">
                <input id="form-enddate" ng-model="user.enddate" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-child-gender" class="control-label col-xs-3">儿童性别</label>
              <div class="col-xs-7">
                <input id="form-child-gender" ng-model="user.childGender" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-payway" class="control-label col-xs-3">支付方式</label>
              <div class="col-xs-7">
                <input id="form-payway" ng-model="user.payway" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-birthday" class="control-label col-xs-3">出生日期</label>
              <div class="col-xs-7">
                <input id="form-birthday" ng-model="user.birthday" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-pay-status" class="control-label col-xs-3">支付状态</label>
              <div class="col-xs-7">
                <input id="form-pay-status" ng-model="user.payStatus" class="form-control input-sm"/>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>详细地址</legend>
            <div class="form-group form-group-sm">
              <label class="control-label label-location"><span>省：山东省</span><span>市：青岛市</span><span>详细: 宁夏路208号</span></label>
            </div>
          </fieldset>
          <fieldset>
            <legend>订单</legend>
            <table class="uu-table">
              <thead>
                <tr>
                  <th>订单编号</th>
                  <th>客户姓名</th>
                  <th>订单产品</th>
                  <th>下单日期</th>
                  <th>支付方式</th>
                  <th>支付状态</th>
                  <th>出生日期</th>
                  <th>订单状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>123071231</td>
                  <td>李四民</td>
                  <td>季度</td>
                  <td>2014-10-15</td>
                  <td>在线支付</td>
                  <td>已支付</td>
                  <td>2010-06-01</td>
                  <td>正常</td>
                  <td><a href="" uu-tooltip="uu-tooltip" data-placement="left" data-toggle="dropdown" title="修改"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="共享订单" ng-click="shareOrder()"><span class="glyphicon glyphicon-send"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>
          <p>
            <ul class="list-inline">
              <li>联系记录</li>
              <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="核实订单" ng-click="addContact()"><span class="glyphicon glyphicon-plus"></span></a>
              </li>
              <li><a href="" ng-click="search()" class="jslink"><span class="glyphicon glyphicon-search"></span></a>
              </li>
            </ul>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="share-order" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">修改负责人</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="form-responsor" class="control-label col-xs-3">修改负责人</label>
            <div class="col-xs-7">
              <select id="form-responsor" ng-model="order.responsor" class="form-control input-sm">
                <option value="0">拆单组</option>
                <option value="1">审单组</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="save()" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="contact-history" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">核实订单</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="form-topic" class="control-label col-xs-3">主题</label>
              <div class="col-xs-7">
                <select id="form-topic" ng-model="user.topic" class="form-control input-sm">
                  <option value="0">核实订单</option>
                  <option value="1">投诉</option>
                  <option value="2">回访</option>
                  <option value="3">催费</option>
                  <option value="4">促进销售</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-deal-result" class="control-label col-xs-3">处理结果</label>
              <div class="col-xs-7">
                <select id="form-deal-result" ng-model="user.dealResult" class="form-control input-sm">
                  <option value="0">已完成</option>
                  <option value="1">处理中</option>
                  <option value="1">待处理</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-contact-time" class="control-label col-xs-3">联系时间</label>
              <div class="col-xs-7">
                <input id="form-contact-time" ng-model="user.contactTime" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group">
              <label for="form-contact-responsor" class="control-label col-xs-3">负责人</label>
              <div class="col-xs-7">
                <input id="form-contact-responsor" ng-model="user.responsor" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group">
              <label for="form-phone-status" class="control-label col-xs-3">电话状态</label>
              <div class="col-xs-7">
                <select id="form-phone-status" ng-model="user.phoneStatus" class="form-control input-sm">
                  <option value="0">无人接</option>
                  <option value="1">占线</option>
                  <option value="2">接听</option>
                  <option value="3">停机</option>
                  <option value="4">空号</option>
                  <option value="5">错号</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-urgency" class="control-label col-xs-3">紧急程度</label>
              <div class="col-xs-7">
                <select id="form-urgency" ng-model="user.urgency" class="form-control input-sm">
                  <option value="0">一般</option>
                  <option value="1">优先</option>
                  <option value="1">紧急</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-content" class="control-label col-xs-3">内容</label>
              <div class="col-xs-7">
                <textarea id="form-content" ng-model="content" class="form-control"></textarea>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="save()" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>