
<div class="criteria-bar">
  <form role="form" class="form-inline">
    <div class="form-group">
      <label to-full-week="date"></label>
    </div>
    <div class="form-group">
      <label for="customer-scope">检索</label>
      <select id="customer-scope" name="customerScope" class="form-control input-sm">
        <option value="0">所有客户</option>
        <option value="0">我的客户</option>
        <option value="0">我共享的客户</option>
        <option value="0">共享给我的客户</option>
        <option value="0">下属的客户</option>
      </select>
    </div>
  </form>
</div>
<div class="filter-bar">
  <div data-toggle="buttons" class="btn-group">
    <label ng-click="filterPay.payStatus=&quot;&quot;" class="btn uu-btn active">
      <input checked="checked" name="customer-type" type="radio"/>所有
    </label>
    <label ng-click="filterPay.payStatus=1" class="btn uu-btn">
      <input name="customer-type" type="radio"/>网络分流
    </label>
    <label ng-click="filterPay.payStatus=0" class="btn uu-btn">
      <input name="customer-type" type="radio"/>电话分流
    </label>
  </div>
</div>
<div class="info-panel">
  <h3 class="info-panel-title">网络客服</h3>
  <ul class="list-inline">
    <li><span class="info">当前在线咨询人数:</span><span ng-bind="" class="val"></span></li>
    <li><span class="info">已接待人数:</span><span ng-bind="" class="val"></span></li>
    <li><span class="info">等待人数:</span><span ng-bind="" class="val"></span></li>
  </ul>
</div>
<table class="uu-table">
  <thead>
    <tr>
      <th>时间</th>
      <th>出勤人数</th>
      <th>工号</th>
      <th>姓名</th>
      <th>接待量</th>
      <th>会话时长</th>
      <th>状态</th>
      <th>备注</th>
      <th class="opration">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="employee in employees | filter:filterPay">
      <td ng-bind="employee.weekDay"></td>
      <td ng-bind="employee.onelineNum"></td>
      <td ng-bind="employee.SN"></td>
      <td ng-bind="employee.name"></td>
      <td ng-bind="employee.dealedOrderNum"></td>
      <td ng-bind="employee.contactPeriod"></td>
      <td ng-bind="employee.status"></td>
      <td ng-bind="employee.ps"></td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="update(employee)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="导出" ng-click="export()"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<div class="info-panel">
  <h3 class="info-panel-title">电话客服</h3>
  <ul class="list-inline">
    <li><span class="info">当前进线量:</span><span ng-bind="" class="val"></span></li>
    <li><span class="info">接起量:</span><span ng-bind="" class="val"></span></li>
    <li><span class="info">外呼量:</span><span ng-bind="" class="val"></span></li>
    <li><span class="info">等待量:</span><span ng-bind="" class="val"></span></li>
  </ul>
</div>
<table class="uu-table">
  <thead>
    <tr>
      <th>时间</th>
      <th>出勤人数</th>
      <th>工号</th>
      <th>姓名</th>
      <th>接待量</th>
      <th>会话时长</th>
      <th>状态</th>
      <th>备注</th>
      <th class="opration">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="employee in employees | filter:filterPay">
      <td ng-bind="employee.weekDay"></td>
      <td ng-bind="employee.onelineNum"></td>
      <td ng-bind="employee.SN"></td>
      <td ng-bind="employee.name"></td>
      <td ng-bind="employee.dealedOrderNum"></td>
      <td ng-bind="employee.contactPeriod"></td>
      <td ng-bind="employee.status"></td>
      <td ng-bind="employee.ps"></td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="update(employee)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="导出" ng-click="export()"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<div id="order-details" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">核实订单</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <legend>基本信息</legend>
            <div class="form-group col-xs-6">
              <label for="form-name" class="control-label col-xs-3">客户姓名</label>
              <div class="col-xs-7">
                <input id="form-name" ng-model="user.name" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-order" class="control-label col-xs-3">订单编号</label>
              <div class="col-xs-7">
                <input id="form-order" ng-model="user.order" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-sex" class="control-label col-xs-3">客户性别</label>
              <div class="col-xs-7">
                <input id="form-sex" ng-model="user.gender" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-good" class="control-label col-xs-3">订购产品</label>
              <div class="col-xs-7">
                <input id="form-good" ng-model="user.good" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-telphone" class="control-label col-xs-3">联系电话</label>
              <div class="col-xs-7">
                <input id="form-telphone" ng-model="user.telphone" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-startDate" class="control-label col-xs-3">起订日期</label>
              <div class="col-xs-7">
                <input id="form-startDate" ng-model="user.startDate" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-child-name" class="control-label col-xs-3">儿童姓名</label>
              <div class="col-xs-7">
                <input id="form-child-name" ng-model="user.childName" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-enddate" class="control-label col-xs-3">结束日期</label>
              <div class="col-xs-7">
                <input id="form-enddate" ng-model="user.enddate" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-child-gender" class="control-label col-xs-3">儿童性别</label>
              <div class="col-xs-7">
                <input id="form-child-gender" ng-model="user.childGender" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-payway" class="control-label col-xs-3">支付方式</label>
              <div class="col-xs-7">
                <input id="form-payway" ng-model="user.payway" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-birthday" class="control-label col-xs-3">出生日期</label>
              <div class="col-xs-7">
                <input id="form-birthday" ng-model="user.birthday" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-pay-status" class="control-label col-xs-3">支付状态</label>
              <div class="col-xs-7">
                <input id="form-pay-status" ng-model="user.payStatus" class="form-control input-sm"/>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>详细地址</legend>
            <div class="form-group form-group-sm">
              <label class="control-label label-location"><span>省：山东省</span><span>市：青岛市</span><span>详细: 宁夏路208号</span></label>
            </div>
          </fieldset>
          <fieldset>
            <legend>订单</legend>
            <table class="uu-table">
              <thead>
                <tr>
                  <th>订单编号</th>
                  <th>客户姓名</th>
                  <th>订单产品</th>
                  <th>下单日期</th>
                  <th>支付方式</th>
                  <th>支付状态</th>
                  <th>出生日期</th>
                  <th>订单状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>123071231</td>
                  <td>李四民</td>
                  <td>季度</td>
                  <td>2014-10-15</td>
                  <td>在线支付</td>
                  <td>已支付</td>
                  <td>2010-06-01</td>
                  <td>正常</td>
                  <td><a href="" uu-tooltip="uu-tooltip" data-placement="left" data-toggle="dropdown" title="修改"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="共享订单" ng-click="shareOrder()"><span class="glyphicon glyphicon-send"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>
          <p>
            <ul class="list-inline">
              <li>联系记录</li>
              <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="核实订单" ng-click="addContact()"><span class="glyphicon glyphicon-plus"></span></a>
              </li>
              <li><a href="" ng-click="search()" class="jslink"><span class="glyphicon glyphicon-search"></span></a>
              </li>
            </ul>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>