
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="新建商品" ng-click="newCommdity()"><span class="glyphicon glyphicon-plus"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" ui-sref="root.utils.message" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="站内提醒"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" ui-sref="root.utils.batchmsg" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="群发信息"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.date" class="input-group">
      <label for="form-date-time" class="input-group-addon">时间</label>
      <input id="form-date-time" ng-model="searchModel.subfilter.startTime" uu-date-picker="" min-view="1" format="yyyy-mm-dd hh:00" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" ng-model="searchModel.subfilter.startTime" uu-date-picker="" min-view="1" format="yyyy-mm-dd hh:00" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" ng-model="searchModel.subfilter.endTime" uu-date-picker="" min-view="1" format="yyyy-mm-dd hh:00" class="form-control input-sm"/>
    </div>
    <div class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<table class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th>工具</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders">
      <td ng-bind="order.customer.name" ng-show="ths[0].isChecked"></td>
      <td ng-show="ths[1].isChecked"><a href="" ng-click="showOrder(order)" ng-bind="order.order_no" class="jslink"></a>
      </td>
      <td ng-bind="order.customer.phone" ng-show="ths[2].isChecked"></td>
      <td ng-bind="order.customer.province" ng-show="ths[3].isChecked"></td>
      <td ng-bind="order.customer.city" ng-show="ths[4].isChecked"></td>
      <td ng-bind="order.order_type | orderType" ng-show="ths[5].isChecked"></td>
      <td ng-bind="order.paid | payStatus" ng-show="ths[6].isChecked"></td>
      <td ng-bind="order.audit | auditStatus" ng-show="ths[7].isChecked"></td>
      <td ng-bind="order.create_time" ng-show="ths[8].isChecked"></td>
      <td ng-bind="order.contact_count" ng-show="ths[9].isChecked"></td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="showOrder(order)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="复制新增"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<uu-pagination records="orders.meta.recordsCount" per-page="{{orders.meta.pageSize}}" page="orders.meta.pageNo" model="searchModel" action="getOrderList()"></uu-pagination>
<div id="new-commidy" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">核实订单</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-nowrap">
          <fieldset>
            <div class="form-group col-xs-6">
              <label for="form-name" class="control-label col-xs-3">商品编号</label>
              <div class="col-xs-7">
                <input id="form-name" ng-model="storage.good_name" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-name" class="control-label col-xs-3">商品名称</label>
              <div class="col-xs-7">
                <input id="form-name" ng-model="storage.good_name" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-name" class="control-label col-xs-3">所在库房</label>
              <div class="col-xs-7">
                <input id="form-name" ng-model="storage.good_name" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-name" class="control-label col-xs-3">商品数量</label>
              <div class="col-xs-7">
                <input id="form-name" ng-model="storage.good_name" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-storage-type" class="control-label col-xs-3">入库类型</label>
              <div class="col-xs-7">
                <select id="form-storage-type" ng-model="storage.storage_type" class="form-control input-sm">
                  <option value="1">一般入库</option>
                  <option value="2">退货入库</option>
                  <option value="3">调货入库</option>
                  <option value="4">调货出库(在途)</option>
                  <option value="5">一般出库</option>
                </select>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-undefined" class="control-label col-xs-3">入库时间</label>
              <div class="col-xs-7">
                <input id="form-undefined" ng-model="storage.income_time" uu-date-picker="" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-creator" class="control-label col-xs-3">入库人</label>
              <div class="col-xs-7">
                <input id="form-creator" ng-model="storage.creator" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label class="control-label col-xs-3">更新时间</label>
              <div class="col-xs-7">
                <p ng-bind="storage.update_time" class="form-control-static"></p>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-updator" class="control-label col-xs-3">更新人</label>
              <div class="col-xs-7">
                <input id="form-updator" ng-model="storage.updator" class="form-control input-sm"/>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="saveSharedOrder(currentOrder)" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>