include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('新建商品', 'top', 'newCommdity()')
			+glyphicon('plus')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')

//- 搜索
+linkage-search

//- 商品列表
table.uu-table
	+theadplus()(operation='工具', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='order in orders')
			td(ng-bind='order.customer.name', ng-show='ths[0].isChecked')
			td(ng-show='ths[1].isChecked')
				+jslink('showOrder(order)')(ng-bind='order.order_no')
			td(ng-bind='order.customer.phone', ng-show='ths[2].isChecked')
			td(ng-bind='order.customer.province', ng-show='ths[3].isChecked')
			td(ng-bind='order.customer.city', ng-show='ths[4].isChecked')
			td(ng-bind='order.order_type | orderType', ng-show='ths[5].isChecked')
			td(ng-bind='order.paid | payStatus', ng-show='ths[6].isChecked')
			td(ng-bind='order.audit | auditStatus', ng-show='ths[7].isChecked')
			td(ng-bind='order.create_time', ng-show='ths[8].isChecked')
			td(ng-bind='order.contact_count', ng-show='ths[9].isChecked')
			td
				+tooltip('修改', 'top', 'showOrder(order)')
					+glyphicon('pencil') &nbsp;

				+tooltip('复制新增', 'top')
					+glyphicon('comment')

uu-pagination(records='orders.meta.recordsCount', per-page='{{orders.meta.pageSize}}' page='orders.meta.pageNo', model='searchModel', action='getOrderList()')

//- 新建商品
+modal('new-commidy', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal.form-nowrap
			fieldset
				+hgroup
					+input('商品名称', 'name')(ng-model='commodity.good_name')
				+hgroup
					+commdity-type('商品类型', 'commdity-type')(ng-model='commodity.is_valid')
				+hgroup
					+input('商品价格', 'good-des')(ng-model='commodity.good_des')
				+hgroup
					+input('商品规格', 'good-des')(ng-model='commodity.good_des')
				+hgroup
					+input('商品条码', 'good-des')(ng-model='commodity.good_des')
				+hgroup
					+input('ISBN号', 'good-des')(ng-model='commodity.good_des')
				+hgroup
					+input('生产日期')(ng-model='commodity.make_time', uu-date-picker)
				+hgroup
					+yesno('是否有效', 'is-valid')(ng-model='commodity.is_valid')
				+hgroup
					+static-input('创建时间')(ng-bind='commodity.create_time')
				+hgroup
					+input('创建人', 'creator')(ng-model='commodity.creator')
				+hgroup
					+static-input('更新时间')(ng-bind='commodity.update_time')
				+hgroup
					+input('更新人', 'updator')(ng-model='commodity.updator')
				+hgroup
					+input('商品描述', 'good-des')(ng-model='commodity.good_des')
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveSharedOrder(currentOrder)') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 更改显示列
include ../../modules/table-ths.jade
