
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" ui-sref="root.utils.message" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="站内提醒"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" ui-sref="root.utils.batchmsg" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="群发信息"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.date" class="input-group">
      <label for="form-date-time" class="input-group-addon">时间</label>
      <input id="form-date-time" class="form-control input-sm" ng-show="searchModel.filter.date" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" min-view="1" format="yyyy-mm-dd hh:00"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" min-view="1" format="yyyy-mm-dd hh:00"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.endTime" uu-date-picker="uu-date-picker" min-view="1" format="yyyy-mm-dd hh:00"/>
    </div>
    <div ng-click="search()" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<table ng-show="receipts" class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)" class="nowrap">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th class="nowrap">工具</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="receipt in receipts" ng-dblclick="editReceipt(receipt.receipt_code)">
      <td ng-bind="receipt.receipt_code" ng-show="ths[0].isChecked"></td>
      <td ng-bind="receipt.receipt_date" ng-show="ths[1].isChecked"></td>
      <td ng-bind="receipt.receipt_desc" ng-show="ths[2].isChecked"></td>
      <td ng-bind="receipt.status | mapper:&quot;receipt&quot;" ng-show="ths[3].isChecked"></td>
      <td ng-bind="receipt.warehouse" ng-show="ths[4].isChecked"></td>
      <td ng-bind="receipt.create_time" ng-show="ths[5].isChecked"></td>
      <td ng-bind="receipt.creator" ng-show="ths[6].isChecked"></td>
      <td ng-bind="receipt.update_time" ng-show="ths[7].isChecked"></td>
      <td ng-bind="receipt.updater" ng-show="ths[8].isChecked"></td>
      <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="入库" ng-click="newPutinedReceipt(receipt.receipt_code, storageForm)"><span class="glyphicon glyphicon-import"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<uu-pagination records="receipts.meta.recordsCount" per-page="receipts.meta.pageSize" page="receipts.meta.pageNo" pagreceiptForme="receipts.meta.pageNo" model="searchModel" action="getOrderList()"></uu-pagination>
<div id="storage-form" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">商品入库</h4>
      </div>
      <div class="modal-body">
        <form name="storageForm" novalidate="novalidate" ng-class="{sumitted: storageForm.$sumitted}" class="form-horizontal">
          <table class="form-table">
            <tr>
              <th class="form-th">
                <label class="form-th-label">入库号</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="receipt.receipt_code"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">库房编号</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="receipt.warehouse"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">修改人</label>
              </th>
              <td colspan="3" class="form-td">
                <p class="form-control-static" ng-bind="receipt.updater"></p>
              </td>
            </tr>
          </table>
          <table style="margin-top: 10px;" ng-show="receipt.details.length" class="uu-table">
            <thead>
              <tr>
                <th class="nowrap">商品编号</th>
                <th class="nowrap">计划入库数量</th>
                <th class="nowrap">已经入库数量</th>
                <th class="nowrap">商品入库数量</th>
                <th class="nowrap">工具</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="good in receipt.details">
                <td ng-bind="good.goods_code"></td>
                <td ng-bind="good.qty"></td>
                <td ng-bind="good.actual_qty"></td>
                <td ng-bind="good.putin_qty"></td>
                <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="editGood(good, productDetailsForm)"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="savePutinedReceipt(storageForm)" ng-disabled="storageForm.processing" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="good-details-form" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">修改商品详情</h4>
      </div>
      <div class="modal-body">
        <form name="productDetailsForm" novalidate="novalidate" ng-class="{sumitted: productDetailsForm.$sumitted}" class="form-horizontal">
          <fieldset>
            <legend>商品详情</legend>
            <table class="form-table form-table-single">
              <tr>
                <th class="form-th">
                  <label for="form-qty" class="form-th-label">数量</label>
                </th>
                <td class="form-td">
                  <input id="form-qty" class="form-control input-sm" uu-num="uu-num" ng-model="productTmpGood.putin_qty" required="required"/>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="saveGoodToProduct(productDetailsForm)" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>