@charset "UTF-8";
@import 'vars_maxins';
@import 'animate';
@import 'ztree';

/**
 * Common
 * ----------------------------------------------------------------------------
 */

a {color: $primary-color; background: transparent;}
.clearfix {clear: both;}
.i-val {padding-left: 10px}
.non-right {border-right: none;}
.non-left {border-left: none;}
.underline {text-decoration: underline !important;}
.uu-close {float: none}
 .action-item {
	font-size: 1.2em;
	cursor: pointer;
		&.active, &:hover {
		color: $link-actived;
		text-decoration: none;
	}
	&.btn {
		font-size: 1.1em;
		padding: 5px 11px;
		border: 1px dashed #ccc;
	}
}
.alert {margin-bottom: 5px;}

/**
 * Frame
 * ----------------------------------------------------------------------------
 */


.wrapper {
	font: $primary-font;
}

.content {
	margin-left: $sidebar-width + 20px;
	overflow-x: hidden;
}

.content {
	padding: 40px 0 0 0;
}

.search-form {
	// background-color: #eee;
}

/**
 * Left Nav
 * ----------------------------------------------------------------------------
 */

.left-sidebar {
	position: fixed;
	height: 100%;
	left: 0;
	width: $sidebar-width;
	border-right: 1px solid #eee;
	padding-right: 3px;
	.header {
		text-align: center;
	}
	.brand {
		margin: 40px 0 auto;
		padding-bottom: 20px;
	}
}

.nav-sidebar {
	> li {
		a, a:hover {
			background-color: transparent;
		}
		a:hover {
			color: $link-actived;
			transition: 200ms;
		}
	}
	> li.active {
		a, a:hover{
			color: $link-actived;
			border-right: 4px solid;
			background-color: transparent;
			transition: 200ms;
		}
	}
	padding: 20px 0 0 25px;
}

.subtitle {
	margin-top: 10px;
	font-weight: bold;
}


/**
 * Role and Privilege list
 * ----------------------------------------------------------------------------
 */
 .large-modal {
	width: $large-modal-width;
 }

 .role-group {
	height: $role-group-height;
	padding: 2px 0 0 2px;
	overflow-y: scroll;
	margin-bottom: 0px;
	.role {
		list-style: none;
		padding: 5px 12px 5px 9px;
		border-bottom: 1px solid #efefef;
		&:nth-child(even) {
			background-color: rgb(248, 248, 248);
		}
	}
 }

.group-wraper {
	border: 1px solid #efefef;
	float: left;
	width: ($large-modal-width - $hr-split-width - 40px) / 2;
	padding: 0;
}

.hr-split {
	width: $hr-split-width;
	float: left;
	height: 1px;
}

.role-group-header {
	background: steelblue;
	margin: 0;
	color: #efefef;
	padding: 7px 0;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
}

/**
 * Form
 * ----------------------------------------------------------------------------
 */


.form-small label {font-weight: normal;}
.help-block {position: absolute; }
.large-btn {
	position: relative;
	top: -18px;
	font-size: 24px;
}

/**
 * Login Form
 * ----------------------------------------------------------------------------
 */
 
 .container.login {position: fixed; width: 100%; height: 100%; padding-top: 140px; background: url(../img/body.jpg); }
 .input-group.login {margin: 12px 0px}
 .form-error-msg {text-align: left; margin-left: 16px; color: #CC2A23; font-weight: bold; }


