@charset "UTF-8";
/**
 * Variables
 * ----------------------------------------------------------------------------
 */
/**
 * Components
 * ----------------------------------------------------------------------------
 */
.header-link {
  color: #333333;
  text-decoration: none; }
  .header-link.ative, .header-link:hover {
    color: teal; }

.border, .indicator {
  border: 1px solid #cccccc; }

.indicator {
  width: 17px;
  height: 17px;
  background-color: #c90d30;
  display: inline-block;
  position: relative;
  top: 3px;
  left: 2px; }

/**
 * Background
 * ----------------------------------------------------------------------------
 */
.drak-grain {
  background: transparent url("../img/dark.png"); }

.light-grain {
  background: transparent url("../img/light.png"); }

/**
 * Mixins
 * ----------------------------------------------------------------------------
 */
.ng-hide-add, .ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important; }

.ng-hide-add.ng-hide-add-active,
.ng-hide-remove {
  opacity: 0; }

.ng-hide-add,
.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

/**
 * Common
 * ----------------------------------------------------------------------------
 */
a {
  color: #333333;
  background: transparent; }

.clearfix {
  clear: both; }

.i-val {
  padding-left: 10px; }

.non-right {
  border-right: none; }

.non-left {
  border-left: none; }

.underline {
  text-decoration: underline !important; }

.uu-close {
  float: none; }

.pagination-wraper {
  text-align: center; }

.action-item {
  font-size: 1.2em;
  cursor: pointer; }
  .action-item.active, .action-item:hover {
    color: teal;
    text-decoration: none; }
  .action-item.btn {
    font-size: 1.1em;
    padding: 5px 11px;
    border: 1px dashed #ccc; }

/**
 * Frame
 * ----------------------------------------------------------------------------
 */
.wrapper {
  font: 1em/normal "微软雅黑", "宋体", Arial, Helvetica, sans-serif; }

.main {
  margin: 100px auto;
  position: relative; }

/**
 * Top Nav
 * ----------------------------------------------------------------------------
 */
.navbar-default .navbar-nav > li a, .navbar-default .navbar-nav > li a:hover {
  background-color: transparent; }
.navbar-default .navbar-nav > li a:hover {
  color: teal; }
.navbar-default .navbar-nav > li.active a, .navbar-default .navbar-nav > li.active a:hover {
  color: teal;
  background-color: transparent; }

.topnav {
  overflow: hidden;
  padding-top: 10px; }

/**
 * Breadcrumb
 * ----------------------------------------------------------------------------
 */
.breadcrumb > li > a {
  text-decoration: none; }
.breadcrumb > li > .active {
  color: #bbb; }

/**
 * Form
 * ----------------------------------------------------------------------------
 */
.form-small label {
  font-weight: normal; }
