@charset "UTF-8";
@import 'vars_maxins';
@import 'animate';
@import 'ztree';

/**
 * Common
 * ----------------------------------------------------------------------------
 */

a {color: $primary-color; background: transparent;}
.clearfix {clear: both;}
.i-val {padding-left: 10px}
.non-right {border-right: none;}
.non-left {border-left: none;}
.underline {text-decoration: underline !important;}
.uu-close {float: none}
.pagination-wraper {text-align: center}
.action-item {
	font-size: 1.2em;
	cursor: pointer;
		&.active, &:hover {
		color: $link-actived;
		text-decoration: none;
	}
	&.btn {
		font-size: 1.1em;
		padding: 5px 11px;
		border: 1px dashed #ccc;
	}
}

/**
 * Frame
 * ----------------------------------------------------------------------------
 */

.wrapper {
	font: $primary-font;
}

.main {margin: 100px auto; position: relative;}

/**
 * Top Nav
 * ----------------------------------------------------------------------------
 */

.navbar-default .navbar-nav {
	> li {
		a, a:hover {
			background-color: transparent;
		}
		a:hover {
			color: $link-actived;
		}
	}
	> li.active {
		a, a:hover{
			color: $link-actived;
			background-color: transparent;
		}
	}
}

.topnav {
	overflow: hidden;
	padding-top: 10px;
}



/**
 * Breadcrumb
 * ----------------------------------------------------------------------------
 */

.breadcrumb > li {
	> a {
		text-decoration: none;
	}
	> .active {
		color: #bbb;
	}
}


/**
 * Form
 * ----------------------------------------------------------------------------
 */


.form-small label {font-weight: normal;}

