a {color: #333; }
.clearfix {clear: both;}
/**
 * Top Side bar
 * ----------------------------------------------------------------------------
 */
/*body {background: url('../img/body-bg.png');}*/
.container {width: 1170px; font: 1em/normal '微软雅黑', '宋体', Arial, Helvetica, sans-serif; }
.nav-sidebar {border: 1px solid aliceblue; border-bottom: none;}
.nav-sidebar > li > a {color: #333; }
.nav-sidebar > .active > a, .nav-sidebar > li > a:hover {background-color: #A52A2A; color: #fff; }
.i-val {padding-left: 10px}

/**
 * Jumbotron
 * ----------------------------------------------------------------------------
 */

.container .jumbotron {padding: 14px 0; background: url('../img/body-bg.png'); margin-top: 10px; color: black;}
.container .jumbotron {padding: 14px 0; background-color: transparent; margin-top: 10px; color: black;}
.jumbotron p.des {font-size: 14px; text-align: center; padding-top: 6px; margin: 0 0 0 10px; }
.brand {margin: 6px auto; display: block; }
.logo {padding: 3px; display: block; float: left;}

.info {position: relative; top: 16px; }
.status-bar {float: left;margin: 9px 0;font-size: 0.6em;}
.status-bar > ul { float: left; margin-left: 25px; font-size: 1em;}
.status-bar > ul > li {padding-right: 10px; }

.info > ul {clear: left; float: left;margin-top: 10px;font-size: 0.9em;}
.info > ul > li {float: left; }
.info > ul > li > a { font-size: 0.9em; padding: 15px;text-align: right;}
.info > ul > li > a:hover {background-color: transparent; color: #800000;  }
.main {border-left: solid 1px #ccc; }

.bs-tabs > ul > li > a:hover {color: #800000; background-color: #fff; }

/**
 * Sub Manu
 * ----------------------------------------------------------------------------
 */

 .action-group {border: 1px dashed #ccc; border-top: none; padding: 10px 4px; margin: 0 0 8px 0;}
 .action-item {padding: 0 6px;  font-size: 1.2em; cursor: pointer;}
 .action-item:hover {text-decoration: none; color: #800000;}
 .action-item.active {color: #A52A2A;}

 .batch-btn-group {line-height: 32px}
 .batch-btn-group > li {font-size: initial;}

/**
 * Form
 * ----------------------------------------------------------------------------
 */

.form {overflow: hidden; }
.form-static {border-radius: 5px; border: 1px solid #EFEFEF; background: url('../img/body-bg.png'); padding: 20px 0; }
.form-small .form-group {margin: 0 -25px 9px -15px; }
.input-small {height: 30px; }
.form-small label {font-weight: normal;}
.form-small .control-label {padding-top: 6px; }

.addon-tweak {padding-left: 26px; font-size: 0.9em;line-height: 1em;}
.non-right {border-right: none;}
.non-left {border-left: none;}
.suffix {font-size: 0.8em; float: right; padding-top: 3px; }
.submit-btns {margin-top: 25px;}
.submit-btns > .btn {margin: 0 5px;}

.order-info {padding-left: 24px; }
.order-info > ul > li {padding: 0 40px; }
.dot-split-line {border-bottom-color: #A52A2A; border-bottom-style: dashed; margin: 0;}
.main-phone {padding-left: 10px;}
.form-control-static {color: #696969 }

/**
 * Search
 * ----------------------------------------------------------------------------
 */
.search-form {display: block; width: 100%;overflow: hidden;margin: 35px 0 16px -17px;}
.search-box {width: 80%; margin-right: 10px; float: left; }
.pagination {margin: 20px auto; display: table;}

/**
 * Info Panel
 * ----------------------------------------------------------------------------
 */

.info-panel {margin: 18px 0; }
.info-panel.header {margin: 4px 0; }
.info-panel .val {width: 80px; display: inline-block; padding-left: 3px; color: #000; }
.info-panel .val-m {width: 23px; display: inline-block; padding-left: 3px; color: #000; }
.order-indicator {width: 17px; height: 17px; background-color: #ED143D; display: inline-block; position: relative; top: 3px; left: 2px;}

/**
 * Panel
 * ----------------------------------------------------------------------------
 */
.panel {margin-top: 30px;}
.panel-heading {background: url('../img/bg.png'); padding: 5px 10px; position: relative; }
.side-info {position: absolute; right: 20px; top: 4px; }
.side-info > li {padding: 0 35px;}
.panel-body {overflow-y: scroll; height: 130px}
