include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('新建入库单', 'top', 'newReceipt(receiptForm)')
			+glyphicon('plus')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')

//- 搜索
+linkage-search('search()')

table.uu-table
	+theadplus()(operation='工具', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='receipt in receipts' ng-dblclick='editReceipt(receipt.receipt_code)')
			td(ng-bind='receipt.receipt_code' ng-show='ths[0].isChecked')
			td(ng-bind='receipt.create_time' ng-show='ths[1].isChecked')
			td(ng-bind='receipt.receipt_desc' ng-show='ths[2].isChecked')
			td(ng-bind='receipt.status | mapper:"receipt"' ng-show='ths[3].isChecked')
			td(ng-bind='receipt.warehouse' ng-show='ths[4].isChecked')
			td(ng-bind='receipt.create_time' ng-show='ths[5].isChecked')
			td(ng-bind='receipt.create_time' ng-show='ths[6].isChecked')
			td(ng-bind='receipt.creator' ng-show='ths[7].isChecked')
			td(ng-bind='receipt.update_time' ng-show='ths[8].isChecked')
			td(ng-bind='receipt.updater' ng-show='ths[9].isChecked')
			td.nowrap
				+tooltip('修改', 'top', 'editReceipt(receipt.receipt_code)')
					+glyphicon('pencil') &nbsp;

				+tooltip('复制新增', 'top', 'editReceipt(receipt.receipt_code, true)')
					+glyphicon('file')

uu-pagination(records='receipts.meta.recordsCount', per-page='receipts.meta.pageSize' pagreceiptForme='receipts.meta.pageNo', model='searchModel', action='getOrderList()')

//- 新建入库单
+modal('receipt-form')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 新建入库单
	.modal-body
		//- 将form放在uu-pane层级下会导致newreceipt(receiptForm)找不到receiptForm
		form.form-horizontal(name='receiptForm' novalidate ng-class='{sumitted: receiptForm.$sumitted}')
			div(uu-tab)
				div(uu-pane title='新建入库单')
					table.form-table
						tr
							+static-input('入库单号', 'receipt-code')(ng-bind='receipt.receipt_code' required)
							+input('所在库房', 'receipt-name')(ng-model='receipt.warehouse' required)
						tr
							+static-input('入库单状态', 'receipt-status')(ng-bind='receipt.receipt_type | mapper:"receipt"')
							+input('入库描述', 'receipt-desc')(ng-model='receipt.receipt_desc' required)
					p.badge(style='margin-top: 10px;' ng-show='!receipt.details.length') 尚未添加任何商品
					table.uu-table(style='margin-top: 10px;' ng-show='receipt.details.length')
						+thead
							each th in ['商品编号', '商品名称', '商品数量', '工具']
								th.nowrap=th
						tbody
							tr(ng-repeat='good in receipt.details')
								td(ng-bind='good.goods_code')
								td(ng-bind='good.goods_name')
								td(ng-bind='good.qty')
								td.nowrap
									+tooltip('修改', 'top', 'editGood(good, productDetailsForm)')
										+glyphicon('pencil') &nbsp;

									+tooltip('删除', 'top', 'removeGood($index)')
										+glyphicon('trash')
				div(uu-pane title='添加入库商品')
					table.uu-table
						+thead
							each th in ['商品名称', '商品类型', '商品价格', '商品规格', '生产日期', '商品描述', '是否有效', '操作员', '工具']
								th.nowrap=th
						tbody
							tr(ng-repeat='good in goods')
								td(ng-bind='good.goods_name')
								td(ng-bind='good.goods_type | goodsType')
								td(ng-bind='good.goods_price')
								td(ng-bind='good.goods_unit')
								td(ng-bind='good.product_date')
								td(ng-bind='good.goods_desc')
								td(ng-bind='good.yn | valid')
								td(ng-bind='good.creator')
								td
									+tooltip('添加商品', 'top', 'addGoodToReceipt(good, productDetailsForm)')
										+glyphicon('plus')
					uu-pagination(records='goods.meta.recordsCount', per-page='goods.meta.pageSize' page='goods.meta.pageNo', model='searchModel', action='getCommdityList()')

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveReceipt(receiptForm)' ng-disabled='receiptForm.processing') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消


//- 商品详情Modal
+submodal('good-details-form')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 修改商品详情
	.modal-body
		form.form-horizontal(name='productDetailsForm' novalidate ng-class='{sumitted: productDetailsForm.$sumitted}')
			fieldset
				legend 商品详情
				table.form-table.form-table-single
					tr
						+input('数量', 'qty')(uu-num ng-model='productTmpGood.qty' required)

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveGoodToProduct(productDetailsForm)') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 更改显示列
include ../../modules/table-ths.jade
