include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	//- li
	//- 	+tooltip('新建入库单', 'top', 'newStorage(storageForm)')
	//- 		+glyphicon('plus')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')

//- 搜索
+linkage-search('search()')

table.uu-table
	+theadplus()(operation='工具', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='receipt in receipts' ng-dblclick='editReceipt(receipt.receipt_code)')
			td(ng-bind='receipt.receipt_code' ng-show='ths[0].isChecked')
			td(ng-bind='receipt.receipt_date' ng-show='ths[1].isChecked')
			td(ng-bind='receipt.receipt_desc' ng-show='ths[2].isChecked')
			td(ng-bind='receipt.status | mapper:"receipt"' ng-show='ths[3].isChecked')
			td(ng-bind='receipt.warehouse' ng-show='ths[4].isChecked')
			td(ng-bind='receipt.create_time' ng-show='ths[5].isChecked')
			td(ng-bind='receipt.creator' ng-show='ths[6].isChecked')
			td(ng-bind='receipt.update_time' ng-show='ths[7].isChecked')
			td(ng-bind='receipt.updater' ng-show='ths[8].isChecked')
			td.nowrap
				+tooltip('入库', 'top', 'putinReceipt(receipt, storageForm)')
					+glyphicon('import')

uu-pagination(records='receipts.meta.recordsCount', per-page='receipts.meta.pageSize' pagreceiptForme='receipts.meta.pageNo', model='searchModel', action='getOrderList()')

//- 商品入库
+modal('storage-form')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 商品入库
	.modal-body
		//- 将form放在uu-pane层级下会导致newProduct(storageForm)找不到storageForm
		form.form-horizontal(name='storageForm' novalidate ng-class='{sumitted: storageForm.$sumitted}')
			table.form-table
				tr
					+input('入库号', 'receipt_code')(ng-model='receipt.receipt_code' required)
					+input('商品编号', 'goods_code')(ng-model='receipt.goods_code' required)
				tr
					+input('库房编号', 'pre-storage-time')(ng-model='receipt.warehouse' required)
					+input('入库商品数量', 'qty')(ng-model='receipt.qty' required)
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveStorage(storageForm)' ng-disabled='storageForm.processing') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 更改显示列
include ../../modules/table-ths.jade
