include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	//- li
	//- 	+tooltip('新建入库单', 'top', 'newStorage(storageForm)')
	//- 		+glyphicon('plus')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')

//- 搜索
+linkage-search('search()')

table.uu-table(ng-show='receipts')
	+theadplus()(operation='工具', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='receipt in receipts' ng-dblclick='showPutinedReceipt(receipt.receipt_code)')
			td(ng-bind='receipt.receipt_code' ng-show='ths[0].isChecked')
			td(ng-bind='receipt.receipt_date' ng-show='ths[1].isChecked')
			td(ng-bind='receipt.receipt_desc' ng-show='ths[2].isChecked')
			td(ng-bind='receipt.status | mapper:"receipt"' ng-show='ths[3].isChecked')
			td(ng-bind='receipt.warehouse' ng-show='ths[4].isChecked')
			td(ng-bind='receipt.create_time' ng-show='ths[5].isChecked')
			td(ng-bind='receipt.creator' ng-show='ths[6].isChecked')
			td(ng-bind='receipt.update_time' ng-show='ths[7].isChecked')
			td(ng-bind='receipt.updater' ng-show='ths[8].isChecked')
			td.nowrap(ng-show='receipt.status!=0 && receipt.status!=2')
				+tooltip('入库', 'top', 'newPutinedReceipt(receipt.receipt_code, storageForm)')
					+glyphicon('import')
			td.nowrap(ng-show='receipt.status==0 || receipt.status==2')
				+tooltip('查看', 'top', 'showPutinedReceipt(receipt.receipt_code)')
					+glyphicon('eye-open')

uu-pagination(records='receipts.meta.recordsCount', per-page='receipts.meta.pageSize' page='receipts.meta.pageNo' pagreceiptForme='receipts.meta.pageNo', model='searchModel', action='getOrderList()')

//- 商品入库
+modal('storage-form')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 商品入库
	.modal-body
		//- 将form放在uu-pane层级下会导致newProduct(storageForm)找不到storageForm
		form.form-horizontal(name='storageForm' novalidate ng-class='{sumitted: storageForm.$sumitted}')
			table.form-table.form-single
				tr
					+static-input('入库号')(ng-bind='receipt.receipt_code')
				tr
					+static-input('库房编号')(ng-bind='receipt.warehouse')
				tr
					+static-input('修改人')(ng-bind='receipt.updater')
			table.uu-table(style='margin-top: 10px;' ng-show='receipt.details.length')
				+thead
					each th in ['商品编号', '计划入库数量', '已经入库数量', '商品入库数量']
						th.nowrap=th
					th.nowrap(ng-show='storageFormType==="new"') 工具
				tbody
					tr(ng-repeat='good in receipt.details')
						td(ng-bind='good.goods_code')
						td(ng-bind='good.qty')
						td(ng-bind='good.actual_qty')
						td(ng-bind='good.putin_qty')
						td.nowrap(ng-show='storageFormType==="new"')
							+tooltip('修改', 'top', 'editGood(good, productDetailsForm)')
								+glyphicon('pencil')

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-show='storageFormType==="new"' ng-click='savePutinedReceipt(storageForm)' ng-disabled='storageForm.processing') 保存
		button.btn.uu-btn.btn-primary(ng-show='storageFormType==="show"' data-dismiss='modal') 确定
		button.btn.uu-btn(data-dismiss='modal') 取消


+submodal('good-details-form')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 修改商品详情
	.modal-body
		form.form-horizontal(name='productDetailsForm' novalidate ng-class='{sumitted: productDetailsForm.$sumitted}')
			fieldset
				legend 商品详情
				table.form-table.form-table-single
					tr
						+input('数量', 'qty')(uu-num ng-model='productTmpGood.putin_qty' required)

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveGoodToProduct(productDetailsForm)') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 更改显示列
include ../../modules/table-ths.jade
