<!-- header begin -->
<div id="header" class="jumbotron">
	<div class="row">
		<div class="col-xs-2 brand-container">
			<img src="img/brand.png" class="brand" alt="brand" width="120" height="120">
			<p class="des">幼小衔接家庭课程专家</p>
		</div>
		<div class="col-xs-10 info">
			<div class="row">
				<div class="col-xs-2">
					<a class="logo" href="#"><img src="img/logo.png" alt="logo" width="125" height="60"></a>
				</div>
				<div class="status-bar col-xs-10 info-panel header">
					<ul class="list-inline">
						<li><span class="key">当前日期:</span> <span class="val">{{date | date : "yyyy-MM-dd" }}</span></li>
						<li><span class="key">分机:</span> <span class="val">{{exNumber}}</span></li>
						<li><span class="key">坐席:</span> <span class="val">{{exNumber}}</span></li>
						<li><span class="key">状态:</span> <span class="val">{{exNumber}}</span></li>
						<li><span class="key">计时:</span> <span class="val">{{exNumber}}</span></li>
					</ul>
					<ul class="list-inline">
						<li><span class="key">工号:</span> <span class="val">{{exNumber}}</span></li>
						<li><span class="key">姓名:</span> <span class="val">{{exNumber}}</span></li>
						<li><span class="key">所在组:</span> <span class="val">{{exNumber}}</span></li>
					</ul>
				</div>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#" class="link-normal">登出系统</a></li>
				<li><a href="#" class="link-normal">修改密码</a></li>
				<li><a href="#" class="link-normal">资料库</a></li>
				<li><a href="#" class="link-normal">联系记录</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- header end -->
