<ul class="list-inline text-right">
	<li><a href="#" class="link-normal">复制新建</a></li>
	<li class="split-pipe">|</li>
	<li><a href="#" class="link-normal">预览名单</a></li>
	<li class="split-pipe">|</li>
	<li><a href="#" class="link-normal">检索名单</a></li>
	<li class="split-pipe">|</li>
	<li><a href="#" class="link-normal">预约列表</a></li>
	<li class="split-pipe">|</li>
	<li><a href="#" class="link-normal">订购</a></li>
	<li class="split-pipe">|</li>
	<li><a href="#" class="link-normal">处理记录</a></li>
	<li class="split-pipe">|</li>
	<li><a href="#/info/contacts" class="link-normal">通讯录</a></li>
	<li class="split-pipe">|</li>
	<li><a href="#" class="link-normal">修改</a></li>
	<li class="split-pipe">|</li>
	<li><a href="#" class="link-normal">保存</a></li>
</ul>
