<form class="form form-horizontal form-small search-form" role="form" ng-submit="ngSubmit">
	<div class="form-group">
		<div class="{{ 'col-xs-' + (lCol || '6')}} {{ 'col-xs-offset-' + (offset || '2') }}">
			<input type="text" name="search-box" placeholder="{{placeholder || '请输入搜索关键字'}}" ng-model="model" class="form-control" id="search-box">
		</div>
		<div class="{{ 'col-xs-' + (rCol || '2')}}">
			<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
		</div>
	</div>
</form>
