
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="站内提醒" ui-sref="root.utils.message"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="群发信息" ui-sref="root.utils.batchmsg"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.date" class="input-group">
      <label for="form-date-time" class="input-group-addon">时间</label>
      <input id="form-date-time" class="form-control input-sm" ng-show="searchModel.filter.date" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.endTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.addr" class="input-group">
      <div ng-show="searchModel.filter.addr" ng-province-model="searchModel.addr.province" ng-city-model="searchModel.addr.city" ng-area-model="searchModel.addr.district" class="uu-city-select"></div>
    </div>
    <div ng-click="search()" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<div class="article-header-operate pull-right"><a href="" ng-click="generatePickment()" class="jsglyph"><span class="glyphicon glyphicon-new-window"></span><span class="jsglyph-label">生成拣货单</span></a>
</div>
<table class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th class="nowrap">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="isAllChecked" ng-init="isAllChecked=false" ng-click="toggleCheckAll(&quot;isAllChecked&quot;, shipments)"/>全选
          </label>
        </div>
      </th>
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)" class="nowrap">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th class="nowrap">工具</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="shipment in shipments" ng-dblclick="editShipment(shipment.shipment_code, shipmentForm)" ng-class="{&quot;active&quot;: shipment.status == -1, &quot;danger&quot;: shipment.status == 0, &quot;info&quot;: shipment.status == 1, &quot;warning&quot;: shipment.status == 2, &quot;success&quot;: shipment.status == 4}">
      <td>
        <input type="checkbox" ng-model="shipment.isChecked" ng-click="checkIsAllChecked(&quot;isAllChecked&quot;, shipments, shipment)"/>
      </td>
      <td ng-bind="shipment.orders_no" ng-show="ths[0].isChecked"></td>
      <td ng-bind="shipment.shipment_no" ng-show="ths[1].isChecked"></td>
      <td ng-bind="shipment.customer_code" ng-show="ths[2].isChecked"></td>
      <td ng-bind="shipment.customer_name" ng-show="ths[3].isChecked"></td>
      <td ng-bind="shipment.address" ng-show="ths[4].isChecked"></td>
      <td ng-bind="shipment.customer_tel" ng-show="ths[5].isChecked"></td>
      <td ng-bind="shipment.amount" ng-show="ths[6].isChecked"></td>
      <td ng-bind="shipment.shipped_qty" ng-show="ths[7].isChecked"></td>
      <td ng-bind="shipment.has_invoice" ng-show="ths[8].isChecked"></td>
      <td ng-bind="shipment.express_code" ng-show="ths[9].isChecked"></td>
      <td ng-bind="shipment.express_orders_no" ng-show="ths[10].isChecked"></td>
      <td ng-bind="shipment.express_name" ng-show="ths[11].isChecked"></td>
      <td ng-bind="shipment.express_cost" ng-show="ths[12].isChecked"></td>
      <td ng-bind="shipment.courier" ng-show="ths[13].isChecked"></td>
      <td ng-bind="shipment.courier_tel" ng-show="ths[14].isChecked"></td>
      <td ng-bind="shipment.sent_date" ng-show="ths[15].isChecked"></td>
      <td ng-bind="shipment.create_time" ng-show="ths[16].isChecked"></td>
      <td ng-bind="shipment.creator" ng-show="ths[17].isChecked"></td>
      <td ng-bind="shipment.update_time" ng-show="ths[18].isChecked"></td>
      <td ng-bind="shipment.updater" ng-show="ths[19].isChecked"></td>
      <td ng-bind="shipment.status | mapper:&quot;shipmentStatus&quot;" ng-show="ths[20].isChecked"></td>
      <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="查看" ng-click="showShipment(shipment.shipment_no)"><span class="glyphicon glyphicon-eye-open"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<uu-pagination records="shipments.meta.recordsCount" per-page="shipments.meta.pageSize" page="shipments.meta.pageNo" model="searchModel" action="getShipmentList()"></uu-pagination>
<div id="pickment-list" class="modal fade">
  <div class="modal-dialog modal-lg printable-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">拣货单信息</h4>
      </div>
      <div class="modal-body printable">
        <form name="pickmentForm" novalidate="novalidate" ng-class="{sumitted: pickmentForm.$sumitted}" class="form-horizontal">
          <table class="form-table">
            <tr class="nowrap">
              <th class="form-th">
                <label class="form-th-label">拣货单号</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="pickments.picking_no"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">状态</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="pickments.status | mapper: &quot;pickmentStatus&quot;"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">创建人</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="pickments.creator"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">创建时间</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="pickments.create_time"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">更新人</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="pickments.updater"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">更新时间</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="pickments.update_time"></p>
              </td>
            </tr>
          </table>
          <table ng-show="pickments.details.length" class="uu-table">
            <thead>
              <tr>
                <th class="nowrap">产品 / 商品编号</th>
                <th class="nowrap">名称</th>
                <th class="nowrap">是否产品</th>
                <th class="nowrap">是否赠品</th>
                <th class="nowrap">数量</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="pickment in pickments.details">
                <td ng-bind="pickment.code"></td>
                <td ng-bind="pickment.name"></td>
                <td ng-bind="pickment.is_product | yesno"></td>
                <td ng-bind="pickment.is_gift | yesno"></td>
                <td ng-bind="pickment.qty"></td>
              </tr>
            </tbody>
          </table>
          <p class="text-success"><strong>拣货单已经生成，请到“拣货出库”中进行拣货操作</strong></p>
        </form>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn uu-btn">关闭</button>
      </div>
    </div>
  </div>
</div>
<div id="shipment-form" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">查看出库单</h4>
      </div>
      <div class="modal-body">
        <form name="shipmentForm" novalidate="novalidate" ng-class="{sumitted: shipmentForm.$sumitted}" class="form-horizontal">
          <fieldset>
            <table class="form-table">
              <tr>
                <th class="form-th">
                  <label class="form-th-label">订单号</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.orders_no"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">发货单号</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.shipment_no"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">客户编号</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.customer_no"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">客户姓名</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.customer_name"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">客户地址</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.address"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">客户电话</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.customer_tel"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">付款金额</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.amount"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">发货数量</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.shipped_qty"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">是否有发票</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.has_invoice | yesno"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">发货时间</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.sent_date"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">创建时间</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.create_time"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">创建人</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.creator"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">修改时间</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.update_time"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">需改人</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.updater"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">发货单状态</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.status | mapper:&quot;shipmentStatus&quot;"></p>
                </td>
              </tr>
            </table>
            <div ng-show="shipment.details.length" class="modal-lists">
              <table class="uu-table">
                <thead>
                  <tr>
                    <th class="nowrap">编号</th>
                    <th class="nowrap">名称</th>
                    <th class="nowrap">是否产品</th>
                    <th class="nowrap">是否赠品</th>
                    <th class="nowrap">数量</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="product in shipment.details">
                    <td ng-bind="product.code"></td>
                    <td ng-bind="product.name"></td>
                    <td ng-bind="product.is_product | yesno"></td>
                    <td ng-bind="product.is_gift | yesno"></td>
                    <td ng-bind="product.qty"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn uu-btn">关闭</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>