
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="站内提醒" ui-sref="root.utils.message"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="群发信息" ui-sref="root.utils.batchmsg"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.date" class="input-group">
      <label for="form-date-time" class="input-group-addon">时间</label>
      <input id="form-date-time" class="form-control input-sm" ng-show="searchModel.filter.date" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.endTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.addr" class="input-group">
      <div ng-show="searchModel.filter.addr" ng-province-model="searchModel.addr.province" ng-city-model="searchModel.addr.city" ng-area-model="searchModel.addr.district" class="uu-city-select"></div>
    </div>
    <div ng-click="search()" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>

<div d-check="pickingOrders">
  <table class="uu-table">
    <thead>
      <tr ng-dblclick="chooseTh('table-cols')">
        <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)" class="nowrap">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
          <ul ng-if="th.filters" role="menu" class="dropdown-menu">
            <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
          </ul>
        </th>
        <th class="nowrap">工具</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pickingOrder in pickingOrders" ng-class="{warning: pickingOrder.status == 0, info: pickingOrder.status == 1, success: pickingOrder.status == 2}">
        <td ng-bind="pickingOrder.picking_no" ng-show="ths[0].isChecked"></td>
        <td ng-bind="pickingOrder.picking_qty" ng-show="ths[1].isChecked"></td>
        <td ng-bind="pickingOrder.status | mapper:&quot;pickmentStatus&quot;" ng-show="ths[2].isChecked"></td>
        <td ng-bind="pickingOrder.creator" ng-show="ths[3].isChecked"></td>
        <td ng-bind="pickingOrder.create_time" ng-show="ths[4].isChecked"></td>
        <td ng-bind="pickingOrder.updater" ng-show="ths[5].isChecked"></td>
        <td ng-bind="pickingOrder.update_time" ng-show="ths[6].isChecked"></td>
        <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="拣货" ng-click="editPickingOrder(pickingOrder.picking_no, pickingOrderForm)"><span class="glyphicon glyphicon-shopping-cart">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="查询对应发货单" ng-click="showShipments(pickingOrder.picking_no)"><span class="glyphicon glyphicon-eye-open"></span></a>
        </td>
      </tr>
    </tbody>
  </table>
  <uu-pagination records="pickingOrders.meta.recordsCount" per-page="pickingOrders.meta.pageSize" page="pickingOrders.meta.pageNo" pagreceiptForme="pickingOrders.meta.pageNo" model="searchModel" action="getPickingOrderList()"></uu-pagination>
</div>
<div id="pickment-list" class="modal fade">
  <div class="modal-dialog modal-lg printable-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">拣货单信息</h4>
      </div>
      <div class="modal-body printable">
        <form name="pickmentForm" novalidate="novalidate" ng-class="{sumitted: pickmentForm.$sumitted}" class="form-horizontal">
          <p class="noprint"><a href="" ng-click="print()" class="jsglyph"><span class="glyphicon glyphicon-print"></span><span class="jsglyph-label">打印</span></a>
          </p>
          <table style="margin: 0 auto;" class="form-table">
            <tr class="nowrap">
              <th class="form-th">
                <label class="form-th-label">拣货单号</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="pickingOrder.picking_no"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">状态</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="pickingOrder.status | mapper: &quot;pickmentStatus&quot;"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">创建人</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="pickingOrder.creator"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">创建时间</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="pickingOrder.create_time"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">更新人</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="pickingOrder.updater"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">更新时间</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="pickingOrder.update_time"></p>
              </td>
            </tr>
          </table>
          <div class="modal-lists">
            <table class="uu-table">
              <thead>
                <tr>
                  <th class="nowrap">产品 / 商品编号</th>
                  <th class="nowrap">名称</th>
                  <th class="nowrap">是否产品</th>
                  <th class="nowrap">是否赠品</th>
                  <th class="nowrap">数量</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="order in pickingOrder.details">
                  <td ng-bind="order.code"></td>
                  <td ng-bind="order.name"></td>
                  <td ng-bind="order.is_product | yesno"></td>
                  <td ng-bind="order.is_gift | yesno"></td>
                  <td ng-bind="order.qty"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="pickOrder(pickingOrder.picking_no, pickmentForm)" ng-disabled="pickmentForm.processing || pickingOrder.status == 1 || pickingOrder.status == 2" class="btn uu-btn btn-primary">拣货</button>
        <button ng-click="pickOrderFinished(pickingOrder.picking_no, pickmentForm)" ng-disabled="pickmentForm.processing || pickingOrder.status == 0 || pickingOrder.status == 2" class="btn uu-btn btn-success">拣货完成</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="shipment-list" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">对应发货单</h4>
      </div>
      <div class="modal-body">
        <form name="pickingOrderForm" novalidate="novalidate" ng-class="{sumitted: pickingOrderForm.$sumitted}" class="form-horizontal">
          <fieldset>
            <table class="uu-table">
              <thead>
                <tr>
                  <th class="nowrap">订单号</th>
                  <th class="nowrap">客户姓名</th>
                  <th class="nowrap">客户电话</th>
                  <th class="nowrap">付款金额</th>
                  <th class="nowrap">发货数量</th>
                  <th class="nowrap">需改人</th>
                  <th class="nowrap">发货单状态</th>
                  <th class="nowrap">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="shipment in shipments" ng-dblclick="editShipment(shipment.shipment_code, shipmentForm)">
                  <td ng-bind="shipment.orders_no" class="break-all"></td>
                  <td ng-bind="shipment.customer_name"></td>
                  <td ng-bind="shipment.customer_tel"></td>
                  <td ng-bind="shipment.amount"></td>
                  <td ng-bind="shipment.shipped_qty"></td>
                  <td ng-bind="shipment.updater"></td>
                  <td ng-bind="shipment.status | mapper:&quot;shipmentStatus&quot;"></td>
                  <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="发货" ng-click="showShipmentDetailForm(shipment, shipmentDetailForm)" ng-class="{disabled: shipment.status != 3}"><span class="glyphicon glyphicon-send">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="查看" ng-click="showShipmentDetail(shipment.shipment_no)"><span class="glyphicon glyphicon-eye-open"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
            <uu-pagination records="shipments.meta.recordsCount" per-page="shipments.meta.pageSize" page="shipments.meta.pageNo" model="subSearchModel" action="getShipmentList()"></uu-pagination>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="shipment-detail" class="modal fade sub-modal">
  <div class="modal-dialog modal-lg printable-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">出库单信息</h4>
      </div>
      <div class="modal-body printable">
        <form class="form-horizontal">
          <p class="noprint"><a href="" ng-click="print()" class="jsglyph"><span class="glyphicon glyphicon-print"></span><span class="jsglyph-label">打印</span></a>
          </p>
          <table class="form-table">
            <tr>
              <th class="form-th">
                <label class="form-th-label">订单号</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="shipment.orders_no"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">发货单号</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="shipment.shipment_no"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">客户姓名</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="shipment.customer_name"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">客户地址</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="shipment.address"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">客户电话</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="shipment.customer_tel"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">付款金额</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="shipment.amount"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">发货数量</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="shipment.shipped_qty"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">是否有发票</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="shipment.has_invoice | yesno"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">发货时间</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="shipment.sent_date"></p>
              </td>
            </tr>
          </table>
          <div ng-show="shipment.details.length" class="modal-lists">
            <table class="uu-table">
              <thead>
                <tr>
                  <th class="nowrap">出库单号</th>
                  <th class="nowrap">编号</th>
                  <th class="nowrap">名称</th>
                  <th class="nowrap">是否产品</th>
                  <th class="nowrap">是否赠品</th>
                  <th class="nowrap">数量</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in shipment.details">
                  <td ng-bind="product.shipment_no"></td>
                  <td ng-bind="product.code"></td>
                  <td ng-bind="product.name"></td>
                  <td ng-bind="product.is_product | yesno"></td>
                  <td ng-bind="product.is_gift | yesno"></td>
                  <td ng-bind="product.qty"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn uu-btn">关闭</button>
      </div>
    </div>
  </div>
</div>
<div id="shipment-detail-form" class="modal fade sub-modal">
  <div class="modal-dialog modal-lg printable-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">出库单信息</h4>
      </div>
      <div class="modal-body printable">
        <form name="shipmentDetailForm" novalidate="novalidate" ng-class="{sumitted: shipmentDetailForm.$sumitted}" class="form-horizontal">
          <fieldset>
            <legend>客户信息</legend>
            <table class="form-table">
              <tr>
                <th class="form-th">
                  <label class="form-th-label">订单号</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.orders_no"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">发货单号</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.shipment_no"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">客户姓名</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.customer_name"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">客户地址</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.address"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">客户电话</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.customer_tel"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">付款金额</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.amount"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">发货数量</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.shipped_qty"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">是否有发票</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.has_invoice | yesno"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">发货时间</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.sent_date"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">快递单号</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="shipment.express_orders_no"></p>
                </td>
              </tr>
            </table>
          </fieldset>
          <fieldset>
            <legend>快递信息</legend>
            <div ng-show="expressInfo.success">
              <p class="text-success action-paragh">成功上传订单信息到快递!</p>
              <p class="text-success">快递单号为:<span ng-bind="expressInfo.express_orderno" class="text-danger"></span></p>
            </div>
            <div ng-show="!expressInfo.success &amp;&amp; expressInfo.error">
              <p class="text-danger">上传订单失败!<span ng-bind="expressInfo.error" class="text-danger"></span></p>
            </div>
          </fieldset>
          <div ng-show="shipment.details.length" class="modal-lists">
            <table class="uu-table">
              <thead>
                <tr>
                  <th class="nowrap">出库单号</th>
                  <th class="nowrap">编号</th>
                  <th class="nowrap">名称</th>
                  <th class="nowrap">是否产品</th>
                  <th class="nowrap">是否赠品</th>
                  <th class="nowrap">数量</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in shipment.details">
                  <td ng-bind="product.shipment_no"></td>
                  <td ng-bind="product.code"></td>
                  <td ng-bind="product.name"></td>
                  <td ng-bind="product.is_product | yesno"></td>
                  <td ng-bind="product.is_gift | yesno"></td>
                  <td ng-bind="product.qty"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="sendShipment(shipmentDetailForm)" ng-disabled="shipmentDetailForm.processing" class="btn uu-btn btn-primary">打印快递单</button>
        <button data-dismiss="modal" class="btn uu-btn">关闭</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>