include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')

//- 搜索
+linkage-search('search()')

//- 库房列表
table.uu-table(ng-show='shipments')
	+theadplus('shipments')(operation='工具', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='shipment in shipments' ng-dblclick='editShipment(shipment.shipment_code)')
			+tdchecker('shipment', 'shipment')(ng-model='shipment.isChecked')
			td(ng-bind='$index + 1' ng-show='ths[0].isChecked')
			td(ng-bind='shipment.shipment_name' ng-show='ths[1].isChecked')
			td(ng-bind='shipment.address' ng-show='ths[2].isChecked')
			td(ng-bind='shipment.type | mapper:"shipment"' ng-show='ths[3].isChecked')
			td(ng-bind='shipment.creator' ng-show='ths[4].isChecked')
			td(ng-bind='shipment.create_time' ng-show='ths[5].isChecked')
			td(ng-bind='shipment.updater' ng-show='ths[6].isChecked')
			td(ng-bind='shipment.update_time' ng-show='ths[7].isChecked')
			td(ng-bind='shipment.yn | valid' ng-show='ths[7].isChecked')
			td.nowrap
				+tooltip('修改', 'top', 'editShipment(shipment.shipment_code)')
					+glyphicon('pencil') &nbsp;

				+tooltip('复制新增', 'top', 'editShipment(shipment.shipment_code, true)')
					+glyphicon('file')

uu-pagination(records='shipments.meta.recordsCount' per-page='shipments.meta.pageSize' page='shipments.meta.pageNo' model='searchModel' action='getshipmentList()')

//- 新建库房
+modal('shipment-form')
	.modal-header
		button.close(data-dismiss='modal' aria-hidden='true') &times;
		h4.modal-title(ng-bind='shipmentFormTitle')
	.modal-body
		//- 将form放在uu-pane层级下会导致newshipment(shipmentForm)找不到shipmentForm
		form.form-horizontal(name='shipmentForm' novalidate ng-class='{sumitted: shipmentForm.$sumitted}')
			table.form-table
				tr
					+input('库房编号', 'shipment_code')(ng-model='shipment.shipment_code' required)
					+input('库房名称', 'shipment_name')(ng-model='shipment.shipment_name' required)
				tr
					+warehosue-type('库房类型', 'shipment_type')(ng-model='shipment.type' required)
					+yesno('是否有效', 'is-valid')(ng-model='shipment.yn' required)
				tr
					+input('库房地址', 'shipment_address', 3)(ng-model='shipment.shipment_address' required)

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveshipment(shipmentForm)' ng-disabled='shipmentForm.processing') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 更改显示列
include ../../modules/table-ths.jade
