include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')

//- 搜索
.article-header-search
	form.form-inline(role='form')
		+select('', 'form-warehouse')(ng-model='searchModel.warehouseFilter' ng-options='warehouse.warehouse_code as warehouse.warehouse_name for warehouse in warehouses' required)
		+grouped-input('商品编号', 'product-code')(ng-model='searchModel.productFilter')
		+action-btn('查询')(ng-click='search(searchModel.warehouseFilter)')

//- 库房列表
table.uu-table
	+theadplus()
	tbody
		tr(ng-repeat='audit in audits' ng-dblclick='editAudit(audit.audit_code)')
			td(ng-bind='audit.warehouse' ng-show='ths[0].isChecked')
			td(ng-bind='audit.warehouse_name' ng-show='ths[1].isChecked')
			td(ng-bind='audit.goods_code' ng-show='ths[2].isChecked')
			td(ng-bind='audit.goods_name' ng-show='ths[3].isChecked')
			td(ng-bind='audit.qty' ng-show='ths[4].isChecked')
			td(ng-bind='audit.code' ng-show='ths[5].isChecked')
			td(ng-bind='audit.type | mapper:"putin"' ng-show='ths[6].isChecked')
			td(ng-bind='audit.create_time' ng-show='ths[7].isChecked')
			td(ng-bind='audit.creator' ng-show='ths[8].isChecked')
			td(ng-bind='audit.update_time' ng-show='ths[8].isChecked')
			td(ng-bind='audit.updater' ng-show='ths[9].isChecked')

uu-pagination(records='audits.meta.recordsCount' per-page='audits.meta.pageSize' page='audits.meta.pageNo' model='searchModel' action='getAuditList()')

//- 更改显示列
include ../../modules/table-ths.jade
