
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="新建"><span class="glyphicon glyphicon-plus"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="" ng-click="globalNewOrder()" class="jslink">新建订单</a>
        </li>
        <li><a href="" ng-click="globalNewTicket()" class="jslink">新建工单</a>
        </li>
      </ul>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="过滤条件" class="dropdown-toggle"><span class="glyphicon glyphicon-filter"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="">本月处理订单</a></li>
        <li><a href="">当日处理订单</a></li>
        <li><a href="">当日未处理订单</a></li>
        <li><a href="">当日完结订单</a></li>
        <li><a href="">预约客户订单</a></li>
      </ul>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="站内提醒" ui-sref="root.utils.message"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="群发信息" ui-sref="root.utils.batchmsg"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<h3>群发信息</h3>
<hr/>
<div uu-tab="uu-tab">
  <div uu-pane="uu-pane" title="发短信" action="msg.sendType=1;">
    <form style="padding-left: 0" class="form-horizontal col-xs-7">
      <table class="form-table">
        <tr>
          <th class="form-th">
            <label for="form-target-1" class="form-th-label">收件人手机号码</label>
          </th>
          <td class="form-td">
            <input id="form-target-1" class="form-control input-sm" ng-model="msg.target"/>
          </td>
        </tr>
        <tr>
          <th class="form-th">
            <label for="form-content-1" class="form-th-label">信息内容</label>
          </th>
          <td class="form-td">
            <textarea id="form-content-1" class="form-control" ng-model="msg.template"></textarea>
          </td>
        </tr>
        <tr>
          <th class="form-th">
            <label for="form-send-time-1" class="form-th-label">发送时间</label>
          </th>
          <td class="form-td">
            <input id="form-send-time-1" class="form-control input-sm" ng-model="msg.sendTime" uu-date-picker="uu-date-picker" min-view="0" format="yyyy-mm-dd hh:ii"/>
          </td>
        </tr>
      </table>
      <div style="margin-top: 10px; margin-left: 0" class="form-group">
        <button ng-click="sendMsg()" class="btn uu-btn btn-primary">发送</button>
        <button style="margin-left: 15px" class="btn uu-btn">取消</button>
      </div>
    </form>
  </div>
  <div uu-pane="uu-pane" title="发邮件" action="msg.sendType=2;">
    <form style="padding-left: 0" class="form-horizontal col-xs-7">
      <table class="form-table">
        <tr>
          <th class="form-th">
            <label for="form-target-2" class="form-th-label">收件人邮箱地址</label>
          </th>
          <td class="form-td">
            <input id="form-target-2" class="form-control input-sm" ng-model="msg.target"/>
          </td>
        </tr>
        <tr>
          <th class="form-th">
            <label for="form-content-2" class="form-th-label">邮件内容</label>
          </th>
          <td class="form-td">
            <textarea id="form-content-2" class="form-control" ng-model="msg.template"></textarea>
          </td>
        </tr>
        <tr>
          <th class="form-th">
            <label for="form-send-time-2" class="form-th-label">发送时间</label>
          </th>
          <td class="form-td">
            <input id="form-send-time-2" class="form-control input-sm" ng-model="msg.sendTime" uu-date-picker="uu-date-picker" min-view="0" format="yyyy-mm-dd hh:ii"/>
          </td>
        </tr>
      </table>
      <div style="margin-top: 10px; margin-left: 0" class="form-group">
        <button ng-click="sendMsg()" class="btn uu-btn btn-primary">发送</button>
        <button style="margin-left: 15px" class="btn uu-btn">取消</button>
      </div>
    </form>
  </div>
</div>