
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="新建"><span class="glyphicon glyphicon-plus"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="" ng-click="globalNewOrder()" class="jslink">新建订单</a>
        </li>
        <li><a href="" ng-click="globalNewTicket()" class="jslink">新建工单</a>
        </li>
      </ul>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="过滤条件" class="dropdown-toggle"><span class="glyphicon glyphicon-filter"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="">本月处理订单</a></li>
        <li><a href="">当日处理订单</a></li>
        <li><a href="">当日未处理订单</a></li>
        <li><a href="">当日完结订单</a></li>
        <li><a href="">预约客户订单</a></li>
      </ul>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" ui-sref="root.utils.message" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="站内提醒"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" ui-sref="root.utils.batchmsg" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="群发信息"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<h3>站内提醒</h3>
<hr/>
<div class="article-header-filter">
  <form role="form" class="form-inline">
    <div data-toggle="buttons" class="btn-group">
      <label ng-click="searchModel.mailbox='inBox'" ng-init="searchModel.mailbox='inBox'" class="btn uu-btn active">
        <input checked="checked" type="radio"/>收件箱
      </label>
      <label ng-click="searchModel.mailbox='outBox'" class="btn uu-btn">
        <input type="radio"/>发件箱
      </label>
    </div>
    <div class="form-group">
      <input ng-model="subfilter" class="form-control input-sm"/>
    </div>
    <div ng-click="keywordSearch()" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<div class="article-header-operate">
  <btn class="btn uu-btn btn-success">未读</btn>
  <btn ng-click="openMessageBox()" class="btn uu-btn btn-primary">发送短消息</btn>
  <btn ng-click="deleteMessage()" class="btn uu-btn btn-warning">删除</btn>
  <btn ng-click="clearAllMessage()" class="btn uu-btn btn-danger">一键清零</btn>
</div>
<table class="uu-table">
  <thead>
    <tr>
      <th>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="isAllChecked" ng-init="isAllChecked=false" ng-click="toggleCheckAll(&quot;isAllChecked&quot;, messages)"/>全选
          </label>
        </div>
      </th>
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="msg in messages">
      <td>
        <input type="checkbox" ng-model="msg.isChecked" ng-click="checkIsAllChecked(&quot;isAllChecked&quot;, messages, msg)"/>
      </td>
      <td ng-bind="msg.content"></td>
      <td ng-bind="msg.receiver"></td>
      <td ng-bind="msg.sendTime"></td>
    </tr>
  </tbody>
</table>
<uu-pagination records="recordsCount" page="currentPage" model="searchModel" action="paginationFn()"></uu-pagination>
<div id="send-message" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">发送短消息</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="form-reciever" class="control-label col-xs-3">接收人</label>
            <div class="col-xs-7 message-multi">
              <input id="form-reciever" ng-model="msg.reciever" class="form-control input-sm"/>
              <button class="btn uu-btn">查找</button>
            </div>
          </div>
          <div class="form-group">
            <th class="form-th">
              <label for="form-template" class="form-th-label">内容</label>
            </th>
            <td class="form-td">
              <textarea id="form-template" class="form-control" ng-model="msg.content"></textarea>
            </td>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="saveNote()" class="btn uu-btn btn-primary">保存</button>
        <button ng-click="sendNote()" class="btn uu-btn btn-success">发送</button>
        <button data-dismiss="modal" class="btn uu-btn">关闭</button>
      </div>
    </div>
  </div>
</div>