<div uu-action-item label="添加组" target="#uumodal" ng-click="new(groupForm)"></div>

<div uu-alert level="{{alertLevel}}" msg="{{alertMsg}}"></div>

<div uu-simple-search placeholder="请输入组名" ng-submit="reloadSearch()" model="searchModel.name"></div>

<div class="row container" ng-if="result.recordsCount">
	<div uu-pagination records="result.recordsCount" page="page" action="search()" model="searchModel.pagination"></div>

	<table class="table table-bordered table-striped" >
		<tr>
			<th>组名</th>
			<th>操作</th>
		</tr>
		<tr ng-repeat="group in result.records">
			<td><a>{{group.name}}</a></td>
			<td>
				<ul class="list-inline">
					<li><a href="" ng-click="modify(group)" data-toggle="modal" data-target="#uumodal">修改</a></li>
					<li><a href="" ng-click="delete(group, $index)">删除</a></li>
				</ul>
			</td>
		</tr>
	</table>
</div>


<div class="modal fade" id="uumodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<form action="" class="form form-horizontal form-small" name="groupForm">
					<fieldset>
						<div class="form-group" ng-class="{ 'has-error' : groupForm.username.$invalid && (!groupForm.username.$pristine || submitted) }">
							<label class="control-label col-xs-3" for="username">组名:</label>
							<div class="col-xs-5">
								<input type="text" class="input-sm form-control" required ng-model="model.name" name="username" id="username">
							</div>
							<div class="col-xs-4">
								<p ng-show="groupForm.username.$invalid && (!groupForm.username.$pristine || submitted)" class="help-block">请输入组名.</p>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" ng-if="modalType=='add'" ng-click="add(model, groupForm.$valid)" class="btn btn-primary">添加</button>
				<button type="button" ng-if="modalType=='edit'" ng-click="save(model, groupForm.$valid)" class="btn btn-primary">保存</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
