include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('新建', 'top')
			+glyphicon('plus')
		ul.dropdown-menu(role="menu")
			li
				+jslink('newMsgTemplate(msgForm)', '新增短信模板')
			li
				+jslink('globalNewWorkForm()', '新建工单')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')
	li
		+tooltip('过滤条件', 'top')(class='dropdown-toggle')
			+glyphicon('filter')
		ul.dropdown-menu(role="menu")
			each filter in ['本月处理订单', '当日处理订单', '当日未处理订单', '当日完结订单', '预约客户订单']
				li
					a(href='')=filter

//- 搜索
+linkage-search()

//- 过滤条件
- var filters = []
- filters.push({label: '今天', value: '""'})
- filters.push({label: '昨天', value: 0})
- filters.push({label: '前天', value: 1})
- filters.push({label: '近3天', value: 1})
- filters.push({label: '近7天', value: 1})
- filters.push({label: '近30天', value: 1})
+article-header-filter('sendTime', filters)

.article-header-operate
	btn.btn.uu-btn.btn-success(ng-click='newMsgTemplate(msgForm)') 新增模板

table.uu-table
	+thead
		each th in ['号码', '发送时间', '短信内容', '发送状态', '操作人']
			th=th
	tbody
		tr(ng-repeat='msg in msgs')
			td(ng-bind='msg.id')
			td(ng-bind='msg.sendTime')
			td(ng-bind='msg.content')
			td(ng-bind='msg.status')
			td(ng-bind='msg.opUser')

uu-pagination(records='recordsCount', page='currentPage', model='searchModel', action='listByPage()')

//- 新增短信模板
+modal('msg-form')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 新增短信模板
	.modal-body
		form.form-horizontal(name='msgForm' novalidate ng-class='{sumitted: msgForm.$sumitted}')
			fieldset
				table.form-table.form-table-single
					tr
						+msg-subject('主题', 'subject')(ng-model='msg.subject' required)
					tr
						+textarea('内容', 'content')(ng-model="msg.content" required)
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveMsgTemplate(msgForm)' ng-disabled='msgForm.processing') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

