<!-- header end -->
<header class="navbar navbar-default navbar-fixed-top" id="top" role="banner">
	<div class="container">
		<div class="navbar-header">
		<a href="#/home" class="navbar-brand"><img src="img/logo.png" alt="logo" width="90" height="43"></a>
		</div>
		<nav role="navigation" class="topnav">
			<ul class="nav navbar-nav">
				<li>
					<a href="#/user" class="action-item">用户管理</a>
				</li>
				<li>
					<a href="#/user-group" class="action-item">用户组管理</a>
				</li>
				<li>
					<a href="#/role" class="action-item">角色管理</a>
				</li>
				<li>
					<a href="#/role-group" class="action-item">角色组管理</a>
				</li>
				<li>
					<a href="#/privilege" class="action-item">权限管理</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/logout" ng-click="logout()">登出</a></li>
			</ul>
		</nav>
	</div>
</header>

