<!-- left side bar begin-->
<div class="col-xs-2 sidebar ng-scope">
	<ul class="nav nav-sidebar text-center">
		<li ng-class="{active: $routeSegment.startsWith('root.customer')}">
			<a href="#/customer" class="ng-binding">客户信息</a>
		</li>
		<li ng-class="{active: $routeSegment.startsWith('root.service')}">
			<a href="#/service" class="ng-binding">客服管理</a>
		</li>
		<li ng-class="{active: $routeSegment.startsWith('root.financial')}">
			<a href="#/financial" class="ng-binding">财务管理</a>
		</li>
		<li ng-class="{active: $routeSegment.startsWith('root.agents')}">
			<a href="#/agents" class="ng-binding">代理商管理</a>
		</li>
		<li ng-class="{active: $routeSegment.startsWith('root.ship')}">
			<a href="#/ship" class="ng-binding">发货管理</a>
		</li>
	</ul>
</div>
<!-- left side bar end-->
