<!-- left side bar begin-->
<div class="col-xs-2 sidebar ng-scope">
	<ul class="nav nav-sidebar text-center">
		<li ng-class="{active: $state.includes('root.customer')}">
			<a ui-sref="root.customer.traded" class="ng-binding">客户信息</a>
		</li>
		<li ng-class="{active: $state.includes('root.service')}">
			<a ui-sref="root.service.ordermanager" class="ng-binding">客服管理</a>
		</li>
		<li ng-class="{active: $state.includes('root.financial')}">
			<a ui-sref="root.financial.deposit" class="ng-binding">财务管理</a>
		</li>
		<li ng-class="{active: $state.includes('root.agents')}">
			<a ui-sref="root.agents.list" class="ng-binding">代理商管理</a>
		</li>
		<li ng-class="{active: $state.includes('root.ship')}">
			<a ui-sref="root.ship.summary" class="ng-binding">发货管理</a>
		</li>
	</ul>
</div>
<!-- left side bar end-->
