<!-- left side bar begin-->
<div class="col-xs-2 sidebar ng-scope">
	<ul class="nav nav-sidebar text-center">
		<li ng-class="{active: $state.includes('root.customer')}" ui-sref-active="active">
			<a ui-sref="root.customer" class="ng-binding">客户信息</a>
		</li>
		<li ng-class="{active: $state.includes('root.service')}">
			<a ui-sref="root.service" class="ng-binding">客服管理</a>
		</li>
		<li ng-class="{active: $state.includes('root.financial')}">
			<a ui-sref="root.financial" class="ng-binding">财务管理</a>
		</li>
		<li ng-class="{active: $state.includes('root.agents')}">
			<a ui-sref="root.agents" class="ng-binding">代理商管理</a>
		</li>
		<li ng-class="{active: $state.includes('root.ship')}">
			<a ui-sref="root.ship" class="ng-binding">发货管理</a>
		</li>
	</ul>
</div>
<!-- left side bar end-->
