include ../../modules/mixins.jade

//- 搜索
include ../../modules/linkage-search.jade

//- 订单列表过滤条件
- var filterBy = {key: 'payStatus', filter: []}
- filterBy.filter.push({label: '所有', value: '""'})
- filterBy.filter.push({label: '已付费', value: 0})
- filterBy.filter.push({label: '未付费', value: 1})
+article-header-filter('payStatus', filterBy)

//- 订单列表
table.uu-table
	+theadplus('orders')(operation='工具', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='order in orders | filter:filterBy')
			+tdchecker('orders', 'order')(ng-model='order.isChecked')
			td(ng-bind='order.customerName', ng-show='ths[0].isChecked')
			td(ng-show='ths[1].isChecked')
				+jslink('showOrder(order)')(ng-bind='order.orderSN')
			td(ng-bind='order.customerPhone', ng-show='ths[2].isChecked')
			td(ng-bind='order.province', ng-show='ths[3].isChecked')
			td(ng-bind='order.city', ng-show='ths[4].isChecked')
			td(ng-bind='order.orderType', ng-show='ths[5].isChecked')
			td(ng-bind='order.payStatus | payStatus', ng-show='ths[6].isChecked')
			td(ng-bind='order.checkStatus | checkStatus', ng-show='ths[7].isChecked')
			td(ng-bind='order.createTime', ng-show='ths[8].isChecked')
			td(ng-bind='order.contactTimes', ng-show='ths[9].isChecked')
			td
				+tooltip('修改', 'top', 'showOrder(order)')
					+glyphicon('pencil') &nbsp;

				+tooltip('发送消息', 'top')
					+glyphicon('comment')

uu-pagination(records='102', page='currentPage', model='searchModel', action='getOrders()')

//- 订单详情Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal
			//- edit and save button
			.form-group.modal-action
				+tooltip('修改', 'top', 'editCustomerInfo()')
					+glyphicon('pencil')
				+tooltip('保存', 'top', 'saveCustomerInfo()')
					+glyphicon('floppy-disk')
			//- customer details
			+order-details
			fieldset
				legend 订单
				table.uu-table
					+thead
						each th in ['订单编号', '客户姓名', '订单产品', '下单日期', '支付方式', '支付状态', '出生日期', '订单状态', '操作']
							th=th
					tbody
						tr
							td 123071231
							td 李四民
							td 季度
							td 2014-10-15
							td 在线支付
							td 已支付
							td 2010-06-01
							td 正常
							td
								+tooltip('修改', 'top')
									+glyphicon('pencil') &nbsp;

								+tooltip('共享订单', 'top', 'shareOrder()')
									+glyphicon('share')

			p
				ul.list-inline
					li 联系记录
					li
						+tooltip('核实订单', 'top', 'checkOrder()')
							+glyphicon('plus')
					li
						+jslink('search()')
							+glyphicon('search')

//- 共享订单Modal
+submodal('share-order')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 修改负责人
	.modal-body
		form.form-horizontal
			.form-group
				- var responsorOptions = [{title: '拆单组', value: 0}, {title: '审单组', value: 1}]
				+select('修改负责人', 'responsor')(ng-model='order.responsor')
					each val in responsorOptions
						+option(val.title, val.value)
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='save()') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 核实订单Modal
include ../../modules/contact-history.jade

//- 更改显示列
include ../../modules/table-ths.jade
