include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('新建', 'top')
			+glyphicon('plus')
		ul.dropdown-menu(role="menu")
			li
				+jslink('globalNewOrder()', '新建订单')
			li
				+jslink('globalNewTicket()', '新建工单')
			li
				+jslink('newComplaint()', '新建投诉')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')
	li
		+tooltip('过滤条件', 'top')(class='dropdown-toggle')
			+glyphicon('filter')
		ul.dropdown-menu(role="menu")
			each filter in ['本月处理订单', '当日处理订单', '当日未处理订单', '当日完结订单']
				li
					a(href='')=filter

//- 搜索
+linkage-search

//- 订单列表过滤条件
- var filters = []
- filters.push({label: '所有', value: '""'})
- filters.push({label: '已付费', value: 1})
- filters.push({label: '未付费', value: 0})
+article-header-filter('searchModel.paid', filters)

//- 订单列表
table.uu-table(ng-show='orders.length')
	+theadplus()(operation='工具', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='order in orders')
			td(ng-bind='order.customer.name', ng-show='ths[0].isChecked')
			td(ng-show='ths[1].isChecked')
				+jslink('showOrder(order)')(ng-bind='order.order_no')
			td(ng-bind='order.customer.phone', ng-show='ths[2].isChecked')
			td(ng-bind='order.customer.province', ng-show='ths[3].isChecked')
			td(ng-bind='order.customer.city', ng-show='ths[4].isChecked')
			td(ng-bind='order.order_type | orderType', ng-show='ths[5].isChecked')
			td(ng-bind='order.paid | payStatus', ng-show='ths[6].isChecked')
			td(ng-bind='order.audit | auditStatus', ng-show='ths[7].isChecked')
			td(ng-bind='order.create_time', ng-show='ths[8].isChecked')
			td(ng-bind='order.contact_count', ng-show='ths[9].isChecked')
			td
				+tooltip('修改', 'top', 'showOrder(order)')
					+glyphicon('pencil') &nbsp;

				+tooltip('发送消息', 'top')
					+glyphicon('comment')

uu-pagination(records='orders.meta.recordsCount', per-page='{{orders.meta.pageSize}}' page='orders.meta.pageNo', model='searchModel', action='getOrderList()')

//- 订单详情Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal
			//- edit and save button
			.form-group.modal-action
				+tooltip('修改', 'top', 'editCustomerInfo()')
					+glyphicon('pencil')
				+tooltip('保存', 'top', 'saveCustomerInfo(currentOrder)')
					+glyphicon('floppy-disk')

			//- customer details
			+order-details
			fieldset
				legend 订单
				table.uu-table
					+thead
						each th in ['订单编号', '客户姓名', '订单产品', '下单日期', '支付方式', '支付状态', '出生日期', '订单状态', '审核状态', '操作']
							th=th
					tbody
						tr
							td(ng-bind='currentOrder.order_no')
							td(ng-bind='currentOrder.customer.name')
							td(ng-bind='currentOrder.customer.name')
							td(ng-bind='currentOrder.order_time')
							td(ng-bind='currentOrder.payment | payment')
							td(ng-bind='currentOrder.paid | payStatus')
							td(ng-bind='currentOrder.customer.birthday')
							td(ng-bind='currentOrder.order_status | auditStatus')
							td(ng-bind='currentOrder.audit | auditStatus')
							td
								+tooltip('修改', 'top', 'editOrderStatus(currentOrder)')
									+glyphicon('pencil') &nbsp;

								+tooltip('共享订单', 'top', 'shareOrder(currentOrder)')
									+glyphicon('share')

			p
				ul.list-inline
					li 联系记录
					li
						+tooltip('添加联系记录', 'top', 'addContact()')
							+glyphicon('plus')

//- 共享订单Modal
+submodal('share-order')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 修改负责人
	.modal-body
		form.form-horizontal
			.form-group
				+workflow-group('修改负责人', 'workflow')(ng-model='currentOrder.workflow')

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveSharedOrder(currentOrder)') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 修改订单Modal
+submodal('edit-order-status')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 修改订单
	.modal-body
		form.form-horizontal
			.form-group
				+order-status('修改订单状态', 'order-status')(ng-model='currentOrder.auditStatus')
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='updateOrderStatus(currentOrder)') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 核实订单Modal
include ../../modules/contact-history.jade

//- 更改显示列
include ../../modules/table-ths.jade
