include ../../modules/mixins.jade

h2 官网核实定单
hr


//- 功能区
.criteria-bar
	form.form-inline(role='form')
		.form-group
			label(for='customer-scope') 查看范围
			- var customerOptions = [{title: '所有客户', value: 0}, {title: '我的客户', value: 0}, {title: '我共享的客户', value: 0}, {title: '共享给我的客户', value: 0}, {title: '下属的客户', value: 0}]
			select#customer-scope.form-control.input-sm(name='customerScope')
				each val in customerOptions
					+option(val.title, val.value)

		.btn.uu-btn
			+tooltip('转移', 'top')
				+glyphicon('transfer')

		.btn.uu-btn
			+tooltip('更多操作', 'top')
				+glyphicon('send')

//- 订单列表过滤条件
.filter-bar
	.btn-group(data-toggle='buttons')
		label.btn.uu-btn.active(ng-click='filterPay.payStatus=""')
			input(checked, name='customer-type', type='radio')
			| 所有
		label.btn.uu-btn(ng-click='filterPay.payStatus=1')
			input(name='customer-type', type='radio')
			| 已付费
		label.btn.uu-btn(ng-click='filterPay.payStatus=0')
			input(name='customer-type', type='radio')
			| 未付费

//- 订单列表
table.uu-table
	+thead
		each th in ['客户姓名', '订单编号', '客户电话', '所在省', '城市', '订购类型', '付款状态', '创建时间', '联系次数', '工具']
			th=th
	tbody
		tr(ng-repeat='order in orders | filter:filterPay')
			td(ng-bind='order.customerName')
			td
				+jslink('showOrder(order)')(ng-bind='order.orderSN')
			td(ng-bind='order.customerPhone')
			td(ng-bind='order.province')
			td(ng-bind='order.city')
			td(ng-bind='order.orderType')
			td(ng-bind='order.payStatus | payStatus')
			td(ng-bind='order.createTime')
			td(ng-bind='order.contactTimes')
			td
				+tooltip('修改', 'left', 'showOrder(order)')
					+glyphicon('pencil')
						&nbsp;

				+tooltip('发送消息', 'right')
					+glyphicon('comment')


//- 订单详情Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal
			fieldset
				legend 基本信息
				.form-group.col-xs-6
					+input('客户姓名', 'name')(ng-model='user.name')
				.form-group.col-xs-6
					+input('订单编号', 'order')(ng-model='user.order')
				.form-group.col-xs-6
					+input('客户性别', 'sex')(ng-model='user.gender')
				.form-group.col-xs-6
					+input('订购产品', 'good')(ng-model='user.good')
				.form-group.col-xs-6
					+input('联系电话', 'telphone')(ng-model='user.telphone')
				.form-group.col-xs-6
					+input('起订日期', 'startDate')(ng-model='user.startDate')
				.form-group.col-xs-6
					+input('儿童姓名', 'child-name')(ng-model='user.childName')
				.form-group.col-xs-6
					+input('结束日期', 'enddate')(ng-model='user.enddate')
				.form-group.col-xs-6
					+input('儿童性别', 'child-gender')(ng-model='user.childGender')
				.form-group.col-xs-6
					+input('支付方式', 'payway')(ng-model='user.payway')
				.form-group.col-xs-6
					+input('出生日期', 'birthday')(ng-model='user.birthday')
				.form-group.col-xs-6
					+input('支付状态', 'pay-status')(ng-model='user.payStatus')

			fieldset
				legend 详细地址
				.form-group.form-group-sm
					label.control-label.label-location
						span 省：山东省
						span 市：青岛市
						span 详细: 宁夏路208号
			fieldset
				legend 订单
				table.uu-table
					+thead
						each th in ['订单编号', '客户姓名', '订单产品', '下单日期', '支付方式', '支付状态', '出生日期', '订单状态', '操作']
							th=th
					tbody
						tr
							td 123071231
							td 李四民
							td 季度
							td 2014-10-15
							td 在线支付
							td 已支付
							td 2010-06-01
							td 正常
							td
								+tooltip('修改', 'left')
									+glyphicon('pencil')
										&nbsp;

								+tooltip('共享订单', 'top', 'shareOrder()')
									+glyphicon('send')

			p
				ul.list-inline
					li
						联系记录
					li
						+tooltip('核实订单', 'top', 'checkOrder()')
							+glyphicon('plus')
					li
						+jslink('search()')
							+glyphicon('search')

//- 共享订单Modal
+submodal('share-order')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 修改负责人
	.modal-body
		form.form-horizontal
			.form-group
				- var responsorOptions = [{title: '拆单组', value: 0}, {title: '审单组', value: 1}]
				+select('修改负责人', 'responsor')(ng-model='order.responsor')
					each val in responsorOptions
						+option(val.title, val.value)
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='save()')
			保存
		button.btn.uu-btn(data-dismiss='modal')
			取消

//- 核实订单Modal
+submodal('recheck-order')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal
			fieldset
				.form-group
					+select('主题', 'topic')(ng-model='user.topic')
						+option('核实订单', 0)
						+option('投诉', 1)
						+option('回访', 2)
						+option('催费', 3)
						+option('促进销售', 4)
				.form-group
					+select('处理结果', 'deal-result')(ng-model='user.dealResult')
						+option('已完成', 0)
						+option('处理中', 1)
						+option('待处理', 1)
				.form-group
					+input('联系时间', 'contact-time')(ng-model='user.contactTime')
				.form-group
					+input('负责人', 'contact-responsor')(ng-model='user.responsor')
				.form-group
					+select('电话状态', 'phone-status')(ng-model='user.phoneStatus')
						+option('无人接', 0)
						+option('占线', 1)
						+option('接听', 2)
						+option('停机', 3)
						+option('空号', 4)
						+option('错号', 5)
				.form-group
					+select('紧急程度', 'urgency')(ng-model='user.urgency')
						+option('一般', 0)
						+option('优先', 1)
						+option('紧急', 1)
				.form-group
					+textarea('内容', 'content')(ng-model="content")
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='save()')
			保存
		button.btn.uu-btn(data-dismiss='modal')
			取消

//- to enable bootstrap multi modal
//- include ../../modules/modal-fix.jade

