include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('新建', 'top')
			+glyphicon('plus')
		ul.dropdown-menu(role="menu")
			li
				+jslink('globalNewOrder(gbNeworderForm)', '新建订单')
			li
				+jslink('globalNewWorkForm(gbTicketForm, gbTicketForm)', '新建工单')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')
	li
		+tooltip('过滤条件', 'top')(class='dropdown-toggle')
			+glyphicon('filter')
		ul.dropdown-menu(role="menu")
			each filter in ['本月处理订单', '当日处理订单', '当日未处理订单', '当日完结订单']
				li
					a(href='')=filter

//- 搜索
+linkage-search('search()')

//- 订单列表过滤条件
- var filters = []
- filters.push({label: '所有', value: ''})
- filters.push({label: '已付费', value: 1})
- filters.push({label: '未付费', value: 0})
+article-header-filter('searchModel.paid', filters)

//- 订单列表
div(d-check='orders' type='rest')
	table.uu-table
		+theadplus()(operation='工具' ng-dblclick="chooseTh('table-cols')")
		tbody
			tr(ng-repeat='order in orders' ng-dblclick="showOrder(order)")
				td(ng-bind='order.consignee', ng-show='ths[0].isChecked')
				td(ng-bind='order.order_no' ng-show='ths[1].isChecked')
				td(ng-bind='order.phone', ng-show='ths[2].isChecked')
				td(ng-bind='order.province', ng-show='ths[3].isChecked')
				td(ng-bind='order.city', ng-show='ths[4].isChecked')
				td(ng-bind='order.packag', ng-show='ths[5].isChecked')
				td(ng-bind='order.paid | mapper: "payStatus"', ng-show='ths[6].isChecked')
				td(ng-bind='order.payment | mapper: "payment"', ng-show='ths[7].isChecked')
				td(ng-bind='order.audit | auditStatus', ng-show='ths[8].isChecked')
				td(ng-bind='order.create_time', ng-show='ths[9].isChecked')
				td(ng-bind='order.contact_count', ng-show='ths[10].isChecked')
				td.nowrap
					+tooltip('修改', 'top', 'showOrder(order)')
						+glyphicon('pencil') &nbsp;

					+tooltip('发送消息', 'top')
						+glyphicon('comment')

	uu-pagination(records='orders.meta.recordsCount' per-page='orders.meta.pageSize' page='orders.meta.pageNo' model='searchModel' action='getOrderList()')

//- 订单详情Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal(name='orderDetailsForm' novalidate ng-class='{sumitted: orderDetailsForm.$sumitted}')
			//- edit and save button
			.form-group.modal-action
				+tooltip('修改', 'top', 'editCustomerInfo()')(ng-class='{disabled: isCustometInfoEditable}')
					+glyphicon('pencil')
				+tooltip('保存', 'top', 'saveCustomerInfo(orderDetailsForm)')(ng-class='{disabled: !isCustometInfoEditable || orderDetailsForm.processing}')
					+glyphicon('floppy-disk')

			//- customer details
			fieldset
				legend 基本信息
				table.form-table(ng-show='isCustometInfoEditable')
					tr
						+input('收货人', 'name')(uu-name ng-model='currentOrder.consignee' required)
						+static-input('订单编号', 'order')(ng-bind='currentOrder.order_no')
					tr
						+gender('客户性别', 'customer-gender')(ng-model='currentOrder.customer.sex' required)
						+input('订购产品', 'good')(ng-model='currentOrder.packag')
					tr
						+input('联系电话', 'form-telphone')(uu-phone ng-model='currentOrder.phone' required)
						+input('起订日期', 'startDate')(ng-model='currentOrder.effective' uu-date-picker required)
					tr
						+input('儿童姓名', 'child-name')(ng-model='currentOrder.customer.child')
						+input('结束日期', 'enddate')(ng-model='currentOrder.deadline' uu-date-picker)
					tr
						+gender('儿童性别', 'child-gender')(ng-model='currentOrder.customer.c_sex')
						+payment('支付方式', 'payment')(ng-model='currentOrder.payment' required)
					tr
						+input('出生日期', 'birthday')(ng-model='currentOrder.customer.birthday', uu-date-picker)
						+pay-status('支付状态', 'pay-status')(ng-model='currentOrder.paid')
					tr
						+input-address('地址', 'order-address', 3)(ng-province-model='currentOrder.province' ng-city-model='currentOrder.city' ng-area-model='currentOrder.district' ng-required='true')
					tr
						+input-address-details('详细地址', 'order-address-details', 3)(ng-model='currentOrder.address' ng-required='true')

				table.form-table(ng-show='!isCustometInfoEditable')
					tr
						+static-input('收货人')(ng-bind='currentOrder.consignee')
						+static-input('订单编号')(ng-bind='currentOrder.order_no')
					tr
						+static-input('客户性别')(ng-bind='currentOrder.customer.sex | gender')
						+static-input('订购产品')(ng-bind='currentOrder.packag')
					tr
						+static-input-phone('联系电话')(ng-bind='currentOrder.phone')
						+static-input('起订日期')(ng-bind='currentOrder.effective')
					tr
						+static-input('儿童姓名')(ng-bind='currentOrder.customer.child')
						+static-input('结束日期')(ng-bind='currentOrder.deadline')
					tr
						+static-input('儿童性别')(ng-bind='currentOrder.customer.c_sex | gender')
						+static-input('支付方式')(ng-bind='currentOrder.payment| mapper: "payment"')
					tr
						+static-input('出生日期')(ng-bind='currentOrder.customer.birthday')
						+static-input('支付状态')(ng-bind='currentOrder.paid | mapper: "payStatus"')
					tr
						+input-address('地址', 'order-address', 3)(ng-disabled='true' ng-province-model='currentOrder.province' ng-city-model='currentOrder.city' ng-area-model='currentOrder.district')
					tr
						+static-input('详细地址', 3)(ng-bind='currentOrder.address')

			fieldset
				legend 订单
				table.uu-table
					+thead
						each th in ['订单编号', '客户姓名', '订单产品', '下单日期', '支付方式', '支付状态', '出生日期', '订单状态', '审核状态', '操作']
							th=th
					tbody
						tr
							td(ng-bind='currentOrder.order_no')
							td(ng-bind='currentOrder.consignee')
							td(ng-bind='currentOrder.packag')
							td(ng-bind='currentOrder.order_time')
							td(ng-bind='currentOrder.payment| mapper: "payment"')
							td(ng-bind='currentOrder.paid | mapper: "payStatus"')
							td(ng-bind='currentOrder.customer.birthday')
							td(ng-bind='currentOrder.order_status | orderStatus')
							td(ng-bind='currentOrder.audit | auditStatus')
							td.nowrap
								+tooltip('修改', 'top', 'editOrderStatus(currentOrder)')
									+glyphicon('pencil')

								//- +tooltip('共享订单', 'top', 'shareOrder(currentOrder)')
								//- 	+glyphicon('share')

			p
				ul.list-inline
					li 联系记录
					li
						+tooltip('添加联系记录', 'top', 'addContact(contactHistotryForm)')
							+glyphicon('plus')

//- 共享订单Modal
+submodal('share-order')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 修改负责人
	.modal-body
		form.form-horizontal(name='orderShareForm')
			table.form-table.form-table-single
				tr
					+select('修改负责人', 'workflow')
						+option('审单组', 1)
						+option('拆单组', 2)(ng-show='currentOrder.audit === 4')

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveSharedOrder(orderShareForm)' ng-disabled='orderShareForm.processing') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 修改订单Modal
+submodal('edit-order-status')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 修改订单
	.modal-body
		form.form-horizontal(name='orderUpdateForm')
			table.form-table.form-table-single
				tr
					+order-status('修改订单状态', 'order-status')(ng-model='currentOrder.auditStatus')
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='updateOrderStatus(orderUpdateForm)' ng-disabled='orderUpdateForm.processing') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

include ../../modules/neworder.jade

//- 联系记录
include ../../modules/contact-history.jade

//- 更改显示列
include ../../modules/table-ths.jade
