include ../../modules/mixins.jade

h2 投诉
hr

- var customerOptions = [{title: '所有客户', value: 0}, {title: '我的客户', value: 0}, {title: '我共享的客户', value: 0}, {title: '共享给我的客户', value: 0}, {title: '下属的客户', value: 0}]

//- 功能区
.criteria-bar
	form.form-inline(role='form')
		.form-group
			label(for='customer-scope') 查看范围
			select#customer-scope.form-control.input-sm(name='customerScope')
				each val in customerOptions
					+option(val.title, val.value)

		.btn.uu-btn
			+tooltip('转移', 'top')
				+glyphicon('transfer')

		.btn.uu-btn
			+tooltip('更多操作', 'top')
				+glyphicon('send')

//- 订单列表过滤条件
.filter-bar
	.btn-group(data-toggle='buttons')
		label.btn.uu-btn.active
			input(checked, name='customer-type', type='radio')
			| 所有
		label.btn.uu-btn
			input(name='customer-type', type='radio')
			| 已付费
		label.btn.uu-btn
			input(name='customer-type', type='radio')
			| 未付费

//- 订单列表
table.uu-table
	+thead
		each th in ['客户姓名', '订单编号', '客户电话', '所在省', '城市', '订购类型', '付款状态', '创建时间', '联系次数', '工具']
			th=th
	tbody
		- var i = 2
		while (--i > 0)
			tr
				td 李四民
				td
					+jslink('showOrder(' + i + ')') 20141020
				td 15006492314
				td 山东
				td 青岛
				td 年度
				td 已付费
				td 20141018
				td 1
				td
					+tooltip('修改', 'left', 'showOrder(i)')
						+glyphicon('pencil')
							&nbsp;

					+tooltip('发送消息', 'right')
						+glyphicon('comment')


//- 订单详情Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal
			fieldset
				legend 基本信息
				.form-group.col-xs-6
					+input('客户姓名', 'name')(ng-model='user.name')
				.form-group.col-xs-6
					+input('订单编号', 'order')(ng-model='user.order')
				.form-group.col-xs-6
					+input('客户性别', 'sex')(ng-model='user.gender')
				.form-group.col-xs-6
					+input('订购产品', 'good')(ng-model='user.good')
				.form-group.col-xs-6
					+input('联系电话', 'telphone')(ng-model='user.telphone')
				.form-group.col-xs-6
					+input('起订日期', 'startDate')(ng-model='user.startDate')
				.form-group.col-xs-6
					+input('儿童姓名', 'child-name')(ng-model='user.childName')
				.form-group.col-xs-6
					+input('结束日期', 'enddate')(ng-model='user.enddate')
				.form-group.col-xs-6
					+input('儿童性别', 'child-gender')(ng-model='user.childGender')
				.form-group.col-xs-6
					+input('支付方式', 'payway')(ng-model='user.payway')
				.form-group.col-xs-6
					+input('出生日期', 'birthday')(ng-model='user.birthday')
				.form-group.col-xs-6
					+input('支付状态', 'pay-status')(ng-model='user.payStatus')

			fieldset
				legend 详细地址
				.form-group.form-group-sm
					label.control-label.label-location
						span 省：山东省
						span 市：青岛市
						span 详细: 宁夏路208号
			fieldset
				legend 订单
				table.uu-table
					+thead
						each th in ['订单编号', '客户姓名', '订单产品', '下单日期', '支付方式', '支付状态', '出生日期', '订单状态', '操作']
							th=th
					tbody
						tr(ng-repeat='order in orders')
							td(ng-bind='order.orderSN')
							td(ng-bind='order.name')
							td(ng-bind='order.products')
							td(ng-bind='order.payDate')
							td(ng-bind='order.payWay')
							td(ng-bind='order.payStatus')
							td(ng-bind='order.birthday')
							td(ng-bind='order.orderStatus')
							td
								+tooltip('调换', 'left', 'exchange()')
									+glyphicon('pencil')
										&nbsp;

								+tooltip('退货', 'top', 'return()')
									+glyphicon('export')

			p
				ul.list-inline
					li
						联系记录
					li
						+tooltip('核实订单', 'top', 'checkOrder()')
							+glyphicon('plus')
					li
						+jslink('search()')
							+glyphicon('search')

//- 调货Modal
+submodal('return-order', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 调货
	.modal-body
		form.form-horizontal.form-nowrap
			fieldset
				.row
					.form-group.col-xs-6
						+input('刊号', 'goodCode')(ng-model='goods.code')
					.form-group.col-xs-6
						+input('刊数', 'goodNum')(ng-model='goods.num')
				.row
					.form-group.col-xs-6
						+input('实际订阅刊数', 'subscribeNum')(ng-model='good.subscribeNum')
					.form-group.col-xs-6
						+input('实际订阅金额', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					.form-group.col-xs-6
						+input('合同金额', 'subscribeAmount')(ng-model='good.subscribeAmount')
					.form-group.col-xs-6
						+input('已收金额', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					.form-group.col-xs-6
						+input('已发货未收金额', 'subscribeAmount')(ng-model='good.subscribeAmount')
					.form-group.col-xs-6
						+input('刊数', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					.form-group.col-xs-6
						+input('办理手续费', 'subscribeAmount')(ng-model='good.subscribeAmount')
					.form-group.col-xs-6
						+input('承担人', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					.form-group.col-xs-6
						+input('退款手续费', 'subscribeAmount')(ng-model='good.subscribeAmount')
					.form-group.col-xs-6
						+input('承担人', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					.form-group.col-xs-6
						+input('退款金额', 'subscribeAmount')(ng-model='good.subscribeAmount')
					.form-group.col-xs-6
						+input('实际退款金额', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					.form-group.col-xs-6
						+input('退款帐号', 'subscribeAmount')(ng-model='good.subscribeAmount')
					.form-group.col-xs-6
						+input('开户行', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					.form-group.col-xs-6
						+select('退订原因', 'return-reason')(ng-model='goods.phoneStatus')
							+option('价格贵,收入低', 1)
							+option('价格贵,性价比不高', 2)
							+option('内容简单', 3)
							+option('内容太难', 4)
							+option('内容太普通,不感兴趣', 5)
							+option('学校老师教,发了同类产品', 6)
							+option('家人说不好', 7)
							+option('内容量太少', 8)
							+option('孩子不喜欢', 9)
							+option('质量不好', 10)
							+option('物流太慢', 11)
							+option('客服态度不好', 12)
							+option('价格贵,收入低', 13)
							+option('价格贵,性价比不高', 14)
							+option('内容简单', 15)
							+option('内容太难', 16)
							+option('内容太普通,不感兴趣', 17)
							+option('学校老师教,发了同类产品', 18)
							+option('家人说不好', 19)
							+option('内容量太少', 20)
							+option('孩子不喜欢', 21)
							+option('质量不好', 22)
							+option('物流太慢', 23)
							+option('客服态度不好', 24)
							+option('书本缺页', 25)
							+option('赠品缺漏', 26)
							+option('玩具缺漏', 27)
							+option('光盘损坏', 28)
				.row
					.form-group.col-xs-6
						+select('是否到库', 'urgency')(ng-model='user.urgency')
							+option('是', 0)
							+option('否', 1)
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='confirmAndShare()')
			确认并共享
		button.btn.uu-btn(data-dismiss='modal')
			取消

//- 核实订单Modal
+submodal('recheck-order')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 投诉
	.modal-body
		form.form-horizontal
			fieldset
				.form-group
					+select('主题', 'topic')(ng-model='return.topic')
						+option('核实订单', 0)
						+option('投诉', 1)
						+option('回访', 2)
						+option('催费', 3)
						+option('促进销售', 4)
				.form-group
					+select('处理结果', 'deal-result')(ng-model='return.dealResult')
						+option('已完成', 0)
						+option('处理中', 1)
						+option('待处理', 1)
				.form-group
					+input('联系时间', 'contact-time')(ng-model='return.contactTime')
				.form-group
					+input('负责人', 'contact-responsor')(ng-model='return.responsor')
				.form-group
					+select('电话状态', 'phone-status')(ng-model='return.phoneStatus')
						+option('无人接', 0)
						+option('占线', 1)
						+option('接听', 2)
						+option('停机', 3)
						+option('空号', 4)
						+option('错号', 5)
				.form-group
					+select('投诉分类', 'complain-type')(ng-model='return.complainType')
						+option('发票抬头错误', 1)
						+option('未开发票', 2)
						+option('开票时间长', 3)
						+option('发票丢失', 4)
						+option('客服态度不好', 5)
						+option('客服不专业', 6)
						+option('客服电话难打', 7)
						+option('物流慢', 8)
						+option('货物丢失', 9)
						+option('物品破损', 10)
						+option('快递态度', 11)
				.form-group
					+input('下次回访日期', 'return-next-time')(ng-model='return.nextTime')
				.form-group
					+select('投诉分类', 'urgency')(ng-model='return.urgency')
						+option('一般', 0)
						+option('优先', 1)
						+option('紧急', 1)
				.form-group
					+textarea('内容', 'content')(ng-model="content")
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='save()')
			保存
		button.btn.uu-btn(data-dismiss='modal')
			取消


//- 共享Modal
+submodal('share-order')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 共享
	.modal-body
		form.form-horizontal
			fieldset
				| tree
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='save()')
			保存
		button.btn.uu-btn(data-dismiss='modal')
			取消
