include ../../modules/mixins.jade

//- 功能区
.criteria-bar
	form.form-inline(role='form')
		.form-group
			label(for='customer-scope') 查看范围

			- var customerOptions = [{title: '所有客户', value: 0}, {title: '我的客户', value: 0}, {title: '我共享的客户', value: 0}, {title: '共享给我的客户', value: 0}, {title: '下属的客户', value: 0}]
			select#customer-scope.form-control.input-sm(name='customerScope')
				each val in customerOptions
					+option(val.title, val.value)

		.btn.uu-btn
			+tooltip('转移', 'top')
				+glyphicon('transfer')

		.btn.uu-btn
			+tooltip('更多操作', 'top')
				+glyphicon('send')

//- 订单列表过滤条件
.filter-bar
	.btn-group(data-toggle='buttons')
		label.btn.uu-btn.active(ng-click='filterPay.payStatus=""')
			input(checked, name='customer-type', type='radio')
			| 所有
		label.btn.uu-btn(ng-click='filterPay.payStatus=1')
			input(name='customer-type', type='radio')
			| 已付费
		label.btn.uu-btn(ng-click='filterPay.payStatus=0')
			input(name='customer-type', type='radio')
			| 未付费

//- 订单列表
table.uu-table
	+thead(ng-dblclick="chooseTh('table-cols')")
		th
			.checkbox
				label
					input(type='checkbox', ng-model='isAllChecked', ng-init='isAllChecked=false' ng-click='toggleCheckAll("isAllChecked", orders)')
					| 全选
		th(ng-repeat='th in ths', ng-show='th.isChecked', ng-class='{"sort": th.sortable}', uu-sort="th.sortable", sort-name='th.name', action='sortBy(name, type)')
			{{th.label}}
			+th-filter(ng-if='th.filter')
				+glyphicon('filter')
			ul.dropdown-menu(ng-if='th.filter')(role="menu")
				each filter in ['待审核', '审核中', '审核通过', '无效']
					li
						a(href='')=filter
		th 工具
	tbody
		tr(ng-repeat='order in orders | filter:filterPay')
			td
				input(type='checkbox', ng-model="order.isChecked", ng-click='checkIsAllChecked("isAllChecked", orders, order)')
			td(ng-bind='order.customerName', ng-show='ths[0].isChecked')
			td(ng-show='ths[1].isChecked')
				+jslink('showComplaintOrders(order)')(ng-bind='order.orderSN')
			td(ng-bind='order.customerPhone', ng-show='ths[2].isChecked')
			td(ng-bind='order.province', ng-show='ths[3].isChecked')
			td(ng-bind='order.city', ng-show='ths[4].isChecked')
			td(ng-bind='order.orderType', ng-show='ths[5].isChecked')
			td(ng-bind='order.payStatus | payStatus', ng-show='ths[6].isChecked')
			td(ng-bind='order.checkStatus | checkStatus', ng-show='ths[7].isChecked')
			td(ng-bind='order.createTime', ng-show='ths[8].isChecked')
			td(ng-bind='order.contactTimes', ng-show='ths[9].isChecked')
			td
				+tooltip('修改', 'top', 'showComplaintOrders(order)')
					+glyphicon('pencil')
						&nbsp;

				+tooltip('发送消息', 'top')
					+glyphicon('comment')

uu-pagination(records='102', page='currentPage', model='searchModel', action='getOrders()')

//- 订单详情Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 核实订单
	.modal-body
		form.form-horizontal
			+customer-details
			fieldset
				legend 订单
				table.uu-table
					+thead
						each th in ['订单编号', '客户姓名', '订单产品', '下单日期', '支付方式', '支付状态', '出生日期', '订单状态', '操作']
							th=th
					tbody
						tr(ng-repeat='order in currentOrder.complaintOrders')
							td(ng-bind='order.orderSN')
							td(ng-bind='order.customerName')
							td(ng-bind='order.orderType')
							td(ng-bind='order.createTime')
							td(ng-bind='order.payWay')
							td(ng-bind='order.payStatus')
							td(ng-bind='order.birthday')
							td(ng-bind='order.payStatus | payStatus')
							td
								+tooltip('调换', 'top', 'exchange(order)')
									+glyphicon('gift')
										&nbsp;

								+tooltip('退货', 'top', 'return(order)')
									+glyphicon('export')

			p
				ul.list-inline
					li
						联系记录
					li
						+tooltip('核实订单', 'top', 'checkOrder()')
							+glyphicon('plus')
					li
						+jslink('search()')
							+glyphicon('search')

//- 调货Modal
+submodal('return-order', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 调货
	.modal-body
		form.form-horizontal.form-nowrap
			fieldset
				.row
					+hgroup
						+input('刊号', 'goodCode')(ng-model='goods.code')
					+hgroup
						+input('刊数', 'goodNum')(ng-model='goods.num')
				.row
					+hgroup
						+input('实际订阅刊数', 'subscribeNum')(ng-model='good.subscribeNum')
					+hgroup
						+input('实际订阅金额', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					+hgroup
						+input('合同金额', 'subscribeAmount')(ng-model='good.subscribeAmount')
					+hgroup
						+input('已收金额', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					+hgroup
						+input('已发货未收金额', 'subscribeAmount')(ng-model='good.subscribeAmount')
					+hgroup
						+input('刊数', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					+hgroup
						+input('办理手续费', 'subscribeAmount')(ng-model='good.subscribeAmount')
					+hgroup
						+input('承担人', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					+hgroup
						+input('退款手续费', 'subscribeAmount')(ng-model='good.subscribeAmount')
					+hgroup
						+input('承担人', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					+hgroup
						+input('退款金额', 'subscribeAmount')(ng-model='good.subscribeAmount')
					+hgroup
						+input('实际退款金额', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					+hgroup
						+input('退款帐号', 'subscribeAmount')(ng-model='good.subscribeAmount')
					+hgroup
						+input('开户行', 'subscribeAmount')(ng-model='good.subscribeAmount')
				.row
					+hgroup
						+select('退订原因', 'return-reason')(ng-model='goods.phoneStatus')
							+option('价格贵,收入低', 1)
							+option('价格贵,性价比不高', 2)
							+option('内容简单', 3)
							+option('内容太难', 4)
							+option('内容太普通,不感兴趣', 5)
							+option('学校老师教,发了同类产品', 6)
							+option('家人说不好', 7)
							+option('内容量太少', 8)
							+option('孩子不喜欢', 9)
							+option('质量不好', 10)
							+option('物流太慢', 11)
							+option('客服态度不好', 12)
							+option('价格贵,收入低', 13)
							+option('价格贵,性价比不高', 14)
							+option('内容简单', 15)
							+option('内容太难', 16)
							+option('内容太普通,不感兴趣', 17)
							+option('学校老师教,发了同类产品', 18)
							+option('家人说不好', 19)
							+option('内容量太少', 20)
							+option('孩子不喜欢', 21)
							+option('质量不好', 22)
							+option('物流太慢', 23)
							+option('客服态度不好', 24)
							+option('书本缺页', 25)
							+option('赠品缺漏', 26)
							+option('玩具缺漏', 27)
							+option('光盘损坏', 28)
				.row
					+hgroup
						+select('是否到库', 'urgency')(ng-model='user.urgency')
							+option('是', 0)
							+option('否', 1)
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='confirmAndShare()')
			确认并共享
		button.btn.uu-btn(data-dismiss='modal')
			取消

//- 核实订单Modal
include ../../modules/recheck-order.jade

//- 共享Modal
+submodal('share-order')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 共享
	.modal-body
		form.form-horizontal
			fieldset
				#tree

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveOrder()')
			保存
		button.btn.uu-btn(data-dismiss='modal')
			取消

//- 更改显示列
include ../../modules/table-ths.jade
