include ../../modules/mixins.jade

//- 订单列表过滤条件
- var filterBy = {key: 'isAssigned', filter: []}
- filterBy.filter.push({label: '所有', value: '""'})
- filterBy.filter.push({label: '已分配', value: 0})
- filterBy.filter.push({label: '未分配', value: 1})
+article-header-filter('isAssigned', filterBy)

//- 功能区
.article-header-operate
	button.btn.uu-btn.btn-primary(ng-click='batchAssign()') 批量分配
	button.btn.uu-btn.btn-success(ng-click='batchPick()') 批量领取

//- 客户列表
table.uu-table
	+theadplus('orders')(operation='工具', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='order in orders | filter:filterPay')
			+tdchecker('orders', 'order')(ng-model='order.isChecked')
			td(ng-bind='order.customerName', ng-show='ths[0].isChecked')
			td(ng-show='ths[1].isChecked')
				+jslink('showComplaintOrders(order)')(ng-bind='order.orderSN')
			td(ng-bind='order.customerPhone', ng-show='ths[2].isChecked')
			td(ng-bind='order.customerPhone', ng-show='ths[2].isChecked')
			td(ng-bind='order.province', ng-show='ths[3].isChecked')
			td(ng-bind='order.city', ng-show='ths[4].isChecked')
			td(ng-bind='order.email', ng-show='ths[5].isChecked')
			td(ng-bind='order.checkStatus | checkStatus', ng-show='ths[7].isChecked')
			td(ng-bind='order.createTime', ng-show='ths[8].isChecked')
			td(ng-bind='order.contactTimes', ng-show='ths[9].isChecked')
			td
				+tooltip('修改', 'top', 'showComplaintOrders(order)')
					+glyphicon('pencil') &nbsp;

				+tooltip('发送消息', 'top')
					+glyphicon('comment')

uu-pagination(records='102', page='currentPage', model='searchModel', action='getOrders()')

//- 批量分配
+modal('batch-assgin')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 批量分配
	.modal-body
		form.form-horizontal
			fieldset
				.form-group(ng-show='getSelectedCustomers().length === 1')
					label.control-label.col-xs-3(for='form-responser') 将客户:
					.col-xs-7
						p.form-static {{selectedCustomers[0].customerName}}
				.form-group
					label.control-label.col-xs-3(for='form-responser', ng-show='getSelectedCustomers().length !== 1') 选择负责人
					label.control-label.col-xs-3(for='form-responser', ng-show='getSelectedCustomers().length === 1') 分配给
					.col-xs-7
						select.form-control.input-sm(id='form-responser', name='responser', ng-model='responser')

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveOrder()') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 批量分配
+modal('batch-pick')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 批量领取
	.modal-body(ng-show='getSelectedCustomers().length === 1')
		form.form-horizontal
			fieldset
				label.control-label.col-xs-3(for='form-responser') 领取客户:
				.col-xs-7
					p.form-static {{selectedCustomers[0].customerName}}

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveOrder()') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 更改显示列
include ../../modules/table-ths.jade
