include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('新建', 'top')
			+glyphicon('plus')
		ul.dropdown-menu(role="menu")
			li
				+jslink('globalNewOrder()', '新建订单')
			li
				+jslink('globalNewTicket()', '新建工单')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')
	li
		+tooltip('过滤条件', 'top')(class='dropdown-toggle')
			+glyphicon('filter')
		ul.dropdown-menu(role="menu")
			each filter in ['本月处理订单', '当日处理订单', '当日未处理订单', '当日完结订单', '预约客户订单']
				li
					a(href='')=filter

//- 订单列表过滤条件
- var filters = []
- filters.push({label: '所有', value: ''})
- filters.push({label: '已分配', value: 1})
- filters.push({label: '未分配', value: 2})
+article-header-filter('searchModel.isAllot', filters)

//- 功能区
.article-header-operate
	button.btn.uu-btn.btn-primary(ng-click='batchAssign()') 批量分配
	button.btn.uu-btn.btn-success(ng-click='batchPick()') 批量领取

//- 客户列表
table.uu-table
	+theadplus('customers')(operation='工具', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='customer in customers')
			+tdchecker('customers', 'customer')(ng-model='customer.isChecked')
			td(ng-bind='customer.name', ng-show='ths[0].isChecked')
			td(ng-bind='customer.code' ng-show='ths[1].isChecked')
			+td-phone(ng-show='ths[2].isChecked' ng-bind='customer.phone')
			td(ng-bind='customer.main_phone', ng-show='ths[2].isChecked')
			td(ng-bind='customer.province', ng-show='ths[3].isChecked')
			td(ng-bind='customer.city', ng-show='ths[4].isChecked')
			td(ng-bind='customer.email', ng-show='ths[5].isChecked')
			td(ng-bind='customer.type | customerStatus', ng-show='ths[6].isChecked')
			td(ng-bind='customer.create_time', ng-show='ths[7].isChecked')
			td(ng-bind='customer.contact_times', ng-show='ths[8].isChecked')
			td.nowrap
				+tooltip('修改', 'top', 'showComplaintcustomers(customer)')
					+glyphicon('pencil') &nbsp;

				+tooltip('发送消息', 'top')
					+glyphicon('comment')

uu-pagination(records='customers.meta.recordsCount', per-page='customers.meta.pageSize' page='customers.meta.pageNo', model='searchModel', action='getCustomerList()')

//- 批量分配
+modal('batch-assgin')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 批量分配
	.modal-body
		form.form-horizontal
			fieldset
				.form-group(ng-show='getSelectedCustomers().length === 1')
					label.control-label.col-xs-3(for='form-responser') 将客户:
					.col-xs-7
						p.form-static {{selectedCustomers[0].name}}
				.form-group
					label.control-label.col-xs-3(for='form-responser', ng-show='getSelectedCustomers().length !== 1') 选择负责人
					label.control-label.col-xs-3(for='form-responser', ng-show='getSelectedCustomers().length === 1') 分配给
					.col-xs-7
						select.form-control.input-sm(id='form-responser', name='responser', ng-model='batchResponser', ng-options='user.userNo as user.name for user in resUsers')

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveBatchAssign()') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 批量领取
+modal('batch-pick')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 批量领取
	.modal-body(ng-show='getSelectedCustomers().length === 1')
		form.form-horizontal
			fieldset
				label.control-label.col-xs-3(for='form-responser') 领取客户:
				.col-xs-7
					p.form-static {{selectedCustomers[0].name}}

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveBatchPick()') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 更改显示列
include ../../modules/table-ths.jade
