include ../../modules/mixins.jade

<!-- customer nav tab -->
ul.sub-navbar.list-inline
	li
		+sub-navbar-link('root.customer.checkorder', '官网核实订单')
		+sub-navbar-link('root.customer.splitorder', '拆分订单')
		+sub-navbar-link('root.customer.complaints', '投诉')

div(ui-view)