include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')
	li
		+tooltip('过滤条件', 'top')(class='dropdown-toggle')
			+glyphicon('filter')
		ul.dropdown-menu(role="menu")
			each filter in ['本月处理订单', '当日处理订单', '当日未处理订单', '当日完结订单']
				li
					a(href='')=filter

//- 搜索
+linkage-search('search()')

//- 订单列表
table.uu-table
	+theadplus()(operation='工具', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='shipment in shipments' ng-dblclick='showPutinedshipment(shipment.shipment_code)')
			td(ng-bind="shipment.orders_no" ng-show='ths[0].isChecked')
			td(ng-bind="shipment.shipment_no" ng-show='ths[1].isChecked')
			td(ng-bind="shipment.customer_code" ng-show='ths[2].isChecked')
			td(ng-bind="shipment.customer_name" ng-show='ths[3].isChecked')
			td(ng-bind="shipment.address" ng-show='ths[4].isChecked')
			td(ng-bind="shipment.customer_tel" ng-show='ths[5].isChecked')
			td(ng-bind="shipment.amount" ng-show='ths[6].isChecked')
			td(ng-bind="shipment.shipped_qty" ng-show='ths[7].isChecked')
			td(ng-bind="shipment.has_invoice" ng-show='ths[8].isChecked')
			td(ng-bind="shipment.express_code" ng-show='ths[9].isChecked')
			td(ng-bind="shipment.express_orders_no" ng-show='ths[10].isChecked')
			td(ng-bind="shipment.express_name" ng-show='ths[11].isChecked')
			td(ng-bind="shipment.express_cost" ng-show='ths[12].isChecked')
			td(ng-bind="shipment.courier" ng-show='ths[13].isChecked')
			td(ng-bind="shipment.courier_tel" ng-show='ths[14].isChecked')
			td(ng-bind="shipment.sent_date" ng-show='ths[15].isChecked')
			td(ng-bind="shipment.create_time" ng-show='ths[16].isChecked')
			td(ng-bind="shipment.creator" ng-show='ths[17].isChecked')
			td(ng-bind="shipment.update_time" ng-show='ths[18].isChecked')
			td(ng-bind="shipment.updater" ng-show='ths[19].isChecked')
			td(ng-bind="shipment.status | mapper:'shipmentStatus'" ng-show='ths[20].isChecked')
			td.nowrap
				+tooltip('修改', 'top', 'editShipment(shipment.shipment_no)')
					+glyphicon('pencil')
				//- +tooltip('查看', 'top', 'showPutinedshipment(shipment.receipt_code)')
				//- 	+glyphicon('eye-open')

uu-pagination(records='shipments.meta.recordsCount', per-page='shipments.meta.pageSize' page='shipments.meta.pageNo' pagreceiptForme='shipments.meta.pageNo', model='searchModel', action='getShipmentsList()')


//- 修改出库单
+modal('shipment-form')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title(ng-bind='shipmentFormTitle')
	.modal-body
		//- 将form放在uu-pane层级下会导致newProduct(shipmentForm)找不到shipmentForm
		form.form-horizontal(name='shipmentForm' novalidate ng-class='{sumitted: shipmentForm.$sumitted}')
			div(uu-tab)
				div(uu-pane, title='发货单')
					table.form-table
						tr
							+input('订单号', 'orders_no')(ng-model='shipment.orders_no' required)
							+input('发货单号', 'shipment_no')(ng-model='shipment.shipment_no' required)
						tr
							+input('客户编号', 'form-customer-code')(ng-model='shipment.customer_code' required)
							+input('客户姓名', 'form-customer-name')(ng-model='shipment.customer_name' required)
						tr
							+input('客户地址', 'form-address')(ng-model='shipment.address' required)
							+input('客户电话', 'form-customer-tel')(ng-model='shipment.customer_tel' required)
						tr
							+input('付款金额', 'form-amount')(ng-model='shipment.amount' required)
							+input('发货数量', 'form-shipped-qty')(ng-model='shipment.shipped_qty' required)
						tr
							+input('发货时间', 'sent_date')(ng-model='sent_date' uu-date-picker required)
							+yesno('是否有发票', 'form-has-invoice')(ng-model='shipment.has_invoice' required)
						tr
							+shipment-status('发货单状态', 'shipment-status')(ng-model='shipment.status', required)

					p.badge(style='margin-top: 10px;' ng-show='!shipment.details.length') 尚未添加任何商品
					.modal-lists(ng-show='shipment.details.length')
						table.uu-table
							+thead
								each th in ['商品编号', '商品名称', '商品数量', '是否赠品', '工具']
									th.nowrap=th
							tbody
								tr(ng-repeat='good in shipment.details')
									td(ng-bind='good.goods_code')
									td(ng-bind='good.goods_name')
									td(ng-bind='good.qty')
									td(ng-bind='good.is_gift | yesno')
									td.nowrap
										+tooltip('修改', 'top', 'editGood(good, giftForm)')
											+glyphicon('pencil') &nbsp;

										+tooltip('删除', 'top', 'removeGood($index)')
											+glyphicon('trash')

					.modal-footer
						button.btn.uu-btn.btn-primary(ng-click='saveProduct(shipmentForm)' ng-disabled='shipmentForm.processing') 保存
						button.btn.uu-btn(data-dismiss='modal') 取消

				div(uu-pane, title='添加商品')
					table.uu-table
						+thead
							each th in ['商品名称', '商品类型', '商品价格', '商品规格', '生产日期', '商品描述', '是否有效', '操作员', '工具']
								th.nowrap=th
						tbody
							tr(ng-repeat='good in goods')
								td(ng-bind='good.goods_name')
								td(ng-bind='good.goods_type | goodsType')
								td(ng-bind='good.goods_price')
								td(ng-bind='good.goods_unit')
								td(ng-bind='good.product_date')
								td(ng-bind='good.goods_desc')
								td(ng-bind='good.yn | valid')
								td(ng-bind='good.creator')
								td
									+tooltip('添加商品', 'top', 'addGoodToShipment(good, giftForm)')
										+glyphicon('plus')
					uu-pagination(records='goods.meta.recordsCount', per-page='goods.meta.pageSize' page='goods.meta.pageNo', model='subSearchModel', action='getCommdityList()')


//- 选择赠品Modal
+submodal('gift-form')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 选择赠品
	.modal-body
		form.form-horizontal(name='giftForm' novalidate ng-class='{sumitted: giftForm.$sumitted}')
			fieldset
				legend 商品详情
				table.form-table.form-table-single
					tr
						+input('数量', 'qty')(uu-num ng-model='shipmentTmpGood.qty' required)
					tr
						+select('选择赠品', 'selectGift')(ng-model='shipmentTmpGood.gift' required)
							+option('生日礼品', 0)
							+option('促销赠品', 1)

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveGoodToShipment(giftForm)') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 更改显示列
include ../../modules/table-ths.jade
