include ../../modules/mixins.jade

//- 搜索
include ../../modules/single-search.jade

//- 订单列表过滤条件
- var filterBy = {key: 'payStatus', filter: []}
- filterBy.filter.push({label: '所有', value: '""'})
- filterBy.filter.push({label: '已付费', value: 0})
- filterBy.filter.push({label: '未付费', value: 1})
+article-header-filter('payStatus', filterBy)

//- 订单列表
table.uu-table
	+theadplus('orders')(operation='工具', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='order in orders | filter:filterBy')
			td
				input(type='checkbox', ng-model="order.isChecked", ng-click='checkIsAllChecked("isAllChecked", orders, order)')
			td(ng-bind='order.customerName', ng-show='ths[0].isChecked')
			td(ng-show='ths[1].isChecked')
				+jslink('showOrder(order)')(ng-bind='order.orderSN')
			td(ng-bind='order.customerPhone', ng-show='ths[2].isChecked')
			td(ng-bind='order.province', ng-show='ths[3].isChecked')
			td(ng-bind='order.city', ng-show='ths[4].isChecked')
			td(ng-bind='order.orderType', ng-show='ths[5].isChecked')
			td(ng-bind='order.payStatus | payStatus', ng-show='ths[6].isChecked')
			td(ng-bind='order.checkStatus | checkStatus', ng-show='ths[7].isChecked')
			td(ng-bind='order.createTime', ng-show='ths[8].isChecked')
			td(ng-bind='order.contactTimes', ng-show='ths[9].isChecked')
			td
				+tooltip('修改', 'top', 'showOrder(order)')
					+glyphicon('pencil') &nbsp;

				+tooltip('发送消息', 'top')
					+glyphicon('comment')

uu-pagination(records='102', page='currentPage', model='searchModel', action='getOrders()')

//- 核实订单Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 查看订单
	.modal-body
		form.form-horizontal
			+order-details
			fieldset
				legend 订单
				table.uu-table
					+thead
						each th in ['订单编号', '客户姓名', '订单产品', '下单日期', '支付方式', '支付状态', '出生日期', '订单状态', '操作']
							th=th
					tbody
						tr
							td(ng-bind='currentOrder.orderSN')
							td(ng-bind='currentOrder.customerName')
							td(ng-bind='currentOrder.orderType')
							td(ng-bind='currentOrder.createTime')
							td(ng-bind='currentOrder.payWay')
							td(ng-bind='currentOrder.payStatus | payStatus')
							td(ng-bind='currentOrder.birthday')
							td(ng-bind='currentOrder.orderStatus')
							td
								+tooltip('拆分订单', 'top', 'splitOrder(currentOrder)')
									+glyphicon('pencil') &nbsp;

								+tooltip('共享订单', 'top')
									+glyphicon('send')

			fieldset(ng-show='currentOrder.isSplited')
				legend 发货单
				table.uu-table
					+thead
						each th in ['订单序号', '订单编号', '客户姓名', '详细地址', '产品名称', '构成物', '订购类型', '付款状态', '下单日期', '发货日期', '发货单号', '发货状态', '应付金额', '操作']
							th=th
					tbody
						tr(ng-repeat='(index, order) in currentOrder.splitedOrders')
							td(ng-bind='index + 1')
							td(ng-bind='order.orderSN')
							td(ng-bind='order.customerName')
							td(ng-bind='order.province + order.city')
							td(ng-bind='order.orderType')
							td(ng-bind='order.createTime')
							td(ng-bind='order.payWay')
							td(ng-bind='order.payStatus | payStatus')
							td(ng-bind='order.createTime')
							td(ng-bind='order.orderSN')
							td(ng-bind='order.sendStatus | payStatus')
							td(ng-bind='order.orderStatus')
							td(ng-bind='order.cost')
							td
								+tooltip('添加赠品', 'top', 'selectGift(currentOrder)')
									+glyphicon('plus')

			.modal-footer(ng-show='currentOrder.isSplited')
				button.btn.uu-btn.btn-primary(ng-click='saveOrder(currentOrder)') 保存
				button.btn.uu-btn(data-dismiss='modal') 取消


//- 选择赠品Modal
+submodal('select-gift')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 选择赠品
	.modal-body
		form.form-horizontal
			fieldset
				.form-group
					+select('选择赠品', 'selectGift')(ng-model='order.gift')
						+option('生日礼品', 0)
						+option('促销赠品', 1)
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveOrder(order.orderSN)') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 更改显示列
include ../../modules/table-ths.jade
