include ../../modules/mixins.jade

.criteria-bar
	form.form-inline(role='form')
		.form-group
			label(for='customer-scope') 查看范围
			select#customer-scope.form-control.input-sm(name='customerScope')
				+option('所有客户', 0)
				+option('潜在客户', 1)

		.btn.btn.uu-btn
			+tooltip('转移', 'top')
				+glyphicon('send')

		.btn.btn.uu-btn
			+tooltip('更多操作', 'top')
				+glyphicon('transfer')

.filter-bar
	.btn-group(data-toggle='buttons')
		label.btn.uu-btn.active
			input(checked, name='customer-type', type='radio')
			| 所有
		label.btn.uu-btn
			input(name='customer-type', type='radio')
			| 已付费
		label.btn.uu-btn
			input(name='customer-type', type='radio')
			| 未付费

- var ths = ['客户姓名', '订单编号', '客户电话', '所在省', '城市', '订购类型', '付款状态', '创建时间', '联系次数', '工具'];

table.uud-table
	thead
		tr
			each th in ths
				th=th
	tbody
		- fake = ['李四民', '20141020', '15006492314', '山东', '青岛', '年度', '已付费', '20141018', '1']
		- var i = 5
		while (--i > 0)
			tr
				each td in fake
					td=td
				td
					+tooltip('修改订单', 'left')
						+glyphicon('pencil')
							&nbsp;

					+tooltip('发送消息', 'right')
						+glyphicon('comment')
