include ../modules/mixins.jade
include ../modules/action-bar.jade

table.uu-table
	thead
		tr
			th
				.checkbox
					label
						input(type='checkbox', ng-model='isAllChecked', ng-init='isAllChecked=false' ng-click='toggleCheckAll()')
						| 全选
			each th in ['客户姓名', '订单编号', '客户电话', '所在省', '城市', '订购类型', '付款状态', '创建时间', '联系次数', '工具']
				th=th
	tbody
		tr(ng-repeat='order in orders')
			td
				input(type='checkbox', ng-model="order.isChecked", ng-click='checkIsAllChecked(order)')
			td(ng-bind='order.customerName')
			td
				+jslink('showOrder(order)')(ng-bind='order.orderSN')
			td(ng-bind='order.customerPhone')
			td(ng-bind='order.province')
			td(ng-bind='order.city')
			td(ng-bind='order.orderType')
			td(ng-bind='order.payStatus | payStatus')
			td(ng-bind='order.createTime')
			td(ng-bind='order.contactTimes')
			td
				+tooltip('修改', 'top', 'showOrder(order)')
					+glyphicon('pencil')
						&nbsp;

				+tooltip('发送消息', 'top')
					+glyphicon('comment')

uu-pagination(records='102', page='currentPage', model='searchModel', action='getOrders()')

script.
	(function() {$('.nav-menu').slideUp('fast'); })();	// no good
