include ../modules/mixins.jade

.wrapper
	//- Nav
	//----------------------------------------------------------------
	//- include ../modules/nav-header.jade

	//- Page Info
	//----------------------------------------------------------------
	include ../modules/page-info.jade

	//- .splitline
	.container

		//- Page Content
		//----------------------------------------------------------------
		.row
			.col-xs-2.left-sidebar
				include ../modules/left-sidebar.jade
			.col-xs-10.main
				include ../modules/action-bar.jade
				div(ui-view='')

	include ../modules/neworder.jade
