<div class="info-panel">
	<ul class="list-inline">
		<li uu-info-item label="目前签约代理数" value="12312312"></li>
		<li uu-info-item label="今日新增代理数" value="12312312"></li>
		<li uu-info-item label="今日销售总额" value="12312312"></li>
		<li uu-info-item label="今日新增客户人数" value="12312312"></li>
	</ul>
	<ul class="list-inline">
		<li uu-info-item label="历史销售总额" value="12312312"></li>
		<li uu-info-item label="历史新增客户人数" value="12312312"></li>
	</ul>
</div>

<form class="form form-horizontal form-small search-form" role="form" ng-submit="search('deposit')">
	<fieldset>
		<div class="col-xs-12">
			<div uu-field-wrap label="代理区域" l-col="2" r-col="3" name="f-area">
				<select name="area" id="f-area" ng-model="searchModel.area" class="form-control">
					<option value=""></option>
					<option value="0">全国</option>
					<option value="1">区域</option>
					<option value="2">代理商</option>
				</select>
			</div>

			<div uu-field-wrap label="搜索关键字" l-col="2" r-col="4" name="keyword">
				<input type="text" name="creater" id="keyword" ng-model="searchModel.keyword" class="form-control input-small">
			</div>

			<div uu-field-wrap label="时间区间" l-col="2" r-col="4" name="start-date">
				<div class="input-daterange input-group">
					<input type="text" class="input-sm form-control" uu-date-picker id="start-date" ng-model="searchModel.startDate" name="start" id="f-dateFrom">
					<span class="input-group-addon">-</span>
					<input type="text" class="input-sm form-control" uu-date-picker ng-model="searchModel.endDate" name="end">
				</div>
			</div>
			<div uu-field-wrap r-offset="2">
				<input type="submit" value="搜索" class="btn btn-default">
			</div>
		</div>
	</fieldset>
</form>

<table class="table table-bordered">
	<thead>
		<tr>
			<th colspan="2">全国活动数量</th>
			<th rowspan="2">活动间隔最长时间</th>
			<th>优惠码使用比率</th>
			<th colspan="3">全国区域沟通</th>
			<th rowspan="2">投诉总量</th>
			<th rowspan="2">销量比值</th>
			<th rowspan="2">全国销售总量</th>
			<th rowspan="2">全国销售总额</th>
			<th rowspan="2">评估结果</th>
		</tr>
		<tr>
			<th>销售活动</th>
			<th>培训活动</th>
			<th>沟通次数</th>
			<th>有效沟通次数</th>
			<th>实施情况</th>
		</tr>
	</thead>
</table>

<hr>
<div uu-tab class="col-xs-6">
	<div uu-pane title="季度">
	</div>
	<div uu-pane title="半年">
	</div>
	<div uu-pane title="年度">
	</div>
</div>

<div uu-tab class="col-xs-6">
	<table class="table table-bordered table-hover">
		<tr>
			<th></th>
			<th>半年</th>
			<th>一年</th>
			<th>季度</th>
			<th>周边产品</th>
		</tr>
		<tr>
			<th>订购数量</th>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>

