<div class="info-panel">
	<ul class="list-inline">
		<li uu-info-item label="今日佣金总数" value="12" unit="元"></li>
		<li uu-info-item label="今日结算代理商" value="13" unit="个"></li>
		<li uu-info-item label="今日结算佣金总数" value="12" unit="元"></li>
	</ul>
</div>

<form action="" class="search-form" ng-submit="search()">
	<div class="col-xs-5">
		<select name="filter" ng-model="model.filter" class="form-control">
			<option value="val1">条件一</option>
			<option value="val2">条件二</option>
			<option value="val3">条件三</option>
		</select>
	</div>
	<div class="col-xs-2 pull-right">
		<ul class="list-inline batch-btn-group ">
			<li><a href="">修改</a></li>
			<li class="split-pipe">|</li>
			<li><a href="">导出</a></li>
		</ul>
	</div>
</form>

<div class="result">
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>代理商编号</th>
				<th>姓名</th>
				<th>合同编号</th>
				<th>合同开始时间</th>
				<th>合同结束始时间</th>
				<th>佣金明细</th>
				<th>订单记录(/月)</th>
				<th>结算明细(/月)</th>
				<th>结算方式</th>
				<th>结算时间</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in result">
				<td>{{item.order_no}}</td>
				<td>{{item.type}}</td>
				<td>{{item.status}}</td>
				<td>{{item.result}}</td>
				<td>{{item.channel}}</td>
				<td>{{item.update_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
			</tr>
		</tbody>
	</table>
</div>
