<form class="form form-horizontal form-small" role="form" ng-submit="submit()">
	<div uu-tab>
		<div uu-pane title="准入">
				<div class="col-xs-8">
					<fieldset>
						<legend class="empty-legend"></legend>
						<div uu-input l-col="4" r-col="5" label="姓名" name="name" model="model.name"></div>
						<div uu-input l-col="4" r-col="5" label="身份证号" name="number" model="model.number"></div>
						<div uu-input l-col="4" r-col="5" label="执照" name="license" model="model.license"></div>

						<div class="form-group">
							<label class="col-xs-4 control-label" for="qualified">是否合格:</label>
							<div class="col-xs-4">
								<div class="radio-inline">
									<label><input type="radio" name="qualified" ng-model="model.qualified" value="true">是</label>
								</div>
								<div class="radio-inline">
									<label><input type="radio" name="qualified" ng-model="model.qualified" value="false">否</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-4 control-label">审核级别:</label>
							<div class="col-xs-8">
								<div class="checkbox-inline">
									<label><input type="checkbox" name="auditlevel" ng-model="model.rm" value="rm">区域经理</label>
								</div>
								<div class="checkbox-inline">
									<label><input type="checkbox" name="auditlevel" ng-model="model.dos" value="dos">销售总监</label>
								</div>
								<div class="checkbox-inline">
									<label><input type="checkbox" name="auditlevel" ng-model="model.cfo" value="cfo">财务总监</label>
								</div>
								<div class="checkbox-inline">
									<label><input type="checkbox" name="auditlevel" ng-model="model.gm" value="gm">总经理</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-xs-4 control-label">缴纳状态:</label>
							<div class="col-xs-8">
								<div class="radio-inline">
									<label><input type="radio" name="paystatus" ng-model="model.paystatus" value="all">全部到位</label>
								</div>
								<div class="radio-inline">
									<label><input type="radio" name="paystatus" ng-model="model.paystatus" value="batches">分批次缴纳</label>
								</div><br ng-if="model.paystatus=='others'"/>
								<div class="radio-inline">
									<label><input type="radio" name="paystatus" ng-model="model.paystatus" value="others">其它</label>
									<input ng-show="model.paystatus=='others'" ng-model="model.others" type="text"></div>
							</div>
						</div>

						<div uu-field-wrap l-col="4" r-col="5" label="保证金额度">
							<input type="text" class="form-control input-sm">
						</div>

						<div uu-field-wrap l-col="4" r-col="5" label="合同签署">
							<span uu-time-inicator datetime="2013-10-11"></span>
						</div>

						<div class="from-group">
							<div class="col-xs-8 submit-btns col-xs-offset-4">
								<input type="submit" class="btn btn-primary btn-sm" ng-click="model.type='entry';" value="提交">
							</div>
						</div>
					</fieldset>
				</div>
		</div>
		<div uu-pane title="退出">
			<div class="col-xs-8">
				<fieldset>
					<legend class="empty-legend"></legend>
					<div uu-input l-col="4" r-col="5" label="姓名" name="name" model="model.name"></div>
					<div uu-input l-col="4" r-col="5" label="身份证号" name="number" model="model.number"></div>
					<div uu-input l-col="4" r-col="5" label="执照" name="license" model="model.license"></div>
					
					<div uu-field-wrap l-col="4" r-col="8" label="合同签署">
						<div class="checkbox-inline">
							<label><input type="checkbox" name="auditlevel" ng-model="model.itend" value="itend">主动</label>
						</div>
						<div class="checkbox-inline">
							<label><input type="checkbox" name="auditlevel" ng-model="model.violation" value="violation">违规</label>
						</div>
						<div class="checkbox-inline">
							<label><input type="checkbox" name="auditlevel" ng-model="model.expire" value="expire">到期</label>
						</div>
						<div class="checkbox-inline">
							<label><input type="checkbox" name="auditlevel" ng-model="model.isDesc" value="explanation">说明</label>
							<input type="text" class="input-sm" model="model.desc" ng-if="model.isDesc">
						</div>
					</div>

					<div uu-field-wrap l-col="4" r-col="5" label="退出时间">
						<span uu-time-inicator datetime="2013-10-11"></span>
					</div>

					<fieldset>
						<legend >退出核实</legend>
						<div uu-field-wrap l-col="4" r-col="5" label="优惠码剩余" name="promoCode">
							<input type="number" class="form-control input-sm" name="promoCode">
						</div>
						<div uu-field-wrap r-col="8" r-offset="4">
							<div class="checkbox">
								<label><input type="checkbox" name="auditlevel" ng-model="model.isDesc" value="deposit">保证金审核无误</label>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<legend >财务清算</legend>
						<div uu-field-wrap l-col="4" r-col="5" label="佣金结算" name="commision">
							<input type="number" class="form-control input-sm" name="commision">
						</div>
						<div uu-field-wrap l-col="4" r-col="5" label="保证金" name="deposit">
							<input type="number" class="form-control input-sm" name="deposit">
						</div>
						<div uu-field-wrap l-col="4" r-col="5" label="其它" name="other">
							<input type="number" class="form-control input-sm" name="other">
						</div>
					</fieldset>

					<div class="from-group">
						<div class="col-xs-8 submit-btns col-xs-offset-4">
							<input type="submit" class="btn btn-primary btn-sm" ng-click="model.type='exit';" value="提交">
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</form>

<div class="result">
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>代理商编号</th>
				<th>姓名</th>
				<th>合同编号</th>
				<th>地域</th>
				<th>法人代表</th>
				<th>企业类型</th>
				<th>企业规模</th>
				<th>注册资金</th>
				<th>代理权限</th>
				<th>开始时间</th>
				<th>结束时间</th>
				<th>保证金缴纳情况</th>
				<th>联系方式</th>
				<th>地址</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in result">
				<td>{{item.order_no}}</td>
				<td>{{item.type}}</td>
				<td>{{item.status}}</td>
				<td>{{item.result}}</td>
				<td>{{item.channel}}</td>
				<td>{{item.update_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
			</tr>
		</tbody>
	</table>
</div>

