<div class="info-panel">
	<ul class="list-inline">
		<li><span class="key">目前签约代理数: </span><span class="val">{{statistics.accuAgentsCount}}</span></li>
		<li><span class="key">今日代理排名: </span><span class="val">{{statistics.salesAmount}}</span></li>
		<li><span class="key">今日销售总额: </span><span class="val">{{statistics.accuSalesAmount}}</span></li>
		<li><span class="key">历史销售总额: </span><span class="val">{{statistics.custermersCount}}</span></li>
	</ul>
	<ul class="list-inline">
		<li><span class="key">今日新增客户人数: </span><span class="val">{{statistics.accuCustermersCount}}</span></li>
		<li><span class="key">历史销售人数: </span><span class="val">{{statistics.sum_customer_history}}</span></li>
	</ul>
</div>

<div uu-simple-search placeholder="请输入代理商姓名 / 编号进行查询" ng-submit="search('agents')" model="searchModel.keyword"></div>

<div class="result" ng-show="result">
	<table class="table table-hover table-condensed table-bordered">
		<thead>
			<tr>
				<th>代理商编号</th>
				<th>姓名</th>
				<th>合同编号</th>
				<th>地域</th>
				<th>法人代表</th>
				<th>企业类型</th>
				<th>企业规模</th>
				<th>注册资金</th>
				<th>代理权限</th>
				<th>开始时间</th>
				<th>结束时间</th>
				<th>保证金缴纳情况</th>
				<th>联系方式</th>
				<th>地址</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in result">
				<td>{{item.code}}</td>
				<td>{{item.name}}</td>
				<td>{{item.contract_code}}</td>
				<td>{{item.area}}</td>
				<td>{{item.leal_person}}</td>
				<td>{{item.type}}</td>
				<td>{{item.company_size}}</td>
				<td>{{item.registered_capital}}</td>
				<td>{{item.grade}}</td>
				<td>{{item.begin_time}}</td>
				<td>{{item.end_time}}</td>
				<td>{{item.meet}}</td>
				<td>{{item.contact}}</td>
				<td>{{item.address}}</td>
				<td>{{item.remark}}</td>
			</tr>
		</tbody>
	</table>
</div>

