<div class="info-panel">
	<ul class="list-inline">
		<li uu-info-item label="今日总部发放" value="{{statistics.td_hq_sum}}"></li>
		<li uu-info-item label="今日代理商发放" value="{{statistics.td_agent_sum}}"></li>
		<li uu-info-item label="今日使用" value="{{statistics.td_consume}}"></li>
		<li uu-info-item label="剩余" value="{{statistics.remain}}"></li>
	</ul>
	<ul class="list-inline">
		<li uu-info-item label="总部累计发放" value="{{statistics.hq_sum}}"></li>
		<li uu-info-item label="代理商累计发放" value="{{statistics.agent_sum}}"></li>
	</ul>
</div>

<div uu-simple-search ng-submit="performSearch(type)" model="searchModel.keyword" ng-init="type='uudCouponcode'"></div>

<div uu-tab>
	<div uu-pane title="总部记录" action="updateSearchType('uudCouponcode')">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>时间</th>
					<th>今日申请</th>
					<th>今日配额</th>
					<th>累计优惠码总量</th>
					<th>今日发放</th>
					<th>今日实际订单数</th>
					<th>累计订单数</th>
					<th>使用率</th>
					<th>备注</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in uudResult">
					<td>{{item.GRANT_DATE}}</td>
					<td>{{item.APPLY_QTY}}</td>
					<td></td>
					<td>{{item.ACCU_QTY}}</td>
					<td>{{item.GRANT_QTY}}</td>
					<td>{{item.ORDER_QTY}}</td>
					<td>{{item.ACCU_ORDER_QTY}}</td>
					<td>{{item.USAGE_RATE}}</td>
					<td>{{item.remark}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div uu-pane title="代理商记录" action="updateSearchType('agentCouponcode')">
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>时间</th>
					<th>区域</th>
					<th>姓名</th>
					<th>代理级别</th>
					<th>今日申请</th>
					<th>今日配额</th>
					<th>累计优惠码总量</th>
					<th>今日发放</th>
					<th>今日实际订单数</th>
					<th>累计订单数</th>
					<th>使用率</th>
					<th>备注</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in agentResult">
					<td>{{item.order_no}}</td>
					<td>{{item.type}}</td>
					<td>{{item.status}}</td>
					<td>{{item.result}}</td>
					<td>{{item.channel}}</td>
					<td>{{item.channel}}</td>
					<td>{{item.update_time | date : "yyyy-MM-dd" }}</td>
					<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
					<td>{{item.refer}}</td>
					<td>{{item.refer}}</td>
					<td>{{item.creater}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
