<div ng-include src="'views/partial/agents/agent-tab.html'"></div>
<div class="info-panel">
	<ul class="list-inline">
		<li><span class="key">今日总部发放: </span><span class="val">{{order.sum}}</span></li>
		<li><span class="key">今日代理商发放: </span><span class="val">{{order.sum}}</span></li>
		<li><span class="key">今日使用: </span><span class="val">{{order.count_finished}}</span></li>
		<li><span class="key">剩余: </span><span class="val">{{order.count_finished}}</span></li>
	</ul>
	<ul class="list-inline">
		<li><span class="key">总部累计发放: </span><span class="val">{{order.sum}}</span></li>
		<li><span class="key">代理商累计发放: </span><span class="val">{{order.sum}}</span></li>
	</ul>
</div>
<form action="" class="search-form" ng-submit="search()">
	<div class="col-xs-5">
		<select name="filter" ng-model="model.filter" class="form-control">
			<option value="val1">条件一</option>
			<option value="val2">条件二</option>
			<option value="val3">条件三</option>
		</select>
	</div>
	<div class="col-xs-2 pull-right">
		<ul class="list-inline batch-btn-group ">
			<li><a href="">修改</a></li>
			<li class="split-pipe">|</li>
			<li><a href="">导出</a></li>
		</ul>
	</div>
</form>
<div class="bs-tabs">
	<ul class="nav nav-tabs">
		<li class="active"><a href="" data-toggle="tab" ng-click="tab='headquarters'" ng-init="tab='headquarters'">总部记录</a></li>
		<li class=""><a href="" data-toggle="tab" ng-click="tab='agents'">代理商记录</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane" ng-class="tab=='headquarters' ? 'active' : ''">
			<table class="table table-hover table-condensed ">
				<thead>
					<tr>
						<th>时间</th>
						<th>今日申请</th>
						<th>今日配额</th>
						<th>累计优惠码总量</th>
						<th>今日发放</th>
						<th>今日实际订单数</th>
						<th>累计订单数</th>
						<th>使用率</th>
						<th>备注</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in result">
						<td>{{item.order_no}}</td>
						<td>{{item.type}}</td>
						<td>{{item.status}}</td>
						<td>{{item.result}}</td>
						<td>{{item.channel}}</td>
						<td>{{item.update_time | date : "yyyy-MM-dd" }}</td>
						<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
						<td>{{item.refer}}</td>
						<td>{{item.creater}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="tab-pane" ng-class="tab=='agents' ? 'active' : ''">
			<table class="table table-hover table-condensed ">
				<thead>
					<tr>
						<th>时间</th>
						<th>区域</th>
						<th>姓名</th>
						<th>代理级别</th>
						<th>今日申请</th>
						<th>今日配额</th>
						<th>累计优惠码总量</th>
						<th>今日发放</th>
						<th>今日实际订单数</th>
						<th>累计订单数</th>
						<th>使用率</th>
						<th>备注</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in result">
						<td>{{item.order_no}}</td>
						<td>{{item.type}}</td>
						<td>{{item.status}}</td>
						<td>{{item.result}}</td>
						<td>{{item.channel}}</td>
						<td>{{item.channel}}</td>
						<td>{{item.update_time | date : "yyyy-MM-dd" }}</td>
						<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
						<td>{{item.refer}}</td>
						<td>{{item.refer}}</td>
						<td>{{item.creater}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="result">

</div>

