<div class="info-panel">
	<ul class="list-inline">
		<li uu-info-item label="目前排名" value="{{statistics.agentGrade}}"></li>
		<li uu-info-item label="历史排名" value="{{statistics.history}}"></li>
		<li uu-info-item label="时间" value="{{date | date : 'yyyy-MM-dd' }}"></li>
	</ul>
</div>

<div uu-simple-search placeholder="请输入代理商姓名" ng-submit="search('rank')" model="searchModel.keyword"></div>

<div class="result" ng-show="result">
	<table class="table table-hover table-condensed table-bordered">
		<thead>
			<tr>
				<th>排名</th>
				<th>姓名</th>
				<th>性别</th>
				<th>保证金</th>
				<th>代理级别</th>
				<th>代理期限</th>
				<th>开始时间</th>
				<th>到期时间</th>
				<th>联系电话</th>
				<th>地址</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in result">
				<td>{{item.agent_rank}}</td>
				<td>{{item.agent_name}}</td>
				<td>{{item.agent_gender}}</td>
				<td>{{item.cash_deposit}}</td>
				<td>{{item.grade}}</td>
				<td>{{item.agent_duration}}</td>
				<td>{{item.begin_time}}</td>
				<td>{{item.end_time}}</td>
				<td>{{item.contact}}</td>
				<td>{{item.address}}</td>
			</tr>
		</tbody>
	</table>
</div>

