
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="新建返利商品" ng-click="newProduct(productNewForm)"><span class="glyphicon glyphicon-plus"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="站内提醒" ui-sref="root.utils.message"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="群发信息" ui-sref="root.utils.batchmsg"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.date" class="input-group">
      <label for="form-date-time" class="input-group-addon">时间</label>
      <input id="form-date-time" class="form-control input-sm" ng-show="searchModel.filter.date" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.endTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.addr" class="input-group">
      <div ng-show="searchModel.filter.addr" ng-province-model="searchModel.addr.province" ng-city-model="searchModel.addr.city" ng-area-model="searchModel.addr.district" class="uu-city-select"></div>
    </div>
    <div ng-click="search()" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<div d-check="products">
  <table class="uu-table">
    <thead>
      <tr ng-dblclick="chooseTh('table-cols')">
        <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)" class="nowrap">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
          <ul ng-if="th.filters" role="menu" class="dropdown-menu">
            <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
          </ul>
        </th>
        <th class="nowrap">工具</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in products" ng-dblclick="editProduct(product.product_code)">
        <td ng-bind="product.rebateNo" ng-show="ths[0].isChecked"></td>
        <td ng-bind="product.rebateType | mapper:&quot;rebateType&quot;" ng-show="ths[1].isChecked"></td>
        <td ng-bind="product.rebateName" ng-show="ths[2].isChecked"></td>
        <td ng-bind="product.amount" ng-show="ths[3].isChecked"></td>
        <td ng-bind="product.rebateDesc" ng-show="ths[4].isChecked"></td>
        <td ng-bind="product.operator" ng-show="ths[5].isChecked"></td>
        <td ng-bind="product.yn | valid" ng-show="ths[6].isChecked"></td>
        <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="修改" ng-click="editProduct(product)"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>
      </tr>
    </tbody>
  </table>
  <uu-pagination records="products.meta.recordsCount" per-page="products.meta.pageSize" page="products.meta.pageNo" model="searchModel" action="getProductList()"></uu-pagination>
</div>
<div id="product-form" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">新建返利商品</h4>
      </div>
      <div class="modal-body">
        <form name="productNewForm" novalidate="novalidate" ng-class="{sumitted: productNewForm.$sumitted}" class="form-horizontal">
          <fieldset>
            <legend>商品详情</legend>
            <table class="form-table">
              <tr>
                <th class="form-th">
                  <label for="form-rebateNo" class="form-th-label">商品编号</label>
                </th>
                <td class="form-td">
                  <input id="form-rebateNo" class="form-control input-sm" ng-model="product.rebateNo" required="required"/>
                </td>
                <th class="form-th">
                  <label for="form-rebateType" class="form-th-label">一阶产品返利</label>
                </th>
                <td class="form-td">
                  <select id="form-rebateType" class="form-control input-sm" ng-model="product.rebateType" required="required">
                    <option value="1">一阶产品</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-rebateName" class="form-th-label">商品名称</label>
                </th>
                <td class="form-td">
                  <input id="form-rebateName" class="form-control input-sm" ng-model="product.rebateName" required="required"/>
                </td>
                <th class="form-th">
                  <label for="form-amount" class="form-th-label">产品金额</label>
                </th>
                <td class="form-td">
                  <input id="form-amount" class="form-control input-sm" uu-float="uu-float" ng-model="product.amount" required="required"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-rebateDesc" class="form-th-label">商品描述</label>
                </th>
                <td class="form-td">
                  <input id="form-rebateDesc" class="form-control input-sm" ng-model="product.rebateDesc"/>
                </td>
                <th class="form-th">
                  <label for="form-is-valid" class="form-th-label">是否有效</label>
                </th>
                <td class="form-td">
                  <select id="form-is-valid" class="form-control input-sm" ng-model="product.yn">
                    <option value="1">是</option>
                    <option value="0">否</option>
                  </select>
                </td>
              </tr>
            </table>
            <div class="modal-footer">
              <button ng-click="saveProduct(productNewForm)" ng-disabled="productNewForm.processing" class="btn uu-btn btn-primary">保存</button>
              <button data-dismiss="modal" class="btn uu-btn">取消</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="product-update-form" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">修改返利商品</h4>
      </div>
      <div class="modal-body">
        <form name="productDetailsForm" novalidate="novalidate" ng-class="{sumitted: productDetailsForm.$sumitted}" class="form-horizontal">
          <fieldset>
            <legend>商品详情</legend>
            <table class="form-table">
              <tr>
                <th class="form-th">
                  <label class="form-th-label">商品编号</label>
                </th>
                <td colspan="rebateNo" class="form-td">
                  <p class="form-control-static" ng-bind="product.rebateNo"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">一阶产品返利</label>
                </th>
                <td colspan="rebateType" class="form-td">
                  <p class="form-control-static" ng-bind="product.rebateType | mapper:&quot;rebateType&quot;"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">商品名称</label>
                </th>
                <td colspan="rebateName" class="form-td">
                  <p class="form-control-static" ng-bind="product.rebateName"></p>
                </td>
                <th class="form-th">
                  <label for="form-amount" class="form-th-label">产品金额</label>
                </th>
                <td class="form-td">
                  <input id="form-amount" class="form-control input-sm" ng-model="product.amount" required="required"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-rebateDesc" class="form-th-label">商品描述</label>
                </th>
                <td class="form-td">
                  <input id="form-rebateDesc" class="form-control input-sm" ng-model="product.rebateDesc" required="required"/>
                </td>
                <th class="form-th">
                  <label class="form-th-label">是否有效</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="product.yn | yesno"></p>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="updateProduct(productDetailsForm)" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>