<div class="info-panel">
	<ul class="list-inline">
		<li uu-info-item label="今日订单总数" value="{{statistics.todayAmount}}"></li>
		<li uu-info-item label="今日订单总额" value="{{statistics.accuAmount}}"></li>
		<li uu-info-item label="累计订单总数" value="{{statistics.accuSalesAmount}}"></li>
		<li uu-info-item label="累计销售总额" value="{{statistics.salesAmount}}"></li>
	</ul>
</div>

<div uu-simple-search ng-submit="search('sales')" model="searchModel.keyword"></div>

<div class="result">
	<table class="table table-hover table-condensed ">
		<thead>
			<tr>
				<th>区域及代理商信息</th>
				<th>家长姓名</th>
				<th>性别</th>
				<th>宝宝姓名</th>
				<th>性别</th>
				<th>订购详情</th>
				<th>是否使用优惠码</th>
				<th>付款方式</th>
				<th>联系方式</th>
				<th>地址</th>
				<th>发货记录</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in result">
				<td>{{item.order_no}}</td>
				<td>{{item.type}}</td>
				<td>{{item.status}}</td>
				<td>{{item.result}}</td>
				<td>{{item.channel}}</td>
				<td>{{item.update_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.refer}}</td>
				<td>{{item.creater}}</td>
				<td>{{item.creater}}</td>
				<td>{{item.creater}}</td>
			</tr>
		</tbody>
	</table>
</div>

