<div uu-info-panel>
	<div uu-info-tab>
		<li uu-info-item label="今日销售活动" value="12" unit="场"></li>
		<li uu-info-item label="累计销售活动" value="12" unit="场"></li>
	</div>
</div>

<form action="" class="search-form" ng-submit="search()">
	<div class="col-xs-5">
		<select name="filter" ng-model="model.filter" class="form-control">
			<option value="val1">条件一</option>
			<option value="val2">条件二</option>
			<option value="val3">条件三</option>
		</select>
	</div>
	<div class="col-xs-2 pull-right">
		<ul class="list-inline batch-btn-group ">
			<li><a href="">修改</a></li>
			<li class="split-pipe">|</li>
			<li><a href="">导出</a></li>
		</ul>
	</div>
</form>

<div uu-tab>
	<div uu-pane title="销售活动记录：月度/季度/年度">
		<form class="form form-horizontal form-small search-form" role="form" ng-submit="search('deposit')">
			<div class="col-xs-10">
				<fieldset>
					<div uu-field-wrap label="查询" l-col="2" r-col="5" search-btn="true" name="start-date">
						<div class="input-daterange input-group">
							<input type="text" class="input-sm form-control" uu-date-picker id="start-date" ng-model="searchModel.startDate" name="start" id="f-dateFrom">
							<span class="input-group-addon">-</span>
							<input type="text" class="input-sm form-control" uu-date-picker ng-model="searchModel.endDate" name="end">
						</div>
					</div>
				</fieldset>
			</div>
		</form>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>代理商编号</th>
					<th>姓名</th>
					<th>地域</th>
					<th>预计活动场次</th>
					<th>购买资料</th>
					<th>优惠码</th>
					<th>实际活动场次</th>
					<th>资料消耗</th>
					<th>优惠码</th>
					<th>活动记录</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in result">
					<td>{{item.order_no}}</td>
					<td>{{item.type}}</td>
					<td>{{item.status}}</td>
					<td>{{item.result}}</td>
					<td>{{item.channel}}</td>
					<td>{{item.update_time | date : "yyyy-MM-dd" }}</td>
					<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
					<td>{{item.refer}}</td>
					<td>{{item.creater}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div uu-pane title="培训活动记录：月度/季度/年度">
		<form class="form form-horizontal form-small search-form" role="form" ng-submit="search('deposit')">
			<div class="col-xs-10">
				<fieldset>
					<div uu-field-wrap label="查询" l-col="2" r-col="5" search-btn="true" name="start-date">
						<div class="input-daterange input-group">
							<input type="text" class="input-sm form-control" uu-date-picker id="start-date" ng-model="searchModel.startDate" name="start" id="f-dateFrom">
							<span class="input-group-addon">-</span>
							<input type="text" class="input-sm form-control" uu-date-picker ng-model="searchModel.endDate" name="end">
						</div>
					</div>
				</fieldset>
			</div>
		</form>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>代理商编号</th>
					<th>姓名</th>
					<th>地域</th>
					<th>申请培训次数</th>
					<th>讲师</th>
					<th>购买资料</th>
					<th>活动记录</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in result">
					<td>{{item.order_no}}</td>
					<td>{{item.type}}</td>
					<td>{{item.status}}</td>
					<td>{{item.result}}</td>
					<td>{{item.channel}}</td>
					<td>{{item.channel}}</td>
					<td>{{item.update_time | date : "yyyy-MM-dd" }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
