<ul class="action-group list-inline">
	<li uu-auth-filter="1" >
		<a ui-sref="root.agents.list" ng-class="{active: $state.is('root.agents.list')}" class="action-item">代理商名单</a>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle action-item" ng-class="{active: $state.is('root.agents.entryexit') || $state.is('root.agents.commissionmanager') || $state.is('root.agents.contractmanager') || $state.is('root.agents.financemanager') || $state.is('root.agents.locationpromo') || $state.is('root.agents.selling') || $state.is('root.agents.assessment') || $state.is('root.agents.list') }" data-toggle="dropdown">
			代理商名单 <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><a ui-sref="root.agents.entryexit" class="ng-binding">准入与退出</a></li>
			<li><a ui-sref="root.agents.contractmanager" class="ng-binding">合同管理</a></li>
			<li><a ui-sref="root.agents.financemanager" class="ng-binding">财务管理</a></li>
			<li><a ui-sref="root.agents.commissionmanager" class="ng-binding">佣金结算</a></li>
			<li><a ui-sref="root.agents.locationpromo" class="ng-binding">地域及优惠码</a></li>
			<li><a ui-sref="root.agents.selling" class="ng-binding">销售活动</a></li>
			<li><a ui-sref="root.agents.assessment" class="ng-binding">评估管理</a></li>
		</ul>
	</li>
	<li>
		<a ui-sref="root.agents.rank" ng-class="{active: $state.is('root.agents.rank')}" class="action-item">代理商排名</a>
	</li>
	<li>
		<a ui-sref="root.agents.promocode" ng-class="{active: $state.is('root.agents.promocode')}" class="action-item">优惠码记录</a>
	</li>
	<li >
		<a ui-sref="root.agents.sales" ng-class="{active: $state.is('root.agents.sales')}" class="action-item">销售记录</a>
	</li>
</ul>

<div ui-view></div>
