<div uu-action-item label="添加角色" target="#uumodal" ng-click="new(roleForm)"></div>

<div uu-alert level="{{alertLevel}}" msg="{{alertMsg}}"></div>

<div uu-simple-search placeholder="请输入角色名" fieldtitle="角色搜索" ng-submit="reloadSearch()" model="searchModel.roleName"></div>

<div class="row container" ng-if="result.recordsCount">
	<div uu-pagination records="result.recordsCount" page="page" action="search()" model="searchModel.pagination"></div>
	<table class="table table-bordered table-striped">
		<tr>
			<th>角色名</th>
			<th>操作</th>
		</tr>
		<tr ng-repeat="role in result.records">
			<td>{{role.roleName}}</td>
			<td>
				<ul class="list-inline">
					<li><a href="" ng-click="modify(role)" data-toggle="modal" data-target="#uumodal">修改</a></li>
					<li><a href="" ng-click="editPrivilege(role)" data-toggle="modal" data-target="#rolePrivilege">修改权限</a></li>
					<li><a title="确定删除吗？" confirm="delete(role, $index)" text="请确定您的操作，删除将无法撤销!" uu-confirm label="删除"></a></li>
				</ul>
			</td>
		</tr>
	</table>
</div>

<div class="modal fade" id="uumodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<form action="" class="form form-horizontal form-small" name="roleForm">
					<fieldset>
						<div class="form-group" ng-class="{ 'has-error' : roleForm.rolename.$invalid && (!roleForm.rolename.$pristine || submitted) }">
							<label class="control-label col-xs-3" for="rolename">角色名:</label>
							<div class="col-xs-5">
								<input type="text" class="input-sm form-control" required ng-model="model.roleName" name="rolename" id="rolename">
							</div>
							<div class="col-xs-4">
								<p ng-show="roleForm.rolename.$invalid && (!roleForm.rolename.$pristine || submitted)" class="help-block">请输入角色.</p>
							</div>
						</div>

						<div class="form-group" ng-class="{ 'has-error' : roleForm.groupName.$invalid && (!roleForm.groupName.$pristine || submitted) }">
							<label class="col-xs-3 control-label" for="type">角色组: </label>
							<div class="col-xs-5">
								<select ng-model="model.groupId" name="groupName" class="form-control" required ng-options="group.id as group.name for group in groups"></select>
							</div>
							<div class="col-xs-4">
								<p ng-show="roleForm.groupName.$invalid && (!roleForm.groupName.$pristine || submitted)" class="help-block">请选择角色组.</p>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" ng-if="modalType=='add'" ng-click="add(model, roleForm.$valid)" class="btn btn-primary">添加</button>
				<button type="button" ng-if="modalType=='edit'" ng-click="save(model, roleForm.$valid)" class="btn btn-primary">保存</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="rolePrivilege" ng-if="privilegeModalTitle">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{privilegeModalTitle}}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-11 col-xs-offset-1">
						<h4>角色权限</h4>
						<ul id="priv-tree" class="ztree"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" ng-click="savePrivilege()" class="btn btn-primary">保存</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
