<!-- nav tab begin-->
<ul class="nav nav-tabs">
	<li class="active"><a href="#" class="title">{{actions.title}}</a></li>
</ul>
<ul class="action-group list-inline">
	<li ng-repeat="item in actions.main" ng-class="item.submenu ? 'dropdown' : ''">
		<a ng-if="!item.submenu" href="#/{{item.url}}" class="action-item">{{item.title}}</a>
		<a ng-if="item.submenu"  class="dropdown-toggle action-item" data-toggle="dropdown">{{item.title}}<b class="caret"></b></a>
		<ul ng-if="item.submenu" class="dropdown-menu">
			<li ng-repeat="subitem in item.submenu"><a href="#/{{item.url}}/{{subitem.url}}">{{subitem.title}}</a></li>
		</ul>
	</li>
</ul>
<!-- nav tab end-->
