
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="新建库房" ng-click="newWarehouse(warehouseForm)"><span class="glyphicon glyphicon-plus"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" ui-sref="root.utils.message" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="站内提醒"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" ui-sref="root.utils.batchmsg" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="群发信息"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.date" class="input-group">
      <label for="form-date-time" class="input-group-addon">时间</label>
      <input id="form-date-time" class="form-control input-sm" ng-show="searchModel.filter.date" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" min-view="1" format="yyyy-mm-dd hh:00"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.endTime" uu-date-picker="uu-date-picker" min-view="1" format="yyyy-mm-dd hh:00"/>
    </div>
    <div ng-click="search()" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<table ng-show="warehouses" class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)" class="nowrap">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th class="nowrap">工具</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="warehouse in warehouses" ng-dblclick="editWarehouse(warehouse.warehouse_code)">
      <td ng-bind="warehouse.warehouse_code" ng-show="ths[0].isChecked"></td>
      <td ng-bind="warehouse.warehouse_name" ng-show="ths[1].isChecked"></td>
      <td ng-bind="warehouse.address" ng-show="ths[2].isChecked"></td>
      <td ng-bind="warehouse.type | mapper:&quot;warehouse&quot;" ng-show="ths[3].isChecked"></td>
      <td ng-bind="warehouse.creator" ng-show="ths[4].isChecked"></td>
      <td ng-bind="warehouse.create_time" ng-show="ths[5].isChecked"></td>
      <td ng-bind="warehouse.updater" ng-show="ths[6].isChecked"></td>
      <td ng-bind="warehouse.update_time" ng-show="ths[7].isChecked"></td>
      <td ng-bind="warehouse.yn | valid" ng-show="ths[7].isChecked"></td>
      <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="editWarehouse(warehouse.warehouse_code)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="复制新增" ng-click="editWarehouse(warehouse.warehouse_code, true)"><span class="glyphicon glyphicon-file"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<uu-pagination records="warehouses.meta.recordsCount" per-page="warehouses.meta.pageSize" page="warehouses.meta.pageNo" model="searchModel" action="getWarehouseList()"></uu-pagination>
<div id="warehouse-form" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 ng-bind="warehouseFormTitle" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form name="warehouseForm" novalidate="novalidate" ng-class="{sumitted: warehouseForm.$sumitted}" class="form-horizontal">
          <table class="form-table">
            <tr>
              <th class="form-th">
                <label for="form-warehouse_code" class="form-th-label">库房编号</label>
              </th>
              <td class="form-td">
                <input id="form-warehouse_code" class="form-control input-sm" ng-model="warehouse.warehouse_code" required="required"/>
              </td>
              <th class="form-th">
                <label for="form-warehouse_name" class="form-th-label">库房名称</label>
              </th>
              <td class="form-td">
                <input id="form-warehouse_name" class="form-control input-sm" ng-model="warehouse.warehouse_name" required="required"/>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label for="form-warehouse_type" class="form-th-label">库房类型</label>
              </th>
              <td class="form-td">
                <select id="form-warehouse_type" class="form-control input-sm" ng-model="warehouse.type" required="required">
                  <option value="1">主库</option>
                  <option value="2">备库</option>
                </select>
              </td>
              <th class="form-th">
                <label for="form-is-valid" class="form-th-label">是否有效</label>
              </th>
              <td class="form-td">
                <select id="form-is-valid" class="form-control input-sm" ng-model="warehouse.yn" required="required">
                  <option value="1">是</option>
                  <option value="0">否</option>
                </select>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label for="form-warehouse_address" class="form-th-label">库房地址</label>
              </th>
              <td colspan="3" class="form-td">
                <input id="form-warehouse_address" class="form-control input-sm" ng-model="warehouse.warehouse_address" required="required"/>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="saveWarehouse(warehouseForm)" ng-disabled="warehouseForm.processing" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>