
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" ui-sref="root.utils.message"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" ui-sref="root.utils.batchmsg"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <th class="form-th">
      <label for="form-form-warehouse" class="form-th-label"></label>
    </th>
    <td class="form-td">
      <select id="form-form-warehouse" class="form-control input-sm" ng-model="searchModel.warehouseFilter" ng-options="warehouse.warehouse_code as warehouse.warehouse_name for warehouse in warehouses" required="required">
      </select>
    </td>
    <div class="input-group">
      <label for="form-product-code" class="input-group-addon">商品编号</label>
      <input id="form-product-code" class="form-control input-sm" ng-model="searchModel.productFilter"/>
    </div>
    <div ng-click="search(searchModel.warehouseFilter)" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<table class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)" class="nowrap">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="audit in audits">
      <td ng-bind="audit.warehouse" ng-show="ths[0].isChecked"></td>
      <td ng-bind="audit.warehouse_name" ng-show="ths[1].isChecked"></td>
      <td ng-bind="audit.goods_code" ng-show="ths[2].isChecked"></td>
      <td ng-bind="audit.goods_name" ng-show="ths[3].isChecked"></td>
      <td ng-bind="audit.goods_qty" ng-show="ths[4].isChecked"></td>
      <td ng-bind="audit.code" ng-show="ths[5].isChecked"></td>
      <td ng-bind="audit.type | mapper:&quot;putin&quot;" ng-show="ths[6].isChecked"></td>
      <td ng-bind="audit.create_time" ng-show="ths[7].isChecked"></td>
      <td ng-bind="audit.creator" ng-show="ths[8].isChecked"></td>
      <td ng-bind="audit.update_time" ng-show="ths[8].isChecked"></td>
      <td ng-bind="audit.updater" ng-show="ths[9].isChecked"></td>
    </tr>
  </tbody>
</table>
<uu-pagination records="audits.meta.recordsCount" per-page="audits.meta.pageSize" page="audits.meta.pageNo" model="searchModel" action="getAuditList()"></uu-pagination>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>