
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="新建"><span class="glyphicon glyphicon-plus"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="" ng-click="globalNewOrder()" class="jslink">新建订单</a>
        </li>
        <li><a href="" ng-click="globalNewTicket()" class="jslink">新建工单</a>
        </li>
      </ul>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="过滤条件" class="dropdown-toggle"><span class="glyphicon glyphicon-filter"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="">本月处理订单</a></li>
        <li><a href="">当日处理订单</a></li>
        <li><a href="">当日未处理订单</a></li>
        <li><a href="">当日完结订单</a></li>
        <li><a href="">预约客户订单</a></li>
      </ul>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" ui-sref="root.utils.message" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="站内提醒"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" ui-sref="root.utils.batchmsg" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="群发信息"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<table class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in products">
      <td ng-bind="product.type" ng-show="ths[0].isChecked"></td>
      <td ng-bind="product.name" ng-show="ths[1].isChecked"></td>
      <td ng-bind="product.content" ng-show="ths[2].isChecked"></td>
      <td ng-bind="product.sku" ng-show="ths[3].isChecked"></td>
      <td ng-bind="product.minSKU" ng-show="ths[4].isChecked"></td>
      <td ng-bind="product.SN" ng-show="ths[5].isChecked"></td>
      <td ng-bind="product.location" ng-show="ths[6].isChecked"></td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="调库" ng-click="getProducts(product)"><span class="glyphicon glyphicon-earphone">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="补库" ng-click="fillProducts(product)"><span class="glyphicon glyphicon-compressed"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<div id="order-details" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 ng-bind="order.topic" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <legend>基本信息</legend>
            <div class="form-group col-xs-6">
              <th class="form-th">
                <label class="form-th-label">主题</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.topic"></p>
              </td>
            </div>
            <div class="form-group col-xs-6">
              <th class="form-th">
                <label for="form-order" class="form-th-label">出货仓库</label>
              </th>
              <td class="form-td">
                <input id="form-order" class="form-control input-sm" ng-model="order.order"/>
              </td>
            </div>
            <div class="form-group col-xs-6">
              <th class="form-th">
                <label for="form-sex" class="form-th-label">入货仓库</label>
              </th>
              <td class="form-td">
                <select id="form-sex" class="form-control input-sm" ng-model="order.gender">
                </select>
              </td>
            </div>
            <div class="form-group col-xs-6">
              <th class="form-th">
                <label for="form-good" class="form-th-label">调拨日期</label>
              </th>
              <td class="form-td">
                <input id="form-good" class="form-control input-sm" ng-model="order.good" uu-date-picker="uu-date-picker"/>
              </td>
            </div>
            <div class="form-group col-xs-6">
              <th class="form-th">
                <label for="form-telphone" class="form-th-label">产品名称</label>
              </th>
              <td class="form-td">
                <select id="form-telphone" class="form-control input-sm" ng-model="order.telphone">
                  <option value="0">产品1</option>
                  <option value="1">产品2</option>
                  <option value="2">产品3</option>
                </select>
              </td>
            </div>
            <div class="form-group col-xs-6">
              <th class="form-th">
                <label for="form-startDate" class="form-th-label">产品数量</label>
              </th>
              <td class="form-td">
                <input id="form-startDate" class="form-control input-sm" ng-model="order.startDate"/>
              </td>
            </div>
            <div class="form-group col-xs-6">
              <th class="form-th">
                <label class="form-th-label">创建人</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.childName"></p>
              </td>
            </div>
            <div class="form-group col-xs-6">
              <th class="form-th">
                <label class="form-th-label">创建时间</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.createTime"></p>
              </td>
            </div>
            <div class="form-group col-xs-6">
              <th class="form-th">
                <label class="form-th-label">修改时间</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.updatedTime"></p>
              </td>
            </div>
            <div class="form-group col-xs-6">
              <th class="form-th">
                <label for="form-payway" class="form-th-label">审批人</label>
              </th>
              <td class="form-td">
                <input id="form-payway" class="form-control input-sm" ng-model="order.payway"/>
              </td>
            </div>
            <div class="form-group col-xs-6">
              <th class="form-th">
                <label for="form-status" class="form-th-label">状态</label>
              </th>
              <td class="form-td">
                <select id="form-status" class="form-control input-sm" ng-model="order.status">
                  <option value="0" ng-if="order.topic==='调库'">未调拨</option>
                  <option value="1" ng-if="order.topic==='调库'">已调拨</option>
                  <option value="2" ng-if="order.topic==='补库'">未补仓</option>
                  <option value="3" ng-if="order.topic==='补库'">已补仓</option>
                </select>
              </td>
            </div>
            <div class="form-group col-xs-6">
              <th class="form-th">
                <label for="form-pay-status" class="form-th-label">审批状态</label>
              </th>
              <td class="form-td">
                <select id="form-pay-status" class="form-control input-sm" ng-model="order.payStatus">
                  <option value="0">待审批</option>
                  <option value="1">审批通过</option>
                </select>
              </td>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="save()" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>