
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="新建"><span class="glyphicon glyphicon-plus"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="" ng-click="globalNewOrder()" class="jslink">新建订单</a>
        </li>
        <li><a href="" ng-click="globalNewTicket()" class="jslink">新建工单</a>
        </li>
      </ul>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="过滤条件" class="dropdown-toggle"><span class="glyphicon glyphicon-filter"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="">本月处理订单</a></li>
        <li><a href="">当日处理订单</a></li>
        <li><a href="">当日未处理订单</a></li>
        <li><a href="">当日完结订单</a></li>
        <li><a href="">预约客户订单</a></li>
      </ul>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" ui-sref="root.utils.message" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="站内提醒"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" ui-sref="root.utils.batchmsg" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="群发信息"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.date" class="input-group">
      <label for="form-date-time" class="input-group-addon">时间</label>
      <input id="form-date-time" class="form-control input-sm" ng-show="searchModel.filter.date" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" min-view="1" format="yyyy-mm-dd hh:00"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" min-view="1" format="yyyy-mm-dd hh:00"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.endTime" uu-date-picker="uu-date-picker" min-view="1" format="yyyy-mm-dd hh:00"/>
    </div>
    <div class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<div class="article-header-filter">
  <form role="form" class="form-inline">
    <div data-toggle="buttons" class="btn-group">
      <label ng-click="searchModel.paid='&quot;&quot;'" ng-init="searchModel.paid='&quot;&quot;'" class="btn uu-btn active">
        <input checked="checked" type="radio"/>所有
      </label>
      <label ng-click="searchModel.paid='1'" class="btn uu-btn">
        <input type="radio"/>已付费
      </label>
      <label ng-click="searchModel.paid='0'" class="btn uu-btn">
        <input type="radio"/>未付费
      </label>
    </div>
  </form>
</div>
<div class="article-header-filter">
  <form role="form" class="form-inline">
    <div data-toggle="buttons" class="btn-group">
      <label ng-click="searchModal.payStatus='&quot;&quot;'" ng-init="searchModal.payStatus='&quot;&quot;'" class="btn uu-btn active">
        <input checked="checked" type="radio"/>今天
      </label>
      <label ng-click="searchModal.payStatus='0'" class="btn uu-btn">
        <input type="radio"/>昨天
      </label>
      <label ng-click="searchModal.payStatus='1'" class="btn uu-btn">
        <input type="radio"/>前天
      </label>
      <label ng-click="searchModal.payStatus='1'" class="btn uu-btn">
        <input type="radio"/>近3天
      </label>
      <label ng-click="searchModal.payStatus='1'" class="btn uu-btn">
        <input type="radio"/>近7天
      </label>
      <label ng-click="searchModal.payStatus='1'" class="btn uu-btn">
        <input type="radio"/>近30天
      </label>
    </div>
  </form>
</div>
<table ng-show="orders.length" class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)" class="nowrap">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders">
      <td ng-bind="order.customer.name" ng-show="ths[0].isChecked"></td>
      <td ng-bind="order.customer.sex | gender" ng-show="ths[1].isChecked"></td>
      <td ng-show="ths[2].isChecked"><span ng-bind="order.customer.phone" style="padding-right: 8px;"></span><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="播放" ng-click="playVoice()" ng-show="order.customer.phone"><span class="glyphicon glyphicon-volume-up"></span></a>
      </td>
      <td ng-show="ths[3].isChecked"><a href="" ng-click="showOrder(order)" ng-bind="order.order_no" class="jslink"></a>
      </td>
      <td ng-bind="order.order_name" ng-show="ths[4].isChecked"></td>
      <td ng-bind="order.customer.city" ng-show="ths[5].isChecked"></td>
      <td ng-bind="order.customer.address" ng-show="ths[6].isChecked"></td>
      <td ng-bind="order.alipay" ng-show="ths[7].isChecked"></td>
      <td ng-bind="order.create_time" ng-show="ths[8].isChecked"></td>
      <td ng-bind="order.status | orderStatus" ng-show="ths[9].isChecked"></td>
      <td ng-bind="order.order_type | orderType" ng-show="ths[10].isChecked"></td>
      <td ng-bind="order.payment | payment" ng-show="ths[11].isChecked"></td>
      <td ng-bind="order.paid | payStatus" ng-show="ths[12].isChecked"></td>
      <td ng-bind="order.sumAmount" ng-show="ths[13].isChecked"></td>
      <td ng-bind="order.order_details" ng-show="ths[14].isChecked"></td>
      <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="update(employee)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="导出" ng-click="export()"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<uu-pagination records="orders.meta.recordsCount" per-page="{{orders.meta.pageSize}}" page="orders.meta.pageNo" model="searchModel" action="getOrderList()"></uu-pagination>
<div id="order-details" class="modal fade">
  <div class="modal-dialog modal-xg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">核实订单</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset uu-form-field="isCustometInfoEditable">
            <legend>基本信息</legend>
            <table class="form-table">
              <tr>
                <th class="form-th">
                  <label for="form-name" class="form-th-label">客户姓名</label>
                </th>
                <td class="form-td">
                  <input id="form-name" class="form-control input-sm" ng-model="currentOrder.customer.name"/>
                </td>
                <th class="form-th">
                  <label for="form-order" class="form-th-label">订单编号</label>
                </th>
                <td class="form-td">
                  <input id="form-order" class="form-control input-sm" ng-model="currentOrder.orders_no"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-customer-gender" class="form-th-label">客户性别</label>
                </th>
                <td class="form-td">
                  <select id="form-customer-gender" class="form-control input-sm" ng-model="currentOrder.customer.sex">
                    <option value="0">女</option>
                    <option value="1">男</option>
                  </select>
                </td>
                <th class="form-th">
                  <label for="form-good" class="form-th-label">订购产品</label>
                </th>
                <td class="form-td">
                  <input id="form-good" class="form-control input-sm" ng-model="currentOrder.good"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-form-telphone" class="form-th-label">联系电话</label>
                </th>
                <td class="form-td">
                  <div class="input-group">
                    <input id="form-telphone" class="form-control input-sm"/>
                    <div class="input-group-addon"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="外呼"><span class="glyphicon glyphicon-earphone"></span></a>
                    </div>
                  </div>
                </td>
                <th class="form-th">
                  <label for="form-startDate" class="form-th-label">起订日期</label>
                </th>
                <td class="form-td">
                  <input id="form-startDate" class="form-control input-sm" ng-model="currentOrder.effective" uu-date-picker="uu-date-picker"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-child-name" class="form-th-label">儿童姓名</label>
                </th>
                <td class="form-td">
                  <input id="form-child-name" class="form-control input-sm" ng-model="currentOrder.customer.child"/>
                </td>
                <th class="form-th">
                  <label for="form-enddate" class="form-th-label">结束日期</label>
                </th>
                <td class="form-td">
                  <input id="form-enddate" class="form-control input-sm" ng-model="currentOrder.deadline" uu-date-picker="uu-date-picker"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-child-gender" class="form-th-label">儿童性别</label>
                </th>
                <td class="form-td">
                  <select id="form-child-gender" class="form-control input-sm" ng-model="currentOrder.customer.c_sex">
                    <option value="0">女</option>
                    <option value="1">男</option>
                  </select>
                </td>
                <th class="form-th">
                  <label for="form-payway" class="form-th-label">支付方式</label>
                </th>
                <td class="form-td">
                  <input id="form-payway" class="form-control input-sm" ng-model="currentOrder.payway"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-birthday" class="form-th-label">出生日期</label>
                </th>
                <td class="form-td">
                  <input id="form-birthday" class="form-control input-sm" ng-model="currentOrder.customer.birthday" uu-date-picker="uu-date-picker"/>
                </td>
                <th class="form-th">
                  <label for="form-pay-status" class="form-th-label">支付状态</label>
                </th>
                <td class="form-td">
                  <select id="form-pay-status" class="form-control input-sm" ng-model="currentOrder.paid">
                    <option value="0">未付费</option>
                    <option value="1">已付费</option>
                  </select>
                </td>
              </tr>
              <tr>
                
              </tr>
            </table>
          </fieldset>
          <fieldset>
            <legend>订单</legend>
            <table class="uu-table">
              <thead>
                <tr>
                  <th>订单编号</th>
                  <th>客户姓名</th>
                  <th>订单产品</th>
                  <th>下单日期</th>
                  <th>支付方式</th>
                  <th>支付状态</th>
                  <th>出生日期</th>
                  <th>订单状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>123071231</td>
                  <td>李四民</td>
                  <td>季度</td>
                  <td>2014-10-15</td>
                  <td>在线支付</td>
                  <td>已支付</td>
                  <td>2010-06-01</td>
                  <td>正常</td>
                  <td><a href="" uu-tooltip="uu-tooltip" data-placement="left" data-toggle="dropdown" title="修改"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="共享订单" ng-click="shareOrder()"><span class="glyphicon glyphicon-send"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>
          <div uu-tab="uu-tab">
            <div uu-pane="uu-pane" title="联系记录">
              <div ng-show="!records.length"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="新建联系记录" ng-click="newContact()"><span class="glyphicon glyphicon-plus"></span></a>
              </div>
              <table ng-show="records" class="uu-table">
                <thead>
                  <tr>
                    <th>主题</th>
                    <th>处理结果</th>
                    <th>紧急程度</th>
                    <th>联系内容</th>
                    <th>电话状态</th>
                    <th>联系时间</th>
                    <th>下次回访日期</th>
                    <th>投诉分类</th>
                    <th>负责人</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="contact in contacts">
                    <td><a href="" ng-click="showContact(contact)" ng-bind="contact.topic" class="jslink"></a>
                    </td>
                    <td ng-bind="contact.dealResult"></td>
                    <td ng-bind="contact.urgency"></td>
                    <td ng-bind="contact.content"></td>
                    <td ng-bind="contact.phoneStatus"></td>
                    <td ng-bind="contact.invoicestime"></td>
                    <td ng-bind="contact.nextContactTime"></td>
                    <td ng-bind="contact.complianType"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div uu-pane="uu-pane" title="订单管理">
              <table class="uu-table">
                <thead>
                  <tr>
                    <th>订单编号</th>
                    <th>开始刊号</th>
                    <th>截止刊号</th>
                    <th>已发货期数</th>
                    <th>订单金额</th>
                    <th>剩余发货期数</th>
                    <th>出生日期</th>
                    <th>订单状态</th>
                    <th>赠品情况</th>
                    <th>发票情况</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="order in allOrders">
                    <td ng-bind="order.orderSN"></td>
                    <td ng-bind="order.startIssues"></td>
                    <td ng-bind="order.endIssues"></td>
                    <td ng-bind="order.deliverTurns"></td>
                    <td ng-bind="order.amount"></td>
                    <td ng-bind="order.remainTurns"></td>
                    <td ng-bind="order.birtchDay"></td>
                    <td ng-bind="order.orderStatus"></td>
                    <td ng-bind="order.giftStatus"></td>
                    <td ng-bind="order.invoicesStatus"></td>
                  </tr>
                </tbody>
              </table>
              <fieldset>
                <legend>退货信息</legend>
                <div class="form-group col-xs-6">
                  <label for="form-orderSN" class="control-label col-xs-4">刊号</label>
                  <div class="col-xs-6">
                    <input id="form-orderSN" class="form-control input-sm" ng-model="invoices.orderSN"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-content" class="control-label col-xs-4">刊数</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-content" class="form-control input-sm" ng-model="invoices.content"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-amount" class="control-label col-xs-4">合同金额</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-amount" class="form-control input-sm" ng-model="invoices.invoicesamount"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-creatTime" class="control-label col-xs-4">已收金额</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-creatTime" class="form-control input-sm" ng-model="invoices.creatTime" uu-date-picker="uu-date-picker"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-head" class="control-label col-xs-4">已发货未收金额</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-head" class="form-control input-sm" ng-model="invoices.head"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-sn" class="control-label col-xs-4">刊数</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-sn" class="form-control input-sm" ng-model="invoices.sn"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-head" class="control-label col-xs-4">办理手续费</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-head" class="form-control input-sm" ng-model="invoices.head"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-sn" class="control-label col-xs-4">承担人</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-sn" class="form-control input-sm" ng-model="invoices.sn"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-head" class="control-label col-xs-4">退款办理手续费</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-head" class="form-control input-sm" ng-model="invoices.head"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-sn" class="control-label col-xs-4">承担人</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-sn" class="form-control input-sm" ng-model="invoices.sn"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-head" class="control-label col-xs-4">退款金额</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-head" class="form-control input-sm" ng-model="invoices.head"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-sn" class="control-label col-xs-4">实际退款金额</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-sn" class="form-control input-sm" ng-model="invoices.sn"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-head" class="control-label col-xs-4">退款账号</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-head" class="form-control input-sm" ng-model="invoices.head"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-invoices-sn" class="control-label col-xs-4">开户行</label>
                  <div class="col-xs-6">
                    <input id="form-invoices-sn" class="form-control input-sm" ng-model="invoices.sn"/>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-deal-result" class="control-label col-xs-4">退订原因</label>
                  <div class="col-xs-6">
                    <select id="form-deal-result" class="form-control input-sm" ng-model="return.dealResult">
                      <option value="1">发票抬头错误</option>
                      <option value="2">未开发票</option>
                      <option value="3">开票时间长</option>
                      <option value="4">发票丢失</option>
                      <option value="5">客服态度不好</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-xs-6">
                  <label for="form-deal-result" class="control-label col-xs-4">是否到库</label>
                  <div class="col-xs-6">
                    <select id="form-deal-result" class="form-control input-sm" ng-model="return.dealResult">
                      <option value="1">是</option>
                      <option value="0">否</option>
                    </select>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>产品信息</legend>
                <div class="twrap">
                  <div class="form-group tgroup">
                    <label for="form-deal-result" class="control-label col-xs-4">换货原因</label>
                    <div class="col-xs-6">
                      <select id="form-deal-result" class="form-control input-sm" ng-model="return.dealResult">
                        <option value="1">发票抬头错误</option>
                        <option value="2">未开发票</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="twrap">
                  <div class="form-group tgroup">
                    <label for="form-deal-result" class="control-label col-xs-4">换货到库状态</label>
                    <div class="col-xs-6">
                      <select id="form-deal-result" class="form-control input-sm" ng-model="return.dealResult">
                        <option value="1">已入库</option>
                        <option value="2">未入库</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group tgroup">
                    <label for="form-deal-result" class="control-label col-xs-4">库房</label>
                    <div class="col-xs-6">
                      <input id="form-deal-result" class="form-control input-sm" ng-model="return.dealResult"/>
                    </div>
                  </div>
                  <div class="form-group tgroup">
                    <label for="form-deal-result" class="control-label col-xs-4">入库时间</label>
                    <div class="col-xs-6">
                      <input id="form-deal-result" class="form-control input-sm" ng-model="return.dealResult" uu-date-picker="uu-date-picker"/>
                    </div>
                  </div>
                </div>
                <div class="twrap">
                  <div class="form-group tgroup">
                    <label for="form-deal-result" class="control-label col-xs-4">换货发货状态</label>
                    <div class="col-xs-6">
                      <select id="form-deal-result" class="form-control input-sm" ng-model="return.dealResult">
                        <option value="1">已入库</option>
                        <option value="2">未入库</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group tgroup">
                    <label for="form-deal-result" class="control-label col-xs-4">库房</label>
                    <div class="col-xs-6">
                      <input id="form-deal-result" class="form-control input-sm" ng-model="return.dealResult"/>
                    </div>
                  </div>
                  <div class="form-group tgroup">
                    <label for="form-deal-result" class="control-label col-xs-4">入库时间</label>
                    <div class="col-xs-6">
                      <input id="form-deal-result" class="form-control input-sm" ng-model="return.dealResult" uu-date-picker="uu-date-picker"/>
                    </div>
                  </div>
                </div>
                <div class="twrap">
                  <div class="form-group tgroup">
                    <label for="form-deal-result" class="control-label col-xs-4">发货单号</label>
                    <div class="col-xs-6">
                      <input id="form-deal-result" class="form-control input-sm" ng-model="return.billNo"/>
                    </div>
                  </div>
                  <div class="form-group tgroup">
                    <label for="form-deal-result" class="control-label col-xs-4">物流名称</label>
                    <div class="col-xs-6">
                      <input id="form-deal-result" class="form-control input-sm" ng-model="return.deliverBrand"/>
                    </div>
                  </div>
                  <div class="form-group tgroup">
                    <label for="form-deal-result" class="control-label col-xs-4">物流单号</label>
                    <div class="col-xs-6">
                      <input id="form-deal-result" class="form-control input-sm" ng-model="return.deliverSN"/>
                    </div>
                  </div>
                </div>
                <div class="twrap">
                  <div class="form-group tgroup">
                    <label for="form-deal-result" class="control-label col-xs-4">收货状态</label>
                    <div class="col-xs-6">
                      <select id="form-deal-result" class="form-control input-sm" ng-model="return.recivedStatus">
                        <option value="1">已收货</option>
                        <option value="2">未收货</option>
                      </select>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div uu-pane="uu-pane" title="发货记录">
              <table class="uu-table">
                <thead>
                  <tr>
                    <th>订单编号</th>
                    <th>发货日期</th>
                    <th>发货状态</th>
                    <th>产品名称</th>
                    <th>快递反馈状态</th>
                    <th>物流单号</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="record in deliverRecords">
                    <td ng-bind="record.orderSN"></td>
                    <td ng-bind="record.deliverTime"></td>
                    <td ng-bind="record.deliverStatus"></td>
                    <td ng-bind="record.goodName"></td>
                    <td ng-bind="record.deliverFeedback"></td>
                    <td ng-bind="record.deliverSN"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="contact-history" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">联系记录</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <table class="form-table">
              <tr>
                <th class="form-th">
                  <label for="form-topic" class="form-th-label">主题</label>
                </th>
                <td class="form-td">
                  <select id="form-topic" class="form-control input-sm" ng-model="contact.topic">
                    <option value="1">核实订单</option>
                    <option value="2">投诉</option>
                    <option value="3">回访</option>
                    <option value="4">催费</option>
                    <option value="5">促进销售</option>
                  </select>
                </td>
                <th class="form-th">
                  <label for="form-deal-result" class="form-th-label">处理结果</label>
                </th>
                <td class="form-td">
                  <select id="form-deal-result" class="form-control input-sm" ng-model="contact.status">
                    <option value="1">待处理</option>
                    <option value="2">处理中</option>
                    <option value="3">已完成</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">联系时间</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="contact.contactTime"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">负责人</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="currentUser.name"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-phone-status" class="form-th-label">电话状态</label>
                </th>
                <td class="form-td">
                  <select id="form-phone-status" class="form-control input-sm" ng-model="contact.phoneStatus">
                    <option value="1">无人接</option>
                    <option value="2">占线</option>
                    <option value="3">接听</option>
                    <option value="4">停机</option>
                    <option value="5">空号</option>
                    <option value="6">错号</option>
                  </select>
                </td>
                <th class="form-th">
                  <label for="form-contact-next-time" class="form-th-label">下次回访日期</label>
                </th>
                <td class="form-td">
                  <input id="form-contact-next-time" class="form-control input-sm" ng-model="contact.next_time" uu-date-picker="uu-date-picker" format="yyyy-mm-dd hh:ii" min-view="0"/>
                </td>
              </tr>
              <tr ng-show="contact.topic===&quot;2&quot;">
                <th class="form-th">
                  <label for="form-complain-type" class="form-th-label">投诉分类</label>
                </th>
                <td class="form-td">
                  <select id="form-complain-type" class="form-control input-sm" ng-model="contact.complainType">
                    <option value="31">发票抬头错误</option>
                    <option value="32">未开发票</option>
                    <option value="33">开票时间长</option>
                    <option value="34">发票丢失</option>
                    <option value="35">客服态度不好</option>
                    <option value="36">客服不专业</option>
                    <option value="37">客服电话难打</option>
                    <option value="38">物流慢</option>
                    <option value="39">货物丢失</option>
                    <option value="310">物品破损</option>
                    <option value="311">快递态度</option>
                  </select>
                </td>
                <th class="form-th">
                  <label for="form-urgency" class="form-th-label">紧急程度</label>
                </th>
                <td class="form-td">
                  <select id="form-urgency" class="form-control input-sm" ng-model="contact.level">
                    <option value="1">一般</option>
                    <option value="2">优先</option>
                    <option value="3">紧急</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-content" class="form-th-label">内容</label>
                </th>
                <td colspan="3" class="form-td">
                  <textarea id="form-content" class="form-control" ng-model="contact.content"></textarea>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="saveContact(contact)" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>