
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="新建"><span class="glyphicon glyphicon-plus"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="" ng-click="globalNewOrder()" class="jslink">新建订单</a>
        </li>
        <li><a href="" ng-click="globalNewWorkForm()" class="jslink">新建工单</a>
        </li>
      </ul>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="过滤条件" class="dropdown-toggle"><span class="glyphicon glyphicon-filter"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="">本月处理订单</a></li>
        <li><a href="">当日处理订单</a></li>
        <li><a href="">当日未处理订单</a></li>
        <li><a href="">当日完结订单</a></li>
        <li><a href="">预约客户订单</a></li>
      </ul>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="站内提醒" ui-sref="root.utils.message"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="群发信息" ui-sref="root.utils.batchmsg"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" class="form-control input-sm" ng-model="searchModel.startTime" uu-date-picker="uu-date-picker" min-view="0" format="yyyy-mm-dd hh:ii"/>
    </div>
    <div class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" class="form-control input-sm" ng-model="searchModel.endTime" uu-date-picker="uu-date-picker" min-view="0" format="yyyy-mm-dd hh:ii"/>
    </div>
    <div class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<table class="uu-table">
  <thead>
    <tr>
      <th>订单类型</th>
      <th>在线支付</th>
      <th>货到付款</th>
      <th>已付款</th>
      <th>未付款</th>
      <th>退款中</th>
      <th>已审核</th>
      <th>未审核</th>
      <th>审核中</th>
      <th>已拆单</th>
      <th>未拆单</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>数量</td>
      <td ng-bind="statistics.online"></td>
      <td ng-bind="statistics.payWhenReached"></td>
      <td ng-bind="statistics.alreadyPaid"></td>
      <td ng-bind="statistics.haventPaid"></td>
      <td ng-bind="statistics.returning"></td>
      <td ng-bind="statistics.checked"></td>
      <td ng-bind="statistics.haventCheck"></td>
      <td ng-bind="statistics.checking"></td>
      <td ng-bind="statistics.splited"></td>
      <td ng-bind="statistics.haventSplited"></td>
    </tr>
    <tr>
      <td>占比</td>
      <td ng-bind="statistics.onlineRate"></td>
      <td ng-bind="statistics.payWhenReachedRate"></td>
      <td ng-bind="statistics.alreadyPaidRate"></td>
      <td ng-bind="statistics.haventPaidRate"></td>
      <td ng-bind="statistics.returningRate"></td>
      <td ng-bind="statistics.checkedRate"></td>
      <td ng-bind="statistics.haventCheckRate"></td>
      <td ng-bind="statistics.checkingRate"></td>
      <td ng-bind="statistics.splitedRate"></td>
      <td ng-bind="statistics.haventSplitedRate"></td>
    </tr>
  </tbody>
</table>
<h2>占比统计图</h2>
<hr/>
<div class="row printable">
  <p style="text-align: right; font-size: 20px; padding-right: 15px;" class="noprint"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="" ng-click="printCharts()"><span class="glyphicon glyphicon-print"></span></a>
  </p>
  <div class="col-xs-6">
    <div uu-pie-chart="uu-pie-chart" header="全国各区域销量比值" data="[{value: 5332, name: '华北'}, {value: 3465, name: '华南'}, {value: 7485, name: '华东'}, {value: 4488, name: '华中'}, {value: 6684, name: '华西'}]"></div>
  </div>
  <div class="col-xs-6">
    <div uu-bar-chart="uu-bar-chart" header="全国各区域销量比值" data="[{value: 5332, name: '华北'}, {value: 3465, name: '华南'}, {value: 7485, name: '华东'}, {value: 4488, name: '华中'}, {value: 6684, name: '华西'}]"></div>
  </div>
</div>