<div uu-action-item label="添加用户" ng-click="new()"></div>

<form class="form form-horizontal form-small search-form" role="form" >
	<div>
		<div class="form-group">
			<div uuinput label="姓名" l-col="3" r-col="3" name="name" model="searchModel.name"></div>
			<div uuinput label="帐号" l-col="3" r-col="3" name="account" model="searchModel.account"></div>
			<div class="form-group">
				<label class="col-xs-3 control-label" for="type">用户组: </label>
				<div class="col-xs-3">
					<select ng-model="searchModel.group" class="form-control">
						<option value="group1">组一</option>
						<option value="group3">组二</option>
						<option value="group2">组三</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-3 col-xs-offset-3">
					<button class="btn btn-primary" type="submit" ng-click="search()">查找</button>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="row container" ng-if="result.recordsCount">
	<table class="table table-bordered table-striped">
		<tr>
			<th>姓名</th>
			<th>帐号</th>
			<th>性别</th>
			<th>岗位</th>
			<th>Email</th>
			<th>是否有效</th>
			<th>操作</th>
		</tr>
		<tr ng-repeat="user in result.records">
			<td>{{user.name}}</td>
			<td>{{user.account}}</td>
			<td>{{user.gender}}</td>
			<td>{{user.positions}}</td>
			<td>{{user.email}}</td>
			<td>{{user.isValid}}</td>
			<td>
				<ul class="list-inline">
					<li><a href="" ng-click="modify(user)" data-toggle="modal" data-target="#uumodal">修改</a></li>
					<li><a href="" ng-click="delete(user, $index)">删除</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<div uu-pagination records="result.recordsCount" per-page="20" max-pages="10" action="search()" model="searchModel.toPage"></div>
</div>


<div class="modal fade" id="uumodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<form action="" class="form form-horizontal form-small">
					<fieldset>
						<div uuinput label="姓名" l-col="3" r-col="5" name="name" model="model.name"></div>
						<div uuinput label="帐号" l-col="3" r-col="5" name="account" model="model.account"></div>
						<div uuinput label="密码" l-col="3" r-col="5" name="password" type="password" model="model.password"></div>
						<div uuinput label="确认密码" l-col="3" r-col="5" name="passConfirm" type="passConfirm" model="model.passConfirm"></div>
						<div class="form-group">
							<label class="col-xs-3 control-label">性别: </label>
							<div class="col-xs-4">
								<div class="radio-inline">
									<label><input type="radio" ng-model="model.gender" value="male">男</label>
								</div>
								<div class="radio-inline">
									<label><input type="radio" ng-model="model.gender" value="female">女</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="c-gender">是否有效: </label>
							<div class="col-xs-4">
								<div class="radio-inline">
									<label><input type="radio" ng-model="model.isValid" value="1">是</label>
								</div>
								<div class="radio-inline">
									<label><input type="radio" ng-model="model.isValid" value="0">否</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="type">岗位: </label>
							<div class="col-xs-4">
								<select ng-model="model.positions" class="form-control">
									<option value="岗位一">岗位一</option>
									<option value="岗位二">岗位二</option>
									<option value="岗位三">岗位三</option>
								</select>
							</div>
						</div>
						<div uuinput label="Email" l-col="3" r-col="5" name="email" model="model.email"></div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" ng-if="modalType=='add'" ng-click="add(model)" class="btn btn-primary">添加</button>
				<button type="button" ng-if="modalType=='edit'" ng-click="save(model)" class="btn btn-primary">保存</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
