<!-- nav tab begin-->
<ul class="nav nav-tabs ng-scope">
	<li class="active">
		<a href="" class="title ng-binding">代理商管理</a>
	</li>
</ul>
<ul class="action-group list-inline ng-scope">
	<li>
		<a href="#/agents/list" ng-class="{active: $routeSegment.startsWith('root.agents.list')}" class="action-item">代理商名单</a>
	</li>
	<li>
		<a href="#/agents/rank" ng-class="{active: $routeSegment.startsWith('root.agents.rank')}" class="action-item">代理商排名</a>
	</li>
	<li>
		<a href="#/agents/promo-code-record" ng-class="{active: $routeSegment.startsWith('root.agents.promocode')}" class="action-item">优惠码记录</a>
	</li>
	<li >
		<a href="#/agents/sales-records" ng-class="{active: $routeSegment.startsWith('root.agents.sales')}" class="action-item">销售记录</a>
	</li>
</ul>
