
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
      <input ng-model="searchModel.subfilter" uu-date-picker="uu-date-picker" ng-show="searchModel.filter.datetime" class="form-control input-sm"/>
    </div>
    <div class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" ng-model="searchModel.startTime" uu-date-picker="" min-view="0" format="yyyy-mm-dd hh:ii" class="form-control input-sm"/>
    </div>
    <div class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" ng-model="searchModel.endTime" uu-date-picker="" min-view="0" format="yyyy-mm-dd hh:ii" class="form-control input-sm"/>
    </div>
    <div ng-click="listByPage()" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<div class="article-header-filter">
  <form role="form" class="form-inline">
    <div data-toggle="buttons" class="btn-group">
      <label ng-click="filterBy.sendTime='&quot;&quot;'" ng-init="filterBy.sendTime='&quot;&quot;'" class="btn uu-btn active">
        <input checked="checked" type="radio"/>今天
      </label>
      <label ng-click="filterBy.sendTime='0'" class="btn uu-btn">
        <input type="radio"/>昨天
      </label>
      <label ng-click="filterBy.sendTime='1'" class="btn uu-btn">
        <input type="radio"/>前天
      </label>
      <label ng-click="filterBy.sendTime='1'" class="btn uu-btn">
        <input type="radio"/>近3天
      </label>
      <label ng-click="filterBy.sendTime='1'" class="btn uu-btn">
        <input type="radio"/>近7天
      </label>
      <label ng-click="filterBy.sendTime='1'" class="btn uu-btn">
        <input type="radio"/>近30天
      </label>
    </div>
  </form>
</div>
<div class="article-header-operate">
  <btn ng-click="newMsgTemplate()" class="btn uu-btn btn-success">新增模板</btn>
</div>
<table ng-show="msgs" class="uu-table">
  <thead>
    <tr>
      <th>号码</th>
      <th>发送时间</th>
      <th>短信内容</th>
      <th>发送状态</th>
      <th>操作人</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="msg in msgs">
      <td ng-bind="msg.id"></td>
      <td ng-bind="msg.sendTime"></td>
      <td ng-bind="msg.content"></td>
      <td ng-bind="msg.status"></td>
      <td ng-bind="msg.opUser"></td>
    </tr>
  </tbody>
</table>
<uu-pagination records="recordsCount" page="currentPage" model="searchModel" action="listByPage()"></uu-pagination>
<div id="new-msg-templet" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">新增短信模板</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="form-subject" class="control-label col-xs-3">主题</label>
              <div class="col-xs-7">
                <select id="form-subject" ng-model="msg.subject" class="form-control input-sm">
                  <option value="0">核实订单</option>
                  <option value="1">投诉</option>
                  <option value="2">回访</option>
                  <option value="3">催费</option>
                  <option value="4">促进销售</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-content" class="control-label col-xs-3">内容</label>
              <div class="col-xs-7">
                <textarea id="form-content" ng-model="msg.content" class="form-control"></textarea>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="saveMsgTemplate()" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>