
<h2>信息管理</h2>
<hr/>
<div class="criteria-bar">
  <form role="form" class="form-inline">
    <div class="form-group">
      <label for="form-customer-scope" class="control-label">发送状态</label>
      <select id="form-customer-scope" class="form-control input-sm">
        <option value="0">未发送</option>
        <option value="1">已发送</option>
        <option value="0">已送达</option>
      </select>
    </div>
    <div class="form-group">
      <label for="form-form-phone" class="control-label">电话号码</label>
      <input id="form-form-phone" ng-disable="true" class="form-control input-sm"/>
    </div>
  </form>
</div>
<div class="filter-bar">
  <div data-toggle="buttons" class="btn-group">
    <label ng-click="ilterPay.payStatus=''" class="btn uu-btn active">
      <input checked="checked" name="customer-type" type="radio"/><span>今天</span>
    </label>
    <label ng-click="ilterPay.payStatus=''" class="btn uu-btn">
      <input name="customer-type" type="radio"/><span>昨天</span>
    </label>
    <label ng-click="ilterPay.payStatus=''" class="btn uu-btn">
      <input name="customer-type" type="radio"/><span>前天</span>
    </label>
    <label ng-click="ilterPay.payStatus=''" class="btn uu-btn">
      <input name="customer-type" type="radio"/><span>近3天</span>
    </label>
    <label ng-click="ilterPay.payStatus=''" class="btn uu-btn">
      <input name="customer-type" type="radio"/><span>近7天</span>
    </label>
    <label ng-click="ilterPay.payStatus=''" class="btn uu-btn">
      <input name="customer-type" type="radio"/><span>近30天</span>
    </label>
  </div>
  <form role="form" style="display: inline; margin-left: 20px;" class="form-inline">
    <div class="form-group">
      <label for="form-form-major-phone" class="control-label">开始时间</label>
      <input id="form-form-major-phone" ng-disable="true" class="form-control input-sm"/>
    </div>
    <div class="form-group">
      <label for="form-form-becalled-phone" class="control-label">结束时间</label>
      <input id="form-form-becalled-phone" ng-disable="true" class="form-control input-sm"/>
    </div>
    <div class="form-group">
      <div class="btn uu-btn btn-primary">查询</div>
      <div class="btn uu-btn btn-danger">重置</div>
    </div>
  </form>
</div>
<table class="uu-table">
  <thead>
    <tr>
      <th>号码</th>
      <th>发送时间</th>
      <th>短信内容</th>
      <th>发送状态</th>
      <th>操作人</th>
      <th class="opration">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="msg in msgs | filter:filterPay">
      <td ng-bind="msg.phone"></td>
      <td ng-bind="msg.sendTime"></td>
      <td ng-bind="msg.content"></td>
      <td ng-bind="msg.contactPeriod"></td>
      <td ng-bind="msg.avgContactPeriod"></td>
      <td ng-bind="msg.totalOnlineTime"></td>
      <td ng-bind="msg.outPhoneNum"></td>
      <td ng-bind="msg.succRate"></td>
      <td ng-bind="msg.inPhoneNum"></td>
      <td ng-bind="msg.avgDealTime"></td>
      <td ng-bind="msg.avgContactTime"></td>
      <td ng-bind="msg.avgQueueTime"></td>
      <td ng-bind="msg.onelineRate"></td>
      <td ng-bind="msg.phoneExchangeRate"></td>
      <td ng-bind="msg.useRate"></td>
    </tr>
  </tbody>
</table>
<div id="order-details" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">核实订单</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <legend>基本信息</legend>
            <div class="form-group col-xs-6">
              <label for="form-name" class="control-label col-xs-3">客户姓名</label>
              <div class="col-xs-7">
                <input id="form-name" ng-model="user.name" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-order" class="control-label col-xs-3">订单编号</label>
              <div class="col-xs-7">
                <input id="form-order" ng-model="user.order" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-sex" class="control-label col-xs-3">客户性别</label>
              <div class="col-xs-7">
                <input id="form-sex" ng-model="user.gender" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-good" class="control-label col-xs-3">订购产品</label>
              <div class="col-xs-7">
                <input id="form-good" ng-model="user.good" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-telphone" class="control-label col-xs-3">联系电话</label>
              <div class="col-xs-7">
                <input id="form-telphone" ng-model="user.telphone" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-startDate" class="control-label col-xs-3">起订日期</label>
              <div class="col-xs-7">
                <input id="form-startDate" ng-model="user.startDate" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-child-name" class="control-label col-xs-3">儿童姓名</label>
              <div class="col-xs-7">
                <input id="form-child-name" ng-model="user.childName" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-enddate" class="control-label col-xs-3">结束日期</label>
              <div class="col-xs-7">
                <input id="form-enddate" ng-model="user.enddate" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-child-gender" class="control-label col-xs-3">儿童性别</label>
              <div class="col-xs-7">
                <input id="form-child-gender" ng-model="user.childGender" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-payway" class="control-label col-xs-3">支付方式</label>
              <div class="col-xs-7">
                <input id="form-payway" ng-model="user.payway" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-birthday" class="control-label col-xs-3">出生日期</label>
              <div class="col-xs-7">
                <input id="form-birthday" ng-model="user.birthday" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-pay-status" class="control-label col-xs-3">支付状态</label>
              <div class="col-xs-7">
                <input id="form-pay-status" ng-model="user.payStatus" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>详细地址</legend>
            <div class="form-group form-group-sm">
              <label class="control-label label-location"><span>省：山东省</span><span>市：青岛市</span><span>详细: 宁夏路208号</span></label>
            </div>
          </fieldset>
          <fieldset>
            <legend>订单</legend>
            <table class="uu-table">
              <thead>
                <tr>
                  <th>订单编号</th>
                  <th>客户姓名</th>
                  <th>订单产品</th>
                  <th>下单日期</th>
                  <th>支付方式</th>
                  <th>支付状态</th>
                  <th>出生日期</th>
                  <th>订单状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>123071231</td>
                  <td>李四民</td>
                  <td>季度</td>
                  <td>2014-10-15</td>
                  <td>在线支付</td>
                  <td>已支付</td>
                  <td>2010-06-01</td>
                  <td>正常</td>
                  <td><a href="" uu-tooltip="uu-tooltip" data-placement="left" data-toggle="dropdown" title="修改"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="共享订单" ng-click="shareOrder()"><span class="glyphicon glyphicon-send"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>
          <p>
            <ul class="list-inline">
              <li>联系记录</li>
              <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="核实订单" ng-click="checkOrder()"><span class="glyphicon glyphicon-plus"></span></a>
              </li>
              <li><a href="" ng-click="search()" class="jslink"><span class="glyphicon glyphicon-search"></span></a>
              </li>
            </ul>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="share-order" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">修改负责人</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="form-responsor" class="control-label col-xs-3">修改负责人</label>
            <div class="col-xs-7">
              <select id="form-responsor" ng-model="order.responsor" class="form-control input-sm">
                <option value="0">拆单组</option>
                <option value="1">审单组</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="save()" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="recheck-order" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">核实订单</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="form-topic" class="control-label col-xs-3">主题</label>
              <div class="col-xs-7">
                <select id="form-topic" ng-model="user.topic" class="form-control input-sm">
                  <option value="0">核实订单</option>
                  <option value="1">投诉</option>
                  <option value="2">回访</option>
                  <option value="3">催费</option>
                  <option value="4">促进销售</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-deal-result" class="control-label col-xs-3">处理结果</label>
              <div class="col-xs-7">
                <select id="form-deal-result" ng-model="user.dealResult" class="form-control input-sm">
                  <option value="0">已完成</option>
                  <option value="1">处理中</option>
                  <option value="1">待处理</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-contact-time" class="control-label col-xs-3">联系时间</label>
              <div class="col-xs-7">
                <input id="form-contact-time" ng-model="user.contactTime" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group">
              <label for="form-contact-responsor" class="control-label col-xs-3">负责人</label>
              <div class="col-xs-7">
                <input id="form-contact-responsor" ng-model="user.responsor" ng-disable="true" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group">
              <label for="form-phone-status" class="control-label col-xs-3">电话状态</label>
              <div class="col-xs-7">
                <select id="form-phone-status" ng-model="user.phoneStatus" class="form-control input-sm">
                  <option value="0">无人接</option>
                  <option value="1">占线</option>
                  <option value="2">接听</option>
                  <option value="3">停机</option>
                  <option value="4">空号</option>
                  <option value="5">错号</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-urgency" class="control-label col-xs-3">紧急程度</label>
              <div class="col-xs-7">
                <select id="form-urgency" ng-model="user.urgency" class="form-control input-sm">
                  <option value="0">一般</option>
                  <option value="1">优先</option>
                  <option value="1">紧急</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-content" class="control-label col-xs-3">内容</label>
              <div class="col-xs-7">
                <textarea id="form-content" ng-model="content" class="form-control"></textarea>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="save()" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>