
<div uu-info-panel>
	<div uu-info-tab>
		<li uu-info-item label="今日网络沟通总量" value="12314"></li>
		<li uu-info-item label="今日电话接听总量" value="12314"></li>
		<li uu-info-item label="今日电话外呼总量" value="12314"></li>
	</div>
	<div uu-info-tab="">
		<li uu-info-item label="历史网络沟通总量" value="12314"></li>
		<li uu-info-item label="历史电话接听总量" value="12314"></li>
		<li uu-info-item label="历史电话外呼总量" value="12314"></li>
	</div>
</div>

<div uu-switcher model="model.filter" action="onchange()"></div>

<div uu-info-panel>
	<div uu-info-tab title="自动统计">
		<li uu-info-item label="沟通总量"></li>
		<li uu-info-item label="接听量"></li>
		<li uu-info-item label="外呼量"></li>
		<li uu-info-item label="接起率"></li>
		<li uu-info-item label="沟通时长"></li>
	</div>
	
	<ul class="list-inline batch-btn-group text-right">
		<li><a href="">查看峰值</a></li>
		<li class="split-pipe">|</li>
		<li><a href="">选中外拨</a></li>
	</ul>
</div>


<div class="printable">
	<div ng-repeat="(weekday, records) in report" class="static-area weekday">
		<h4 ng-bind="weekday | week" class="weekday-header"></h4>
		<hr>
		<table class="table table-condensed table-hover table-bordered" ng-if="records.length">
			<thead>
				<tr>
					<th>电话号码</th>
					<th>状态</th>
					<th>通话时长</th>
					<th>通话客服</th>
					<th>客户信息</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in records">
					<td ng-bind="item.phone"></td>
					<td ng-bind="item.status"></td>
					<td ng-bind="item.duration"></td>
					<td ng-bind="item.cs"></td>
					<td ng-bind="item.info"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>