<div class="info-panel">
	<ul class="list-inline">
		<li>第<span class="val-m" to-week="date"></span>周</li>
	</ul>
</div>

<form action="" class="search-form" ng-submit="search('employee')">
	<div class="col-xs-7">
		<input type="text" name="search-box" placeholder="请输入搜索关键字" ng-model="searchModel.keyword" class="form-control search-box">
		<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
	</div>
	<div class="col-xs-2 pull-right">
		<ul class="list-inline batch-btn-group ">
			<li><a href="" data-toggle="modal" data-target="#uumodal">修改</a></li>
			<li class="split-pipe">|</li>
			<li><a href="" ng-click="print()">导出</a></li>
		</ul>
	</div>
</form>

<div class="printable">
	<div ng-repeat="tasks in allTasks" class="static-area weekday">
		<h4 ng-bind="$index | week" class="weekday-header"></h4>
		<hr>
		<div ng-repeat="(key, value) in tasks">
			<h5>{{key === 'net' ? '网络客服' : '电话客服' }} {{value.length}} 人</h5>
			<table class="table table-condensed table-hover table-bordered" ng-if="value.length">
				<thead>
					<tr>
						<th>工号</th>
						<th>姓名</th>
						<th>上周累计在岗时间</th>
						<th>上周接待量</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in value">
						<td>{{employee.userNo}}</td>
						<td>{{employee.name}}</td>
						<td>{{employee.time}}</td>
						<td>{{employee.amount}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="uumodal">
	<div class="modal-dialog modal-lg">
		<!-- <form class="form form-small form-horizontal" ng-submit="saveTask()" novalidate> -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">修改排班</h4>
				</div>
				<div class="modal-body">
					<div class="btn-group" data-toggle="buttons" ng-init="week=0">
						<label class="btn btn-default" ng-class="{'active' : week === $index}" ng-click="updateWeek($index)" ng-repeat="v in range(workDays) track by $index">
							<input type="radio" name="week" value="1" ng-model="week">{{$index | week}}
						</label>
					</div>

					<h4>网络客服</h4>
					<hr>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="item in tasks.net">
							<span class="col-xs-4">工号：{{item.userNo}}</span>
							<span class="col-xs-4">姓名：{{item.name}}</span>
							<span class="close" ng-click="removeTask($index, 'net')">×</span>
						</li>
					</ul>

					<h4>电话客服</h4>
					<hr>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="item in tasks.phone">
							<span class="col-xs-4">工号：{{item.userNo}}</span>
							<span class="col-xs-4">姓名：{{item.name}}</span>
							<span class="close" ng-click="removeTask($index, 'phone')">×</span>
						</li>
					</ul>

					<form class="form form-small form-horizontal" name="taskForm" ng-submit="addTask(taskForm, 'phone')" novalidate>
						<div class="form-group col-xs-4" ng-class="{ 'has-error' : taskForm.type.$invalid && (taskForm.order.$dirty || submitted) }">
							<label class="col-xs-5 control-label" for="type">类别: </label>
							<div class="col-xs-7">
								<select name="type" required id="type" ng-model="model.type" class="form-control input-sm">
									<option value=""></option>
									<option value="net">网络客服</option>
									<option value="phone">电话客服</option>
								</select>
							</div>
						</div>
						<div class="form-group col-xs-4" ng-class="{ 'has-error' : taskForm.userNo.$invalid && (taskForm.userNo.$dirty || submitted) }">
							<label class="col-xs-5 control-label" for="userNo">工号: </label>
							<div class="col-xs-7">
								<input type="text" name="userNo" ng-model="model.userNo" ng-required="true" class="form-control input-sm" id="userNo">
							</div>
						</div>
						<div class="form-group col-xs-4" ng-class="{ 'has-error' : taskForm.name.$invalid && (taskForm.name.$dirty || submitted) }">
							<label class="col-xs-5 control-label" for="name">姓名: </label>
							<div class="col-xs-7">
								<input type="text" name="name" ng-required="true" ng-model="model.name" class="form-control input-sm" id="name">
							</div>
						</div>
						<div class="form-group col-xs-2 col-xs-offset-1">
							<input type="submit" value="添加" class="btn btn-danger btn-sm">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" ng-click="saveTasks()" class="btn btn-primary">保存</button>
				</div>
			<!-- </form> -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>