<div ng-include src="'views/partial/link-group.html'"></div>

<form class="form form-horizontal form-small" role="form" name="newOrderForm" novalidate>
	<div class="static-area">
		<div class="col-xs-6">
			<div uu-static l-col="3" r-col="9" label="编号" text="result.number"></div>
			<div uu-static l-col="3" r-col="9" label="类型" text="result.type"></div>
			<div uu-static l-col="3" r-col="9" label="姓名" text="result.name"></div>
			<div uu-static l-col="3" r-col="9" label="性别" text="result.sex"></div>
			<div uu-static l-col="3" r-col="9" label="出生年月" text="result.birthday"></div>
			<div uu-static l-col="3" r-col="9" label="家长姓名" text="result.parent"></div>
			<div uu-static l-col="3" r-col="9" label="家长性别" text="result.p_sex"></div>
			<div uu-static l-col="3" r-col="9" label="E-mail" text="result.email"></div>
		</div>
		<div class="col-xs-6">
			<div uu-static l-col="3" r-col="9" label="省/市/区" text="result.location"></div>
			<div uu-static l-col="3" r-col="9" label="地址" text="result.address"></div>
			<div uu-static l-col="3" r-col="9" label="邮编" text="result.postcode"></div>
			<div uu-static l-col="3" r-col="9" label="电话" text="result.phone"></div>
			<div uu-static l-col="3" r-col="9" label="手机" text="result.mobile"></div>
			<div uu-static l-col="3" r-col="9" label="传真" text="result.tax"></div>
			<div uu-static l-col="3" r-col="9" label="订购产品" text="result.order"></div>
		</div>
	</div>
	<div class="row clearfix">
		<fieldset>
			<div class="col-xs-12 info-panel order-info">
				<ul class="list-inline">

					<li><span uu-time-inicator label="工单受理时间" datetime="2014-3-15"></span></li>
					<li><span uu-time-inicator label="期待解决时间" datetime="2014-3-16"></span></li>
					<li><span uu-time-inicator label="实际解决时间" datetime="2014-3-16"></span></li>
				</ul>
			</div>
			<div class="col-xs-10 pull-left">
				<div class="form-group">
					<label class="col-xs-2 control-label" for="order-type">工单类型:</label>
					<div class="col-xs-4">
						<select name="order-type" id="order-type" class="form-control" ng-model="model.orderType">
							<option value="type1">类型1</option>
							<option value="type2">类型2</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label" for="order-des">情况描述:</label>
					<div class="col-xs-9">
						<textarea name="order-des" id="order-des" ng-model="model.orderDes" rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-2 control-label" for="resovled">解决情况:</label>
					<div class="col-xs-9">
						<textarea name="resovled" id="resovled" ng-model="model.resovled"  rows="3" class="form-control"></textarea>
					</div>
				</div>
				<div class="from-group">
					<div class="col-xs-10 submit-btns col-xs-offset-3">
						<input type="submit" class="btn btn-primary btn-sm" ng-click="model.btn='saved'; new(newOrderForm)" value="处理完成">
						<input type="button" class="btn btn-default btn-sm" ng-click="model.btn='insert'; new(newOrderForm)"  value="未完成，提交上级">
						<a href="" class="btn btn-default btn-sm" ng-click="model.btn='query'; new(newOrderForm)">我的订单记录</a>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</form>
