<div uu-info-panel>
	<div uu-info-tab>
		<li>第<span class="val-m" to-week="date"></span>周</li>
		<li uu-info-item value="{{date.getDay() | week}}"></li>
	</div>
</div>

<div uu-switcher model="model.filter" action="onchange()"></div>

<div uu-info-panel="">
	<div uu-info-tab title="网络客服">
		<li uu-info-item label="当前在线咨询人数" value="{{statistics.network.wait}}"></li>
		<li uu-info-item label="已接待人数" value="{{statistics.network.Consulting}}"></li>
		<li uu-info-item label="等待人数" value="{{statistics.network.received}}"></li>
		<li uu-info-item label="出勤人数" value="{{statistics.network.attendance}}"></li>
	</div>
</div>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>工号</th>
			<th>姓名</th>
			<th>接待量</th>
			<th>会话时长</th>
			<th>状态</th>
			<th>备注</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>00001</td>
			<td>张三</td>
			<td>10</td>
			<td>1:00:00</td>
			<td>在线等待</td>
			<td></td>
		</tr>
		<tr>
			<td>00002</td>
			<td>李四</td>
			<td>10</td>
			<td>1:00:00</td>
			<td>在线等待</td>
			<td>临时有事，请假</td>
		</tr>
		<tr>
			<td>00003</td>
			<td>王五</td>
			<td>10</td>
			<td>1:00:00</td>
			<td>在线等待</td>
			<td></td>
		</tr>
		<tr>
			<td>00004</td>
			<td>李四</td>
			<td>10</td>
			<td>1:00:00</td>
			<td>在线等待</td>
			<td></td>
		</tr>
	</tbody>
</table>

<div uu-info-panel>
	<div uu-info-tab title="电话客服">
		<li uu-info-item label="当前在线咨询人数" value="{{statistics.tel.wait}}"></li>
		<li uu-info-item label="接起量" value="{{statistics.tel.Consulting}}"></li>
		<li uu-info-item label="外呼量" value="{{statistics.tel.received}}"></li>
		<li uu-info-item label="出勤人数" value="{{statistics.tel.attendance}}"></li>
	</div>
</div>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>工号</th>
			<th>姓名</th>
			<th>接待量</th>
			<th>会话时长</th>
			<th>状态</th>
			<th>备注</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>00001</td>
			<td>张三</td>
			<td>10</td>
			<td>1:00:00</td>
			<td>在线等待</td>
			<td></td>
		</tr>
		<tr>
			<td>00002</td>
			<td>李四</td>
			<td>10</td>
			<td>1:00:00</td>
			<td>在线等待</td>
			<td>临时有事，请假</td>
		</tr>
		<tr>
			<td>00003</td>
			<td>王五</td>
			<td>10</td>
			<td>1:00:00</td>
			<td>在线等待</td>
			<td></td>
		</tr>
		<tr>
			<td>00004</td>
			<td>李四</td>
			<td>10</td>
			<td>1:00:00</td>
			<td>在线等待</td>
			<td></td>
		</tr>
	</tbody>
</table>
