<div class="info-panel">
	<ul class="list-inline">
		<li uu-info-item label="当前工单总量" value="{{statistics.sum}}"></li>
		<li uu-info-item label="今日已处理工单" value="{{statistics.count_finished}}"></li>
		<li uu-info-item label="今日截止工单" value="{{statistics.count_end_today}}"></li>
		<li uu-info-item label="未处理工单" value="{{statistics.count_unfinished}}"></li>
		<li uu-info-item label="历史工单总量" value="{{statistics.sum_history}}"></li>
	</ul>
</div>

<form action="" class="search-form" ng-submit="search('order')">
	<div class="col-xs-7">
		<input type="text" name="search-box" placeholder="请输入搜索关键字" ng-model="searchModel.keyword" class="form-control search-box">
		<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
	</div>
	<div class="col-xs-2 pull-right">
		<ul class="list-inline batch-btn-group ">
			<li class="fn-btn"><span>修改</span></li>
			<li class="split-pipe">|</li>
			<li class="fn-btn"><span uu-csv="result" header="['工单编号', '工单类型', '工单状态', '处理结果', '受理渠道', '受理时间', '处理时间', '是否转交上级', '最终处理人', '客户信息']">导出</span></li>
		</ul>
	</div>
</form>

<div class="result" ng-show="result.length">
	<table class="table table-hover table-condensed ">
		<thead>
			<tr>
				<th>工单编号</th>
				<th>工单类型</th>
				<th>工单状态</th>
				<th>处理结果</th>
				<th>受理渠道</th>
				<th>受理时间</th>
				<th>处理时间</th>
				<th>是否转交上级</th>
				<th>最终处理人</th>
				<th>客户信息</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in result">
				<td>{{item.order_no}}</td>
				<td>{{item.type}}</td>
				<td>{{item.status}}</td>
				<td>{{item.result}}</td>
				<td>{{item.channel}}</td>
				<td>{{item.update_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.refer}}</td>
				<td>{{item.creater}}</td>
				<td>
					<table>
						<tr>
							<th>客户编号:</th>
							<td>{{item.customer.code}}</td>
						</tr>
						<tr>
							<th>宝宝姓名:</th>
							<td>{{item.customer.name}}</td>
							<th>性别:</th>
							<td>{{item.customer.gender}}</td>
						</tr>
						<tr>
							<th>家长姓名:</th>
							<td>{{item.customer.c_name}}</td>
							<th>性别:</th>
							<td>{{item.customer.c_gender}}</td>
						</tr>
						<tr>
							<th>订单摘要:</th>
							<td>{{item.customer.order_type}}</td>
						</tr>
						<tr>
							<th>联系电话:</th>
							<td>{{item.customer.phone}}</td>
						</tr>
						<tr>
							<th>地址:</th>
							<td>{{item.customer.addr}}</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>

