<div uu-info-panel>
	<div uu-info-tab>
		<li>第<span class="val-m" to-week="date"></span>周</li>
	</div>
</div>

<div uu-switcher model="model.filter" action="onchange()"></div>

<div uu-info-panel="">
	<div uu-info-tab>
		<li uu-info-item label="当前时线量" value="300"></li>
		<li uu-info-item label="接起量" value="100"></li>
		<li uu-info-item label="外呼量" value="300"></li>
		<li uu-info-item label="等待量" value="100"></li>
	</div>
</div>

<div class="printable">
	<div ng-repeat="(weekday, records) in report" class="static-area weekday">
		<h4 ng-bind="weekday | week" class="weekday-header"></h4>
		<hr>
		<table class="table table-condensed table-hover table-bordered" ng-if="records.length">
			<thead>
				<tr>
					<th>电话号码</th>
					<th>状态</th>
					<th>通话时长</th>
					<th>通话客服</th>
					<th>客户信息</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in records">
					<td ng-bind="item.phone"></td>
					<td ng-bind="item.status"></td>
					<td ng-bind="item.duration"></td>
					<td ng-bind="item.cs"></td>
					<td ng-bind="item.info"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
