include ../../modules/mixins.jade

//- 库存列表
table.uu-table
	+theadplus()(operation='操作', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='product in products')
			td(ng-bind='product.type', ng-show='ths[0].isChecked')
			td(ng-bind='product.name', ng-show='ths[1].isChecked')
			td(ng-bind='product.content', ng-show='ths[2].isChecked')
			td(ng-bind='product.sku', ng-show='ths[3].isChecked')
			td(ng-bind='product.minSKU', ng-show='ths[4].isChecked')
			td(ng-bind='product.SN', ng-show='ths[5].isChecked')
			td(ng-bind='product.location', ng-show='ths[6].isChecked')
			td
				+tooltip('调库', 'top', 'getProducts(product)')
					+glyphicon('earphone') &nbsp;

				+tooltip('补库', 'top', 'fillProducts(product)')
					+glyphicon('compressed')


//- 工单详情Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title(ng-bind='modalTitle')
	.modal-body
		form.form-horizontal
			fieldset
				legend 基本信息
				.form-group.col-xs-6
					+input('主题', 'name')(ng-model='user.name')
				.form-group.col-xs-6
					+input('出货仓库', 'order')(ng-model='user.order')
				.form-group.col-xs-6
					+input('入货仓库', 'sex')(ng-model='user.gender')
				.form-group.col-xs-6
					+input('调拨日期', 'good')(ng-model='user.good')
				.form-group.col-xs-6
					+input('产品名称', 'telphone')(ng-model='user.telphone')
				.form-group.col-xs-6
					+input('产品数量', 'startDate')(ng-model='user.startDate')
				.form-group.col-xs-6
					+input('创建人', 'child-name')(ng-model='user.childName')
				.form-group.col-xs-6
					+input('创建时间', 'enddate')(ng-model='user.enddate')
				.form-group.col-xs-6
					+input('修改时间', 'child-gender')(ng-model='user.childGender')
				.form-group.col-xs-6
					+input('审批人', 'payway')(ng-model='user.payway')
				.form-group.col-xs-6
					+input('状态', 'birthday')(ng-model='user.birthday')
				.form-group.col-xs-6
					+input('审批状态', 'pay-status')(ng-model='user.payStatus')
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='save()') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消
