include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('新建', 'top')
			+glyphicon('plus')
		ul.dropdown-menu(role="menu")
			li
				+jslink('globalNewOrder()', '新建订单')
			li
				+jslink('globalNewTicket()', '新建工单')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')
	li
		+tooltip('过滤条件', 'top')(class='dropdown-toggle')
			+glyphicon('filter')
		ul.dropdown-menu(role="menu")
			each filter in ['本月处理订单', '当日处理订单', '当日未处理订单', '当日完结订单', '预约客户订单']
				li
					a(href='')=filter

//- 库存列表
table.uu-table
	+theadplus()(operation='操作', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='product in products')
			td(ng-bind='product.type', ng-show='ths[0].isChecked')
			td(ng-bind='product.name', ng-show='ths[1].isChecked')
			td(ng-bind='product.content', ng-show='ths[2].isChecked')
			td(ng-bind='product.sku', ng-show='ths[3].isChecked')
			td(ng-bind='product.minSKU', ng-show='ths[4].isChecked')
			td(ng-bind='product.SN', ng-show='ths[5].isChecked')
			td(ng-bind='product.location', ng-show='ths[6].isChecked')
			td.nowrap
				+tooltip('调库', 'top', 'getProducts(product)')
					+glyphicon('earphone') &nbsp;

				+tooltip('补库', 'top', 'fillProducts(product)')
					+glyphicon('compressed')


//- 工单详情Modal
+modal('order-details', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title(ng-bind='order.topic')
	.modal-body
		form.form-horizontal
			fieldset
				legend 基本信息
				.form-group.col-xs-6
					+static-input('主题', 'topic')(ng-bind='order.topic')
				.form-group.col-xs-6
					+input('出货仓库', 'order')(ng-model='order.order')
						+option('仓库1', '0')
						+option('仓库2', '1')
						+option('仓库3', '2')
				.form-group.col-xs-6
					+select('入货仓库', 'sex')(ng-model='order.gender')
				.form-group.col-xs-6
					+input('调拨日期', 'good')(ng-model='order.good', uu-date-picker)
				.form-group.col-xs-6
					+select('产品名称', 'telphone')(ng-model='order.telphone')
						+option('产品1', '0')
						+option('产品2', '1')
						+option('产品3', '2')
				.form-group.col-xs-6
					+input('产品数量', 'startDate')(ng-model='order.startDate')
				.form-group.col-xs-6
					+static-input('创建人', 'child-name')(ng-bind='order.childName')
				.form-group.col-xs-6
					+static-input('创建时间', 'enddate')(ng-bind='order.createTime')
				.form-group.col-xs-6
					+static-input('修改时间', 'child-gender')(ng-bind='order.updatedTime')
				.form-group.col-xs-6
					+input('审批人', 'payway')(ng-model='order.payway')
				.form-group.col-xs-6
					+select('状态', 'status')(ng-model='order.status')
						+option('未调拨', '0')(ng-if="order.topic==='调库'")
						+option('已调拨', '1')(ng-if="order.topic==='调库'")
						+option('未补仓', '2')(ng-if="order.topic==='补库'")
						+option('已补仓', '3')(ng-if="order.topic==='补库'")
				.form-group.col-xs-6
					+select('审批状态', 'pay-status')(ng-model='order.payStatus')
						+option('待审批', '0')
						+option('审批通过', '1')
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='save()') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消
