include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('新建', 'top')
			+glyphicon('plus')
		ul.dropdown-menu(role="menu")
			li
				+jslink('globalNewOrder()', '新建订单')
			li
				+jslink('globalNewWorkForm()', '新建工单')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')
	li
		+tooltip('过滤条件', 'top')(class='dropdown-toggle')
			+glyphicon('filter')
		ul.dropdown-menu(role="menu")
			each filter in ['本月处理订单', '当日处理订单', '当日未处理订单', '当日完结订单', '预约客户订单']
				li
					a(href='')=filter

//- 搜索
.article-header-search
	form.form-inline(role='form')
		+grouped-input('开始时间', 'start-time')(ng-model='searchModel.startTime', uu-date-picker, min-view='0', format='yyyy-mm-dd hh:ii')
		+grouped-input('结束时间', 'end-time')(ng-model='searchModel.endTime', uu-date-picker, min-view='0', format='yyyy-mm-dd hh:ii')
		.btn.uu-btn
			+tooltip('查询', 'top')
				+glyphicon('search')

table.uu-table
	+thead
		each th in ['订单类型', '在线支付', '货到付款', '已付款', '未付款', '退款中', '已审核', '未审核', '审核中', '已拆单', '未拆单']
			th=th
	tbody
		tr
			td 数量
			td(ng-bind='statistics.online')
			td(ng-bind='statistics.payWhenReached')
			td(ng-bind='statistics.alreadyPaid')
			td(ng-bind='statistics.haventPaid')
			td(ng-bind='statistics.returning')
			td(ng-bind='statistics.checked')
			td(ng-bind='statistics.haventCheck')
			td(ng-bind='statistics.checking')
			td(ng-bind='statistics.splited')
			td(ng-bind='statistics.haventSplited')
		tr
			td 占比
			td(ng-bind='statistics.onlineRate')
			td(ng-bind='statistics.payWhenReachedRate')
			td(ng-bind='statistics.alreadyPaidRate')
			td(ng-bind='statistics.haventPaidRate')
			td(ng-bind='statistics.returningRate')
			td(ng-bind='statistics.checkedRate')
			td(ng-bind='statistics.haventCheckRate')
			td(ng-bind='statistics.checkingRate')
			td(ng-bind='statistics.splitedRate')
			td(ng-bind='statistics.haventSplitedRate')

h2 占比统计图
hr

.row.printable
	p.noprint(style='text-align: right; font-size: 20px; padding-right: 15px;')
		+tooltip('', 'top', 'printCharts()')
			+glyphicon('print')
	.col-xs-6
		div(uu-pie-chart, header='全国各区域销量比值', data="[{value: 5332, name: '华北'}, {value: 3465, name: '华南'}, {value: 7485, name: '华东'}, {value: 4488, name: '华中'}, {value: 6684, name: '华西'}]")
	.col-xs-6
		div(uu-bar-chart, header='全国各区域销量比值', data="[{value: 5332, name: '华北'}, {value: 3465, name: '华南'}, {value: 7485, name: '华东'}, {value: 4488, name: '华中'}, {value: 6684, name: '华西'}]")
