<div class="info-panel">
	<ul class="list-inline">
		<li uu-info-item label="今日订单总数" value="{{statistics.ordersCount}}"></li>
		<li uu-info-item label="今日销售总额" value="{{statistics.salesAmount}}"></li>
		<li uu-info-item label="累计订单总数" value="{{statistics.accuOrdersCount}}"></li>
		<li uu-info-item label="累计销售总额" value="{{statistics.accuSalesAmount}}"></li>
	</ul>
</div>

<div uu-simple-search placeholder="请输入发货单号 / 快递单号 / 商品编号 / 客户进行查询" ng-submit="search('ship')" model="searchModel.keyword"></div>

<div class="result" ng-show="result">
	<table class="table table-hover table-condensed ">
		<thead>
			<tr>
				<th>订单号</th>
				<th>发货单号</th>
				<th>发货数量</th>
				<th>快递公司名称</th>
				<th>发货日期</th>
				<th>更新日期</th>
				<th>快递员</th>
				<th>发货人</th>
				<th>发货状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in result">
				<td>{{item.orders_no}}</td>
				<td>{{item.shipment_no}}</td>
				<td>{{item.shipped_qty}}</td>
				<td>{{item.express_name}}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.update_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.courier}}</td>
				<td>{{item.creater}}</td>
				<td>{{item.status}}</td>
				<td><a href="" ng-click="modify(item, '修改发货信息')" data-toggle="modal" data-target="#uumodal">修改</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal fade" id="uumodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<form action="" class="form form-horizontal form-small">
					<div class="col-xs-12 form-static-tinypadding">
						<div class="col-xs-6">
							<fieldset>
								<div uu-static l-col="6" r-col="6" label="订单号" text="model.orders_no"></div>
								<div uu-static l-col="6" r-col="6" label="发货单号" text="model.shipment_no"></div>
								<div uu-static l-col="6" r-col="6" label="发货日期" text="model.create_time"></div>
								<div uu-static l-col="6" r-col="6" label="更新日期" text="model.update_time"></div>
								<div uu-static l-col="6" r-col="6" label="发货人" text="model.creater"></div>
							</fieldset>
						</div>
						<div class="col-xs-6">
							<fieldset>
								<div class="form-group">
									<label for="express_name" class="control-label col-xs-6">快递公司名称</label>
									<div class="col-xs-6">
										<select name="express_name" id="express_name" model="model.express_name" class="form-control">
											<option value=""></option>
											<option value="001">申通快递</option>
											<option value="002">顺丰速运</option>
											<option value="003">圆通速递</option>
											<option value="001">韵达快递</option>
											<option value="001 / 邮政">EMS / 邮政</option>
											<option value="001">中通速递</option>
											<option value="001">如风达快递</option>
											<option value="001">宅急送</option>
											<option value="001">联邦快递</option>
											<option value="001">速尔快递</option>
											<option value="001">佳吉快运</option>
											<option value="001">民邦速递</option>
											<option value="001">D速快递</option>
											<option value="001">德邦快递</option>
											<option value="001">共速达快递</option>
											<option value="001">民航快递</option>
											<option value="001">海航天天快递</option>
											<option value="001">汇通快运</option>
											<option value="001">能达速递</option>
											<option value="001">希伊艾斯CCES</option>
											<option value="001">全一快递</option>
											<option value="001">优速快递</option>
											<option value="001">龙邦速递</option>
											<option value="001">中铁快运</option>
											<option value="001">联昊通速递</option>
											<option value="001">元智捷诚快递</option>
											<option value="001">华企快运</option>
											<option value="001">民航华驿</option>
											<option value="001">京广速递</option>
											<option value="001">递达速运</option>
											<option value="001">全日通快递</option>
											<option value="001">宅急便</option>
											<option value="001">捷特快递</option>
											<option value="001">丰达速递</option>
											<option value="001">忠信达快递</option>
											<option value="001">全峰快递</option>
											<option value="001">凤凰快递</option>
											<option value="001">快捷速递</option>
											<option value="001">包裹</option>
											<option value="001">立即送快递</option>
											<option value="001">城市100</option>
											<option value="001">中铁飞豹快递</option>
											<option value="001">海盟速递</option>
											<option value="001">加运美速递</option>
											<option value="001">跨越速运</option>
											<option value="001">门对门快递</option>

										</select>
									</div>
								</div>
								<div uu-input label="快递费用" l-col="6" r-col="6" name="express_name" model="model.express_cost"></div>
								<div uu-input label="快递员" l-col="6" r-col="6" name="courier" model="model.courier"></div>

								<div class="form-group">
									<label for="status" class="control-label col-xs-6">发货状态</label>
									<div class="col-xs-6">
										<select name="status" id="status" model="model.status" class="form-control">
											<option value=""></option>
											<option value="1">未发货</option>
											<option value="1">已发货</option>
										</select>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					<div class="clearfix"><br/></div>
					<div ng-repeat="shipment in shipmentDetails">
						<div class="col-xs-12 form-static-tinypadding">
							<div class="col-xs-6">
								<fieldset>
									<div uu-static l-col="6" r-col="6" label="商品名称" text="shipment.goods_name"></div>
									<div uu-static l-col="6" r-col="6" label="应发商品数量" text="shipment.goods_qty"></div>
								</fieldset>
							</div>
							<div class="col-xs-6">
								<fieldset>
									<div uu-input label="商品描述" l-col="6" r-col="6" name="express_name" model="shipment.goods_desc"></div>
									<div uu-input label="实发商品数量" l-col="6" r-col="6" name="actual_qty" model="shipment.actual_qty"></div>
								</fieldset>
							</div>
						</div>
						<div class="clearfix"><br/></div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" ng-if="modalType=='edit'" ng-click="save(model)" class="btn btn-primary">保存</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
