<div ng-include src="'views/partial/ship/ship-tab.html'"></div>

<div class="info-panel">
	<ul class="list-inline">
		<li><span class="key">今日订单总数: </span><span class="val">{{order.sum}}</span></li>
		<li><span class="key">今日销售总额: </span><span class="val">{{order.count_finished}}</span></li>
		<li><span class="key">累计订单总数: </span><span class="val">{{order.count_finished}}</span></li>
		<li><span class="key">累计销售总额: </span><span class="val">{{order.count_finished}}</span></li>
	</ul>
</div>

<form action="" class="search-form ng-pristine ng-valid" ng-submit="newShip()">
	<div class="col-xs-7">
		<input type="text" name="search-box" required placeholder="请输入发货单号/快递单号/商品编号进行查询" ng-model="model.keyword" class="form-control search-box ng-pristine ng-valid">
		<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
	</div>
	<div class="col-xs-2 pull-right">
		<ul class="list-inline batch-btn-group ">
			<li><a href="">修改</a></li>
			<li class="split-pipe">|</li>
			<li><a href="">导出</a></li>
		</ul>
	</div>
</form>

<div class="result">
	<table class="table table-hover table-condensed ">
		<thead>
			<tr>
				<th>订单编号</th>
				<th>订单内容</th>
				<th>订单状态</th>
				<th>配送第三方</th>
				<th>运单号</th>
				<th>发票内容</th>
				<th>收件人</th>
				<th>联系方式</th>
				<th>地址</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in result">
				<td>{{item.order_no}}</td>
				<td>{{item.type}}</td>
				<td>{{item.status}}</td>
				<td>{{item.result}}</td>
				<td>{{item.channel}}</td>
				<td>{{item.update_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.create_time | date : "yyyy-MM-dd" }}</td>
				<td>{{item.refer}}</td>
				<td>{{item.creater}}</td>
			</tr>
		</tbody>
	</table>
</div>
