ul.action-bar
	li
		+tooltip('新建来电工单', 'top')(ui-sref='root.utils.neworder')
			+glyphicon('plus')
	li
		+tooltip('查找订单', 'top')
			+glyphicon('search')
	li
		+tooltip('filter', 'top')(class='dropdown-toggle')
			+glyphicon('filter')
		ul.dropdown-menu(role="menu")
			each filter in ['本月处理订单', '当日处理订单', '当日未处理订单', '当日完结订单']
				li
					a=filter

	li
		+tooltip('群发信息', 'top')
			+glyphicon('comment')
	li
		+tooltip('群发邮件', 'top')
			+glyphicon('envelope')
	li
		+tooltip('修改密码', 'top')
			+glyphicon('wrench')
	li
		+tooltip('退出系统', 'top')
			+glyphicon('log-out')
