+submodal('contact-history')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 联系记录
	.modal-body
		form.form-horizontal
			fieldset(uu-form-field='isOrderInfoEditable')
				.form-group
					+select('主题', 'topic')(ng-model='return.topic')
						+option('核实订单', 0)
						+option('投诉', 1)
						+option('回访', 2)
						+option('催费', 3)
						+option('促进销售', 4)
				.form-group
					+select('处理结果', 'deal-result')(ng-model='return.dealResult')
						+option('已完成', 0)
						+option('处理中', 1)
						+option('待处理', 1)
				.form-group
					+input('联系时间', 'contact-time')(ng-model='return.contactTime', uu-date-picker)
				.form-group
					+input('负责人', 'contact-responsor')(ng-model='return.responsor')
				.form-group
					+select('电话状态', 'phone-status')(ng-model='return.phoneStatus')
						+option('无人接', 0)
						+option('占线', 1)
						+option('接听', 2)
						+option('停机', 3)
						+option('空号', 4)
						+option('错号', 5)
				.form-group
					+select('投诉分类', 'complain-type')(ng-model='return.complainType')
						+option('发票抬头错误', 1)
						+option('未开发票', 2)
						+option('开票时间长', 3)
						+option('发票丢失', 4)
						+option('客服态度不好', 5)
						+option('客服不专业', 6)
						+option('客服电话难打', 7)
						+option('物流慢', 8)
						+option('货物丢失', 9)
						+option('物品破损', 10)
						+option('快递态度', 11)
				.form-group
					+input('下次回访日期', 'return-next-time')(ng-model='return.nextTime', uu-date-picker, format='yyyy-mm-dd hh:ii', min-view='0')
				.form-group
					+select('紧急程度', 'urgency')(ng-model='return.urgency')
						+option('一般', 0)
						+option('优先', 1)
						+option('紧急', 1)
				.form-group
					+textarea('内容', 'content')(ng-model="content")
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='save()') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消
