+submodal('contact-history')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 联系记录
	.modal-body
		form.form-horizontal
			fieldset
				table.form-table
					tr
						+contact-topic('主题', 'topic')(ng-model='contact.topic')
						+deal-result('处理结果', 'deal-result')(ng-model='contact.status')
					tr
						+static-input('联系时间', 'contact-time')(ng-bind='contact.contactTime')
						+static-input('负责人', 'contact-responsor')(ng-bind='currentUser.name')
					tr
						+phone-status('电话状态', 'phone-status')(ng-model='contact.phoneStatus')
						+input('下次回访日期', 'contact-next-time')(ng-model='contact.next_time', uu-date-picker, format='yyyy-mm-dd hh:ii', min-view='0')
					tr(ng-show='contact.topic===2')
						+complain-type('投诉分类', 'complain-type')(ng-model='contact.complainType')
						+urgency-level('紧急程度', 'urgency')(ng-model='contact.level')
					tr
						+textarea('内容', 'content', 3)(ng-model="contact.content")
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveContact(contact)') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消
