.pg-info
	.container
		.col-xs-2.leftside
			a(ui-sref='root.home')
				img.brand(src='images/logo.png', alt='logo', width='125', height='60')
				p.des 幼小衔接家庭课程专家
		.col-xs-10.rightside
			.row
				ul.gb-actions
					li
						+tooltip('', 'top')(class='dropdown-toggle')
							+glyphicon('cog')
						ul.dropdown-menu(role="menu")
							li
								+jslink('changePassword()', '修改密码')
							li
								+jslink('logout()', '退出系统')

				ul.list-inline
					li
						+key-val('工号', 'currentUser.userNo')
					li
						+key-val('分机', 'currentUser.phone')
					li
						+key-val('网络沟通量', 'currentUser.numWebCommunication')
					li
						+key-val('接听量', 'currentUser.numCallIn')
					li
						+key-val('外呼量','currentUser.numCallOut')
					li
						+key-val('工单量','currentUser.numWorkOrder')
					li
						+key-val('订单量','currentUser.numOrder')
					li
						+key-val('预约客户量','currentUser.numReservation')

				hr

				table.table
					tr
						td
							a(href='#')
								img.brand(src='images/idle.png', alt='idle', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/busy.png', alt='busy', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/dial.png', alt='dial', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/transfer.png', alt='transfer', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/conf.png', alt='conf', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/hold.png', alt='hold', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/intercept.png', alt='intercept', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/accept.png', alt='accept', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/interrupt.png', alt='interrupt', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/monit.png', alt='monit', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/hangup.png', alt='hangup', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/toggle.png', alt='toggle', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/signout.png', alt='signout', width='32', height='32')
						td
							a(href='#')
								img.brand(src='images/leave.png', alt='leave', width='40', height='40')
						td
							a(href='#')
								img.brand(src='images/state.png', alt='state', width='40', height='40')
					tr.topcenter
						td
							span 空闲
						td
							span 置忙
						td
							span 拨号
						td
							span 转接
						td
							span 三方
						td
							span 保持
						td
							span 抢接
						td
							span 监听
						td
							span 强插
						td
							span 强拆
						td
							span 拦截
						td
							span 切换状态
						td
							span 签出
						td
							span 离席
						td
							span 外线状态


