.pg-info
	.container
		.col-xs-2.leftside
			a(ui-sref='root.home')
				img.brand(src='images/logo.png', alt='logo', width='125', height='60')
				p.des 幼小衔接家庭课程专家
		.col-xs-10.rightside
			.row
				ul.gb-actions
					li
						+tooltip('', 'top')(class='dropdown-toggle')
							+glyphicon('cog')
						ul.dropdown-menu(role="menu")
							li
								+jslink('changePassword()', '修改密码')
							li
								+jslink('logout()', '退出系统')

				ul.list-inline
					li
						+key-val('工号', 'currentUser.userNo')
					li
						+key-val('分机', 'currentUser.phone')
					li
						+key-val('网络沟通量', 'currentUser.numWebCommunication')
					li
						+key-val('接听量', 'currentUser.numCallIn')
					li
						+key-val('外呼量','currentUser.numCallOut')
					li
						+key-val('工单量','currentUser.numWorkOrder')
					li
						+key-val('订单量','currentUser.numOrder')
					li
						+key-val('预约客户量','currentUser.numReservation')

				hr

				#call-center
					iframe(src="/call-center.html", id="callCenterBar", name="callCenterBar", frameborder="0", width="100%", height="70px", scrolling="auto")
