- var navs = []
- var subnavs = []

ul.nav.nav-sections(uu-sidebar='')

	//- 商务客服
	//------------------------------------------------------

	//- 客户服务
	- subnavs.push({href: 'root.customer.checkorder', auth: '000000', label: '官网核实订单'})
	//- - subnavs.push({href: 'root.customer.shipment', auth: '000001', label: '拆单'})
	- subnavs.push({href: 'root.customer.splitorder', auth: '000001', label: '拆分订单'})
	- subnavs.push({href: 'root.customer.complaints', auth: '000002', label: '投诉'})
	- subnavs.push({href: 'root.customer.return', auth: '000003', label: '退货'})
	- subnavs.push({href: 'root.customer.exchange', auth: '000004', label: '换货'})
	- subnavs.push({href: 'root.customer.customers', auth: '000005', label: '客户池'})
	- navs.push({href: 'root.customer', label: '客户服务', auth: '0000', subnavs: subnavs})

	//- 客服管理
	- subnavs = []
	- subnavs.push({href: 'root.customerManager.employee', auth: '000100', label: '员工管理'})
	- subnavs.push({href: 'root.customerManager.online', auth: '000101', label: '在线管理'})
	- subnavs.push({href: 'root.customerManager.phone', auth: '000102', label: '电话管理'})
	- subnavs.push({href: 'root.customerManager.info', auth: '000103', label: '信息管理'})
	- navs.push({href: 'root.customerManager', label: '客服管理', auth: '0001', subnavs: subnavs})

	//- 数据管理
	- subnavs = []
	- subnavs.push({href: 'root.data.ordermanager', auth: '000200', label: '订单管理'})
	- subnavs.push({href: 'root.data.work', auth: '000201', label: '工单管理'})
	- subnavs.push({href: 'root.data.inventory', auth: '000202', label: '库存管理'})
	- subnavs.push({href: 'root.data.statistics', auth: '000203', label: '统计'})
	- navs.push({href: 'root.data', label: '数据管理', auth: '0002', subnavs: subnavs})

	//- 知识库
	- subnavs = []
	- subnavs.push({href: 'root.knowledge.presale', auth: '000300', label: '售前服务'})
	- subnavs.push({href: 'root.knowledge.aftersale', auth: '000301', label: '售后服务'})
	- subnavs.push({href: 'root.knowledge.qa', auth: '000302', label: '常见问题'})
	- navs.push({href: 'root.knowledge', label: '知识库', auth: '0003', subnavs: subnavs})

	li.section-item(uu-auth-filter='00' ng-class='{"open": $state.includes("root.customer") || $state.includes("root.customerManager") || $state.includes("root.data") || $state.includes("root.knowledge")}')
		a.nav-sections-label 商务客服
		ul.nav.nav-navs
			each nav in navs
				+nav(nav)


	//- 库存管理
	//------------------------------------------------------

	- navs = []
	- subnavs = []

	//- 入库
	- subnavs.push({href: 'root.commodity.stockin', auth: '010100', label: '入库单管理'})
	- subnavs.push({href: 'root.commodity.storage', auth: '010101', label: '商品入库'})
	- subnavs.push({href: 'root.commodity.adjust', auth: '010102', label: '换货调整'})
	- navs.push({href: 'root.commodity', label: '入库管理', auth: '0101', subnavs: subnavs})

	//- 出库管理
	- subnavs = []
	- subnavs.push({href: 'root.outbound.distrib', auth: '010200', label: '订单配货'})
	- subnavs.push({href: 'root.outbound.pick', auth: '010201', label: '拣货出库'})
	- subnavs.push({href: 'root.outbound.port', auth: '010202', label: '调货出库'})
	- navs.push({href: 'root.outbound', label: '出库管理', auth: '0102', subnavs: subnavs})

	//- 库房管理
	- subnavs = []
	- subnavs.push({href: 'root.storehouse.define', auth: '010300', label: '库房定义'})
	//- - subnavs.push({href: 'root.storehouse.allocate', auth: '010301', label: '订单发货'})
	- subnavs.push({href: 'root.storehouse.audit', auth: '010302', label: '出入库记录'})
	- subnavs.push({href: 'root.storehouse.remain', auth: '010303', label: '商品库存'})
	- navs.push({href: 'root.storehouse', label: '库房管理', auth: '0103', subnavs: subnavs})

	li.section-item(uu-auth-filter='01' ng-class='{"open": $state.includes("root.commodity") || $state.includes("root.outbound") || $state.includes("root.storehouse")}')
		a.nav-sections-label 库存管理
		ul.nav.nav-navs
			each nav in navs
				+nav(nav)


	//- 基础信息管理
	//------------------------------------------------------
	- navs = []
	- subnavs = []

	//- 业务信息
	- subnavs.push({href: 'root.product.commodity', auth: '010000', label: '商品定义'})
	- subnavs.push({href: 'root.product.goods', auth: '010001', label: '产品定义'})
	- subnavs.push({href: 'root.product.suit', auth: '010001', label: '套餐定义'})
	- navs.push({href: 'root.product', label: '业务信息', auth: '0100', subnavs: subnavs})

	//- 系统信息
	- subnavs = []
	- subnavs.push({href: 'root.params.system', auth: '010500', label: '参数维护'})
	- navs.push({href: 'root.params', label: '系统信息', auth: '0105', subnavs: subnavs})

	li.section-item(uu-auth-filter='01' ng-class='{"open": $state.includes("root.product") || $state.includes("root.params")}')
		a.nav-sections-label 基础信息
		ul.nav.nav-navs
			each nav in navs
				+nav(nav)


	//- 代理商管理
	//------------------------------------------------------

	- navs = []
	- subnavs = []

	//- 基本信息
	- subnavs.push({href: 'root.agents.manage', auth: '010000', label: '代理商录入'})
	- navs.push({href: 'root.agents', label: '基本信息', auth: '0100', subnavs: subnavs})


	li.section-item(uu-auth-filter='02' ng-class='{"open": $state.includes("root.agents")}')
		a.nav-sections-label 代理商管理
		ul.nav.nav-navs
			each nav in navs
				+nav(nav)


	//- 财务管理
	//------------------------------------------------------

	li.section-item
		a.nav-sections-label 财务管理
		ul.nav.nav-navs
			each nav in navs
				+nav(nav)

