//- 新建来电订单
+modal('global-new-order')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 新建来电订单
	.modal-body
		form.form-horizontal(name='gbNeworderForm' novalidate ng-class='{sumitted: gbNeworderForm.$sumitted}')
			fieldset
				legend 订单信息
				table.form-table
					tr
						+static-input('订单编号', 'order-no')(ng-bind='gbOrder.order_no')
						+static-input('订单来源', 'order-source')(ng-bind='gbOrder.sourceName')
					tr
						+order-source('订购类型', 'order-type')(ng-model='gbOrder.order_type' required)
						+input('订单金额', 'order-amount')(ng-model='gbOrder.amount' required uu-num)
					tr
						+static-input('下单时间', 'order-time')(ng-bind='gbOrder.effective')
						+input('结束日期', 'deadline')(ng-model='gbOrder.deadline' uu-date-picker required)
					tr
						+input('下单人', 'creator')(ng-model='gbOrder.creator' required)
						+payment('支付方式', 'payment')(ng-model='gbOrder.payment' required)
					tr
						+yesno('订单状态', 'order-status', '正常', '取消')(ng-model='gbOrder.status' required)
						+yesno('支付状态', 'pay-status', '已支付', '未支付')(ng-model='gbOrder.paid' required)
					tr
						+input('客户姓名', 'customer-name')(ng-model='gbOrder.customer.name' required)
						+gender('客户性别', 'customer-gender')(ng-model='gbOrder.customer.sex' required)
					tr
						+input('联系电话', 'customer-phone')(uu-num ng-model='gbOrder.customer.phone' required)
						+input('儿童姓名', 'child-name')(ng-model='gbOrder.customer.child' required)
					tr
						+gender('儿童性别', 'child-gender')(ng-model='gbOrder.customer.c_sex' required)
						+input('出生日期', 'customer-birthday')(ng-model='gbOrder.customer.birthday' uu-date-picker required)
					tr
						+yesno('是否开发票', 'has-invoice')(ng-model='gbOrder.has_invoice' required)
						+input('发票抬头', 'invoice-owner')(ng-model='gbOrder.invoice_title' ng-jade-show='gbOrder.has_invoice' ng-required='gbOrder.has_invoice==="1"')
					tr
						+input-address('地址', 'order-address', 3)(ng-province-model='gbOrder.customer.province' ng-city-model='gbOrder.customer.city' ng-addr-model='gbOrder.customer.address' ng-required='true')

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveGlobalOrder(gbNeworderForm)' ng-disabled='gbNeworderForm.processing') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消
