//- 新建来电工单
+modal('global-new-ticket', 'modal-lg')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 新建来电工单
	.modal-body
		form.form-horizontal
			fieldset
				legend 基本信息
				+hgroup
					+select('订单类型', 'order-status')(ng-model='gbTicket.order_type')
						+option('单品订单', 0)
						+option('多品订单', 1)
				+hgroup
					+input('生效日期', 'effective')(ng-model='gbTicket.effective', uu-date-picker)
				+hgroup
					+input('截止日期', 'deadline')(ng-model='gbTicket.deadline', uu-date-picker)

				+hgroup
					+input('客户编号', 'customer-code')(ng-model='gbTicket.customer_code')
				+hgroup
					+input('客户手机', 'customer-name')(ng-model='gbTicket.customer_name')
				+hgroup
					+input('客户姓名', 'customer_-hone')(ng-model='gbTicket.customer_phone')
				+hgroup
					+input('客户地址', 'customer-addr')(ng-model='gbTicket.customer_addr')

				+hgroup
					+select('是否有发票', 'has-invoice')(ng-model='gbTicket.has_invoice')
						+option('无', 0)
						+option('有', 1)
				+hgroup
					+select('订单来源', 'source')(ng-model='gbTicket.source')
						+option('网站', 0)
						+option('电话', 1)
				+hgroup
					+input('代理商编号', 'agent-code')(ng-model='gbTicket.agent_code')
				+hgroup
					+input('优惠码', 'coupon-code')(ng-model='gbTicket.coupon_code')
				+hgroup
					+input('折扣金额', 'discount-amount')(ng-model='gbTicket.discount_amount')
				+hgroup
					+input('付款金额', 'amount')(ng-model='gbTicket.amount')
				+hgroup
					+select('是否付款', 'paid')(ng-model='gbTicket.paid')
						+option('网站', 0)
						+option('电话', 1)
				+hgroup
					+select('付款方式', 'payment')(ng-model='gbTicket.payment')
						+option('网站', 0)
						+option('电话', 1)
				+hgroup
					+select('订单状态', 'status')(ng-model='gbTicket.status')
						+option('网站', 0)
						+option('电话', 1)
				+hgroup
					+input('订单有效期', 'validity')(ng-model='gbTicket.validity', uu-date-picker)
				+hgroup
					+input('下单时间', 'order-time')(ng-model='gbTicket.order_time', uu-date-picker)
				+hgroup
					+input('受理人', 'creator')(ng-model='gbTicket.creator')
				+hgroup
					+static-input('创建时间', 'create-time')(ng-bind='gbTicket.create_time')
				+hgroup
					+input('更新人', 'updater')(ng-model='gbTicket.updater')
				+hgroup
					+static-input('更新时间', 'update-time')(ng-bind='gbTicket.update_time')
				+hgroup
					+input('联系次数', 'contact-count')(ng-model='gbTicket.contact_count')
				+hgroup
					+select('失效标识', 'yn')(ng-model='gbTicket.yn')
						+option('有效', 0)
						+option('无效', 1)

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveGlobalTicket()') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消
