//- 新建来电工单
+modal('global-new-ticket')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title 新建来电工单
	.modal-body
		form.form-horizontal(name='gbTicketForm' novalidate ng-class='{sumitted: gbTicketForm.$sumitted}')
			fieldset
				legend 工单信息
				table.form-table
					tr
						+input('客户姓名', 'name')(uu-name ng-model='gbOrder.name' required)
						+select('工单状态', 'order-status')(ng-model='gbOrder.orderStatus' required)
							+option('已完成', 0)
							+option('处理中', 0)
							+option('待处理', 0)
					tr
						+static-input('来电时间')(ng-bind='gbOrder.callTime' required)
						+static-input('负责人')(ng-bind='gbOrder.responser' required)
					tr
						+select('查询类型', 'query-type')(ng-model='gbOrder.queryType' required)
							+option('产品', 0)
							+option('售后服务', 0)
							+option('订购', 0)
							+option('支付', 0)
							+option('物流', 0)
						+input('联系电话', 'telphone')(uu-phone ng-model='gbOrder.telphone' required)
					tr
						+textarea('内容', 'content', 3)(ng-model='gbOrder.content' required)

	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveGlobalTicket(gbTicketForm)') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

