.article-header-search
	form.form-inline(role='form')
		.form-group
			select.form-control.input-sm(ng-model='searchModel.filter', ng-options='filter.value as filter.name for filter in filters')
			select.form-control.input-sm(ng-model='searchModel.subfilter', ng-options='filter.value as filter.name for filter in subfilters')
			input.form-control.input-sm(ng-model='searchModel.keyword')
		.btn.uu-btn
			+tooltip('查询', 'top')
				+glyphicon('search')
