include ../../modules/mixins.jade

//- 顶部操作栏
+action-bar
	li
		+tooltip('新建商品', 'top', 'newCommdity(commdityForm)')
			+glyphicon('plus')
	li
		+tooltip('', 'top', 'globalToggleSearch()')
			+glyphicon('search')

//- 搜索
+linkage-search('search()')

//- 商品列表
table.uu-table(ng-show='commodities')
	+theadplus()(operation='工具', ng-dblclick="chooseTh('table-cols')")
	tbody
		tr(ng-repeat='commodity in commodities' ng-dblclick='editCommodity(commodity)')
			td(ng-bind='commodity.goods_code' ng-show='ths[0].isChecked')
			td(ng-bind='commodity.goods_name' ng-show='ths[1].isChecked')
			td(ng-bind='commodity.goods_type | goodsType' ng-show='ths[2].isChecked')
			td(ng-bind='commodity.goods_price' ng-show='ths[3].isChecked')
			td(ng-bind='commodity.goods_unit' ng-show='ths[4].isChecked')
			td(ng-bind='commodity.isbn' ng-show='ths[5].isChecked')
			td(ng-bind='commodity.product_date' ng-show='ths[6].isChecked')
			td(ng-bind='commodity.goods_desc' ng-show='ths[7].isChecked')
			td(ng-bind='commodity.yn | valid' ng-show='ths[8].isChecked')
			td(ng-bind='commodity.creator' ng-show='ths[9].isChecked')
			td.nowrap
				+tooltip('修改', 'top', 'editCommodity(commodity)')
					+glyphicon('pencil') &nbsp;

				+tooltip('复制新增', 'top', 'editCommodity(commodity, true)')
					+glyphicon('file')

uu-pagination(records='commodities.meta.recordsCount', per-page='{{commodities.meta.pageSize}}' page='commodities.meta.pageNo', model='searchModel', action='getCommdityList()')

//- 新建商品
+modal('commidy-form')
	.modal-header
		button.close(data-dismiss='modal', aria-hidden='true') &times;
		h4.modal-title(ng-bind='commodityFormTitle')
	.modal-body
		form.form-horizontal.form-nowrap(name='commdityForm' novalidate ng-class='{sumitted: commdityForm.$sumitted}')
			fieldset
				legend 商品信息
				table.form-table
					tr
						+static-input('商品编码', 'goods_code')(ng-bind='commodity.goods_code' required)
						+input('商品名称', 'goods_name')(ng-model='commodity.goods_name' required)
					tr
						+commdity-type('商品类型', 'goods_type')(uu-num ng-model='commodity.goods_type' required)
						+input('商品价格', 'goods_price')(uu-float ng-model='commodity.goods_price' required)
					tr
						+input('商品规格', 'goods_unit')(ng-model='commodity.goods_unit')
						+input('生产日期', 'product_date')(ng-model='commodity.product_date' uu-date-picker)
					tr
						+input('商品条码', 'barcode')(ng-model='commodity.barcode' required)
						+input('ISBN号', 'isbn')(ng-model='commodity.isbn' required)
					tr
						+yesno('是否有效', 'is-valid')(ng-model='commodity.yn')
						+input('商品描述', 'goods-desc')(ng-model='commodity.goods_desc')
	.modal-footer
		button.btn.uu-btn.btn-primary(ng-click='saveCommidity(commdityForm)' ng-disabled='commdityForm.processing') 保存
		button.btn.uu-btn(data-dismiss='modal') 取消

//- 更改显示列
include ../../modules/table-ths.jade
