<div uu-info-panel>
	<div uu-info-tab>
		<li uu-info-item label="今日销售额" value="{{statistics.sales_today}}"></li>
		<li uu-info-item label="历史销售总额" value="{{statistics.sales_history}}"></li>
		<li uu-info-item label="今日新增保证金总额" value="{{statistics.sales_added}}"></li>
		<li uu-info-item label="应缴保证金总额" value="{{statistics.sales_should}}"></li>
		<li uu-info-item label="保证金差额" value="{{statistics.sales_balance}}"></li>
	</div>
</div>


<form class="form form-horizontal form-small search-form" role="form" ng-submit="search('deposit')">
	<fieldset>
		<div class="col-xs-10">
			<div class="form-group">
				<label class="col-xs-4 control-label" for="f-area">代理区域: </label>
				<div class="col-xs-4">
					<select name="area" id="f-area" ng-model="searchModel.area" class="form-control">
						<option value=""></option>
						<option value="0">华东</option>
						<option value="1">华北</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-4 control-label" for="f-agentName">代理商: </label>
				<div class="col-xs-4">
					<select name="agentName" id="f-agentName" ng-model="searchModel.agentName" class="form-control">
						<option value=""></option>
						<option value="0">代理商一</option>
						<option value="1">代理商二</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-4 control-label" for="f-creater">隶属销售: </label>
				<div class="col-xs-4">
					<input type="text" name="creater" ng-model="searchModel.creater" class="form-control input-small" id="f-creater">
				</div>
			</div>
			<div uu-field-wrap label="时间区间" l-col="4" r-col="4" name="start-date">
				<div class="input-daterange input-group">
					<input type="text" class="input-sm form-control" uu-date-picker id="start-date" ng-model="searchModel.startDate" name="start" id="f-dateFrom">
					<span class="input-group-addon">-</span>
					<input type="text" class="input-sm form-control" uu-date-picker ng-model="searchModel.endDate" name="end">
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-4 col-xs-offset-4">
					<input type="submit" value="搜索" class="btn btn-default">
				</div>
			</div>
		</div>
	</fieldset>
	<div class="col-xs-2 pull-right">
		<ul class="list-inline batch-btn-group ">
			<li><a href="">修改</a></li>
			<li class="split-pipe">|</li>
			<li><a href="">导出</a></li>
		</ul>
	</div>
</form>


<div class="result">
	<table class="table table-hover table-condensed ">
		<thead>
			<tr>
				<th>今日新增保证金</th>
				<th>代理区域</th>
				<th>代理商</th>
				<th>隶属销售</th>
				<th>应缴纳保证金</th>
				<th>实际缴纳</th>
				<th>差额计划</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in result">
				<td>{{item.add_amount}}</td>
				<td>{{item.area}}</td>
				<td>{{item.agent_name}}</td>
				<td>{{item.creater}}</td>
				<td>{{item.total_amount}}</td>
				<td>{{item.actual_amount}}</td>
				<td>{{item.balance}}</td>
			</tr>
		</tbody>
	</table>
</div>
