<div uu-info-panel>
	<div uu-info-tab>
		<li uu-info-item label="今日销售额" value="{{statistics.sales_today}}"></li>
		<li uu-info-item label="历史销售总额" value="{{statistics.sales_history}}"></li>
		<li uu-info-item label="今日新增保证金总额" value="{{statistics.sales_added}}"></li>
		<li uu-info-item label="应缴保证金总额" value="{{statistics.sales_should}}"></li>
		<li uu-info-item label="保证金差额" value="{{statistics.sales_balance}}"></li>
	</div>
</div>

<form class="form form-horizontal form-small search-form" role="form" ng-submit="search('rebate')">
	<fieldset>
		<div class="col-xs-10">
			<form class="form form-horizontal form-small search-form" role="form" ng-submit="search('deposit')">
				<fieldset>
					<div uu-field-wrap label="时间区间" l-col="2" r-col="5" search-btn="true" name="start-date">
						<div class="input-daterange input-group">
							<input type="text" class="input-sm form-control" uu-date-picker id="start-date" ng-model="searchModel.startDate" name="start" id="f-dateFrom">
							<span class="input-group-addon">-</span>
							<input type="text" class="input-sm form-control" uu-date-picker ng-model="searchModel.endDate" name="end">
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</fieldset>
	<div class="col-xs-2 pull-right">
		<ul class="list-inline batch-btn-group ">
			<li><a href="">修改</a></li>
			<li class="split-pipe">|</li>
			<li><a href="">导出</a></li>
		</ul>
	</div>
</form>

<div class="result">
	<table class="table table-hover table-condensed ">
		<thead>
			<tr>
				<th>代理商编号</th>
				<th>本月返款</th>
				<th>返款明细</th>
				<th>返款途径及账户信息</th>
				<th>累计返款</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in result">
				<td>{{item.agent_code}}</td>
				<td>{{item.quidco_amount}}</td>
				<td>{{item.quidco_detail}}</td>
				<td>{{item.quidco_desc}}</td>
				<td>{{item.accu_quidco_amount}}</td>
				<td>{{item.remark}}</td>
			</tr>
		</tbody>
	</table>
</div>
