<!-- nav tab begin-->
<ul class="action-group list-inline ng-scope">
	<li>
		<a ui-sref="root.financial.deposit" ng-class="{active: $state.includes('root.financial.deposit')}" class="action-item">保证金</a>
	</li>
	<li>
		<a ui-sref="root.financial.rebate" ng-class="{active: $state.includes('root.financial.rebate')}" class="action-item">返款</a>
	</li>
	<li>
		<a ui-sref="root.financial.recorded" ng-class="{active: $state.includes('root.financial.recorded')}" class="action-item">入账</a>
	</li>
</ul>

<div ui-view></div>