
<h1>Home Page</h1>
<table class="uud-table">
  <thead>
    <tr>
      <th>客户姓名</th>
      <th>订单编号</th>
      <th>客户电话</th>
      <th>所在省</th>
      <th>城市</th>
      <th>订购类型</th>
      <th>付款状态</th>
      <th>创建时间</th>
      <th>联系次数</th>
      <th>工具</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>李四民</td>
      <td>20141020</td>
      <td>15006492314</td>
      <td>山东</td>
      <td>青岛</td>
      <td>年度</td>
      <td>已付款</td>
      <td>20141018</td>
      <td>1</td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="bottom" data-toggle="tooltip" title="修改订单"><span class="glyphicon glyphicon-pencil">&nbsp;
            <k></k></span></a><a href="" uu-tooltip="uu-tooltip" data-placement="bottom" data-toggle="tooltip" title="发送消息"><span class="glyphicon glyphicon-send"></span></a>
      </td>
    </tr>
    <tr>
      <td>李四民</td>
      <td>20141020</td>
      <td>15006492314</td>
      <td>山东</td>
      <td>青岛</td>
      <td>年度</td>
      <td>已付款</td>
      <td>20141018</td>
      <td>1</td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="bottom" data-toggle="tooltip" title="修改订单"><span class="glyphicon glyphicon-pencil">&nbsp;
            <k></k></span></a><a href="" uu-tooltip="uu-tooltip" data-placement="bottom" data-toggle="tooltip" title="发送消息"><span class="glyphicon glyphicon-send"></span></a>
      </td>
    </tr>
    <tr>
      <td>李四民</td>
      <td>20141020</td>
      <td>15006492314</td>
      <td>山东</td>
      <td>青岛</td>
      <td>年度</td>
      <td>已付款</td>
      <td>20141018</td>
      <td>1</td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="bottom" data-toggle="tooltip" title="修改订单"><span class="glyphicon glyphicon-pencil">&nbsp;
            <k></k></span></a><a href="" uu-tooltip="uu-tooltip" data-placement="bottom" data-toggle="tooltip" title="发送消息"><span class="glyphicon glyphicon-send"></span></a>
      </td>
    </tr>
    <tr>
      <td>李四民</td>
      <td>20141020</td>
      <td>15006492314</td>
      <td>山东</td>
      <td>青岛</td>
      <td>年度</td>
      <td>已付款</td>
      <td>20141018</td>
      <td>1</td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="bottom" data-toggle="tooltip" title="修改订单"><span class="glyphicon glyphicon-pencil">&nbsp;
            <k></k></span></a><a href="" uu-tooltip="uu-tooltip" data-placement="bottom" data-toggle="tooltip" title="发送消息"><span class="glyphicon glyphicon-send"></span></a>
      </td>
    </tr>
  </tbody>
</table>