
<ul class="nav navbar-nav navbar-right">
  <li><a href="" ui-sref="root.utils.neworder" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="tooltip" title="新建来电工单"><span class="glyphicon glyphicon-plus"></span></a>
  </li>
  <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="tooltip" title="查找订单"><span class="glyphicon glyphicon-search"></span></a>
  </li>
  <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="tooltip" title="群发信息"><span class="glyphicon glyphicon-comment"></span></a>
  </li>
  <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="tooltip" title="群发邮件"><span class="glyphicon glyphicon-envelope"></span></a>
  </li>
  <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="tooltip" title="修改密码"><span class="glyphicon glyphicon-wrench"></span></a>
  </li>
  <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="tooltip" title="退出系统"><span class="glyphicon glyphicon-log-out"></span></a>
  </li>
</ul>
<table class="uu-table">
  <thead>
    <tr>
      <th>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="selectedAll" ng-click="toggleSelectAll()"/>全选
          </label>
        </div>
      </th>
      <th>客户姓名</th>
      <th>订单编号</th>
      <th>客户电话</th>
      <th>所在省</th>
      <th>城市</th>
      <th>订购类型</th>
      <th>付款状态</th>
      <th>创建时间</th>
      <th>联系次数</th>
      <th>工具</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="checkbox" ng-model="4"/>
      </td>
      <td>李四民</td>
      <td>20141020</td>
      <td>15006492314</td>
      <td>山东</td>
      <td>青岛</td>
      <td>年度</td>
      <td>已付款</td>
      <td>20141018</td>
      <td>1</td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="left" data-toggle="tooltip" title="修改订单"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="right" data-toggle="tooltip" title="发送消息"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" ng-model="3"/>
      </td>
      <td>李四民</td>
      <td>20141020</td>
      <td>15006492314</td>
      <td>山东</td>
      <td>青岛</td>
      <td>年度</td>
      <td>已付款</td>
      <td>20141018</td>
      <td>1</td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="left" data-toggle="tooltip" title="修改订单"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="right" data-toggle="tooltip" title="发送消息"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" ng-model="2"/>
      </td>
      <td>李四民</td>
      <td>20141020</td>
      <td>15006492314</td>
      <td>山东</td>
      <td>青岛</td>
      <td>年度</td>
      <td>已付款</td>
      <td>20141018</td>
      <td>1</td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="left" data-toggle="tooltip" title="修改订单"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="right" data-toggle="tooltip" title="发送消息"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" ng-model="1"/>
      </td>
      <td>李四民</td>
      <td>20141020</td>
      <td>15006492314</td>
      <td>山东</td>
      <td>青岛</td>
      <td>年度</td>
      <td>已付款</td>
      <td>20141018</td>
      <td>1</td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="left" data-toggle="tooltip" title="修改订单"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="right" data-toggle="tooltip" title="发送消息"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
  </tbody>
</table>