
<div class="wrapper">
  <div class="pg-info">
    <div class="container">
      <div class="col-xs-2 leftside"><a ui-sref="root.home"><img src="images/logo.png" alt="logo" width="125" height="60" class="brand"/>
          <p class="des">幼小衔接家庭课程专家</p></a></div>
      <div class="col-xs-10 rightside">
        <div class="row">
          <ul class="gb-actions">
            <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="" class="dropdown-toggle"><span class="glyphicon glyphicon-cog"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="" ng-click="changePassword()" class="jslink">修改密码</a>
                </li>
                <li><a href="" ng-click="logout()" class="jslink">退出系统</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="list-inline">
            <li><span class="key">工号: </span><span ng-bind="currentUser.userNo" class="val"></span>
            </li>
            <li><span class="key">分机: </span><span ng-bind="currentUser.phone" class="val"></span>
            </li>
            <li><span class="key">网络沟通量: </span><span ng-bind="currentUser.numWebCommunication" class="val"></span>
            </li>
            <li><span class="key">接听量: </span><span ng-bind="currentUser.numCallIn" class="val"></span>
            </li>
            <li><span class="key">外呼量: </span><span ng-bind="currentUser.numCallOut" class="val"></span>
            </li>
            <li><span class="key">工单量: </span><span ng-bind="currentUser.numWorkOrder" class="val"></span>
            </li>
            <li><span class="key">订单量: </span><span ng-bind="currentUser.numOrder" class="val"></span>
            </li>
            <li><span class="key">预约客户量: </span><span ng-bind="currentUser.numReservation" class="val"></span>
            </li>
          </ul>
          <hr/>
          <div id="call-center">
            <iframe src="/call-center.html" id="callCenterBar" name="callCenterBar" frameborder="0" width="100%" height="70px" scrolling="auto"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-2 left-sidebar">
        <ul uu-sidebar="" class="nav nav-sections">
          <li uu-auth-filter="00" ng-class="{&quot;open&quot;: $state.includes(&quot;root.customer&quot;) || $state.includes(&quot;root.customerManager&quot;) || $state.includes(&quot;root.data&quot;) || $state.includes(&quot;root.knowledge&quot;)}" class="section-item"><a class="nav-sections-label">商务客服</a>
            <ul class="nav nav-navs">
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.customer&quot;)}" uu-auth-filter="0000" class="nav-item"><a class="nav-menu-label">客户服务</a>
                <ul role="menu" class="nav nav-menu">
                  <li uu-auth-filter="000000"><a ui-sref="root.customer.checkorder" ng-class="{active: $state.is(&quot;root.customer.checkorder&quot;)}">官网核实订单</a></li>
                  <li uu-auth-filter="000001"><a ui-sref="root.customer.splitorder" ng-class="{active: $state.is(&quot;root.customer.splitorder&quot;)}">拆分订单</a></li>
                  <li uu-auth-filter="000003"><a ui-sref="root.customer.firstbuy" ng-class="{active: $state.is(&quot;root.customer.firstbuy&quot;)}">代理商订单审核</a></li>
                  <li uu-auth-filter="000002"><a ui-sref="root.customer.complaints" ng-class="{active: $state.is(&quot;root.customer.complaints&quot;)}">投诉</a></li>
                  <li uu-auth-filter="000003"><a ui-sref="root.customer.return" ng-class="{active: $state.is(&quot;root.customer.return&quot;)}">退货</a></li>
                  <li uu-auth-filter="000004"><a ui-sref="root.customer.exchange" ng-class="{active: $state.is(&quot;root.customer.exchange&quot;)}">换货</a></li>
                  <li uu-auth-filter="000005"><a ui-sref="root.customer.customers" ng-class="{active: $state.is(&quot;root.customer.customers&quot;)}">客户池</a></li>
                </ul>
              </li>
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.customerManager&quot;)}" uu-auth-filter="0001" class="nav-item"><a class="nav-menu-label">客服管理</a>
                <ul role="menu" class="nav nav-menu">
                  <li uu-auth-filter="000100"><a ui-sref="root.customerManager.employee" ng-class="{active: $state.is(&quot;root.customerManager.employee&quot;)}">员工管理</a></li>
                  <li uu-auth-filter="000101"><a ui-sref="root.customerManager.online" ng-class="{active: $state.is(&quot;root.customerManager.online&quot;)}">在线管理</a></li>
                  <li uu-auth-filter="000102"><a ui-sref="root.customerManager.phone" ng-class="{active: $state.is(&quot;root.customerManager.phone&quot;)}">电话管理</a></li>
                  <li uu-auth-filter="000103"><a ui-sref="root.customerManager.info" ng-class="{active: $state.is(&quot;root.customerManager.info&quot;)}">信息管理</a></li>
                </ul>
              </li>
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.data&quot;)}" uu-auth-filter="0002" class="nav-item"><a class="nav-menu-label">数据管理</a>
                <ul role="menu" class="nav nav-menu">
                  <li uu-auth-filter="000200"><a ui-sref="root.data.ordermanager" ng-class="{active: $state.is(&quot;root.data.ordermanager&quot;)}">订单管理</a></li>
                  <li uu-auth-filter="000201"><a ui-sref="root.data.work" ng-class="{active: $state.is(&quot;root.data.work&quot;)}">工单管理</a></li>
                  <li uu-auth-filter="000202"><a ui-sref="root.data.inventory" ng-class="{active: $state.is(&quot;root.data.inventory&quot;)}">库存管理</a></li>
                  <li uu-auth-filter="000203"><a ui-sref="root.data.statistics" ng-class="{active: $state.is(&quot;root.data.statistics&quot;)}">统计</a></li>
                </ul>
              </li>
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.knowledge&quot;)}" uu-auth-filter="0003" class="nav-item"><a class="nav-menu-label">知识库</a>
                <ul role="menu" class="nav nav-menu">
                  <li uu-auth-filter="000300"><a ui-sref="root.knowledge.presale" ng-class="{active: $state.is(&quot;root.knowledge.presale&quot;)}">售前服务</a></li>
                  <li uu-auth-filter="000301"><a ui-sref="root.knowledge.aftersale" ng-class="{active: $state.is(&quot;root.knowledge.aftersale&quot;)}">售后服务</a></li>
                  <li uu-auth-filter="000302"><a ui-sref="root.knowledge.qa" ng-class="{active: $state.is(&quot;root.knowledge.qa&quot;)}">常见问题</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li uu-auth-filter="01" ng-class="{&quot;open&quot;: $state.includes(&quot;root.commodity&quot;) || $state.includes(&quot;root.outbound&quot;) || $state.includes(&quot;root.storehouse&quot;)}" class="section-item"><a class="nav-sections-label">库存管理</a>
            <ul class="nav nav-navs">
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.commodity&quot;)}" uu-auth-filter="0101" class="nav-item"><a class="nav-menu-label">入库管理</a>
                <ul role="menu" class="nav nav-menu">
                  <li uu-auth-filter="010100"><a ui-sref="root.commodity.stockin" ng-class="{active: $state.is(&quot;root.commodity.stockin&quot;)}">入库单管理</a></li>
                  <li uu-auth-filter="010101"><a ui-sref="root.commodity.storage" ng-class="{active: $state.is(&quot;root.commodity.storage&quot;)}">商品入库</a></li>
                  <li uu-auth-filter="010102"><a ui-sref="root.commodity.adjust" ng-class="{active: $state.is(&quot;root.commodity.adjust&quot;)}">换货调整</a></li>
                </ul>
              </li>
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.outbound&quot;)}" uu-auth-filter="0102" class="nav-item"><a class="nav-menu-label">出库管理</a>
                <ul role="menu" class="nav nav-menu">
                  <li uu-auth-filter="010200"><a ui-sref="root.outbound.distrib" ng-class="{active: $state.is(&quot;root.outbound.distrib&quot;)}">订单配货</a></li>
                  <li uu-auth-filter="010201"><a ui-sref="root.outbound.pick" ng-class="{active: $state.is(&quot;root.outbound.pick&quot;)}">拣货出库</a></li>
                  <li uu-auth-filter="010202"><a ui-sref="root.outbound.port" ng-class="{active: $state.is(&quot;root.outbound.port&quot;)}">调货出库</a></li>
                </ul>
              </li>
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.storehouse&quot;)}" uu-auth-filter="0103" class="nav-item"><a class="nav-menu-label">库房管理</a>
                <ul role="menu" class="nav nav-menu">
                  <li uu-auth-filter="010300"><a ui-sref="root.storehouse.define" ng-class="{active: $state.is(&quot;root.storehouse.define&quot;)}">库房定义</a></li>
                  <li uu-auth-filter="010302"><a ui-sref="root.storehouse.audit" ng-class="{active: $state.is(&quot;root.storehouse.audit&quot;)}">出入库记录</a></li>
                  <li uu-auth-filter="010303"><a ui-sref="root.storehouse.remain" ng-class="{active: $state.is(&quot;root.storehouse.remain&quot;)}">商品库存</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li uu-auth-filter="01" ng-class="{&quot;open&quot;: $state.includes(&quot;root.product&quot;) || $state.includes(&quot;root.params&quot;)}" class="section-item"><a class="nav-sections-label">基础信息</a>
            <ul class="nav nav-navs">
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.product&quot;)}" uu-auth-filter="0100" class="nav-item"><a class="nav-menu-label">业务信息</a>
                <ul role="menu" class="nav nav-menu">
                  <li uu-auth-filter="010000"><a ui-sref="root.product.commodity" ng-class="{active: $state.is(&quot;root.product.commodity&quot;)}">商品定义</a></li>
                  <li uu-auth-filter="010001"><a ui-sref="root.product.goods" ng-class="{active: $state.is(&quot;root.product.goods&quot;)}">产品定义</a></li>
                  <li uu-auth-filter="010001"><a ui-sref="root.product.suit" ng-class="{active: $state.is(&quot;root.product.suit&quot;)}">套餐定义</a></li>
                </ul>
              </li>
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.params&quot;)}" uu-auth-filter="0105" class="nav-item"><a class="nav-menu-label">系统信息</a>
                <ul role="menu" class="nav nav-menu">
                  <li uu-auth-filter="010500"><a ui-sref="root.params.system" ng-class="{active: $state.is(&quot;root.params.system&quot;)}">参数维护</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li uu-auth-filter="02" ng-class="{&quot;open&quot;: $state.includes(&quot;root.agents&quot;)}" class="section-item"><a class="nav-sections-label">代理商管理</a>
            <ul class="nav nav-navs">
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.agents&quot;)}" uu-auth-filter="0100" class="nav-item"><a class="nav-menu-label">基本信息</a>
                <ul role="menu" class="nav nav-menu">
                  <li uu-auth-filter="010000"><a ui-sref="root.agents.manage" ng-class="{active: $state.is(&quot;root.agents.manage&quot;)}">代理商录入</a></li>
                  <li uu-auth-filter="010001"><a ui-sref="root.agents.channel" ng-class="{active: $state.is(&quot;root.agents.channel&quot;)}">渠道信息</a></li>
                  <li uu-auth-filter="010001"><a ui-sref="root.agents.contract" ng-class="{active: $state.is(&quot;root.agents.contract&quot;)}">合同信息</a></li>
                  <li uu-auth-filter="010001"><a ui-sref="root.agents.overview" ng-class="{active: $state.is(&quot;root.agents.overview&quot;)}">代理区域关系</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="section-item"><a class="nav-sections-label">财务管理</a>
            <ul class="nav nav-navs">
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.agents&quot;)}" uu-auth-filter="0100" class="nav-item"><a class="nav-menu-label">基本信息</a>
                <ul role="menu" class="nav nav-menu">
                  <li uu-auth-filter="010000"><a ui-sref="root.agents.manage" ng-class="{active: $state.is(&quot;root.agents.manage&quot;)}">代理商录入</a></li>
                  <li uu-auth-filter="010001"><a ui-sref="root.agents.channel" ng-class="{active: $state.is(&quot;root.agents.channel&quot;)}">渠道信息</a></li>
                  <li uu-auth-filter="010001"><a ui-sref="root.agents.contract" ng-class="{active: $state.is(&quot;root.agents.contract&quot;)}">合同信息</a></li>
                  <li uu-auth-filter="010001"><a ui-sref="root.agents.overview" ng-class="{active: $state.is(&quot;root.agents.overview&quot;)}">代理区域关系</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-xs-10 main">
        <div ui-view=""></div>
      </div>
    </div>
  </div>
</div>