
<div class="wrapper">
  <div class="pg-info">
    <div class="container">
      <div class="col-xs-2 leftside"><a ui-sref="root.home"><img src="images/logo.png" alt="logo" width="125" height="60" class="brand"/>
          <p class="des">幼小衔接家庭课程专家</p></a></div>
      <div class="col-xs-10 rightside">
        <div class="row">
          <ul class="gb-actions">
            <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="" class="dropdown-toggle"><span class="glyphicon glyphicon-cog"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="" ng-click="changePassword()" class="jslink">修改密码</a>
                </li>
                <li><a href="" ng-click="logout()" class="jslink">退出系统</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="list-inline">
            <li><span class="key">当前日期: </span><span ng-bind="date | date : &quot;yyyy-MM-dd&quot;" class="val"></span>
            </li>
            <li><span class="key">分机: </span><span ng-bind="currentUser.phone" class="val"></span>
            </li>
            <li><span class="key">坐席: </span><span ng-bind="currentUser.positions" class="val"></span>
            </li>
            <li><span class="key">状态: </span><span ng-bind="currentUser.isValid" class="val"></span>
            </li>
            <li><span class="key">计时:</span><span timing="'h:mm:ss'"></span></li>
            <li><span class="key">工号: </span><span ng-bind="currentUser.userNo" class="val"></span>
            </li>
            <li><span class="key">姓名: </span><span ng-bind="currentUser.name" class="val"></span>
            </li>
            <li><span class="key">所在组: </span><span ng-bind="currentUser.groupId" class="val"></span>
            </li>
          </ul>
          <hr/>
          <table class="table">
            <tr>
              <td><span class="key">网络沟通量: </span><span ng-bind="currentUser.userNo" class="val"></span>
              </td>
              <td><span class="key">电话接听量: </span><span ng-bind="currentUser.name" class="val"></span>
              </td>
              <td><span class="key">电话外呼量: </span><span ng-bind="currentUser.groupId" class="val"></span>
              </td>
              <td><span class="key">今日工单数量: </span><span ng-bind="currentUser.userNo" class="val"></span>
              </td>
              <td><span class="key">今日订单数量: </span><span ng-bind="currentUser.name" class="val"></span>
              </td>
              <td><span class="key">预约客户数量: </span><span ng-bind="currentUser.groupId" class="val"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-2 left-sidebar">
        <ul uu-sidebar="" class="nav nav-sections">
          <li class="section-item"><a class="nav-sections-label">商务客服</a>
            <ul class="nav nav-navs">
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.customer&quot;)}" uu-auth-filter="01" class="nav-item"><a class="nav-menu-label">客户服务</a>
                <ul role="menu" class="nav nav-menu">
                  <li><a ui-sref="root.customer.checkorder" ng-class="{active: $state.is(&quot;root.customer.checkorder&quot;)}">官网核实订单</a></li>
                  <li><a ui-sref="root.customer.splitorder" ng-class="{active: $state.is(&quot;root.customer.splitorder&quot;)}">拆分订单</a></li>
                  <li><a ui-sref="root.customer.complaints" ng-class="{active: $state.is(&quot;root.customer.complaints&quot;)}">投诉</a></li>
                  <li><a ui-sref="root.customer.return" ng-class="{active: $state.is(&quot;root.customer.return&quot;)}">退货</a></li>
                  <li><a ui-sref="root.customer.exchange" ng-class="{active: $state.is(&quot;root.customer.exchange&quot;)}">换货</a></li>
                  <li><a ui-sref="root.customer.customers" ng-class="{active: $state.is(&quot;root.customer.customers&quot;)}">客户池</a></li>
                </ul>
              </li>
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.customerManager&quot;)}" uu-auth-filter="02" class="nav-item"><a class="nav-menu-label">客服管理</a>
                <ul role="menu" class="nav nav-menu">
                  <li><a ui-sref="root.customerManager.employee" ng-class="{active: $state.is(&quot;root.customerManager.employee&quot;)}">员工管理</a></li>
                  <li><a ui-sref="root.customerManager.online" ng-class="{active: $state.is(&quot;root.customerManager.online&quot;)}">在线管理</a></li>
                  <li><a ui-sref="root.customerManager.phone" ng-class="{active: $state.is(&quot;root.customerManager.phone&quot;)}">电话管理</a></li>
                  <li><a ui-sref="root.customerManager.info" ng-class="{active: $state.is(&quot;root.customerManager.info&quot;)}">信息管理</a></li>
                </ul>
              </li>
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.data&quot;)}" uu-auth-filter="03" class="nav-item"><a class="nav-menu-label">数据管理</a>
                <ul role="menu" class="nav nav-menu">
                  <li><a ui-sref="root.data.ordermanager" ng-class="{active: $state.is(&quot;root.data.ordermanager&quot;)}">订单管理</a></li>
                  <li><a ui-sref="root.data.work" ng-class="{active: $state.is(&quot;root.data.work&quot;)}">工单管理</a></li>
                  <li><a ui-sref="root.data.inventory" ng-class="{active: $state.is(&quot;root.data.inventory&quot;)}">库存管理</a></li>
                  <li><a ui-sref="root.data.statistics" ng-class="{active: $state.is(&quot;root.data.statistics&quot;)}">统计</a></li>
                </ul>
              </li>
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.qa&quot;)}" uu-auth-filter="02" class="nav-item"><a class="nav-menu-label">知识库</a>
                <ul role="menu" class="nav nav-menu">
                  <li><a ui-sref="root.knowledge.presale" ng-class="{active: $state.is(&quot;root.knowledge.presale&quot;)}">售前服务</a></li>
                  <li><a ui-sref="root.knowledge.aftersale" ng-class="{active: $state.is(&quot;root.knowledge.aftersale&quot;)}">售后服务</a></li>
                  <li><a ui-sref="root.knowledge.qa" ng-class="{active: $state.is(&quot;root.knowledge.qa&quot;)}">常见问题</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="section-item"><a class="nav-sections-label">库存管理</a>
            <ul class="nav nav-navs">
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.product&quot;)}" uu-auth-filter="03" class="nav-item"><a class="nav-menu-label">产品管理</a>
                <ul role="menu" class="nav nav-menu">
                  <li><a ui-sref="root.product.commodity" ng-class="{active: $state.is(&quot;root.product.commodity&quot;)}">商品定义</a></li>
                  <li><a ui-sref="root.product.goods" ng-class="{active: $state.is(&quot;root.product.goods&quot;)}">产品定义</a></li>
                </ul>
              </li>
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.commodity&quot;)}" uu-auth-filter="04" class="nav-item"><a class="nav-menu-label">入库管理</a>
                <ul role="menu" class="nav nav-menu">
                  <li><a ui-sref="root.commodity.storage" ng-class="{active: $state.is(&quot;root.commodity.storage&quot;)}">商品入库</a></li>
                </ul>
              </li>
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.warehouse&quot;)}" uu-auth-filter="04" class="nav-item"><a class="nav-menu-label">出库管理</a>
                <ul role="menu" class="nav nav-menu">
                  <li><a ui-sref="root.order.distrib" ng-class="{active: $state.is(&quot;root.order.distrib&quot;)}">订单配货</a></li>
                  <li><a ui-sref="root.order.adjust" ng-class="{active: $state.is(&quot;root.order.adjust&quot;)}">换货调整</a></li>
                  <li><a ui-sref="root.order.print" ng-class="{active: $state.is(&quot;root.order.print&quot;)}">打印出库单</a></li>
                  <li><a ui-sref="root.order.port" ng-class="{active: $state.is(&quot;root.order.port&quot;)}">调货出库</a></li>
                </ul>
              </li>
              <li ng-class="{&quot;active open&quot;: $state.includes(&quot;root.storehouse&quot;)}" uu-auth-filter="04" class="nav-item"><a class="nav-menu-label">库房管理</a>
                <ul role="menu" class="nav nav-menu">
                  <li><a ui-sref="root.storehouse.define" ng-class="{active: $state.is(&quot;root.storehouse.define&quot;)}">库房定义</a></li>
                  <li><a ui-sref="root.storehouse.audit" ng-class="{active: $state.is(&quot;root.storehouse.audit&quot;)}">出入库记录</a></li>
                  <li><a ui-sref="root.storehouse.remain" ng-class="{active: $state.is(&quot;root.storehouse.remain&quot;)}">剩余数量</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="section-item"><a class="nav-sections-label">经销商管理</a>
            <ul class="nav nav-navs">
            </ul>
          </li>
          <li class="section-item"><a class="nav-sections-label">财务管理</a>
            <ul class="nav nav-navs">
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-xs-10 main">
        <div ui-view=""></div>
      </div>
    </div>
  </div>
  <div id="global-new-order" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
          <h4 class="modal-title">新建来电订单</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <fieldset>
              <div class="form-group">
                <label for="form-name" class="control-label col-xs-3">客户姓名</label>
                <div class="col-xs-7">
                  <input id="form-name" ng-model="gbOrder.name" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group">
                <label for="form-order-status" class="control-label col-xs-3">工单状态</label>
                <div class="col-xs-7">
                  <select id="form-order-status" ng-model="gbOrder.orderStatus" class="form-control input-sm">
                    <option value="0">已完成</option>
                    <option value="0">处理中</option>
                    <option value="0">待处理</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3">来电时间</label>
                <div class="col-xs-7">
                  <p ng-bind="gbOrder.callTime" class="form-control-static"></p>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3">负责人</label>
                <div class="col-xs-7">
                  <p ng-bind="gbOrder.responser" class="form-control-static"></p>
                </div>
              </div>
              <div class="form-group">
                <label for="form-query-type" class="control-label col-xs-3">查询类型</label>
                <div class="col-xs-7">
                  <select id="form-query-type" ng-model="gbOrder.queryType" class="form-control input-sm">
                    <option value="0">产品</option>
                    <option value="0">售后服务</option>
                    <option value="0">订购</option>
                    <option value="0">支付</option>
                    <option value="0">物流</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="form-telphone" class="control-label col-xs-3">联系电话</label>
                <div class="col-xs-7">
                  <input id="form-telphone" ng-model="gbOrder.telphone" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group">
                <label for="form-content" class="control-label col-xs-3">内容</label>
                <div class="col-xs-7">
                  <textarea id="form-content" ng-model="gbOrder.content" class="form-control"></textarea>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button ng-click="saveGlobalOrder()" class="btn uu-btn btn-primary">保存</button>
          <button data-dismiss="modal" class="btn uu-btn">取消</button>
        </div>
      </div>
    </div>
  </div>
  <div id="global-new-ticket" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
          <h4 class="modal-title">新建来电工单</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <fieldset>
              <legend>基本信息</legend>
              <div class="form-group col-xs-6">
                <label for="form-order-status" class="control-label col-xs-3">订单类型</label>
                <div class="col-xs-7">
                  <select id="form-order-status" ng-model="gbTicket.order_type" class="form-control input-sm">
                    <option value="0">单品订单</option>
                    <option value="1">多品订单</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-effective" class="control-label col-xs-3">生效日期</label>
                <div class="col-xs-7">
                  <input id="form-effective" ng-model="gbTicket.effective" uu-date-picker="" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-deadline" class="control-label col-xs-3">截止日期</label>
                <div class="col-xs-7">
                  <input id="form-deadline" ng-model="gbTicket.deadline" uu-date-picker="" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-customer-code" class="control-label col-xs-3">客户编号</label>
                <div class="col-xs-7">
                  <input id="form-customer-code" ng-model="gbTicket.customer_code" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-customer-name" class="control-label col-xs-3">客户手机</label>
                <div class="col-xs-7">
                  <input id="form-customer-name" ng-model="gbTicket.customer_name" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-customer_-hone" class="control-label col-xs-3">客户姓名</label>
                <div class="col-xs-7">
                  <input id="form-customer_-hone" ng-model="gbTicket.customer_phone" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-customer-addr" class="control-label col-xs-3">客户地址</label>
                <div class="col-xs-7">
                  <input id="form-customer-addr" ng-model="gbTicket.customer_addr" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-has-invoice" class="control-label col-xs-3">是否有发票</label>
                <div class="col-xs-7">
                  <select id="form-has-invoice" ng-model="gbTicket.has_invoice" class="form-control input-sm">
                    <option value="0">无</option>
                    <option value="1">有</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-source" class="control-label col-xs-3">订单来源</label>
                <div class="col-xs-7">
                  <select id="form-source" ng-model="gbTicket.source" class="form-control input-sm">
                    <option value="0">网站</option>
                    <option value="1">电话</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-agent-code" class="control-label col-xs-3">代理商编号</label>
                <div class="col-xs-7">
                  <input id="form-agent-code" ng-model="gbTicket.agent_code" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-coupon-code" class="control-label col-xs-3">优惠码</label>
                <div class="col-xs-7">
                  <input id="form-coupon-code" ng-model="gbTicket.coupon_code" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-discount-amount" class="control-label col-xs-3">折扣金额</label>
                <div class="col-xs-7">
                  <input id="form-discount-amount" ng-model="gbTicket.discount_amount" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-amount" class="control-label col-xs-3">付款金额</label>
                <div class="col-xs-7">
                  <input id="form-amount" ng-model="gbTicket.amount" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-paid" class="control-label col-xs-3">是否付款</label>
                <div class="col-xs-7">
                  <select id="form-paid" ng-model="gbTicket.paid" class="form-control input-sm">
                    <option value="0">网站</option>
                    <option value="1">电话</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-payment" class="control-label col-xs-3">付款方式</label>
                <div class="col-xs-7">
                  <select id="form-payment" ng-model="gbTicket.payment" class="form-control input-sm">
                    <option value="0">网站</option>
                    <option value="1">电话</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-status" class="control-label col-xs-3">订单状态</label>
                <div class="col-xs-7">
                  <select id="form-status" ng-model="gbTicket.status" class="form-control input-sm">
                    <option value="0">网站</option>
                    <option value="1">电话</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-validity" class="control-label col-xs-3">订单有效期</label>
                <div class="col-xs-7">
                  <input id="form-validity" ng-model="gbTicket.validity" uu-date-picker="" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-order-time" class="control-label col-xs-3">下单时间</label>
                <div class="col-xs-7">
                  <input id="form-order-time" ng-model="gbTicket.order_time" uu-date-picker="" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-creator" class="control-label col-xs-3">受理人</label>
                <div class="col-xs-7">
                  <input id="form-creator" ng-model="gbTicket.creator" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label class="control-label col-xs-3">创建时间</label>
                <div class="col-xs-7">
                  <p ng-bind="gbTicket.create_time" class="form-control-static"></p>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-updater" class="control-label col-xs-3">更新人</label>
                <div class="col-xs-7">
                  <input id="form-updater" ng-model="gbTicket.updater" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label class="control-label col-xs-3">更新时间</label>
                <div class="col-xs-7">
                  <p ng-bind="gbTicket.update_time" class="form-control-static"></p>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-contact-count" class="control-label col-xs-3">联系次数</label>
                <div class="col-xs-7">
                  <input id="form-contact-count" ng-model="gbTicket.contact_count" class="form-control input-sm"/>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="form-yn" class="control-label col-xs-3">失效标识</label>
                <div class="col-xs-7">
                  <select id="form-yn" ng-model="gbTicket.yn" class="form-control input-sm">
                    <option value="0">有效</option>
                    <option value="1">无效</option>
                  </select>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
          <button ng-click="saveGlobalTicket()" class="btn uu-btn btn-primary">保存</button>
          <button data-dismiss="modal" class="btn uu-btn">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>