<div class="container login">
	<div class="row">
		<div class="col-xs-12 text-center">

			<!-- Site Title, your name, HELLO msg, etc. -->
			<h1 class="title">优优龙</h1>
			<h3 class="subtitle">优优龙权限管理系统</h3>

			<div class="modal-dialog" style="width:350px">
				<div class="form-error-msg" ng-if="errorMsg"> {{errorMsg}} </div>
				<form class="form col-xs-12" ng-submit="login(loginForm.$valid)" name="loginForm" novalidate>
					<div class="input-group login" ng-class="{ 'has-error' : (loginForm.account.$invalid || inValid == 'account') && (!loginForm.account.$pristine || submitted) }">
						<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
						<input type="text" class="form-control" required ng-model="model.account" name="account" id="account" placeholder="用户名">
					</div>
					<div class="input-group login" ng-class="{ 'has-error' : (loginForm.password.$invalid || inValid == 'password') && (!loginForm.password.$pristine || submitted) }">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input type="password" class="form-control" required ng-model="model.password" name="password" id="password" placeholder="密码">
					</div>

					<div class="form-group">
						<button class="btn btn-primary btn-block" type="submit">登陆</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
