<div class="container login">
	<div class="row">
		<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">

			<!-- Site Title, your name, HELLO msg, etc. -->
			<h1 class="title">优优龙</h1>
			<h3 class="subtitle">幼小衔接家庭课程专家</h3>

			<div class="modal-dialog" style="width:350px">
				<form class="form col-md-12" ng-submit="login()">
					<div class="form-group">
						<input type="text" class="form-control" model="model.account" placeholder="用户名">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" model="model.password" placeholder="密码">
					</div>
					<div class="form-group">
						<button class="btn btn-primary btn-block" type="submit">登陆</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
