<div class="wrapper">
	<nav id="header" class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<!-- <div class="navbar-header">
				<a class="navbar-brand" href="#"><img src="images/brand-gray.png" class="brand" alt="brand" width="35" height="35"></a>
			</div> -->

			<ul class="nav navbar-nav">
				<li class="dropdown" ng-class="{active: $state.includes('root.customer')}" uu-auth-filter="01">
					<!-- <a ui-sref="root.customer.checkorder" class="dropdown-toggle">客户服务</a> -->
					<a class="dropdown-toggle">客户服务</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a ui-sref="root.customer.checkorder" ng-class="{active: $state.is('root.customer.checkorder')}" class="action-item">官网核实订单</a>
						</li>
						<li>
							<a ui-sref="root.customer.splitorder" ng-class="{active: $state.is('root.customer.splitorder')}" class="action-item">拆分订单</a>
						</li>
						<li>
							<a ui-sref="root.customer.complaints" ng-class="{active: $state.is('root.customer.complaints')}" class="action-item">投诉</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" ng-class="{active: $state.includes('root.customerManager')}" uu-auth-filter="02">
					<a class="dropdown-toggle">客服管理</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a ui-sref="root.customerManager.employee" ng-class="{active: $state.is('root.customerManager.employee')}" class="action-item">员工管理</a>
						</li>
						<li>
							<a ui-sref="root.customerManager.online" ng-class="{active: $state.is('root.customerManager.online')}" class="action-item">在线管理</a>
						</li>
						<li>
							<a ui-sref="root.customerManager.phone" ng-class="{active: $state.is('root.customerManager.phone')}" class="action-item">电话管理</a>
						</li>
						<li>
							<a ui-sref="root.customerManager.info" ng-class="{active: $state.is('root.customerManager.info')}" class="action-item">信息管理</a>
						</li>
					</ul>
				</li>
				<li class="dropdown" ng-class="{active: $state.includes('root.customerManagr')}" uu-auth-filter="03">
					<!-- <a ui-sref="root.customerManager.deposit" class="ng-binding">数据管理</a> -->
					<a class="dropdown-toggle">数据管理</a>

				</li>
				<li ng-class="{active: $state.includes('root.agents')}" uu-auth-filter="04">
					<a ui-sref="root.agents.list" class="ng-binding">知识库</a>
				</li>
			</ul>
			<!-- <form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<select name="" id="" class="form-control">
						<option value="0">0</option>
						<option value="1">1</option>
					</select>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="搜索">
				</div>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
			</form> -->
			<ul class="nav navbar-nav navbar-right">
				<li><a href="" uu-tooltip data-placement="bottom" title="新建来电工单"><span class="glyphicon glyphicon-plus"></span></a></li>
				<li><a href="" uu-tooltip data-placement="bottom" title="查找订单"><span class="glyphicon glyphicon-search"></span></a></li>
				<li><a href="" uu-tooltip data-placement="bottom" title="群发信息"><span class="glyphicon glyphicon-comment"></span></a></li>
				<li><a href="" uu-tooltip data-placement="bottom" title="群发邮件"><span class="glyphicon glyphicon-envelope"></span></a></li>
				<li><a href="" uu-tooltip data-placement="bottom" title="修改密码"><span class="glyphicon glyphicon-wrench"></span></a></li>
				<li><a href="" uu-tooltip data-placement="bottom" title="退出系统"><span class="glyphicon glyphicon-log-out"></span></a></li>
			</ul>
		</div>
	</nav>

	<div class="container">

		<!-- page info begin -->
		<div class="pg-info">
			<div class="row">
				<div class="col-xs-2 leftside">
					<a href="#"><img class="brand" src="images/logo.png" alt="logo" width="125" height="60"></a>
					<p class="des">幼小衔接家庭课程专家</p>
				</div>
				<div class="col-xs-10 rightside">
					<div class="row">
						<ul class="list-inline">
							<li><span class="key">当前日期:</span> <span class="val">{{date | date : "yyyy-MM-dd" }}</span></li>
							<li><span class="key">分机:</span> <span class="val">{{currentUser.phone}}</span></li>
							<li><span class="key">坐席:</span> <span class="val">{{currentUser.positions}}</span></li>
							<li><span class="key">状态:</span> <span class="val">{{currentUser.isValid}}</span></li>
							<li><span class="key">计时:</span> <span timing="'h:mm:ss'"></span></li>
							<li><span class="key">工号:</span> <span class="val">{{currentUser.userNo}}</span></li>
							<li><span class="key">姓名:</span> <span class="val">{{currentUser.name}}</span></li>
							<li><span class="key">所在组:</span> <span class="val">{{currentUser.groupId}}</span></li>
						</ul>
						<hr>
						<table class="table">
							<tr>
								<td><span class="key">网络沟通量:</span> <span class="val">{{currentUser.userNo}}</span></td>
								<td><span class="key">电话接听量:</span> <span class="val">{{currentUser.name}}</span></td>
								<td><span class="key">电话外呼量:</span> <span class="val">{{currentUser.groupId}}</span></td>
							</tr>
							<tr>
								<td><span class="key">今日工单数量:</span> <span class="val">{{currentUser.userNo}}</span></td>
								<td><span class="key">今日订单数量:</span> <span class="val">{{currentUser.name}}</span></td>
								<td><span class="key">预约客户数量:</span> <span class="val">{{currentUser.groupId}}</span></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- page info end -->

		<div class="splitline"></div>

		<div class="row">
			<!-- left side bar begin-->
			<!-- <div class="col-xs-2 sidebar">
				<ul class="nav nav-sidebar text-center">
					<li ng-class="{active: $state.includes('root.customer')}" uu-auth-filter="01">
						<a ui-sref="root.customer.traded" class="ng-binding">客户信息</a>
					</li>
					<li ng-class="{active: $state.includes('root.service')}" uu-auth-filter="02">
						<a ui-sref="root.service.ordermanager" class="ng-binding">客服管理</a>
					</li>
					<li ng-class="{active: $state.includes('root.financial')}" uu-auth-filter="03">
						<a ui-sref="root.financial.deposit" class="ng-binding">财务管理</a>
					</li>
					<li ng-class="{active: $state.includes('root.agents')}" uu-auth-filter="04">
						<a ui-sref="root.agents.list" class="ng-binding">代理商管理</a>
					</li>
					<li ng-class="{active: $state.includes('root.ship')}" uu-auth-filter="05">
						<a ui-sref="root.ship.summary" class="ng-binding">发货管理</a>
					</li>
				</ul>
			</div> -->

			<!-- main content  -->
			<div class="col-xs-12 main">
				<!-- <ul class="nav nav-tabs">
					<li ng-class="{active: $state.includes('root.customer')}" uu-auth-filter="01">
						<a ui-sref="root.customer.traded" class="ng-binding">客户服务</a>
					</li>
					<li ng-class="{active: $state.includes('root.service')}" uu-auth-filter="02">
						<a ui-sref="root.service.ordermanager" class="ng-binding">客服管理</a>
					</li>
					<li ng-class="{active: $state.includes('root.financial')}" uu-auth-filter="03">
						<a ui-sref="root.financial.deposit" class="ng-binding">数据管理</a>
					</li>
					<li ng-class="{active: $state.includes('root.agents')}" uu-auth-filter="04">
						<a ui-sref="root.agents.list" class="ng-binding">知识库</a>
					</li>
				</ul> -->
				<div ui-view></div>
			</div>
		</div>

	</div>
</div>
