<div>
	<!-- main content  -->
	<!-- <ol class="breadcrumb">
		<li ng-repeat="item in breadcrumb">
			<a href="#/{{item.href}}" ng-if="!$last">{{item.label}}</a>
			<a class="active" ng-if="$last">{{item.label}}</a>
		</li>
	</ol> -->
	<!-- left side bar -->
	<div class="left-sidebar">
		<div class="header">
			<div class="brand">
				<a href="#/home"><img src="img/logo.png" alt="logo" width="140" height="67"></a>
				<p class="subtitle">幼小衔接课程专家</p>
			</div>
		</div>
		<ul class="nav nav-sidebar">
			<li ng-class="{active: $state.is('root.user')}"><a href="#/user" class="action-item">用户管理</a></li>
			<li ng-class="{active: $state.is('root.ugroup')}"><a href="#/user-group" class="action-item">用户组管理</a></li>
			<li ng-class="{active: $state.is('root.role')}"><a href="#/role" class="action-item">角色管理</a></li>
			<li ng-class="{active: $state.is('root.rgroup')}"><a href="#/role-group" class="action-item">角色组管理</a></li>
			<li ng-class="{active: $state.is('root.privilege')}"><a href="#/privilege" class="action-item">权限管理</a></li>
		</ul>
	</div>
	<div class="content">
		<a ng-controller="LoginCtrl" href="" class="logout" style="position: relative; top: -20px; left: 3px; color: #8A2BE2;" ng-click="logout()">登出系统</a>
		<div ui-view></div>
	</div>
</div>
