

<form class="form form-horizontal form-small search-form" role="form" ng-submit="search()">
	<div class="unify" ng-show="!search.advance">
		<div class="form-group">
			<div class="col-xs-6 col-xs-offset-2">
				<input type="text" name="search-box" placeholder="请输入搜索关键字" ng-model="keyword" class="form-control" id="search-box">
			</div>
			<div class="col-xs-2">
				<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
			</div>
		</div>
	</div>
</form>

<ul class="action-group list-inline ng-scope">
	<li>
		<a href="" ng-click="new()" data-toggle="modal" data-target="#uumodal" class="action-item btn">添加用户</a>
	</li>
</ul>

<div class="row">
	<table class="table table-bordered table-striped" ng-show="users.length">
		<tr>
			<th>姓名</th>
			<th>类型</th>
			<th>性别</th>
			<th>用户组</th>
			<th>Email</th>
			<th>操作</th>
		</tr>
		<tr ng-repeat="user in users">
			<td>{{user.name}}</td>
			<td>{{user.type}}</td>
			<td>{{user.gender}}</td>
			<td>{{user.group}}</td>
			<td>{{user.email}}</td>
			<td>
				<ul class="list-inline">
					<li><a href="" ng-click="modify(user)" data-toggle="modal" data-target="#uumodal">修改</a></li>
					<li><a href="" ng-click="delete(user, $index)">删除</a></li>
				</ul>
			</td>
		</tr>
	</table>
</div>


<div class="modal fade" id="uumodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{modalTitle}}</h4>
			</div>
			<div class="modal-body">
				<form action="" class="form form-horizontal form-small">
					<fieldset>
						<div uuinput label="姓名" l-col="3" r-col="5" name="name" model="model.name"></div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="c-gender">性别: </label>
							<div class="col-xs-4">
								<div class="radio-inline">
									<label><input type="radio" ng-model="model.gender" value="male">男</label>
								</div>
								<div class="radio-inline">
									<label><input type="radio" ng-model="model.gender" value="female">女</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="type">类型: </label>
							<div class="col-xs-4">
								<select ng-model="model.type" class="form-control">
									<option value="类型一">类型一</option>
									<option value="类型二">类型二</option>
									<option value="类型三">类型三</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-xs-3 control-label" for="c-gender">用户组: </label>
							<div class="col-xs-4">
								<select ng-model="model.group" class="form-control">
									<option value="admin">admin</option>
									<option value="customer">customer</option>
								</select>
							</div>
						</div>
						<div uuinput label="Email" l-col="3" r-col="5" name="email" model="model.email"></div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" ng-if="modalType=='add'" ng-click="add(model)" class="btn btn-primary">添加</button>
				<button type="button" ng-if="modalType=='edit'" ng-click="save(model)" class="btn btn-primary">保存</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
