
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" ng-model="searchModel.subfilter.startTime" uu-date-picker="" min-view="1" format="yyyy-mm-dd hh:00" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" ng-model="searchModel.subfilter.endTime" uu-date-picker="" min-view="1" format="yyyy-mm-dd hh:00" class="form-control input-sm"/>
    </div>
    <div class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<div class="article-header-filter">
  <form role="form" class="form-inline">
    <div data-toggle="buttons" class="btn-group">
      <label ng-click="searchModel.paid='&quot;&quot;'" ng-init="searchModel.paid='&quot;&quot;'" class="btn uu-btn active">
        <input checked="checked" type="radio"/>所有
      </label>
      <label ng-click="searchModel.paid='1'" class="btn uu-btn">
        <input type="radio"/>已付费
      </label>
      <label ng-click="searchModel.paid='0'" class="btn uu-btn">
        <input type="radio"/>未付费
      </label>
    </div>
  </form>
</div>
<table ng-show="orders.length" class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th>工具</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders">
      <td ng-bind="order.customer.name" ng-show="ths[0].isChecked"></td>
      <td ng-show="ths[1].isChecked"><a href="" ng-click="showOrder(order)" ng-bind="order.order_no" class="jslink"></a>
      </td>
      <td ng-bind="order.customer.phone" ng-show="ths[2].isChecked"></td>
      <td ng-bind="order.customer.province" ng-show="ths[3].isChecked"></td>
      <td ng-bind="order.customer.city" ng-show="ths[4].isChecked"></td>
      <td ng-bind="order.order_type | orderType" ng-show="ths[5].isChecked"></td>
      <td ng-bind="order.paid | payStatus" ng-show="ths[6].isChecked"></td>
      <td ng-bind="order.status | orderStatus" ng-show="ths[7].isChecked"></td>
      <td ng-bind="order.create_time" ng-show="ths[8].isChecked"></td>
      <td ng-bind="order.contact_count" ng-show="ths[9].isChecked"></td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="showOrder(order)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="发送消息"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<uu-pagination records="orders.meta.recordsCount" per-page="{{orders.meta.pageSize}}" page="orders.meta.pageNo" model="searchModel" action="getOrderList()"></uu-pagination>
<div id="order-details" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">核实订单</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group modal-action"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="editCustomerInfo()"><span class="glyphicon glyphicon-pencil"></span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="保存" ng-click="saveCustomerInfo(currentOrder)"><span class="glyphicon glyphicon-floppy-disk"></span></a>
          </div>
          <fieldset uu-form-field="isCustometInfoEditable">
            <legend>基本信息</legend>
            <div class="form-group col-xs-6">
              <label for="form-name" class="control-label col-xs-3">客户姓名</label>
              <div class="col-xs-7">
                <input id="form-name" ng-model="currentOrder.customer.name" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-order" class="control-label col-xs-3">订单编号</label>
              <div class="col-xs-7">
                <input id="form-order" ng-model="currentOrder.orders_no" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-customer-gender" class="control-label col-xs-3">客户性别</label>
              <div class="col-xs-7">
                <select id="form-customer-gender" ng-model="currentOrder.customer.sex" class="form-control input-sm">
                  <option value="0">女</option>
                  <option value="1">男</option>
                </select>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-good" class="control-label col-xs-3">订购产品</label>
              <div class="col-xs-7">
                <input id="form-good" ng-model="currentOrder.good" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-telphone" class="control-label col-xs-3">联系电话</label>
              <div class="col-xs-7">
                <input id="form-telphone" ng-model="currentOrder.customer.phone" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-startDate" class="control-label col-xs-3">起订日期</label>
              <div class="col-xs-7">
                <input id="form-startDate" ng-model="currentOrder.effective" uu-date-picker="" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-child-name" class="control-label col-xs-3">儿童姓名</label>
              <div class="col-xs-7">
                <input id="form-child-name" ng-model="currentOrder.customer.child" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-enddate" class="control-label col-xs-3">结束日期</label>
              <div class="col-xs-7">
                <input id="form-enddate" ng-model="currentOrder.deadline" uu-date-picker="" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-child-gender" class="control-label col-xs-3">儿童性别</label>
              <div class="col-xs-7">
                <select id="form-child-gender" ng-model="currentOrder.customer.c_sex" class="form-control input-sm">
                  <option value="0">女</option>
                  <option value="1">男</option>
                </select>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-payway" class="control-label col-xs-3">支付方式</label>
              <div class="col-xs-7">
                <input id="form-payway" ng-model="currentOrder.payway" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-birthday" class="control-label col-xs-3">出生日期</label>
              <div class="col-xs-7">
                <input id="form-birthday" ng-model="currentOrder.customer.birthday" uu-date-picker="" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-pay-status" class="control-label col-xs-3">支付状态</label>
              <div class="col-xs-7">
                <select id="form-pay-status" ng-model="currentOrder.paid" class="form-control input-sm">
                  <option value="0">未付费</option>
                  <option value="1">已付费</option>
                </select>
              </div>
            </div>
            <div class="form-group col-xs-12 location">
              <div for="location-details" class="control-label">详细地址</div>
              <div class="location-wrap">
                <div class="input-group col-xs-3"><span class="input-group-addon">省</span>
                  <input ng-model="currentOrder.customer.province" class="form-control input-sm"/>
                </div>
                <div class="input-group col-xs-3"><span class="input-group-addon">市</span>
                  <input ng-model="currentOrder.customer.city" class="form-control input-sm"/>
                </div>
                <div class="input-group col-xs-4"><span class="input-group-addon">详细</span>
                  <input ng-model="currentOrder.customer.address" class="form-control input-sm"/>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>订单</legend>
            <table class="uu-table">
              <thead>
                <tr>
                  <th>订单编号</th>
                  <th>客户姓名</th>
                  <th>订单产品</th>
                  <th>下单日期</th>
                  <th>支付方式</th>
                  <th>支付状态</th>
                  <th>出生日期</th>
                  <th>订单状态</th>
                  <th>审核状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td ng-bind="currentOrder.order_no"></td>
                  <td ng-bind="currentOrder.customer.name"></td>
                  <td ng-bind="currentOrder.customer.name"></td>
                  <td ng-bind="currentOrder.order_time"></td>
                  <td ng-bind="currentOrder.payment | payment"></td>
                  <td ng-bind="currentOrder.paid | payStatus"></td>
                  <td ng-bind="currentOrder.customer.birthday"></td>
                  <td ng-bind="currentOrder.status | orderStatus"></td>
                  <td ng-bind="currentOrder.status | orderStatus"></td>
                  <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="editOrderStatus(currentOrder)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="共享订单" ng-click="shareOrder(currentOrder)"><span class="glyphicon glyphicon-share"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>
          <p>
            <ul class="list-inline">
              <li>联系记录</li>
              <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="添加联系记录" ng-click="addContact()"><span class="glyphicon glyphicon-plus"></span></a>
              </li>
              <li><a href="" ng-click="search()" class="jslink"><span class="glyphicon glyphicon-search"></span></a>
              </li>
            </ul>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="share-order" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">修改负责人</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="form-responsor" class="control-label col-xs-3">修改负责人</label>
            <div class="col-xs-7">
              <select id="form-responsor" ng-model="order.responsor" class="form-control input-sm">
                <option value="0">拆单组</option>
                <option value="1">审单组</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="save()" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="edit-order-status" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">修改订单</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="form-order-status" class="control-label col-xs-3">修改订单状态</label>
            <div class="col-xs-7">
              <select id="form-order-status" ng-model="currentOrder.status" class="form-control input-sm">
                <option value="1">待审核</option>
                <option value="2">审核中</option>
                <option value="3">无效</option>
                <option value="4">审核通过</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="updateOrderStatus(currentOrder)" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="contact-history" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">联系记录</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="form-topic" class="control-label col-xs-3">主题</label>
              <div class="col-xs-7">
                <select id="form-topic" ng-model="return.topic" class="form-control input-sm">
                  <option value="0">核实订单</option>
                  <option value="1">投诉</option>
                  <option value="2">回访</option>
                  <option value="3">催费</option>
                  <option value="4">促进销售</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-deal-result" class="control-label col-xs-3">处理结果</label>
              <div class="col-xs-7">
                <select id="form-deal-result" ng-model="return.dealResult" class="form-control input-sm">
                  <option value="0">已完成</option>
                  <option value="1">处理中</option>
                  <option value="1">待处理</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-3">联系时间</label>
              <div class="col-xs-7">
                <p ng-bind="order.contactTime" class="form-control-static"></p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-xs-3">负责人</label>
              <div class="col-xs-7">
                <p ng-bind="order.responsor" class="form-control-static"></p>
              </div>
            </div>
            <div class="form-group">
              <label for="form-phone-status" class="control-label col-xs-3">电话状态</label>
              <div class="col-xs-7">
                <select id="form-phone-status" ng-model="return.phoneStatus" class="form-control input-sm">
                  <option value="0">无人接</option>
                  <option value="1">占线</option>
                  <option value="2">接听</option>
                  <option value="3">停机</option>
                  <option value="4">空号</option>
                  <option value="5">错号</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-complain-type" class="control-label col-xs-3">投诉分类</label>
              <div class="col-xs-7">
                <select id="form-complain-type" ng-model="return.complainType" class="form-control input-sm">
                  <option value="1">发票抬头错误</option>
                  <option value="2">未开发票</option>
                  <option value="3">开票时间长</option>
                  <option value="4">发票丢失</option>
                  <option value="5">客服态度不好</option>
                  <option value="6">客服不专业</option>
                  <option value="7">客服电话难打</option>
                  <option value="8">物流慢</option>
                  <option value="9">货物丢失</option>
                  <option value="10">物品破损</option>
                  <option value="11">快递态度</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-return-next-time" class="control-label col-xs-3">下次回访日期</label>
              <div class="col-xs-7">
                <input id="form-return-next-time" ng-model="return.nextTime" uu-date-picker="" min-view="0" format="yyyy-mm-dd hh:ii" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group">
              <label for="form-urgency" class="control-label col-xs-3">紧急程度</label>
              <div class="col-xs-7">
                <select id="form-urgency" ng-model="return.urgency" class="form-control input-sm">
                  <option value="0">一般</option>
                  <option value="1">优先</option>
                  <option value="1">紧急</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="form-content" class="control-label col-xs-3">内容</label>
              <div class="col-xs-7">
                <textarea id="form-content" ng-model="content" class="form-control"></textarea>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="save()" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>