
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="新建投诉" ng-click="addNewComplains(complaintForm)"><span class="glyphicon glyphicon-plus"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="过滤条件" class="dropdown-toggle"><span class="glyphicon glyphicon-filter"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="">当日投诉</a></li>
        <li><a href="">本月投诉</a></li>
        <li><a href="">处理中的投诉</a></li>
        <li><a href="">紧急投诉</a></li>
      </ul>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="站内提醒" ui-sref="root.utils.message"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="群发信息" ui-sref="root.utils.batchmsg"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-filter">
  <form role="form" class="form-inline">
    <div data-toggle="buttons" class="btn-group">
      <label ng-click="searchModel.status=''" ng-init="searchModel.status=''" class="btn uu-btn active">
        <input checked="checked" type="radio"/>所有
      </label>
      <label ng-click="searchModel.status='1'" class="btn uu-btn">
        <input type="radio"/>今日新增
      </label>
      <label ng-click="searchModel.status='2'" class="btn uu-btn">
        <input type="radio"/>待处理
      </label>
      <label ng-click="searchModel.status='3'" class="btn uu-btn">
        <input type="radio"/>处理中
      </label>
      <label ng-click="searchModel.status='4'" class="btn uu-btn">
        <input type="radio"/>已完成
      </label>
      <label ng-click="searchModel.status='5'" class="btn uu-btn">
        <input type="radio"/>非常紧急
      </label>
    </div>
  </form>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.date" class="input-group">
      <label for="form-date-time" class="input-group-addon">时间</label>
      <input id="form-date-time" class="form-control input-sm" ng-show="searchModel.filter.date" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.endTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.addr" class="input-group">
      <div ng-show="searchModel.filter.addr" ng-province-model="searchModel.addr.province" ng-city-model="searchModel.addr.city" ng-area-model="searchModel.addr.district" class="uu-city-select"></div>
    </div>
    <div class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<table ng-show="complaintsOrders.length" class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)" class="nowrap">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th class="nowrap">工具</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="complaint in complaintsOrders" ng-dblclick="showComplaintOrders(complaint)">
      <td ng-bind="complaint.order.consignee" ng-show="ths[0].isChecked"></td>
      <td ng-bind="complaint.order_no" ng-show="ths[1].isChecked"></td>
      <td ng-bind="complaint.order.phone" ng-show="ths[2].isChecked"></td>
      <td ng-bind="complaint.order.province" ng-show="ths[3].isChecked"></td>
      <td ng-bind="complaint.order.city" ng-show="ths[4].isChecked"></td>
      <td ng-bind="complaint.order.packag" ng-show="ths[5].isChecked"></td>
      <td ng-bind="complaint.order.paid | payStatus" ng-show="ths[6].isChecked"></td>
      <td ng-bind="complaint.create_time" ng-show="ths[7].isChecked"></td>
      <td ng-bind="complaint.subtype | mapper:&quot;complaintType&quot;" ng-show="ths[8].isChecked"></td>
      <td ng-bind="complaint.status | mapper:&quot;complaintStatus&quot;" ng-show="ths[9].isChecked"></td>
      <td ng-bind="complaint.communications.next_time" ng-show="ths[10].isChecked"></td>
      <td ng-bind="complaint.order.contact_count" ng-show="ths[11].isChecked"></td>
      <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="修改" ng-click="showComplaintOrders(complaint)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="发送消息"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<uu-pagination records="complaintsOrders.meta.recordsCount" per-page="complaintsOrders.meta.pageSize" page="complaintsOrders.meta.pageNo" model="searchModel" action="getOrderList()"></uu-pagination>
<div id="complaint-form" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">新建投诉</h4>
      </div>
      <div class="modal-body">
        <form name="complaintForm" novalidate="novalidate" ng-class="{sumitted: complaintForm.$sumitted}" class="form-horizontal form-nowrap">
          <fieldset>
            <table class="form-table">
              <tr>
                <th class="form-th">
                  <label for="form-goodCode" class="form-th-label">客户姓名</label>
                </th>
                <td class="form-td">
                  <input id="form-goodCode" class="form-control input-sm" uu-name="uu-name" ng-model="complaint.customer_name" required="required"/>
                </td>
                <th class="form-th">
                  <label for="form-goodNum" class="form-th-label">联系电话</label>
                </th>
                <td class="form-td">
                  <input id="form-goodNum" class="form-control input-sm" uu-phone="uu-phone" ng-model="complaint.customer_phone" required="required"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-goodCode" class="form-th-label">订单编号</label>
                </th>
                <td class="form-td">
                  <input id="form-goodCode" class="form-control input-sm" ng-model="complaint.order_no" required="required"/>
                </td>
                <th class="form-th">
                  <label class="form-th-label">处理人</label>
                </th>
                <td colspan="contact-responsor" class="form-td">
                  <p class="form-control-static" ng-bind="currentUser.name"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-complain-type" class="form-th-label">投诉分类</label>
                </th>
                <td class="form-td">
                  <select id="form-complain-type" class="form-control input-sm" ng-model="complaint.complainType" required="required">
                    <option value="31">发票抬头错误</option>
                    <option value="32">未开发票</option>
                    <option value="33">开票时间长</option>
                    <option value="34">发票丢失</option>
                    <option value="35">客服态度不好</option>
                    <option value="36">客服不专业</option>
                    <option value="37">客服电话难打</option>
                    <option value="38">物流慢</option>
                    <option value="39">货物丢失</option>
                    <option value="310">物品破损</option>
                    <option value="311">快递态度</option>
                    <option value="-1">其它</option>
                  </select>
                </td>
                <th class="form-th">
                  <label for="form-urgency" class="form-th-label">紧急程度</label>
                </th>
                <td class="form-td">
                  <select id="form-urgency" class="form-control input-sm" ng-model="complaint.level" required="required">
                    <option value="1">一般</option>
                    <option value="2">优先</option>
                    <option value="3">紧急</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-deal-result" class="form-th-label">处理结果</label>
                </th>
                <td class="form-td">
                  <select id="form-deal-result" class="form-control input-sm" ng-model="complaint.status" required="required">
                    <option value="1">待处理</option>
                    <option value="2">处理中</option>
                    <option value="3">已完成</option>
                  </select>
                </td>
                <th class="form-th">
                  <label for="form-complaint-next-time" class="form-th-label">下次回访日期</label>
                </th>
                <td class="form-td">
                  <input id="form-complaint-next-time" class="form-control input-sm" ng-model="complaint.next_time" uu-date-picker="uu-date-picker" format="yyyy-mm-dd hh:ii" min-view="0"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-content-details" class="form-th-label">详细说明</label>
                </th>
                <td colspan="3" class="form-td">
                  <textarea id="form-content-details" class="form-control" ng-model="complaint.details" required="required"></textarea>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-deal-desc" class="form-th-label">处理描述</label>
                </th>
                <td colspan="3" class="form-td">
                  <textarea id="form-deal-desc" class="form-control" ng-model="complaint.result_desc" required="required"></textarea>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
        <div class="modal-footer">
          <button ng-click="saveComplaint(complaintForm)" ng-disabled="complaintForm.processing" class="btn uu-btn btn-primary">确认并共享</button>
          <button data-dismiss="modal" class="btn uu-btn">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="order-details" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">投诉详情</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <legend>基本信息</legend>
            <table ng-show="isCustometInfoEditable" class="form-table">
              <tr>
                <th class="form-th">
                  <label for="form-name" class="form-th-label">客户姓名</label>
                </th>
                <td class="form-td">
                  <input id="form-name" class="form-control input-sm" uu-name="uu-name" ng-model="currentOrder.customer.name" required="required"/>
                </td>
                <th class="form-th">
                  <label class="form-th-label">订单编号</label>
                </th>
                <td colspan="order" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.order_no"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-customer-gender" class="form-th-label">客户性别</label>
                </th>
                <td class="form-td">
                  <select id="form-customer-gender" class="form-control input-sm" ng-model="currentOrder.customer.sex" required="required">
                    <option value="0">女</option>
                    <option value="1">男</option>
                  </select>
                </td>
                <th class="form-th">
                  <label for="form-good" class="form-th-label">订购产品</label>
                </th>
                <td class="form-td">
                  <input id="form-good" class="form-control input-sm" ng-model="currentOrder.good"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-form-telphone" class="form-th-label">联系电话</label>
                </th>
                <td class="form-td">
                  <input id="form-form-telphone" class="form-control input-sm" uu-phone="uu-phone" ng-model="currentOrder.customer.phone" required="required"/>
                </td>
                <th class="form-th">
                  <label for="form-startDate" class="form-th-label">起订日期</label>
                </th>
                <td class="form-td">
                  <input id="form-startDate" class="form-control input-sm" ng-model="currentOrder.effective" uu-date-picker="uu-date-picker" required="required"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-child-name" class="form-th-label">儿童姓名</label>
                </th>
                <td class="form-td">
                  <input id="form-child-name" class="form-control input-sm" ng-model="currentOrder.customer.child"/>
                </td>
                <th class="form-th">
                  <label for="form-enddate" class="form-th-label">结束日期</label>
                </th>
                <td class="form-td">
                  <input id="form-enddate" class="form-control input-sm" ng-model="currentOrder.deadline" uu-date-picker="uu-date-picker"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-child-gender" class="form-th-label">儿童性别</label>
                </th>
                <td class="form-td">
                  <select id="form-child-gender" class="form-control input-sm" ng-model="currentOrder.customer.c_sex">
                    <option value="0">女</option>
                    <option value="1">男</option>
                  </select>
                </td>
                <th class="form-th">
                  <label for="form-payment" class="form-th-label">支付方式</label>
                </th>
                <td class="form-td">
                  <select id="form-payment" class="form-control input-sm" ng-model="currentOrder.payment" required="required">
                    <option value="1">银行</option>
                    <option value="2">支付宝</option>
                    <option value="3">货到付款</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-birthday" class="form-th-label">出生日期</label>
                </th>
                <td class="form-td">
                  <input id="form-birthday" class="form-control input-sm" ng-model="currentOrder.customer.birthday" uu-date-picker="uu-date-picker"/>
                </td>
                <th class="form-th">
                  <label for="form-pay-status" class="form-th-label">支付状态</label>
                </th>
                <td class="form-td">
                  <select id="form-pay-status" class="form-control input-sm" ng-model="currentOrder.paid">
                    <option value="0">未支付</option>
                    <option value="1">已支付</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-order-address" class="form-th-label">地址</label>
                </th>
                <td colspan="3" class="uu-city-select form-td" ng-province-model="currentOrder.province" ng-city-model="currentOrder.city" ng-area-model="currentOrder.area" ng-required="true"></td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-order-address-details" class="form-th-label">详细地址</label>
                </th>
                <td colspan="3" class="form-td">
                  <input uu-address="uu-address" class="form-control input-sm input-long" ng-model="currentOrder.address" ng-required="true"/>
                </td>
              </tr>
            </table>
            <table ng-show="!isCustometInfoEditable" class="form-table">
              <tr>
                <th class="form-th">
                  <label class="form-th-label">客户姓名</label>
                </th>
                <td colspan="name" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.customer.name"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">订单编号</label>
                </th>
                <td colspan="order" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.order_no"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">客户性别</label>
                </th>
                <td colspan="customer-gender" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.customer.sex | gender"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">订购产品</label>
                </th>
                <td colspan="good" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.good"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">联系电话</label>
                </th>
                <td class="form-td">
                  <div class="input-group">
                    <p class="form-control-static" ng-bind="currentOrder.customer.phone"></p>
                    <div class="input-group-addon phone-addon"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="外呼"><span class="glyphicon glyphicon-earphone"></span></a>
                    </div>
                  </div>
                </td>
                <th class="form-th">
                  <label class="form-th-label">起订日期</label>
                </th>
                <td colspan="startDate" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.effective"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">儿童姓名</label>
                </th>
                <td colspan="child-name" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.customer.child"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">结束日期</label>
                </th>
                <td colspan="enddate" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.deadline"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">儿童性别</label>
                </th>
                <td colspan="child-gender" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.customer.c_sex | gender"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">支付方式</label>
                </th>
                <td colspan="payment" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.payment | payment"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">出生日期</label>
                </th>
                <td colspan="birthday" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.customer.birthday"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">支付状态</label>
                </th>
                <td colspan="pay-status" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.paid | payStatus"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-order-address" class="form-th-label">地址</label>
                </th>
                <td colspan="3" class="uu-city-select form-td" ng-disabled="true" ng-province-model="currentOrder.province" ng-city-model="currentOrder.city" ng-area-model="currentOrder.area"></td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">详细地址</label>
                </th>
                <td colspan="3" class="form-td">
                  <p class="form-control-static" ng-bind="currentOrder.address"></p>
                </td>
              </tr>
            </table>
          </fieldset>
          <fieldset>
            <legend>订单</legend>
            <table class="uu-table">
              <thead>
                <tr>
                  <th>订单编号</th>
                  <th>客户姓名</th>
                  <th>订单产品</th>
                  <th>下单日期</th>
                  <th>支付方式</th>
                  <th>支付状态</th>
                  <th>出生日期</th>
                  <th>订单状态</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="order in currentOrder.communications">
                  <td ng-bind="order.orderSN"></td>
                  <td ng-bind="order.customerName"></td>
                  <td ng-bind="order.orderType"></td>
                  <td ng-bind="order.createTime"></td>
                  <td ng-bind="order.payWay"></td>
                  <td ng-bind="order.payStatus"></td>
                  <td ng-bind="order.birthday"></td>
                  <td ng-bind="order.payStatus | payStatus"></td>
                </tr>
              </tbody>
            </table>
          </fieldset>
          <p>
            <ul class="list-inline">
              <li>联系记录</li>
              <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="新建联系记录" ng-click="addContact(complaintForm)"><span class="glyphicon glyphicon-plus"></span></a>
              </li>
            </ul>
          </p>
        </form>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" class="btn uu-btn btn-primary">确定</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="share-order" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">共享</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div id="tree"></div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="saveOrder()" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="contact-history" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">联系记录</h4>
      </div>
      <div class="modal-body">
        <form name="contactHistotryForm" novalidate="novalidate" ng-class="{sumitted: contactHistotryForm.$sumitted}" class="form-horizontal">
          <fieldset>
            <table class="form-table">
              <tr>
                <th class="form-th">
                  <label for="form-topic" class="form-th-label">主题</label>
                </th>
                <td class="form-td">
                  <select id="form-topic" class="form-control input-sm" ng-model="gbContact.topic" required="required">
                    <option value="1">核实订单</option>
                    <option value="2">投诉</option>
                    <option value="3">回访</option>
                    <option value="4">催费</option>
                    <option value="5">促进销售</option>
                  </select>
                </td>
                <th class="form-th">
                  <label for="form-deal-result" class="form-th-label">处理结果</label>
                </th>
                <td class="form-td">
                  <select id="form-deal-result" class="form-control input-sm" ng-model="gbContact.status">
                    <option value="1">待处理</option>
                    <option value="2">处理中</option>
                    <option value="3">已完成</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">联系时间</label>
                </th>
                <td colspan="contact-time" class="form-td">
                  <p class="form-control-static" ng-bind="gbContact.contactTime"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">负责人</label>
                </th>
                <td colspan="contact-responsor" class="form-td">
                  <p class="form-control-static" ng-bind="gbContact.name"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-phone-status" class="form-th-label">电话状态</label>
                </th>
                <td class="form-td">
                  <select id="form-phone-status" class="form-control input-sm" ng-model="gbContact.phoneStatus">
                    <option value="1">无人接</option>
                    <option value="2">占线</option>
                    <option value="3">接听</option>
                    <option value="4">停机</option>
                    <option value="5">空号</option>
                    <option value="6">错号</option>
                  </select>
                </td>
                <th class="form-th">
                  <label for="form-contact-next-time" class="form-th-label">下次回访日期</label>
                </th>
                <td class="form-td">
                  <input id="form-contact-next-time" class="form-control input-sm" ng-model="gbContact.next_time" uu-date-picker="uu-date-picker" format="yyyy-mm-dd hh:ii" min-view="0"/>
                </td>
              </tr>
              <tr ng-show="gbContact.topic===&quot;2&quot;">
                <th class="form-th">
                  <label for="form-complain-type" class="form-th-label">投诉分类</label>
                </th>
                <td class="form-td">
                  <select id="form-complain-type" class="form-control input-sm" ng-model="gbContact.complainType">
                    <option value="31">发票抬头错误</option>
                    <option value="32">未开发票</option>
                    <option value="33">开票时间长</option>
                    <option value="34">发票丢失</option>
                    <option value="35">客服态度不好</option>
                    <option value="36">客服不专业</option>
                    <option value="37">客服电话难打</option>
                    <option value="38">物流慢</option>
                    <option value="39">货物丢失</option>
                    <option value="310">物品破损</option>
                    <option value="311">快递态度</option>
                    <option value="-1">其它</option>
                  </select>
                </td>
                <th class="form-th">
                  <label for="form-urgency" class="form-th-label">紧急程度</label>
                </th>
                <td class="form-td">
                  <select id="form-urgency" class="form-control input-sm" ng-model="gbContact.level">
                    <option value="1">一般</option>
                    <option value="2">优先</option>
                    <option value="3">紧急</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-content" class="form-th-label">内容</label>
                </th>
                <td colspan="3" class="form-td">
                  <textarea id="form-content" class="form-control" ng-model="gbContact.content"></textarea>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-disabled="contactHistotryForm.processing" ng-click="saveContact(contactHistotryForm)" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>