
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="新建"><span class="glyphicon glyphicon-plus"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="" ng-click="globalNewTicket()" class="jslink">新建工单</a>
        </li>
      </ul>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="过滤条件" class="dropdown-toggle"><span class="glyphicon glyphicon-filter"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="">本月处理订单</a></li>
        <li><a href="">当日处理订单</a></li>
        <li><a href="">当日未处理订单</a></li>
        <li><a href="">当日完结订单</a></li>
        <li><a href="">预约客户订单</a></li>
      </ul>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" ui-sref="root.utils.message" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="站内提醒"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" ui-sref="root.utils.batchmsg" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="群发信息"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.date" class="input-group">
      <label for="form-date-time" class="input-group-addon">时间</label>
      <input id="form-date-time" class="form-control input-sm" ng-show="searchModel.filter.date" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.endTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.addr" class="input-group">
      <div ng-show="searchModel.filter.addr" ng-province-model="searchModel.addr.province" ng-city-model="searchModel.addr.city" ng-area-model="searchModel.addr.district" class="uu-city-select"></div>
    </div>
    <div ng-click="search()" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<div class="article-header-filter">
  <form role="form" class="form-inline">
    <div data-toggle="buttons" ng-init="searchModel.isAllot='1'" class="btn-group">
      <label ng-click="searchModel.isAllot=''" ng-class="{active: searchModel.isAllot==''}" class="btn uu-btn">
        <input checked="checked" type="radio"/>所有
      </label>
      <label ng-click="searchModel.isAllot='1'" ng-class="{active: searchModel.isAllot=='1'}" class="btn uu-btn">
        <input checked="checked" type="radio"/>已分配
      </label>
      <label ng-click="searchModel.isAllot='2'" ng-class="{active: searchModel.isAllot=='2'}" class="btn uu-btn">
        <input checked="checked" type="radio"/>未分配
      </label>
    </div>
  </form>
</div>
<div class="article-header-operate">
  <button ng-click="batchAssign(batchAssignForm)" class="btn uu-btn btn-primary">批量分配</button>
  <button ng-click="batchPick(batchPickForm)" class="btn uu-btn btn-success">批量领取</button>
</div>
<table class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th class="nowrap">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="isAllChecked" ng-init="isAllChecked=false" ng-click="toggleCheckAll(&quot;isAllChecked&quot;, customers)"/>全选
          </label>
        </div>
      </th>
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)" class="nowrap">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th class="nowrap">工具</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customers">
      <td>
        <input type="checkbox" ng-model="customer.isChecked" ng-click="checkIsAllChecked(&quot;isAllChecked&quot;, customers, customer)"/>
      </td>
      <td ng-bind="customer.name" ng-show="ths[0].isChecked"></td>
      <td ng-bind="customer.code" ng-show="ths[1].isChecked"></td>
      <td ng-show="ths[2].isChecked"><span ng-bind="customer.phone" style="padding-right: 8px;"></span><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="外呼" ng-click="makePhone(customer.phone)" ng-show="customer.phone"><span class="glyphicon glyphicon-earphone"></span></a>
      </td>
      <td ng-bind="customer.main_phone" ng-show="ths[3].isChecked"></td>
      <td ng-bind="customer.province" ng-show="ths[4].isChecked"></td>
      <td ng-bind="customer.city" ng-show="ths[5].isChecked"></td>
      <td ng-bind="customer.email" ng-show="ths[6].isChecked"></td>
      <td ng-bind="customer.type | customerStatus" ng-show="ths[7].isChecked"></td>
      <td ng-bind="customer.create_time" ng-show="ths[8].isChecked"></td>
      <td ng-bind="customer.contact_times" ng-show="ths[9].isChecked"></td>
      <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="showComplaintcustomers(customer)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="发送消息"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<uu-pagination records="customers.meta.recordsCount" per-page="customers.meta.pageSize" page="customers.meta.pageNo" model="searchModel" action="getCustomerList()"></uu-pagination>
<div id="batch-assgin" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">批量分配</h4>
      </div>
      <div class="modal-body">
        <form name="batchAssignForm" novalidate="novalidate" ng-class="{sumitted: batchAssignForm.$sumitted}" class="form-horizontal">
          <fieldset>
            <div ng-show="getSelectedCustomers().length === 1" class="form-group">
              <label for="form-responser" class="control-label col-xs-3">将客户:</label>
              <div class="col-xs-7">
                <p class="form-static">{{selectedCustomers[0].name}}</p>
              </div>
            </div>
            <div class="form-group">
              <label for="form-responser" ng-show="getSelectedCustomers().length !== 1" class="control-label col-xs-3">选择负责人</label>
              <label for="form-responser" ng-show="getSelectedCustomers().length === 1" class="control-label col-xs-3">分配给</label>
              <div class="col-xs-7">
                <select required="required" id="form-responser" ng-model="batchResponser" ng-options="user.account as user.name for user in resUsers" class="form-control input-sm"></select>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="saveBatchAssign(batchAssignForm)" ng-disabled="batchAssignForm.processing" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="batch-pick" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">批量领取</h4>
      </div>
      <div ng-show="getSelectedCustomers().length === 1" class="modal-body">
        <form name="batchPickForm" novalidate="novalidate" ng-class="{sumitted: batchPickForm.$sumitted}" class="form-horizontal">
          <fieldset>
            <label for="form-responser" class="control-label col-xs-3">领取客户:</label>
            <div class="col-xs-7">
              <p class="form-static">{{selectedCustomers[0].name}}</p>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="saveBatchPick(batchPickForm)" ng-disabled="batchPickForm.processing" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>