
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="站内提醒" ui-sref="root.utils.message"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="群发信息" ui-sref="root.utils.batchmsg"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.date" class="input-group">
      <label for="form-date-time" class="input-group-addon">时间</label>
      <input id="form-date-time" class="form-control input-sm" ng-show="searchModel.filter.date" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.endTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.addr" class="input-group">
      <div ng-show="searchModel.filter.addr" ng-province-model="searchModel.addr.province" ng-city-model="searchModel.addr.city" ng-area-model="searchModel.addr.district" class="uu-city-select"></div>
    </div>
    <div ng-click="search()" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<div class="article-header-filter">
  <form role="form" class="form-inline">
    <div data-toggle="buttons" class="btn-group">
      <label ng-click="query.order_type='0'" ng-init="query.order_type='0'" class="btn uu-btn active">
        <input checked="checked" type="radio"/>订购首期
      </label>
      <label ng-click="query.order_type='1'" class="btn uu-btn">
        <input type="radio"/>订购宣传品
      </label>
    </div>
  </form>
</div>
<table class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)" class="nowrap">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th class="nowrap">工具</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders">
      <td ng-bind="order.order_no" ng-show="ths[0].isChecked"></td>
      <td ng-bind="order.order_type | mapper: &quot;orderType&quot;" ng-show="ths[1].isChecked"><a href="" ng-click="showReturnOrder(order)" class="jslink" ng-bind="order.order_no"></a>
      </td>
      <td ng-bind="order.customer_name" ng-show="ths[2].isChecked"></td>
      <td ng-bind="order.customer_phone" ng-show="ths[3].isChecked"></td>
      <td ng-bind="order.customer_tel" ng-show="ths[4].isChecked"></td>
      <td ng-bind="order.customer_addr" ng-show="ths[5].isChecked"></td>
      <td ng-bind="order.has_invoice | yesno" ng-show="ths[6].isChecked"></td>
      <td ng-bind="order.amount" ng-show="ths[7].isChecked"></td>
      <td ng-bind="order.payment | mapper: &quot;payment&quot;" ng-show="ths[8].isChecked"></td>
      <td ng-bind="order.status | mapper: &quot;goodsStatus&quot;" ng-show="ths[9].isChecked"></td>
      <td><a href="" uu-tooltip="uu-tooltip" data-toggle="dropdown" data-original-title="审核" ng-click="showOrder(order.order_no)"><span class="glyphicon glyphicon-wrench"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<uu-pagination records="orders.meta.recordsCount" per-page="orders.meta.pageSize" page="orders.meta.pageNo" model="searchModel" action="getOrderList()"></uu-pagination>
<div id="order-details" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">核实订单</h4>
      </div>
      <div class="modal-body">
        <form name="ordersForm" class="form-horizontal">
          <table class="form-table">
            <tr>
              <th class="form-th">
                <label class="form-th-label">订单号</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.order_no"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">订单类型</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.order_type | mapper: &quot;orderType&quot;"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">客户姓名</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.customer_name"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">客户手机</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.customer_phone"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">客户电话</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.customer_tel"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">客户地址</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.customer_addr"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">是否有发票</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.has_invoice | yesno"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">总金额</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.amount"></p>
              </td>
            </tr>
            <tr>
              <th class="form-th">
                <label class="form-th-label">支付方式</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.payment | mapper: &quot;payment&quot;"></p>
              </td>
              <th class="form-th">
                <label class="form-th-label">状态</label>
              </th>
              <td class="form-td">
                <p class="form-control-static" ng-bind="order.status | mapper: &quot;goodsStatus&quot;"></p>
              </td>
            </tr>
          </table>
          <div ng-show="order.details.length" class="modal-lists">
            <table class="uu-table">
              <thead>
                <tr>
                  <th class="nowrap">编号</th>
                  <th class="nowrap">名称</th>
                  <th class="nowrap">数量</th>
                  <th class="nowrap">单品金额</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="good in order.details">
                  <td ng-bind="good.code"></td>
                  <td ng-bind="good.name"></td>
                  <td ng-bind="good.qty"></td>
                  <td ng-bind="good.amount"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
        <div class="modal-footer">
          <button ng-click="confirmOrder(ordersForm, order.order_no)" ng-disabled="ordersForm.processing" class="btn uu-btn btn-primary">审核通过</button>
          <button data-dismiss="modal" class="btn uu-btn">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>