
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="过滤条件" class="dropdown-toggle"><span class="glyphicon glyphicon-filter"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="">本月处理订单</a></li>
        <li><a href="">当日处理订单</a></li>
        <li><a href="">当日未处理订单</a></li>
        <li><a href="">当日完结订单</a></li>
      </ul>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" ui-sref="root.utils.message" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="站内提醒"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" ui-sref="root.utils.batchmsg" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="群发信息"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.date" class="input-group">
      <label for="form-date-time" class="input-group-addon">时间</label>
      <input id="form-date-time" class="form-control input-sm" ng-show="searchModel.filter.date" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" min-view="1" format="yyyy-mm-dd hh:00"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" min-view="1" format="yyyy-mm-dd hh:00"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.endTime" uu-date-picker="uu-date-picker" min-view="1" format="yyyy-mm-dd hh:00"/>
    </div>
    <div ng-click="search()" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<table class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)" class="nowrap">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th class="nowrap">工具</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="shipment in shipments" ng-dblclick="showPutinedshipment(shipment.shipment_code)">
      <td ng-bind="shipment.orders_no" ng-show="ths[0].isChecked"></td>
      <td ng-bind="shipment.shipment_no" ng-show="ths[1].isChecked"></td>
      <td ng-bind="shipment.customer_code" ng-show="ths[2].isChecked"></td>
      <td ng-bind="shipment.customer_name" ng-show="ths[3].isChecked"></td>
      <td ng-bind="shipment.address" ng-show="ths[4].isChecked"></td>
      <td ng-bind="shipment.customer_tel" ng-show="ths[5].isChecked"></td>
      <td ng-bind="shipment.amount" ng-show="ths[6].isChecked"></td>
      <td ng-bind="shipment.shipped_qty" ng-show="ths[7].isChecked"></td>
      <td ng-bind="shipment.has_invoice" ng-show="ths[8].isChecked"></td>
      <td ng-bind="shipment.express_code" ng-show="ths[9].isChecked"></td>
      <td ng-bind="shipment.express_orders_no" ng-show="ths[10].isChecked"></td>
      <td ng-bind="shipment.express_name" ng-show="ths[11].isChecked"></td>
      <td ng-bind="shipment.express_cost" ng-show="ths[12].isChecked"></td>
      <td ng-bind="shipment.courier" ng-show="ths[13].isChecked"></td>
      <td ng-bind="shipment.courier_tel" ng-show="ths[14].isChecked"></td>
      <td ng-bind="shipment.sent_date" ng-show="ths[15].isChecked"></td>
      <td ng-bind="shipment.create_time" ng-show="ths[16].isChecked"></td>
      <td ng-bind="shipment.creator" ng-show="ths[17].isChecked"></td>
      <td ng-bind="shipment.update_time" ng-show="ths[18].isChecked"></td>
      <td ng-bind="shipment.updater" ng-show="ths[19].isChecked"></td>
      <td ng-bind="shipment.status | mapper:'shipmentStatus'" ng-show="ths[20].isChecked"></td>
      <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="editShipment(shipment.shipment_no)"><span class="glyphicon glyphicon-pencil"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<uu-pagination records="shipments.meta.recordsCount" per-page="shipments.meta.pageSize" page="shipments.meta.pageNo" pagreceiptForme="shipments.meta.pageNo" model="searchModel" action="getShipmentsList()"></uu-pagination>
<div id="shipment-form" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 ng-bind="shipmentFormTitle" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <form name="shipmentForm" novalidate="novalidate" ng-class="{sumitted: shipmentForm.$sumitted}" class="form-horizontal">
          <div uu-tab="uu-tab">
            <div uu-pane="uu-pane" title="发货单">
              <table class="form-table">
                <tr>
                  <th class="form-th">
                    <label for="form-orders_no" class="form-th-label">订单号</label>
                  </th>
                  <td class="form-td">
                    <input id="form-orders_no" class="form-control input-sm" ng-model="shipment.orders_no" required="required"/>
                  </td>
                  <th class="form-th">
                    <label for="form-shipment_no" class="form-th-label">发货单号</label>
                  </th>
                  <td class="form-td">
                    <input id="form-shipment_no" class="form-control input-sm" ng-model="shipment.shipment_no" required="required"/>
                  </td>
                </tr>
                <tr>
                  <th class="form-th">
                    <label for="form-form-customer-code" class="form-th-label">客户编号</label>
                  </th>
                  <td class="form-td">
                    <input id="form-form-customer-code" class="form-control input-sm" ng-model="shipment.customer_code" required="required"/>
                  </td>
                  <th class="form-th">
                    <label for="form-form-customer-name" class="form-th-label">客户姓名</label>
                  </th>
                  <td class="form-td">
                    <input id="form-form-customer-name" class="form-control input-sm" ng-model="shipment.customer_name" required="required"/>
                  </td>
                </tr>
                <tr>
                  <th class="form-th">
                    <label for="form-form-address" class="form-th-label">客户地址</label>
                  </th>
                  <td class="form-td">
                    <input id="form-form-address" class="form-control input-sm" ng-model="shipment.address" required="required"/>
                  </td>
                  <th class="form-th">
                    <label for="form-form-customer-tel" class="form-th-label">客户电话</label>
                  </th>
                  <td class="form-td">
                    <input id="form-form-customer-tel" class="form-control input-sm" ng-model="shipment.customer_tel" required="required"/>
                  </td>
                </tr>
                <tr>
                  <th class="form-th">
                    <label for="form-form-amount" class="form-th-label">付款金额</label>
                  </th>
                  <td class="form-td">
                    <input id="form-form-amount" class="form-control input-sm" ng-model="shipment.amount" required="required"/>
                  </td>
                  <th class="form-th">
                    <label for="form-form-shipped-qty" class="form-th-label">发货数量</label>
                  </th>
                  <td class="form-td">
                    <input id="form-form-shipped-qty" class="form-control input-sm" ng-model="shipment.shipped_qty" required="required"/>
                  </td>
                </tr>
                <tr>
                  <th class="form-th">
                    <label for="form-sent_date" class="form-th-label">发货时间</label>
                  </th>
                  <td class="form-td">
                    <input id="form-sent_date" class="form-control input-sm" ng-model="sent_date" uu-date-picker="uu-date-picker" required="required"/>
                  </td>
                  <th class="form-th">
                    <label for="form-form-has-invoice" class="form-th-label">是否有发票</label>
                  </th>
                  <td class="form-td">
                    <select id="form-form-has-invoice" class="form-control input-sm" ng-model="shipment.has_invoice" required="required">
                      <option value="1">是</option>
                      <option value="0">否</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th class="form-th">
                    <label for="form-shipment-status" class="form-th-label">发货单状态</label>
                  </th>
                  <td class="form-td">
                    <select id="form-shipment-status" class="form-control input-sm" ng-model="shipment.status" required="required">
                      <option value="-1">无效</option>
                      <option value="0">待审核</option>
                      <option value="1">待发货</option>
                      <option value="2">备货中</option>
                      <option value="3">发货中</option>
                      <option value="4">已发货</option>
                    </select>
                  </td>
                </tr>
              </table>
              <p style="margin-top: 10px;" ng-show="!shipment.details.length" class="badge">尚未添加任何商品</p>
              <table style="margin-top: 10px;" ng-show="shipment.details.length" class="uu-table">
                <thead>
                  <tr>
                    <th class="nowrap">商品编号</th>
                    <th class="nowrap">商品名称</th>
                    <th class="nowrap">商品数量</th>
                    <th class="nowrap">是否赠品</th>
                    <th class="nowrap">工具</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="good in shipment.details">
                    <td ng-bind="good.goods_code"></td>
                    <td ng-bind="good.goods_name"></td>
                    <td ng-bind="good.qty"></td>
                    <td ng-bind="good.is_gift | yesno"></td>
                    <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="editGood(good, giftForm)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="删除" ng-click="removeGood($index)"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="modal-footer">
                <button ng-click="saveProduct(shipmentForm)" ng-disabled="shipmentForm.processing" class="btn uu-btn btn-primary">保存</button>
                <button data-dismiss="modal" class="btn uu-btn">取消</button>
              </div>
            </div>
            <div uu-pane="uu-pane" title="添加商品">
              <table class="uu-table">
                <thead>
                  <tr>
                    <th class="nowrap">商品名称</th>
                    <th class="nowrap">商品类型</th>
                    <th class="nowrap">商品价格</th>
                    <th class="nowrap">商品规格</th>
                    <th class="nowrap">生产日期</th>
                    <th class="nowrap">商品描述</th>
                    <th class="nowrap">是否有效</th>
                    <th class="nowrap">操作员</th>
                    <th class="nowrap">工具</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="good in goods">
                    <td ng-bind="good.goods_name"></td>
                    <td ng-bind="good.goods_type | goodsType"></td>
                    <td ng-bind="good.goods_price"></td>
                    <td ng-bind="good.goods_unit"></td>
                    <td ng-bind="good.product_date"></td>
                    <td ng-bind="good.goods_desc"></td>
                    <td ng-bind="good.yn | valid"></td>
                    <td ng-bind="good.creator"></td>
                    <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="添加商品" ng-click="addGoodToShipment(good, giftForm)"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <uu-pagination records="goods.meta.recordsCount" per-page="goods.meta.pageSize" page="goods.meta.pageNo" model="subSearchModel" action="getCommdityList()"></uu-pagination>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="gift-form" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">选择赠品</h4>
      </div>
      <div class="modal-body">
        <form name="giftForm" novalidate="novalidate" ng-class="{sumitted: giftForm.$sumitted}" class="form-horizontal">
          <fieldset>
            <legend>商品详情</legend>
            <table class="form-table form-table-single">
              <tr>
                <th class="form-th">
                  <label for="form-qty" class="form-th-label">数量</label>
                </th>
                <td class="form-td">
                  <input id="form-qty" class="form-control input-sm" uu-num="uu-num" ng-model="shipmentTmpGood.qty" required="required"/>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label for="form-selectGift" class="form-th-label">选择赠品</label>
                </th>
                <td class="form-td">
                  <select id="form-selectGift" class="form-control input-sm" ng-model="shipmentTmpGood.gift" required="required">
                    <option value="0">生日礼品</option>
                    <option value="1">促销赠品</option>
                  </select>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="saveGoodToShipment(giftForm)" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>