
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="新建"><span class="glyphicon glyphicon-plus"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="" ng-click="globalNewOrder()" class="jslink">新建订单</a>
        </li>
      </ul>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="过滤条件" class="dropdown-toggle"><span class="glyphicon glyphicon-filter"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="">本月处理订单</a></li>
        <li><a href="">当日处理订单</a></li>
        <li><a href="">当日未处理订单</a></li>
        <li><a href="">当日完结订单</a></li>
      </ul>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" ui-sref="root.utils.message" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="站内提醒"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" ui-sref="root.utils.batchmsg" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="群发信息"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <input ng-model="searchModel.keyword" placeholder="请输入关键词" class="form-control input-sm"/>
    </div>
    <div class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<table ng-show="orders.length" class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th>工具</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders">
      <td ng-bind="order.customer.name" ng-show="ths[0].isChecked"></td>
      <td ng-show="ths[1].isChecked"><a href="" ng-click="showOrder(order)" ng-bind="order.order_no" class="jslink"></a>
      </td>
      <td ng-bind="order.customer.phone" ng-show="ths[2].isChecked"></td>
      <td ng-bind="order.customer.province" ng-show="ths[3].isChecked"></td>
      <td ng-bind="order.customer.city" ng-show="ths[4].isChecked"></td>
      <td ng-bind="order.order_type | orderType" ng-show="ths[5].isChecked"></td>
      <td ng-bind="order.paid | payStatus" ng-show="ths[6].isChecked"></td>
      <td ng-bind="order.audit | auditStatus" ng-show="ths[7].isChecked"></td>
      <td ng-bind="order.create_time" ng-show="ths[8].isChecked"></td>
      <td ng-bind="order.contact_count" ng-show="ths[9].isChecked"></td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="showOrder(order)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="发送消息"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<uu-pagination records="orders.meta.recordsCount" per-page="{{orders.meta.pageSize}}" page="orders.meta.pageNo" model="searchModel" action="getOrderList()"></uu-pagination>
<div id="order-details" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">查看订单</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset uu-form-field="isCustometInfoEditable">
            <legend>基本信息</legend>
            <div class="form-group col-xs-6">
              <label for="form-name" class="control-label col-xs-3">客户姓名</label>
              <div class="col-xs-7">
                <input id="form-name" ng-model="currentOrder.customer.name" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-order" class="control-label col-xs-3">订单编号</label>
              <div class="col-xs-7">
                <input id="form-order" ng-model="currentOrder.orders_no" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-customer-gender" class="control-label col-xs-3">客户性别</label>
              <div class="col-xs-7">
                <select id="form-customer-gender" ng-model="currentOrder.customer.sex" class="form-control input-sm">
                  <option value="0">女</option>
                  <option value="1">男</option>
                </select>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-good" class="control-label col-xs-3">订购产品</label>
              <div class="col-xs-7">
                <input id="form-good" ng-model="currentOrder.good" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-telphone" class="control-label col-xs-3">联系电话</label>
              <div class="col-xs-7">
                <input id="form-telphone" ng-model="currentOrder.customer.phone" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-startDate" class="control-label col-xs-3">起订日期</label>
              <div class="col-xs-7">
                <input id="form-startDate" ng-model="currentOrder.effective" uu-date-picker="" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-child-name" class="control-label col-xs-3">儿童姓名</label>
              <div class="col-xs-7">
                <input id="form-child-name" ng-model="currentOrder.customer.child" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-enddate" class="control-label col-xs-3">结束日期</label>
              <div class="col-xs-7">
                <input id="form-enddate" ng-model="currentOrder.deadline" uu-date-picker="" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-child-gender" class="control-label col-xs-3">儿童性别</label>
              <div class="col-xs-7">
                <select id="form-child-gender" ng-model="currentOrder.customer.c_sex" class="form-control input-sm">
                  <option value="0">女</option>
                  <option value="1">男</option>
                </select>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-payway" class="control-label col-xs-3">支付方式</label>
              <div class="col-xs-7">
                <input id="form-payway" ng-model="currentOrder.payway" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-birthday" class="control-label col-xs-3">出生日期</label>
              <div class="col-xs-7">
                <input id="form-birthday" ng-model="currentOrder.customer.birthday" uu-date-picker="" class="form-control input-sm"/>
              </div>
            </div>
            <div class="form-group col-xs-6">
              <label for="form-pay-status" class="control-label col-xs-3">支付状态</label>
              <div class="col-xs-7">
                <select id="form-pay-status" ng-model="currentOrder.paid" class="form-control input-sm">
                  <option value="0">未付费</option>
                  <option value="1">已付费</option>
                </select>
              </div>
            </div>
            <div class="form-group col-xs-12 location">
              <div for="location-details" class="control-label">详细地址</div>
              <div class="location-wrap">
                <div class="input-group col-xs-3"><span class="input-group-addon">省</span>
                  <input ng-model="currentOrder.customer.province" class="form-control input-sm"/>
                </div>
                <div class="input-group col-xs-3"><span class="input-group-addon">市</span>
                  <input ng-model="currentOrder.customer.city" class="form-control input-sm"/>
                </div>
                <div class="input-group col-xs-4"><span class="input-group-addon">详细</span>
                  <input ng-model="currentOrder.customer.address" class="form-control input-sm"/>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset>
            <legend>订单</legend>
            <table class="uu-table">
              <thead>
                <tr>
                  <th>订单编号</th>
                  <th>客户姓名</th>
                  <th>订单产品</th>
                  <th>下单日期</th>
                  <th>支付方式</th>
                  <th>支付状态</th>
                  <th>出生日期</th>
                  <th>订单状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td ng-bind="currentOrder.orderSN"></td>
                  <td ng-bind="currentOrder.customerName"></td>
                  <td ng-bind="currentOrder.orderType"></td>
                  <td ng-bind="currentOrder.createTime"></td>
                  <td ng-bind="currentOrder.payWay"></td>
                  <td ng-bind="currentOrder.payStatus | payStatus"></td>
                  <td ng-bind="currentOrder.birthday"></td>
                  <td ng-bind="currentOrder.orderStatus"></td>
                  <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="拆分订单" ng-click="splitOrder(currentOrder)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="共享订单"><span class="glyphicon glyphicon-send"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>
          <fieldset ng-show="currentOrder.isSplited">
            <legend>发货单</legend>
            <table class="uu-table">
              <thead>
                <tr>
                  <th>订单序号</th>
                  <th>订单编号</th>
                  <th>客户姓名</th>
                  <th>详细地址</th>
                  <th>产品名称</th>
                  <th>构成物</th>
                  <th>订购类型</th>
                  <th>付款状态</th>
                  <th>下单日期</th>
                  <th>发货日期</th>
                  <th>发货单号</th>
                  <th>发货状态</th>
                  <th>应付金额</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="(index, order) in currentOrder.splitedOrders">
                  <td ng-bind="index + 1"></td>
                  <td ng-bind="order.orderSN"></td>
                  <td ng-bind="order.customerName"></td>
                  <td ng-bind="order.province + order.city"></td>
                  <td ng-bind="order.orderType"></td>
                  <td ng-bind="order.createTime"></td>
                  <td ng-bind="order.payWay"></td>
                  <td ng-bind="order.payStatus | payStatus"></td>
                  <td ng-bind="order.createTime"></td>
                  <td ng-bind="order.orderSN"></td>
                  <td ng-bind="order.sendStatus | payStatus"></td>
                  <td ng-bind="order.orderStatus"></td>
                  <td ng-bind="order.cost"></td>
                  <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="添加赠品" ng-click="selectGift(currentOrder)"><span class="glyphicon glyphicon-plus"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>
          <div ng-show="currentOrder.isSplited" class="modal-footer">
            <button ng-click="saveOrder(currentOrder)" class="btn uu-btn btn-primary">保存</button>
            <button data-dismiss="modal" class="btn uu-btn">取消</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="select-gift" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">选择赠品</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="form-selectGift" class="control-label col-xs-3">选择赠品</label>
              <div class="col-xs-7">
                <select id="form-selectGift" ng-model="order.gift" class="form-control input-sm">
                  <option value="0">生日礼品</option>
                  <option value="1">促销赠品</option>
                </select>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="saveOrder(order.orderSN)" class="btn uu-btn btn-primary">保存</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>