
<div class="clearfix">
  <ul class="action-bar">
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="" ng-click="globalToggleSearch()"><span class="glyphicon glyphicon-search"></span></a>
    </li>
    <li><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="过滤条件" class="dropdown-toggle"><span class="glyphicon glyphicon-filter"></span></a>
      <ul role="menu" class="dropdown-menu">
        <li><a href="">本月处理订单</a></li>
        <li><a href="">当日处理订单</a></li>
        <li><a href="">当日未处理订单</a></li>
        <li><a href="">当日完结订单</a></li>
      </ul>
    </li>
  </ul>
  <ul class="action-bar pull-right">
    <li><a href="" ui-sref="root.utils.message" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="站内提醒"><span class="glyphicon glyphicon-comment"></span></a>
    </li>
    <li><a href="" ui-sref="root.utils.batchmsg" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="群发信息"><span class="glyphicon glyphicon-envelope"></span></a>
    </li>
  </ul>
</div>
<div class="article-header-search">
  <form role="form" class="form-inline">
    <div class="form-group">
      <select ng-model="searchModel.filter" ng-options="filter.name for filter in filters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
      <select ng-model="searchModel.subfilter" ng-options="filter.value as filter.name for filter in searchModel.filter.subfilters" ng-show="searchModel.filter.subfilters" class="form-control input-sm"></select>
      <input ng-model="searchModel.subfilter" ng-show="searchModel.filter.input" class="form-control input-sm"/>
    </div>
    <div ng-show="searchModel.filter.date" class="input-group">
      <label for="form-date-time" class="input-group-addon">时间</label>
      <input id="form-date-time" class="form-control input-sm" ng-show="searchModel.filter.date" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-start-time" class="input-group-addon">开始时间</label>
      <input id="form-start-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.datetime" class="input-group">
      <label for="form-end-time" class="input-group-addon">结束时间</label>
      <input id="form-end-time" class="form-control input-sm" ng-show="searchModel.filter.datetime" ng-model="searchModel.subfilter.endTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
    </div>
    <div ng-show="searchModel.filter.addr" class="input-group">
      <div ng-show="searchModel.filter.addr" ng-province-model="searchModel.addr.province" ng-city-model="searchModel.addr.city" ng-area-model="searchModel.addr.district" class="uu-city-select"></div>
    </div>
    <div ng-click="search()" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="查询"><span class="glyphicon glyphicon-search"></span></a>
    </div>
  </form>
</div>
<table ng-show="orders.length" class="uu-table">
  <thead>
    <tr ng-dblclick="chooseTh('table-cols')">
      <th ng-repeat="th in ths" ng-show="th.isChecked" ng-class="{&quot;sort&quot;: th.sortable}" uu-sort="th.sortable" sort-name="th.name" action="sortBy(name, type)" class="nowrap">{{th.label}}<a href="" ng-if="th.filters" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span></a>
        <ul ng-if="th.filters" role="menu" class="dropdown-menu">
          <li ng-repeat="filter in th.filters"><a href="" ng-bind="filter"></a></li>
        </ul>
      </th>
      <th class="nowrap">工具</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders" ng-dblclick="showShipments(order)">
      <td ng-bind="order.order_no" ng-show="ths[0].isChecked"></td>
      <td ng-bind="order.consignee" ng-show="ths[1].isChecked"></td>
      <td ng-bind="order.phone" ng-show="ths[2].isChecked"></td>
      <td ng-bind="order.province + order.city" ng-show="ths[3].isChecked"></td>
      <td ng-bind="order.packag" ng-show="ths[4].isChecked"></td>
      <td ng-bind="order.payment | payment" ng-show="ths[5].isChecked"></td>
      <td ng-bind="order.paid | payStatus" ng-show="ths[6].isChecked"></td>
      <td ng-bind="order.create_time" ng-show="ths[7].isChecked"></td>
      <td ng-bind="order.creator" ng-show="ths[8].isChecked"></td>
      <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="拆分订单" ng-click="showShipments(order)"><span class="glyphicon glyphicon-wrench">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="退回"><span class="glyphicon glyphicon-backward"></span></a>
      </td>
    </tr>
  </tbody>
</table>
<uu-pagination records="orders.meta.recordsCount" per-page="orders.meta.pageSize" page="orders.meta.pageNo" model="searchModel" action="getOrderList()"></uu-pagination>
<div id="split-form" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">查看订单</h4>
      </div>
      <div class="modal-body">
        <form name="splitForm" class="form-horizontal">
          <fieldset>
            <p class="info-text">订单编号: <span class="info-text-val" ng-bind="order.order_no"></span></p>
            <table class="uu-table">
              <thead>
                <tr>
                </tr>
              </thead>
              <th>序号</th>
              <th>子订单编号</th>
              <th>产品名称</th>
              <th>派送月份</th>
              <th>产品单位</th>
              <th>产品数量</th>
              <th>赠品</th>
              <th>分拆数量</th>
              <th>操作</th>
              <tbody>
                <tr ng-repeat="(index, order) in splitedOrders">
                  <td ng-bind="index + 1"></td>
                  <td ng-bind="order.orders_no"></td>
                  <td ng-bind="order.product_name"></td>
                  <td ng-bind="order.send_time"></td>
                  <td ng-bind="order.product_unit"></td>
                  <td ng-bind="order.product_amount"></td>
                  <td ng-bind="order.gift"></td>
                  <td ng-bind="order.split_num"></td>
                  <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="编辑" ng-click="editShipment(order)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="添加赠品" ng-click="selectGift(order)"><span class="glyphicon glyphicon-plus"></span></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </fieldset>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn uu-btn btn-primary">确定</button>
            <button data-dismiss="modal" class="btn uu-btn">取消</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="split-results" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">折单列表</h4>
      </div>
      <div class="modal-body">
        <table class="uu-table">
          <thead>
            <tr>
              <th>客户姓名</th>
              <th>客户地址</th>
              <th>付款金额</th>
              <th>发货数量</th>
              <th>是否有发票</th>
              <th>快递单号</th>
              <th>发货时间</th>
              <th>发货单状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(index, order) in currentOrder.splitedOrders"></tr>
            <tr>
              <td ng-bind="order.customer_name"></td>
              <td ng-bind="order.address"></td>
              <td ng-bind="order.amount"></td>
              <td ng-bind="order.shipped_qty"></td>
              <td ng-bind="order.has_invoice | yesno"></td>
              <td ng-bind="order.express_code"></td>
              <td ng-bind="order.sent_date"></td>
              <td ng-bind="order.status | mapper:&quot;shipmentStatus&quot;"></td>
              <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="编辑" ng-click="editShipment(order)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="添加赠品" ng-click="selectGift(currentOrder)"><span class="glyphicon glyphicon-plus"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button ng-click="saveSplitResult(currentOrder)" class="btn uu-btn btn-primary">保存并确认</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="shipment-form" class="modal fade sub-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">复合发货单</h4>
      </div>
      <div class="modal-body">
        <form name="shipmentForm" novalidate="novalidate" ng-class="{sumitted: shipmentForm.$sumitted}" class="form-horizontal">
          <fieldset>
            <legend>发货单明细</legend>
            <table class="form-table">
              <tr class="nowrap">
                <th class="form-th">
                  <label class="form-th-label">订单号</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="order.order_no"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">客户姓名</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="order.customer.name"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">客户地址</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="order.customer.province + order.customer.city + order.customer.address"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">客户电话</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="order.customer.phone"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">付款金额</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="order.amount"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">订购时间</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="order.effective"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">是否有发票</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="order.has_invoice | yesno"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">儿童生日</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="order.customer.birthday"></p>
                </td>
              </tr>
              <tr>
                <th class="form-th">
                  <label class="form-th-label">订购类型</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="order.packag"></p>
                </td>
                <th class="form-th">
                  <label class="form-th-label">付款状态</label>
                </th>
                <td class="form-td">
                  <p class="form-control-static" ng-bind="order.paid | payStatus"></p>
                </td>
              </tr>
            </table>
            <button ng-click="mergeShipment(shipmentForm)" ng-disabled="shipmentForm.processing" class="btn uu-btn btn-primary">合并出库单</button>
            <div class="modal-lists">
              <table class="uu-table">
                <thead>
                  <tr>
                    <th class="nowrap">
                      <div class="checkbox">
                        <label style="position: relative;">
                          <input type="checkbox" ng-model="isAllChecked" ng-init="isAllChecked=false" ng-click="toggleCheckAll(&quot;isAllChecked&quot;, shipments)"/>全选
                        </label>
                      </div>
                    </th>
                    <th class="nowrap">订单号</th>
                    <th class="nowrap">客户姓名</th>
                    <th class="nowrap">客户电话</th>
                    <th class="nowrap">付款金额</th>
                    <th class="nowrap">发货数量</th>
                    <th class="nowrap">发货时间</th>
                    <th class="nowrap">发货单状态</th>
                    <th class="nowrap">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="shipment in shipments" ng-dblclick="checkShipment(shipment.shipment_no, shipmentCheckForm)" ng-class="{&quot;success&quot; : order.customer.birthday.substr(5,2) === shipment.sent_date.substr(5,2)}">
                    <td>
                      <input type="checkbox" ng-model="shipment.isChecked" ng-click="checkIsAllChecked(&quot;isAllChecked&quot;, shipments, shipment)"/>
                    </td>
                    <td ng-bind="shipment.orders_no"></td>
                    <td ng-bind="shipment.customer_name"></td>
                    <td ng-bind="shipment.customer_tel"></td>
                    <td ng-bind="shipment.amount"></td>
                    <td ng-bind="shipment.shipped_qty"></td>
                    <td ng-bind="shipment.sent_date"></td>
                    <td ng-bind="shipment.status | mapper:'shipmentStatus'"></td>
                    <td class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="发货单复合" ng-click="checkShipment(shipment.shipment_no, shipmentCheckForm)"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="splitOrder(shipmentForm)" ng-disabled="shipmentForm.processing" class="btn uu-btn btn-primary">确定</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="shipment-check-form" class="modal fade sub-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">发货单复合</h4>
      </div>
      <div class="modal-body">
        <form name="shipmentCheckForm" novalidate="novalidate" ng-class="{sumitted: shipmentCheckForm.$sumitted}" class="form-horizontal">
          <div uu-tab="uu-tab">
            <div uu-pane="uu-pane" title="发货单">
              <table class="form-table">
                <tr class="nowrap">
                  <th class="form-th">
                    <label class="form-th-label">订单号</label>
                  </th>
                  <td colspan="orders_no" class="form-td">
                    <p class="form-control-static" ng-bind="shipment.orders_no"></p>
                  </td>
                  <th class="form-th">
                    <label class="form-th-label">发货单号</label>
                  </th>
                  <td colspan="shipment_no" class="form-td">
                    <p class="form-control-static" ng-bind="shipment.shipment_no"></p>
                  </td>
                </tr>
                <tr>
                  <th class="form-th">
                    <label class="form-th-label">客户姓名</label>
                  </th>
                  <td colspan="form-customer-name" class="form-td">
                    <p class="form-control-static" ng-bind="shipment.customer_name"></p>
                  </td>
                  <th class="form-th">
                    <label class="form-th-label">客户地址</label>
                  </th>
                  <td colspan="form-address" class="form-td">
                    <p class="form-control-static" ng-bind="shipment.address"></p>
                  </td>
                </tr>
                <tr>
                  <th class="form-th">
                    <label class="form-th-label">客户电话</label>
                  </th>
                  <td colspan="form-customer-tel" class="form-td">
                    <p class="form-control-static" ng-bind="shipment.customer_tel"></p>
                  </td>
                  <th class="form-th">
                    <label class="form-th-label">付款金额</label>
                  </th>
                  <td colspan="form-amount" class="form-td">
                    <p class="form-control-static" ng-bind="shipment.amount"></p>
                  </td>
                </tr>
                <tr>
                  <th class="form-th">
                    <label class="form-th-label">发货数量</label>
                  </th>
                  <td colspan="form-shipped-qty" class="form-td">
                    <p class="form-control-static" ng-bind="shipment.shipped_qty"></p>
                  </td>
                  <th class="form-th">
                    <label for="form-form-send-date" class="form-th-label">发货时间</label>
                  </th>
                  <td class="form-td">
                    <input id="form-form-send-date" class="form-control input-sm" ng-model="shipment.sent_date" uu-date-picker="uu-date-picker" required="required"/>
                  </td>
                </tr>
                <tr>
                  <th class="form-th">
                    <label class="form-th-label">是否有发票</label>
                  </th>
                  <td colspan="form-has-invoice" class="form-td">
                    <p class="form-control-static" ng-bind="shipment.has_invoice"></p>
                  </td>
                  <th class="form-th">
                    <label class="form-th-label">发货单状态</label>
                  </th>
                  <td colspan="shipment-status" class="form-td">
                    <p class="form-control-static" ng-bind="shipment.status | mapper:&quot;shipmentStatus&quot;"></p>
                  </td>
                </tr>
                <tr>
                  <th class="form-th">
                    <label for="form-form-warehouse" class="form-th-label">库房</label>
                  </th>
                  <td class="form-td">
                    <select id="form-form-warehouse" class="form-control input-sm" ng-model="shipment.warehouse" ng-options="warehouse.warehouse_code as warehouse.warehouse_name for warehouse in warehouses" required="required">
                    </select>
                  </td>
                </tr>
              </table>
              <p style="margin-top: 10px;" ng-show="!shipment.details.length" class="badge">尚未添加任何赠品</p>
              <div ng-show="shipment.details.length" class="modal-lists">
                <table class="uu-table">
                  <thead>
                    <tr>
                      <th class="nowrap">编号</th>
                      <th class="nowrap">名称</th>
                      <th class="nowrap">数量</th>
                      <th class="nowrap">是否产品</th>
                      <th class="nowrap">是否赠品</th>
                      <th class="nowrap">工具</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="good in shipment.details">
                      <td ng-bind="good.code"></td>
                      <td ng-bind="good.name"></td>
                      <td ng-bind="good.qty"></td>
                      <td ng-bind="good.is_product | yesno"></td>
                      <td ng-bind="good.is_gift | yesno"></td>
                      <td ng-show="!good.operatable" class="nowrap">--</td>
                      <td ng-show="good.operatable" class="nowrap"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="修改" ng-click="editGood(good, giftForm)"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="删除" ng-click="removeGood($index)"><span class="glyphicon glyphicon-trash"></span></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button ng-click="confirmShipment(shipmentCheckForm)" ng-disabled="shipmentCheckForm.processing" class="btn uu-btn btn-primary">确定</button>
                <button data-dismiss="modal" class="btn uu-btn">取消</button>
              </div>
            </div>
            <div uu-pane="uu-pane" title="添加赠品">
              <div class="modal-search-bar">
                <div class="form-group">
                  <select ng-model="subSearchModel.filter" ng-options="filter.name for filter in goodsFilters" ng-change="resetSubFilter()" class="form-control input-sm"></select>
                  <select ng-model="subSearchModel.subfilter" ng-options="filter.value as filter.name for filter in subSearchModel.filter.subfilters" ng-show="subSearchModel.filter.subfilters" class="form-control input-sm"></select>
                  <input ng-model="subSearchModel.subfilter" ng-show="subSearchModel.filter.input" class="form-control input-sm"/>
                </div>
                <div ng-show="subSearchModel.filter.date" class="input-group">
                  <label for="form-date-time" class="input-group-addon">时间</label>
                  <input id="form-date-time" class="form-control input-sm" ng-show="subSearchModel.filter.date" ng-model="subSearchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
                </div>
                <div ng-show="subSearchModel.filter.datetime" class="input-group">
                  <label for="form-start-time" class="input-group-addon">开始时间</label>
                  <input id="form-start-time" class="form-control input-sm" ng-show="subSearchModel.filter.datetime" ng-model="subSearchModel.subfilter.startTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
                </div>
                <div ng-show="subSearchModel.filter.datetime" class="input-group">
                  <label for="form-end-time" class="input-group-addon">结束时间</label>
                  <input id="form-end-time" class="form-control input-sm" ng-show="subSearchModel.filter.datetime" ng-model="subSearchModel.subfilter.endTime" uu-date-picker="uu-date-picker" format="yyyy-mm-dd"/>
                </div>
                <div ng-click="goodsSearch()" class="btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="查询"><span class="glyphicon glyphicon-search"></span></a>
                </div>
              </div>
              <table class="uu-table">
                <thead>
                  <tr>
                    <th class="nowrap">商品名</th>
                    <th class="nowrap">商品类型</th>
                    <th class="nowrap">商品价格</th>
                    <th class="nowrap">商品规格</th>
                    <th class="nowrap">生产日期</th>
                    <th class="nowrap">商品描述</th>
                    <th class="nowrap">是否有效</th>
                    <th class="nowrap">操作员</th>
                    <th class="nowrap">工具</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="good in goods">
                    <td ng-bind="good.goods_name"></td>
                    <td ng-bind="good.goods_type | goodsType"></td>
                    <td ng-bind="good.goods_price"></td>
                    <td ng-bind="good.goods_unit"></td>
                    <td ng-bind="good.product_date"></td>
                    <td ng-bind="good.goods_desc"></td>
                    <td ng-bind="good.yn | valid"></td>
                    <td ng-bind="good.creator"></td>
                    <td><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="dropdown" title="添加商品" ng-click="addGoodToShipment(good, giftForm)"><span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <uu-pagination records="goods.meta.recordsCount" per-page="goods.meta.pageSize" page="goods.meta.pageNo" model="subSearchModel" action="getCommdityList()"></uu-pagination>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="gift-form" class="modal fade sub-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">选择赠品</h4>
      </div>
      <div class="modal-body">
        <form name="shipmentGiftForm" novalidate="novalidate" ng-class="{sumitted: shipmentGiftForm.$sumitted}" class="form-horizontal">
          <fieldset>
            <table class="form-table form-table-single">
              <tr>
                <th class="form-th">
                  <label for="form-form-good-qty" class="form-th-label">数量</label>
                </th>
                <td class="form-td">
                  <input id="form-form-good-qty" class="form-control input-sm" uu-num="uu-num" ng-model="shipmentTmpGood.qty"/>
                </td>
              </tr>
            </table>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="saveGoodToShipment(shipmentGiftForm)" ng-disabled="shipmentGiftForm.processing" class="btn uu-btn btn-primary">确定</button>
        <button data-dismiss="modal" class="btn uu-btn">取消</button>
      </div>
    </div>
  </div>
</div>
<div id="table-ths" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
        <h4 class="modal-title">更改显示列</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="isAllThsShow" ng-click="toggleCheckAll(&quot;isAllThsShow&quot;, ths)"/>全选
            </label>
          </li>
          <li ng-repeat="th in ths" class="list-group-item checkbox">
            <label>
              <input type="checkbox" ng-model="th.isChecked" ng-click="checkIsAllChecked(&quot;isAllThsShow&quot;, ths, th)"/>{{th.label}}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>