
<h2>拆分定单</h2>
<hr/>
<div class="criteria-bar">
  <form role="form" class="form-inline">
    <div class="form-group">
      <label for="customer-scope">查看范围</label>
      <select id="customer-scope" name="customerScope" class="form-control input-sm">
        <option value="0">所有客户</option>
        <option value="1">潜在客户</option>
      </select>
    </div>
    <div class="btn btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="tooltip" title="转移"><span class="glyphicon glyphicon-send"></span></a>
    </div>
    <div class="btn btn uu-btn"><a href="" uu-tooltip="uu-tooltip" data-placement="top" data-toggle="tooltip" title="更多操作"><span class="glyphicon glyphicon-transfer"></span></a>
    </div>
  </form>
</div>
<div class="filter-bar">
  <div data-toggle="buttons" class="btn-group">
    <label class="btn uu-btn active">
      <input checked="checked" name="customer-type" type="radio"/>所有
    </label>
    <label class="btn uu-btn">
      <input name="customer-type" type="radio"/>已付费
    </label>
    <label class="btn uu-btn">
      <input name="customer-type" type="radio"/>未付费
    </label>
  </div>
</div>
<table class="uu-table">
  <thead>
    <tr>
      <th>客户姓名</th>
      <th>订单编号</th>
      <th>客户电话</th>
      <th>所在省</th>
      <th>城市</th>
      <th>订购类型</th>
      <th>付款状态</th>
      <th>创建时间</th>
      <th>联系次数</th>
      <th>工具</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>李四民</td>
      <td><a href="" class="jslink">20141020</a>
      </td>
      <td>15006492314</td>
      <td>山东</td>
      <td>青岛</td>
      <td>年度</td>
      <td>已付费</td>
      <td>20141018</td>
      <td>1</td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="left" data-toggle="tooltip" title="修改负责人"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="right" data-toggle="tooltip" title="发送消息"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
    <tr>
      <td>李四民</td>
      <td><a href="" class="jslink">20141020</a>
      </td>
      <td>15006492314</td>
      <td>山东</td>
      <td>青岛</td>
      <td>年度</td>
      <td>已付费</td>
      <td>20141018</td>
      <td>1</td>
      <td><a href="" uu-tooltip="uu-tooltip" data-placement="left" data-toggle="tooltip" title="修改负责人"><span class="glyphicon glyphicon-pencil">&nbsp;</span></a><a href="" uu-tooltip="uu-tooltip" data-placement="right" data-toggle="tooltip" title="发送消息"><span class="glyphicon glyphicon-comment"></span></a>
      </td>
    </tr>
  </tbody>
</table>