<!-- customer nav tab -->
<!-- <ul class="sub-navbar list-inline">
	<li>
		<a ui-sref="root.customer.checkorder" ng-class="{active: $state.is('root.customer.checkorder')}" class="action-item">官网核实订单</a>
	</li>
	<li>
		<a ui-sref="root.customer.splitorder" ng-class="{active: $state.is('root.customer.splitorder')}" class="action-item">拆分订单</a>
	</li>
	<li>
		<a ui-sref="root.customer.complaints" ng-class="{active: $state.is('root.customer.complaints')}" class="action-item">投诉</a>
	</li>
</ul> -->

<div ui-view></div>
