<form class="form form-horizontal form-small static-area" name="infoForm" role="form">
	<div class="col-xs-6">
		<fieldset>
			<!-- <legend></legend> -->
			<div uu-static l-col="3" r-col="9" label="编号" text="result.number"></div>
			<div uu-static l-col="3" r-col="9" label="类型" text="result.type"></div>
			<div uu-static l-col="3" r-col="9" label="姓名" text="result.name"></div>
			<div uu-static l-col="3" r-col="9" label="性别" text="result.gender"></div>
			<div uu-static l-col="3" r-col="9" label="出生年月" text="result.birthday"></div>
			<div uu-static l-col="3" r-col="9" label="家长姓名" text="result.parent.name"></div>
			<div uu-static l-col="3" r-col="9" label="家长性别" text="result.parent.gender"></div>
			<div uu-static l-col="3" r-col="9" label="E-mail" text="result.email"></div>
		</fieldset>
		<fieldset>
			<!-- <legend></legend> -->
			<div uu-static l-col="3" r-col="9" label="省/市/区" text="result.location"></div>
			<div uu-static l-col="3" r-col="9" label="街道" text="result.street"></div>
			<div uu-static l-col="3" r-col="9" label="地址" text="result.address"></div>
			<div uu-static l-col="3" r-col="9" label="邮编" text="result.postcode"></div>
		</fieldset>
	</div>
	<div class="col-xs-6">
		<fieldset id="phone-box">
			<!-- <legend></legend> -->
			<div uu-static-phone l-col="3" r-col="9" label="家庭电话" text="result.phone.home" main="result.phone.main"></div>
			<div uu-static-phone l-col="3" r-col="9" label="公司电话" text="result.phone.company" main="result.phone.main"></div>
			<div uu-static-phone l-col="3" r-col="9" label="手机电话" text="result.phone.mobile" main="result.phone.main"></div>
			<div uu-static l-col="3" r-col="9" label="传真" text="result.tax"></div>
		</fieldset>
		<fieldset>
			<!-- <legend></legend> -->
			<div uu-static l-col="3" r-col="9" label="订购产品" text="result.order"></div>
			<div uu-static l-col="3" r-col="9" label="付款方式" text="result.payway"></div>
			<div uu-static l-col="3" r-col="9" label="发票类型" text="result.invoice.type"></div>
			<div uu-static l-col="3" r-col="9" label="发票抬头" text="result.invoice.prefix"></div>
			<div uu-static l-col="3" r-col="9" label="发票内容" text="result.invoice.content"></div>
			<div uu-static l-col="3" r-col="9" label="生效日期" text="result.invoice.effectiveDate"></div>
			<div uu-static l-col="3" r-col="9" label="备注" text="result.comment"></div>
		</fieldset>
	</div>
</form>

<!-- product panel -->
<div class="panel panel-default col-xs-offset">
	<div class="panel-heading">
		<span class="">已发产品</span>
		<ul class="side-info list-inline">
			<li>已发货次数：</li>
			<li>剩余发货次数：</li>
		</ul>
	</div>

	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item">1月号</li>
			<li class="list-group-item">2月号</li>
		</ul>
	</div>
</div>

<!-- comminite panel -->
<div class="panel panel-default col-xs-offset">
	<!-- Default panel contents -->
	<div class="panel-heading">沟通记录</div>

	<!-- Table -->
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>开始时间</th>
					<th>结束时间</th>
					<th>沟通内容</th>
					<th>描述</th>
					<th>客服编号</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td>
						<select disabled class="form-control" name="subject" ng-model="result.subject" id="">
							<option value="1">option 1</option>
							<option value="2">option 2</option>
							<option value="3">option 3</option>
						</select>
					</td>
					<td></td>
					<td>001</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<select disabled class="form-control" name="subject" ng-model="result.subject" id="">
							<option value="1">option 1</option>
							<option value="2">option 2</option>
							<option value="3">option 3</option>
						</select>
					</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>