<div ng-include src="'views/partial/info/info-tab.html'"></div>
<div ng-include src="'views/partial/link-group.html'"></div>

<div class="info-panel">
	<ul class="list-inline">
		<li><span class="key">预约总数: </span><span class="val">{{statistics.preorder}}</span></li>
		<li><span class="key">成交客户: </span><span class="val">{{statistics.dealed}}</span></li>
	</ul>
	<div class="checkbox-inline pull-right">
		<label><input type="checkbox" ng-click="result=[]" ng-model="search.advance" value="male">高级搜索</label>
	</div>
</div>


<form class="form form-horizontal form-small search-form" role="form" ng-submit="search()">
	<div class="col-xs-12">
		<fieldset>
			<!-- <legend></legend> -->

			<div class="unify" ng-show="!search.advance">
				<div class="form-group">
					<div class="col-xs-6 col-xs-offset-2">
						<input type="text" name="search-box" placeholder="请输入搜索关键字" ng-model="model.keyword" class="form-control" id="search-box">
					</div>
					<div class="col-xs-2">
						<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
					</div>
				</div>
			</div>
			<div class="col-xs-10 advance" ng-show="search.advance">
				<div class="form-group">
					<label class="col-xs-4 control-label" for="c-type">类型: </label>
					<div class="col-xs-4">
						<input type="text" name="type" ng-model="model.tyle" class="form-control input-small" id="c-type">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" for="c-name">姓名: </label>
					<div class="col-xs-4">
						<input type="text" name="name" ng-model="model.name" class="form-control input-small" id="c-name">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" for="c-gender">性别: </label>
					<div class="col-xs-4">
						<div class="radio-inline">
							<label><input type="radio" ng-model="model.gender" value="male">男</label>
						</div>
						<div class="radio-inline">
							<label><input type="radio" ng-model="model.gender" value="female">女</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" for="c-birthday">出生年月: </label>
					<div class="col-xs-5 ">
						<input type="text" name="birthday" ng-model="model.birthday" class="form-control input-small date" id="c-birthday">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" for="cp-name">家长姓名:</label>
					<div class="col-xs-5">
						<input type="text" name="p-name" ng-model="model.parent.name" class="form-control input-small" id="cp-name">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" for="cp-gender">家长性别: </label>
					<div class="col-xs-4">
						<div class="radio-inline">
							<label><input type="radio" name="cp-name" ng-model="model.parent.gender" value="male">男</label>
						</div>
						<div class="radio-inline">
							<label><input type="radio" name="cp-name" ng-model="model.parent.gender" value="female">女</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-4 control-label" for="c-emal">E-mail: </label>
					<div class="col-xs-6">
						<input type="text" name="email" ng-model="model.email" class="form-control input-small" id="c-emal">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-4 col-xs-offset-4">
						<input type="submit" value="搜索" class="btn btn-default">
					</div>
				</div>
			</div>
		</fieldset>

	</div>
</form>

<div ng-show="result.length" class="result">
	<ul class="pagination">
		<li ng-repeat="page in pages.length"><a href="#">&laquo;</a></li>
		<li><a href="">1</a></li>
		<li><a href="">2</a></li>
		<li><a href="">3</a></li>
		<li><a href="">4</a></li>
		<li><a href="">5</a></li>
		<li><a href="">&raquo;</a></li>
	</ul>
	<table class="table table-hover table-condensed ">
		<thead>
			<tr>
				<th>客户编号</th>
				<th>类型</th>
				<th>姓名</th>
				<th>性别</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in result">
				<td>{{item.code}}</td>
				<td>{{item.type}}</td>
				<td>{{item.name}}</td>
				<td>{{item.gender}}</td>
				<td>{{item.email}}</td>
			</tr>
		</tbody>
	</table>
</div>
