<div ng-include src="'views/partial/info/info-tab.html'"></div>
<div ng-include src="'views/partial/link-group.html'"></div>

<form class="form form-horizontal form-small" name="infoForm" role="form">
 	<input type="hidden" name="operator" ng-model="model.operator" ng-init="model.operator='testOperator'">
 	<div class="col-xs-6">
 		<fieldset>
 			<legend></legend>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="c-number">编号: </label>
 				<div class="col-xs-6">
 					<input type="text" name="number" ng-model="model.code" class="form-control input-sm" id="c-number">
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="c-type">类型: </label>
 				<div class="col-xs-4">
 					<input type="text" name="type" ng-model="model.type" class="form-control input-sm" id="c-type">
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="c-name">姓名: </label>
 				<div class="col-xs-5">
 					<input type="text" name="name" ng-model="model.name" class="form-control input-sm" id="c-name">
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="c-gender">性别: </label>
 				<div class="col-xs-4">
 					<div class="radio-inline">
 						<label><input type="radio" ng-model="model.gender" value="male">男</label>
 					</div>
 					<div class="radio-inline">
 						<label><input type="radio" ng-model="model.gender" value="female">女</label>
 					</div>
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="c-birthday">出生年月: </label>
 				<div class="col-xs-5 ">
 					<input type="text" name="birthday" ng-model="model.birthday" class="form-control input-sm date" id="c-birthday">
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="cp-name">家长姓名:</label>
 				<div class="col-xs-5">
 					<input type="text" name="p-name" ng-model="model.parent.name" class="form-control input-sm" id="cp-name">
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="cp-gender">家长性别: </label>
 				<div class="col-xs-4">
 					<div class="radio-inline">
 						<label><input type="radio" name="cp-name" ng-model="model.parent.gender" value="male">男</label>
 					</div>
 					<div class="radio-inline">
 						<label><input type="radio" name="cp-name" ng-model="model.parent.gender" value="female">女</label>
 					</div>
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="c-emal">E-mail: </label>
 				<div class="col-xs-6">
 					<input type="text" name="email" ng-model="model.email" class="form-control input-sm" id="c-emal">
 				</div>
 			</div>
 		</fieldset>
 		<fieldset>
 			<legend></legend>
 			<div class="form-group">
 				<label class="col-xs-3 control-label">省/市/区: </label>
 				<div class="col-xs-9">
 					<div class="input-group">
 						<input type="text" name="provice" ng-model="model.provice" class="form-control input-sm non-right">
 						<span class="input-group-addon">省</span>
 						<input type="text" name="city" ng-model="model.city" class="form-control input-sm non-right non-left">
 						<span class="input-group-addon">市</span>
 						<input type="text" name="area" ng-model="model.area" class="form-control input-sm non-left">
 						<span class="input-group-addon">区</span>
 					</div>
 				</div>

 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="cp-street">街道: </label>
 				<div class="col-xs-6">
 					<input type="text" name="street" ng-model="model.street" class="form-control input-sm" id="cp-street">
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="c-addr">地址: </label>
 				<div class="col-xs-6">
 					<input type="text" name="address" ng-model="model.address" class="form-control input-sm" id="c-addr">
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="c-post-code">邮编: </label>
 				<div class="col-xs-5">
 					<input type="text" name="postcode" ng-model="model.postcode" class="form-control input-sm" id="c-post-code">
 				</div>
 			</div>
 		</fieldset>
 	</div>
 	<div class="col-xs-6">
 		<fieldset id="phone-box">
 			<legend></legend>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="phone-home">家庭电话: </label>

 				<div class="col-xs-9">
 					<div class="input-group">
 						<input type="text" name="phone-home" ng-model="model.phone.home" class="form-control input-sm" id="phone-home">
 						<span class="input-group-addon radio addon-tweak">
 							<label><input type="radio" name="main-phone" ng-model="model.phone.main" value="home">主要电话</label>
 						</span>
 					</div>
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="phone-company">公司电话: </label>
 				<div class="col-xs-9">
 					<div class="input-group">
 						<input type="text" name="phone-company" ng-model="model.phone.company" class="form-control input-sm" id="phone-company">
 						<span class="input-group-addon radio addon-tweak">
 							<label><input type="radio" name="main-phone" ng-model="model.phone.main" value="company">主要电话</label>
 						</span>
 					</div>
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="phone-mobile">手机电话: </label>
 				<div class="col-xs-9">
 					<div class="input-group">
 						<input type="text" name="phone-mobile" ng-model="model.phone.mobile" class="form-control input-sm" id="phone-mobile">
 						<span class="input-group-addon radio addon-tweak">
 							<label><input type="radio" name="main-phone" ng-model="model.phone.main" value="personal">主要电话</label>
 						</span>
 					</div>
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="c-tax">传真: </label>
 				<div class="col-xs-6">
 					<input type="text" ng-model="model.tax" name="tax" class="form-control input-sm" id="c-tax">
 				</div>
 			</div>
 		</fieldset>
 		<fieldset>
 			<legend></legend>
 			<div class="form-group">
 				<label class="col-xs-3 control-label">订购产品:</label>
 				<div class="col-xs-9">
 					<div class="radio-inline">
 						<label><input type="radio" name="product-order" ng-model="model.order" value="quarter">季度</label>
 					</div>
 					<div class="radio-inline">
 						<label><input type="radio" name="product-order" ng-model="model.order" value="half-year">半年</label>
 					</div>
 					<div class="radio-inline">
 						<label><input type="radio" name="product-order" ng-model="model.order" value="one-year">一年</label>
 					</div>
 					<div class="radio-inline">
 						<label><input type="radio" name="product-order" ng-model="model.order" value="onetime">一次性周边</label>
 					</div><br/>
 					<div class="radio-inline">
 						<label><input type="radio" name="product-order" ng-model="model.order" value="others">其它</label>
 						<input ng-show="model.order=='others'" ng-model="model.others" type="text">
 					</div>
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label">付款方式:</label>
 				<div class="col-xs-9">
 					<div class="radio-inline">
 						<label><input type="radio" name="payway" ng-model="model.payway" value="online">在线支付</label>
 					</div>
 					<div class="radio-inline">
 						<label><input type="radio" name="payway" ng-model="model.payway" value="delivery">货到付款</label>
 					</div>
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label">发票类型:</label>
 				<div class="col-xs-6">
	 				<div class="radio-inline">
	 					<label><input type="radio" ng-model="model.invoice.type" value="personal">个人</label>
	 				</div>
	 				<div class="radio-inline">
	 					<label><input type="radio" ng-model="model.invoice.type" value="company">公司</label>
	 				</div>
 				</div>
 			</div>
 			<div class="form-group" ng-show="model.invoice.type=='company'" >
 				<label class="col-xs-3 control-label" for="c-taitou">发票抬头:</label>
 				<div class="col-xs-5">
 					<input type="text" name="invoice" ng-model="model.invoice.taitou" class="form-control input-sm" id="c-taitou">
 				</div>
 			</div>
 			<div class="form-group" ng-show="model.invoice.type" for="c-invoice">
 				<label class="col-xs-3 control-label" for="c-invoice">发票内容:</label>
 				<div class="col-xs-6">
 					<input type="text" name="invoice" ng-model="model.invoice.content" class="form-control input-sm" id="c-invoice">
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="effectiveDate">生效日期: </label>
 				<div class="col-xs-5">
 					<input type="text" name="effectiveDate" ng-model="model.effectiveDate" class="form-control input-sm date" id="effectiveDate">
 				</div>
 			</div>
 			<div class="form-group">
 				<label class="col-xs-3 control-label" for="c-comment">备注:</label>
 				<div class="col-xs-9">
 					<textarea name="comment" ng-model="model.comment" id="c-comment" rows="3" class="form-control"></textarea>
 				</div>
 			</div>
 			<div class="from-group">
 				<div class="col-xs-10 submit-btns col-xs-offset-3">
 					<input type="submit" class="btn btn-primary btn-sm" ng-click="model.btn='saved'; summit()" value="处理完成">
 					<input type="button" class="btn btn-default btn-sm" ng-click="model.btn='insert'; summit()"  value="未完成，提交上级">
 					<a href="" class="btn btn-default btn-sm" ng-click="model.btn='query'; summit()">我的订单记录</a>
 				</div>
 			</div>
 		</fieldset>
 	</div>
 </form>

 <!-- product panel -->
 <div class="panel panel-default col-xs-offset-1">
 	<div class="panel-heading">
 		<span class="">已发产品</span>
 		<ul class="side-info list-inline">
 			<li>已发货次数：</li>
 			<li>剩余发货次数：</li>
 		</ul>
 	</div>

 	<div class="panel-body">
 		<ul class="list-group">
 			<li class="list-group-item">1月号</li>
 			<li class="list-group-item">2月号</li>
 		</ul>
 	</div>
 </div>

 <!-- comminite panel -->
 <div class="panel panel-default col-xs-offset-1">
 	<!-- Default panel contents -->
 	<div class="panel-heading">沟通记录</div>

 	<!-- Table -->
 	<div class="panel-body">
 		<table class="table">
 			<thead>
 				<tr>
 					<th>开始时间</th>
 					<th>结束时间</th>
 					<th>沟通内容</th>
 					<th>描述</th>
 					<th>客服编号</th>
 				</tr>
 			</thead>
 			<tbody>
 				<tr>
 					<td></td>
 					<td></td>
 					<td>
 						<select class="form-control" name="subject" ng-model="model.subject" id="">
 							<option value="1">option 1</option>
 							<option value="2">option 2</option>
 							<option value="3">option 3</option>
 						</select>
 					</td>
 					<td></td>
 					<td>001</td>
 				</tr>
 				<tr>
 					<td></td>
 					<td></td>
 					<td>
 						<select class="form-control" name="subject" ng-model="model.subject" id="">
 							<option value="1">option 1</option>
 							<option value="2">option 2</option>
 							<option value="3">option 3</option>
 						</select>
 					</td>
 					<td></td>
 					<td></td>
 				</tr>
 			</tbody>
 		</table>
 	</div>
 </div>

 <!-- js for date picker -->
 <script src="scripts/bootstrap-datepicker.js"></script>
 <script>
 	$('.date').datepicker({
 		"format": 'yyyy-mm-dd'
 	}).
 	on('changeDate', function() {
 		$('.date').datepicker('hide');
 	})
 </script>
		<!-- form end -->
