<div ng-include src="'views/partial/info/info-tab.html'"></div>
<div ng-include src="'views/partial/link-group.html'"></div>

<form class="form form-horizontal form-small" role="form" method="get" ng-submit="summitForm()">
	<div class="col-xs-12">
		<fieldset>
			<legend></legend>
			<div class="form-group">
				<label class="col-xs-3 control-label" for="c-number">编号: </label>
				<div class="col-xs-6">
					<input type="text" name="number" class="form-control input-small" id="c-number">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label" for="c-type">类型: </label>
				<div class="col-xs-4">
					<input type="text" name="type" class="form-control input-small" id="c-type">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label" for="c-name">姓名: </label>
				<div class="col-xs-4">
					<input type="text" name="name" class="form-control input-small" id="c-name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label" for="c-sex">性别: </label>
				<div class="col-xs-4">
					<select name="c-sex" id="" class="form-control">
						<option value=""></option>
						<option value="male">男</option>
						<option value="female">女</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label" for="c-birthday">出生年月: </label>
				<div class="col-xs-5 ">
					<input type="text" name="birthday" class="form-control input-small date" id="c-birthday">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label" for="cp-name">家长姓名:</label>
				<div class="col-xs-5">
					<input type="text" name="p-name" class="form-control input-small" id="cp-name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label" for="cp-sex">家长性别: </label>
				<div class="col-xs-4">
					<select name="cp-sex" id="cp-sex" class="form-control">
						<option value=""></option>
						<option value="male">男</option>
						<option value="female">女</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-xs-3 control-label" for="c-emal">E-mail: </label>
				<div class="col-xs-6">
					<input type="text" name="email" class="form-control input-small" id="c-emal">
				</div>
			</div>
		</fieldset>
 		<div class="from-group">
			<div class="col-xs-10 submit-btns col-xs-offset-2">
				<input type="submit" class="btn btn-default btn-sm" value="处理完成">
				<input type="button" class="btn btn-default btn-sm" value="未完成，提交上级">
				<a href="#" class="btn btn-default btn-sm">我的订单记录</a>
			</div>
		</div>
	</div>
</form>
