<div ng-include src="'views/partial/info/info-tab.html'"></div>
<div ng-include src="'views/partial/link-group.html'"></div>

<form class="form form-horizontal form-small form-static" name="infoForm" role="form">
	<input type="hidden" name="operator" ng-model="model.operator" ng-init="model.operator='testOperator'">
	<div class="col-xs-6">
		<fieldset>
			<!-- <legend></legend> -->
			<div uustatic l-col="3" r-col="9" label="编号" text="model.number"></div>
			<div uustatic l-col="3" r-col="9" label="类型" text="model.type"></div>
			<div uustatic l-col="3" r-col="9" label="姓名" text="model.name"></div>
			<div uustatic l-col="3" r-col="9" label="性别" text="model.gender"></div>
			<div uustatic l-col="3" r-col="9" label="出生年月" text="model.birthday"></div>
			<div uustatic l-col="3" r-col="9" label="家长姓名" text="model.parent.name"></div>
			<div uustatic l-col="3" r-col="9" label="家长性别" text="model.parent.gender"></div>
			<div uustatic l-col="3" r-col="9" label="E-mail" text="model.email"></div>
		</fieldset>
		<fieldset>
			<!-- <legend></legend> -->
			<div uustatic l-col="3" r-col="9" label="省/市/区" text="model.location"></div>
			<div uustatic l-col="3" r-col="9" label="街道" text="model.street"></div>
			<div uustatic l-col="3" r-col="9" label="地址" text="model.address"></div>
			<div uustatic l-col="3" r-col="9" label="邮编" text="model.postcode"></div>
		</fieldset>
	</div>
	<div class="col-xs-6">
		<fieldset id="phone-box">
			<!-- <legend></legend> -->
			<div uu-static-phone l-col="3" r-col="9" label="家庭电话" text="model.phone.home" main="model.phone.main"></div>
			<div uu-static-phone l-col="3" r-col="9" label="公司电话" text="model.phone.company" main="model.phone.main"></div>
			<div uu-static-phone l-col="3" r-col="9" label="手机电话" text="model.phone.mobile" main="model.phone.main"></div>
			<div uustatic l-col="3" r-col="9" label="传真" text="model.tax"></div>
		</fieldset>
		<fieldset>
			<!-- <legend></legend> -->
			<div uustatic l-col="3" r-col="9" label="订购产品" text="model.order"></div>
			<div uustatic l-col="3" r-col="9" label="付款方式" text="model.payway"></div>
			<div uustatic l-col="3" r-col="9" label="发票类型" text="model.invoice.type"></div>
			<div uustatic l-col="3" r-col="9" label="发票抬头" text="model.invoice.prefix"></div>
			<div uustatic l-col="3" r-col="9" label="发票内容" text="model.invoice.content"></div>
			<div uustatic l-col="3" r-col="9" label="生效日期" text="model.invoice.effectiveDate"></div>
			<div uustatic l-col="3" r-col="9" label="备注" text="model.comment"></div>
		</fieldset>
	</div>
</form>

<!-- product panel -->
<div class="panel panel-default col-xs-offset">
	<div class="panel-heading">
		<span class="">已发产品</span>
		<ul class="side-info list-inline">
			<li>已发货次数：</li>
			<li>剩余发货次数：</li>
		</ul>
	</div>

	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item">1月号</li>
			<li class="list-group-item">2月号</li>
		</ul>
	</div>
</div>

<!-- comminite panel -->
<div class="panel panel-default col-xs-offset">
	<!-- Default panel contents -->
	<div class="panel-heading">沟通记录</div>

	<!-- Table -->
	<div class="panel-body">
		<table class="table">
			<thead>
				<tr>
					<th>开始时间</th>
					<th>结束时间</th>
					<th>沟通内容</th>
					<th>描述</th>
					<th>客服编号</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td>
						<select disabled class="form-control" name="subject" ng-model="model.subject" id="">
							<option value="1">option 1</option>
							<option value="2">option 2</option>
							<option value="3">option 3</option>
						</select>
					</td>
					<td></td>
					<td>001</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<select disabled class="form-control" name="subject" ng-model="model.subject" id="">
							<option value="1">option 1</option>
							<option value="2">option 2</option>
							<option value="3">option 3</option>
						</select>
					</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- js for date picker -->
<script src="scripts/bootstrap-datepicker.js"></script>
<script>
	$('.date').datepicker({
		"format": 'yyyy-mm-dd'
	}).
	on('changeDate', function() {
		$('.date').datepicker('hide');
	})
</script>
<!-- form end -->
